<div class="banner-1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="banner-1__content">
					<div class="row g-4 align-items-center">
						<div class="col-md-10 col-lg-7 col-xl-6">
							<nav class="mb-3">
								<ol class="breadcrumb breadcrumb-modifier">
									<li class="breadcrumb-item">
										<a href="#" class="link fs-14">Home</a>
									</li>
									<li class="breadcrumb-item">
										<iconify-icon
											icon="bi:chevron-right"
											class="align-middle fs-14"
										></iconify-icon>
									</li>
									<li
										class="breadcrumb-item active fs-14"
										aria-current="page"
									>
										Page
									</li>
								</ol>
							</nav>
							<h4 class="mb-6">
								How Analytics and Smart Routing Help to Maximize Inbound
								Call Efficiency
							</h4>
							<ul
								class="list list-row align-items-center flex-wrap list-separate list-separate--xl list-separate--secondary"
							>
								<li>
									<h6 class="mb-1">$50,000</h6>
									<p class="fs-12 mb-0">Bigest Dell in USA</p>
								</li>
								<li>
									<h6 class="mb-1">25 Days</h6>
									<p class="fs-12 mb-0">Book last 3 months</p>
								</li>
							</ul>
							<a
								href="contact.html"
								class="btn btn-primary-emphasis fs-14 mt-6"
							>
								Contact Us
							</a>
						</div>
						<div class="d-none d-lg-block col-lg-5 col-xl-6">
							<img
								src="assets/img/{{bannerImage}}.png"
								alt="image"
								class="img-fluid"
							/>
						</div>
						<div class="col-12">
							<ul
								class="list list-row flex-wrap row-gap-4 column-gap-12 column-gap-xl-20"
							>
								<li>
									<span
										class="badge bg-light-subtle text-light-emphasis shadow gap-2 mb-3"
									>
										<span
											class="d-inline-block w-1 h-1 rounded-circle bg-light-emphasis flex-shrink-0"
										></span>
										Category
									</span>
									<h6 class="mb-0 fs-20">Digital Marketing</h6>
								</li>
								<li>
									<span
										class="badge bg-light-subtle text-light-emphasis shadow gap-2 mb-3"
									>
										<span
											class="d-inline-block w-1 h-1 rounded-circle bg-light-emphasis flex-shrink-0"
										></span>
										Industry
									</span>
									<h6 class="mb-0 fs-20">Design Agency</h6>
								</li>
								<li>
									<span
										class="badge bg-light-subtle text-light-emphasis shadow gap-2 mb-3"
									>
										<span
											class="d-inline-block w-1 h-1 rounded-circle bg-light-emphasis flex-shrink-0"
										></span>
										Headquarters
									</span>
									<h6 class="mb-0 fs-20">Richmond, VA</h6>
								</li>
								<li>
									<span
										class="badge bg-light-subtle text-light-emphasis shadow gap-2 mb-3"
									>
										<span
											class="d-inline-block w-1 h-1 rounded-circle bg-light-emphasis flex-shrink-0"
										></span>
										Company SIze
									</span>
									<h6 class="mb-0 fs-20">200 - 500</h6>
								</li>
							</ul>
						</div>
					</div>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="1124"
						height="401"
						viewBox="0 0 1124 401"
						fill="none"
						class="banner-1__froster-svg"
					>
						<g filter="url(#filter0_f_8077_2641)">
							<path
								d="M773.993 103.763C800.457 67.556 838.118 -16 889.598 -16C932.68 -16 925.405 109.955 850.192 214.4C676.015 417.658 548.024 427 432.419 427C316.814 427 267 368.356 267 332.149C267 295.942 301.82 244.415 489.854 244.415C677.886 244.415 747.529 139.97 773.993 103.763Z"
								fill="#6328FF"
								fill-opacity="0.5"
								class="banner-1__froster-svg-path"
							/>
						</g>
						<defs>
							<filter
								id="filter0_f_8077_2641"
								x="0.333405"
								y="-282.667"
								width="1182.33"
								height="976.333"
								filterUnits="userSpaceOnUse"
								color-interpolation-filters="sRGB"
							>
								<feFlood flood-opacity="0" result="BackgroundImageFix" />
								<feBlend
									mode="normal"
									in="SourceGraphic"
									in2="BackgroundImageFix"
									result="shape"
								/>
								<feGaussianBlur
									stdDeviation="133.333"
									result="effect1_foregroundBlur_8077_2641"
								/>
							</filter>
						</defs>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>
