<div class="banner-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="banner-1__content text-center">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-xl-6">
                            <nav class="mb-3">
                                <ol class="breadcrumb breadcrumb-modifier justify-content-center">
                                    <li class="breadcrumb-item"><a href="#" class="link fs-14">Home</a></li>
                                    <li class="breadcrumb-item">
                                        <iconify-icon icon="bi:chevron-right" class="align-middle fs-14"></iconify-icon>
                                    </li>
                                    <li class="breadcrumb-item active fs-14" aria-current="page">Page</li>
                                </ol>
                            </nav>
                            <h3>
                                Privacy Policy
                            </h3>
                            <p class="mb-0 max-text-12">
                                This privacy statement is effective as of March 30, 2024.
                            </p>
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1124" height="401" viewBox="0 0 1124 401" fill="none"
                        class="banner-1__froster-svg">
                        <g filter="url(#filter0_f_8077_2641)">
                            <path
                                d="M773.993 103.763C800.457 67.556 838.118 -16 889.598 -16C932.68 -16 925.405 109.955 850.192 214.4C676.015 417.658 548.024 427 432.419 427C316.814 427 267 368.356 267 332.149C267 295.942 301.82 244.415 489.854 244.415C677.886 244.415 747.529 139.97 773.993 103.763Z"
                                fill="#6328FF" fill-opacity="0.5" class="banner-1__froster-svg-path" />
                        </g>
                        <defs>
                            <filter id="filter0_f_8077_2641" x="0.333405" y="-282.667" width="1182.33" height="976.333"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="133.333" result="effect1_foregroundBlur_8077_2641" />
                            </filter>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>