<footer class="section-space-top position-relative z-1 overflow-hidden">
	<div class="section-space-sm-bottom">
		<div class="container">
			<div class="row g-4">
				<div class="col-md-8 col-lg-6 col-xl-3">
					<div class="d-flex flex-column h-100">
						<a class="logo d-inline-block mb-4" href="index.html">
							<img
								src="assets/img/logo.png"
								alt="image"
								class="logo__img"
							/>
						</a>
						<p class="mb-8">
							Over 20 years of experience have gone in to creating the
							perfect cloud hosting platform.
						</p>
						<img
							src="assets/img/certificate-img.png"
							alt="image"
							class="img-fluid mb-8"
						/>
						<p class="mb-0 mt-auto">
							&copy; 2025 Localhost Hosting Ltd. All rights reserved.
						</p>
					</div>
				</div>
				<div class="col-xl-9">
					<div
						class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4 justify-content-xl-around"
					>
						<div class="col">
							<h6 class="mb-6 fs-18">Hosting</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="web-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Web hosting
									</a>
								</li>
								<li>
									<a
										href="wp-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										WordPress hosting
									</a>
								</li>
								<li>
									<a
										href="vps-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										VPS hosting
									</a>
								</li>
								<li>
									<a
										href="email-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Email Hosting
									</a>
								</li>
								<li>
									<a
										href="cloud-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Cloud hosting
									</a>
								</li>
								<li>
									<a
										href="reseller-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Reseller hosting
									</a>
								</li>
								<li>
									<a
										href="cpanel-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Cpanel Hosting
									</a>
								</li>
								<li>
									<a
										href="cloud-server-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Cloud Server
									</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h6 class="mb-6 fs-18">Features</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="data-center.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Data Center
									</a>
								</li>
								<li>
									<a
										href="server-location.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Server Location
									</a>
								</li>
								<li>
									<a
										href="uptime.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Server Uptime
									</a>
								</li>
								<li>
									<a
										href="operating-system.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Operating Systems
									</a>
								</li>
							</ul>
							<h6 class="mb-6 fs-18 mt-12">Support</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="acronis-backup.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Acronis Backup
									</a>
								</li>
								<li>
									<a
										href="website-management.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Easy Website Manage
									</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h6 class="mb-6 fs-18">Tools</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="website-builder.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Website Builder
									</a>
								</li>
								<li>
									<a
										href="ssl-certificate.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										SSL Certificates
									</a>
								</li>
								<li>
									<a
										href="email-service.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Email Services
									</a>
								</li>
								<li>
									<a
										href="review.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Review
									</a>
								</li>
							</ul>
							<h6 class="mb-6 fs-18 mt-12">Resources</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="affiliate.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Affiliate
									</a>
								</li>
								<li>
									<a
										href="knowledge-base.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Knowledge base
									</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h6 class="mb-6 fs-18">Company</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="about.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										About
									</a>
								</li>
								<li>
									<a
										href="blog-1.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Blog
									</a>
								</li>
								<li>
									<a
										href="career.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Career
									</a>
								</li>
								<li>
									<a
										href="case-study.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Case Studies
									</a>
								</li>
								<li>
									<a
										href="contact.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Contact Us
									</a>
								</li>
								<li>
									<a
										href="privacy-policy.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Privacy Policy
									</a>
								</li>
								<li>
									<a
										href="ddos-protection.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Security
									</a>
								</li>
								<li>
									<a
										href="domain.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Domain
									</a>
								</li>
								<li>
									<a
										href="cart.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Cart
									</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h6 class="mb-6 fs-18">Resources</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="faq.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										FAQ
									</a>
								</li>
								<li>
									<a
										href="checkout.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Checkout
									</a>
								</li>
								<li>
									<a
										href="cloud-server-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Cloud Server
									</a>
								</li>
								<li>
									<a
										href="domain-transfer.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Domain Transfer
									</a>
								</li>
							</ul>
							<h6 class="mb-6 fs-18 mt-12">Why Choose Us</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="features.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Features
									</a>
								</li>
								<li>
									<a
										href="review.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										Service Reviews
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="py-4 border-dark-subtle border-top">
		<div class="container">
			<div class="row g-4 g-md-0 align-items-center">
				<div class="col-sm-6">
					<ul class="list list-row gap-4 flex-wrap">
						<li>
							<a
								href="privacy-policy.html"
								class="link d-inline-block text-heading hover:text-primary fs-14 fw-medium"
							>
								Legal
							</a>
						</li>
						<li>
							<a
								href="privacy-policy.html"
								class="link d-inline-block text-heading hover:text-primary fs-14 fw-medium"
							>
								Privacy
							</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<ul
						class="list list-row align-items-center justify-content-sm-end gap-4 flex-wrap"
					>
						<li>
							<a
								href="#"
								class="link d-inline-block text-body hover:text-primary"
							>
								<iconify-icon
									icon="ic:baseline-discord"
									class="fs-24"
								></iconify-icon>
							</a>
						</li>
						<li>
							<a
								href="#"
								class="link d-inline-block text-body hover:text-primary"
							>
								<iconify-icon
									icon="ic:baseline-facebook"
									class="fs-24"
								></iconify-icon>
							</a>
						</li>
						<li>
							<a
								href="#"
								class="link d-inline-block text-body hover:text-primary"
							>
								<iconify-icon
									icon="prime:twitter"
									class="fs-24"
								></iconify-icon>
							</a>
						</li>
						<li>
							<a
								href="#"
								class="link d-inline-block text-body hover:text-primary"
							>
								<iconify-icon
									icon="cib:dribbble"
									class="fs-24"
								></iconify-icon>
							</a>
						</li>
						<li>
							<a
								href="#"
								class="link d-inline-block text-body hover:text-primary"
							>
								<iconify-icon
									icon="ri:linkedin-fill"
									class="fs-24"
								></iconify-icon>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<img
		src="assets/img/shapes/footer-shape-1.png"
		alt="image"
		class="img-fluid position-absolute start-0 bottom-0 z-n1 pointer-none d-none d-md-block footer-shape-1"
	/>
	<img
		src="assets/img/shapes/footer-shape-2.png"
		alt="image"
		class="img-fluid position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none d-none d-md-block footer-shape-2"
	/>
</footer>