<footer class="section-space-top position-relative z-1 overflow-hidden">
	<div class="section-space-sm-bottom">
		<div class="container">
			<div class="row g-4">
				<div class="col-md-8 col-lg-6 col-xl-3">
					<div class="d-flex flex-column h-100">
						<a class="logo d-inline-block mb-4" href="index.html">
							<img
								src="assets/img/logo.png"
								alt="image"
								class="logo__img"
							/>
						</a>
						<p class="mb-8">
							لقد اكتسبنا خبرة تزيد عن 20 عامًا في إنشاء منصة الاستضافة
							السحابية المثالية.
						</p>
						<img
							src="assets/img/certificate-img.png"
							alt="image"
							class="img-fluid mb-8"
						/>
						<p class="mb-0 mt-auto">
							&copy; 2025 المضيف المحلي شركة الاستضافة. جميع الحقوق محفوظة.
						</p>
					</div>
				</div>
				<div class="col-xl-9">
					<div
						class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4 justify-content-xl-around"
					>
						<div class="col">
							<h6 class="mb-6 fs-18">استضافة</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="web-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										استضافة الويب
									</a>
								</li>
								<li>
									<a
										href="wp-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										استضافة ووردبريس
									</a>
								</li>
								<li>
									<a
										href="vps-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										استضافة ووردبريس استضافة
									</a>
								</li>
								<li>
									<a
										href="email-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										استضافة البريد الإلكتروني
									</a>
								</li>
								<li>
									<a
										href="cloud-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										الاستضافة السحابية
									</a>
								</li>
								<li>
									<a
										href="reseller-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										استضافة الموزع
									</a>
								</li>
								<li>
									<a
										href="cpanel-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										استضافة لوحة التحكم
									</a>
								</li>
								<li>
									<a
										href="cloud-server-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										استضافة لوحة التحكم
									</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h6 class="mb-6 fs-18">سمات</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="data-center.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										مركز البيانات
									</a>
								</li>
								<li>
									<a
										href="server-location.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										موقع الخادم
									</a>
								</li>
								<li>
									<a
										href="uptime.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										وقت تشغيل الخادم
									</a>
								</li>
								<li>
									<a
										href="operating-system.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										أنظمة التشغيل
									</a>
								</li>
							</ul>
							<h6 class="mb-6 fs-18 mt-12">يدعم</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="acronis-backup.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										النسخ الاحتياطي
									</a>
								</li>
								<li>
									<a
										href="website-management.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										إدارة موقع الويب بسهولة
									</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h6 class="mb-6 fs-18">أدوات</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="website-builder.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										منشئ الموقع
									</a>
								</li>
								<li>
									<a
										href="ssl-certificate.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										شهادات س س ل
									</a>
								</li>
								<li>
									<a
										href="email-service.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										خدمات البريد الإلكتروني
									</a>
								</li>
								<li>
									<a
										href="review.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										مراجعة
									</a>
								</li>
							</ul>
							<h6 class="mb-6 fs-18 mt-12">موارد</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="affiliate.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										انضم
									</a>
								</li>
								<li>
									<a
										href="knowledge-base.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										قاعدة المعرفة
									</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h6 class="mb-6 fs-18">شركة</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="about.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										عن
									</a>
								</li>
								<li>
									<a
										href="blog-1.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										مدونة
									</a>
								</li>
								<li>
									<a
										href="career.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										حياة مهنية
									</a>
								</li>
								<li>
									<a
										href="case-study.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										دراسات الحالة
									</a>
								</li>
								<li>
									<a
										href="contact.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										اتصل بنا
									</a>
								</li>
								<li>
									<a
										href="privacy-policy.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										سياسة الخصوصية
									</a>
								</li>
								<li>
									<a
										href="ddos-protection.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										حماية
									</a>
								</li>
								<li>
									<a
										href="domain.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										اِختِصاص
									</a>
								</li>
								<li>
									<a
										href="cart.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										عربة
									</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h6 class="mb-6 fs-18">موارد</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="faq.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										التعليمات
									</a>
								</li>
								<li>
									<a
										href="checkout.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										الدفع
									</a>
								</li>
								<li>
									<a
										href="cloud-server-hosting.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										الخادم السحابي
									</a>
								</li>
								<li>
									<a
										href="domain-transfer.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										نقل المجال
									</a>
								</li>
							</ul>
							<h6 class="mb-6 fs-18 mt-12">لماذا تختارنا؟</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="features.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										سمات
									</a>
								</li>
								<li>
									<a
										href="review.html"
										class="link d-inline-block text-heading hover:text-secondary text-opacity-80 hover:text-opacity-100 fs-14"
									>
										تقييمات الخدمة
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="py-4 border-dark-subtle border-top">
		<div class="container">
			<div class="row g-4 g-md-0 align-items-center">
				<div class="col-sm-6">
					<ul class="list list-row gap-4 flex-wrap">
						<li>
							<a
								href="privacy-policy.html"
								class="link d-inline-block text-heading hover:text-primary fs-14 fw-medium"
							>
								قانوني
							</a>
						</li>
						<li>
							<a
								href="privacy-policy.html"
								class="link d-inline-block text-heading hover:text-primary fs-14 fw-medium"
							>
								خصوصية
							</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<ul
						class="list list-row align-items-center justify-content-sm-end gap-4 flex-wrap"
					>
						<li>
							<a
								href="#"
								class="link d-inline-block text-body hover:text-primary"
							>
								<iconify-icon
									icon="ic:baseline-discord"
									class="fs-24"
								></iconify-icon>
							</a>
						</li>
						<li>
							<a
								href="#"
								class="link d-inline-block text-body hover:text-primary"
							>
								<iconify-icon
									icon="ic:baseline-facebook"
									class="fs-24"
								></iconify-icon>
							</a>
						</li>
						<li>
							<a
								href="#"
								class="link d-inline-block text-body hover:text-primary"
							>
								<iconify-icon
									icon="prime:twitter"
									class="fs-24"
								></iconify-icon>
							</a>
						</li>
						<li>
							<a
								href="#"
								class="link d-inline-block text-body hover:text-primary"
							>
								<iconify-icon
									icon="cib:dribbble"
									class="fs-24"
								></iconify-icon>
							</a>
						</li>
						<li>
							<a
								href="#"
								class="link d-inline-block text-body hover:text-primary"
							>
								<iconify-icon
									icon="ri:linkedin-fill"
									class="fs-24"
								></iconify-icon>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<img
		src="assets/img/shapes/footer-shape-1.png"
		alt="image"
		class="img-fluid position-absolute start-0 bottom-0 z-n1 pointer-none d-none d-md-block footer-shape-1"
	/>
	<img
		src="assets/img/shapes/footer-shape-2.png"
		alt="image"
		class="img-fluid position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none d-none d-md-block footer-shape-2"
	/>
</footer>