<footer class="section-space-top position-relative z-1">
	<div class="section-space-sm-bottom">
		<div class="container">
			<div class="row g-4">
				<div class="col-md-6 col-xl-3 col-xxl-2">
					<div class="d-flex flex-column h-100">
						<a class="logo d-inline-block mb-4" href="index.html">
							<img
								src="assets/img/{{logoLight}}"
								alt="image"
								class="logo__img logo__img--light"
							/>
							<img
								src="assets/img/{{logoDark}}"
								alt="image"
								class="logo__img logo__img--dark"
							/>
						</a>
						<p class="mb-8 text-light">
							الوصول إلى محرك كوبيرنيتيس المحلي من خلال
						</p>
						<h6 class="mb-3 text-light fs-18 mt-auto">تابعنا</h6>
						<ul class="list list-row flex-wrap gap-4 align-items-center">
							<li>
								<a href="#" class="link d-inline-block">
									<iconify-icon
										icon="skill-icons:instagram"
										class="text-light fs-20"
									></iconify-icon>
								</a>
							</li>
							<li>
								<a href="#" class="link d-inline-block">
									<iconify-icon
										icon="logos:youtube-icon"
										class="text-light fs-20"
									></iconify-icon>
								</a>
							</li>
							<li>
								<a href="#" class="link d-inline-block">
									<iconify-icon
										icon="logos:facebook"
										class="text-light fs-20"
									></iconify-icon>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-9 col-xxl-10">
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4">
						<div class="col">
							<h6 class="mb-6 text-light fs-18">استضافة</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="web-hosting.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										استضافة الويب
									</a>
								</li>
								<li>
									<a
										href="wp-hosting.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										استضافة ووردبريس
									</a>
								</li>
								<li>
									<a
										href="vps-hosting.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										استضافة الخامس ص
									</a>
								</li>
								<li>
									<a
										href="email-hosting.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										استضافة البريد الإلكتروني
									</a>
								</li>
								<li>
									<a
										href="cloud-hosting.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										الاستضافة السحابية
									</a>
								</li>
								<li>
									<a
										href="reseller-hosting.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										استضافة الموزع
									</a>
								</li>
								<li>
									<a
										href="cpanel-hosting.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										استضافة لوحة التحكم
									</a>
								</li>
								<li>
									<a
										href="cloud-server-hosting.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										الخادم السحابي
									</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h6 class="mb-6 text-light fs-18">سمات</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="data-center.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										مركز البيانات
									</a>
								</li>
								<li>
									<a
										href="server-location.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										موقع الخادم
									</a>
								</li>
								<li>
									<a
										href="uptime.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										وقت تشغيل الخادم
									</a>
								</li>
								<li>
									<a
										href="operating-system.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										أنظمة التشغيل
									</a>
								</li>
							</ul>
							<h6 class="mb-6 text-light fs-18 mt-12">يدعم</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="acronis-backup.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										النسخ الاحتياطي لبرنامج
									</a>
								</li>
								<li>
									<a
										href="website-management.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										إدارة موقع الويب بسهولة
									</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h6 class="mb-6 text-light fs-18">أدوات</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="website-builder.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										منشئ الموقع
									</a>
								</li>
								<li>
									<a
										href="ssl-certificate.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										شهادات س س ل
									</a>
								</li>
								<li>
									<a
										href="email-service.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										خدمات البريد الإلكتروني
									</a>
								</li>
								<li>
									<a
										href="review.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										مراجعة
									</a>
								</li>
							</ul>
							<h6 class="mb-6 text-light fs-18 mt-12">موارد</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="affiliate.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										انضم
									</a>
								</li>
								<li>
									<a
										href="knowledge-base.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										قاعدة المعرفة
									</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h6 class="mb-6 text-light fs-18">شركة</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="about.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										عن
									</a>
								</li>
								<li>
									<a
										href="blog-1.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										مدونة
									</a>
								</li>
								<li>
									<a
										href="career.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										حياة مهنية
									</a>
								</li>
								<li>
									<a
										href="case-study.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										دراسات الحالة
									</a>
								</li>
								<li>
									<a
										href="contact.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										اتصل بنا
									</a>
								</li>
								<li>
									<a
										href="privacy-policy.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										سياسة الخصوصية
									</a>
								</li>
								<li>
									<a
										href="ddos-protection.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										حماية
									</a>
								</li>
								<li>
									<a
										href="domain.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										اِختِصاص
									</a>
								</li>
								<li>
									<a
										href="cart.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										عربة
									</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h6 class="mb-6 text-light fs-18">موارد</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="faq.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										التعليمات
									</a>
								</li>
								<li>
									<a
										href="checkout.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										الدفع
									</a>
								</li>
								<li>
									<a
										href="cloud-server-hosting.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										الخادم السحابي
									</a>
								</li>
								<li>
									<a
										href="domain-transfer.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										نقل المجال
									</a>
								</li>
							</ul>
							<h6 class="mb-6 text-light fs-18 mt-12">لماذا تختارنا؟</h6>
							<ul class="list gap-2">
								<li>
									<a
										href="features.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										سمات
									</a>
								</li>
								<li>
									<a
										href="review.html"
										class="link d-inline-block text-light text-opacity-80 hover:text-opacity-100 fs-14"
									>
										تقييمات الخدمة
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-space-sm-y border-top border-light border-opacity-10">
		<div class="container">
			<div class="row g-4 align-items-center justify-content-between">
				<div class="col-md-5 col-lg-6">
					<h6 class="text-light fs-18 fw-medium">Get Our Newsletter</h6>
					<div
						class="search-filter search-filter--light bg-light bg-opacity-5 rounded-1 max-text-10"
					>
						<input
							type="text"
							class="form-control search-filter__input text-light placeholder::text-light placeholder::text-opacity-50"
							placeholder="Search Now..."
						/>
						<button
							type="button"
							class="btn btn-primary align-items-center flex-shrink-0"
						>
							Subscribe
						</button>
					</div>
				</div>
				<div class="col-md-7 col-lg-5 col-xl-4">
					<h6 class="text-light fs-18 fw-medium">Payment Getaway</h6>
					<ul class="list list-row flex-wrap gap-4 align-items-center">
						<li>
							<a href="#" class="d-inline-block">
								<img
									src="assets/img/pm-img-1.png"
									alt="image"
									class="img-fluid"
								/>
							</a>
						</li>
						<li>
							<a href="#" class="d-inline-block">
								<img
									src="assets/img/pm-img-2.png"
									alt="image"
									class="img-fluid"
								/>
							</a>
						</li>
						<li>
							<a href="#" class="d-inline-block">
								<img
									src="assets/img/pm-img-3.png"
									alt="image"
									class="img-fluid"
								/>
							</a>
						</li>
						<li>
							<a href="#" class="d-inline-block">
								<img
									src="assets/img/pm-img-4.png"
									alt="image"
									class="img-fluid"
								/>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>