<header class="navbar navbar-expand-lg primary-header {{primaryHeader}}">
	<div class="container align-items-lg-center {{primaryHeaderContainer}}">
		<a class="logo" href="index.html">
			<img
				src="assets/img/{{logoLight}}"
				alt="image"
				class="logo__img logo__img--light"
			/>
			<img
				src="assets/img/{{logoDark}}"
				alt="image"
				class="logo__img logo__img--dark"
			/>
		</a>
		<button
			class="navbar-toggler border-0"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbar0"
			aria-controls="navbar0"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<iconify-icon icon="solar:hamburger-menu-line-duotone"></iconify-icon>
		</button>
		<nav class="collapse navbar-collapse" id="navbar0">
			<ul
				class="navbar-nav flex-grow-1 justify-content-center mx-lg-4 mb-2 mb-lg-0"
			>
				<li class="nav-item has-sub-level-1 navigation-0 navigation-0--column-5">
					<a class="nav-link" href="#">بيت</a>
					<ul class="navigation-0__menu">
						<li class="navigation-0__menu-list">
							<a
								href="index-rtl.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/demo-img-1.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									الاستضافة الحديثة
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="home-2-rtl.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/demo-img-2.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									استضافة المواقع
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="home-3-rtl.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/demo-img-3.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									الاستضافة الكلاسيكية
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="web-hosting-rtl.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/demo-img-4.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									استضافة المواقع
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="cloud-server-hosting-rtl.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/demo-img-5.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									استضافة الخادم السحابي
								</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item navigation-2 has-sub-level-1">
					<a class="nav-link" href="#">خدمات</a>
					<ul class="navigation-2__menu">
						<li class="navigation-2__menu-list">
							<span
								class="d-block mb-2 text-secondary dark:text-light fw-semibold"
							>
								أدوات الأمان
							</span>
							<ul class="list gap-1">
								<li>
									<a
										href="ssl-certificate-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="fa-brands:expeditedssl"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												شهادة س س ل
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												التحقق من هوية موقع الويب
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="ddos-protection-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="hugeicons:web-security"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												حماية د دوس
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												إجراء أمني لحماية مواقع الويب
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="website-management-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="streamline-plump:lock-comment-security"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												إدارة الموقع
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												إدارة موقع الويب الخاص بك بكل سهولة
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="acronis-backup-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="clarity:backup-line"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												النسخ الاحتياطي لبرنامج أكرونيس
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												حل حماية البيانات الذي يسمح للمستخدمين
												بالنسخ الاحتياطي واسترداد البيانات
											</span>
										</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-2__menu-list">
							<span
								class="d-block mb-2 text-secondary dark:text-light fw-semibold"
							>
								المواقع الإلكترونية
							</span>
							<ul class="list gap-1">
								<li>
									<a
										href="website-builder-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="streamline-plump:graphic-template-website-ui"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												منشئ الموقع
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												إنشاء موقع ويب في 3 خطوات سهلة
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="affiliate-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="hugeicons:user-switch"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												انضم
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												يكسب عمولة عن طريق بيع المنتجات
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="knowledge-base-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="hugeicons:bulb"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												قاعدة المعرفة
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												مكتبة معلومات مركزية على الإنترنت
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="email-service-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="basil:envelope-outline"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												خدمة البريد الإلكتروني
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												إنشاء حملات البريد الإلكتروني وإرسالها
												باستخدام الذكاء الاصطناعي
											</span>
										</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-2__menu-list">
							<span
								class="d-block mb-2 text-secondary dark:text-light fw-semibold"
							>
								اِختِصاص
							</span>
							<ul class="list gap-1">
								<li>
									<a
										href="domain-search-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="si:search-line"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												بحث المجال
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												ابحث عن عنوان موقع الويب الخاص بك وقم
												بتسجيله
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="domain-transfer-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="solar:transfer-horizontal-line-duotone"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												نقل المجال
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												نقل المجال إلى مضيف محلي بسرعة
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="domain-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="mingcute:list-check-3-fill"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												تسجيل النطاق
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												سجل اسم النطاق لموقعك على الويب
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="email-service-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="fluent:person-support-28-regular"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												خدمة البريد الإلكتروني
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												هل تحتاج مساعدة بشأن بريدك الإلكتروني؟
												تواصل معنا
											</span>
										</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="nav-item has-sub-level-1 navigation-3">
					<a class="nav-link" href="#">استضافة</a>
					<ul class="navigation-3__menu">
						<li class="navigation-3__menu-list">
							<ul class="list">
								<li>
									<a
										href="vps-hosting-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="d-grid place-content-center w-10 h-10 rounded-circle flex-shrink-0 bg-primary"
										>
											<iconify-icon
												icon="solar:server-2-broken"
												class="fs-24 text-light"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												الخامس ص استضافة
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												احصل على خطة استضافة فعالة
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="wp-hosting-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="d-grid place-content-center w-10 h-10 bg-dark rounded-circle flex-shrink-0"
										>
											<iconify-icon
												icon="ic:sharp-wordpress"
												class="fs-24 text-light"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												استضافة ووردبريس
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												استضافة ووردبريس المُدارة لموقع الويب
												الخاص بك
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="cloud-hosting-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="d-grid place-content-center w-10 h-10 bg-info rounded-circle flex-shrink-0"
										>
											<iconify-icon
												icon="solar:server-square-cloud-broken"
												class="fs-24 text-light"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												الاستضافة السحابية
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												الأدوات اللازمة لرفع مستوى عملك
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="reseller-hosting-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="d-grid place-content-center w-10 h-10 bg-success rounded-circle flex-shrink-0"
										>
											<iconify-icon
												icon="streamline-ultimate:server-share"
												class="fs-24 text-light"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												استضافة الموزعين
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												خدمات آمنة وسريعة وموثوقة
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="email-hosting-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="d-grid place-content-center w-10 h-10 bg-secondary rounded-circle flex-shrink-0"
										>
											<iconify-icon
												icon="mage:email-notification"
												class="fs-24 text-light"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												استضافة البريد الإلكتروني
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												عنوان احترافي لبناء العلامة التجارية
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="cpanel-hosting-rtl.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="d-grid place-content-center w-10 h-10 bg-warning rounded-circle flex-shrink-0"
										>
											<iconify-icon
												icon="simple-icons:cpanel"
												class="fs-24 text-light"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												استضافة لوحة التحكم
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												مُصمم للمحترفين والوكالات
											</span>
										</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-3__menu-list">
							<div
								class="navigation-2__menu-promo bg-primary-subtle-rgb dark:bg-secondary-subtle border border-primary border-opacity-10 rounded p-3 d-flex flex-column gap-4 h-100"
							>
								<h6 class="navigation-3__menu-title fs-20 mb-0">
									خدمة استضافة الويب رقم 1
								</h6>
								<ul class="list gap-3">
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											لوحة تحكم مرنة وسهلة الاستخدام
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											<strong>99%</strong> ضمان وقت التشغيل
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											<strong>45 - يوم</strong> ضمان استعادة الاموال
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											<strong>حر س س ل</strong> الشهادة متضمنة
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											<strong>بنقرة واحدة</strong> مثبت التطبيق
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											<strong>24/7</strong> دعم الخبراء
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											<strong>غير محدود</strong> عرض النطاق الترددي
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											نقل موقع الويب مجانًا
										</span>
									</li>
								</ul>
								<a
									href="#"
									class="btn btn-secondary align-items-center fs-14 text-light justify-content-center mt-auto"
								>
									يتعلم أكثر
									<iconify-icon
										icon="lsicon:arrow-right-outline"
										class="fs-20 flex-shrink-0"
									></iconify-icon>
								</a>
							</div>
						</li>
					</ul>
				</li>
				<li class="nav-item has-sub-level-1 navigation-3">
					<a class="nav-link" href="#">الخادم</a>
					<ul class="navigation-3__menu navigation-3__menu-short flex-column">
						<li>
							<a
								href="dedicated-server-hosting-rtl.html"
								class="navigation-2__menu-link link d-flex align-items-start gap-3"
							>
								<span
									class="d-grid place-content-center w-10 h-10 bg-info rounded-circle flex-shrink-0"
								>
									<iconify-icon
										icon="solar:server-square-cloud-broken"
										class="fs-20 text-white"
									></iconify-icon>
								</span>
								<span class="d-block flex-grow-1">
									<span
										class="navigation-2__menu-title d-block fw-bold"
									>
										خادم مخصص
									</span>
									<span
										class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
									>
										خوادم متعددة مترابطة لتوزيع الموارد
									</span>
								</span>
							</a>
						</li>
						<li>
							<a
								href="server-location-rtl.html"
								class="navigation-2__menu-link link d-flex align-items-start gap-3"
							>
								<span
									class="d-grid place-content-center w-10 h-10 bg-secondary rounded-circle flex-shrink-0"
								>
									<iconify-icon
										icon="solar:server-path-broken"
										class="fs-20 text-light"
									></iconify-icon>
								</span>
								<span class="d-block flex-grow-1">
									<span
										class="navigation-2__menu-title d-block fw-bold"
									>
										موقع الخادم
									</span>
									<span
										class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
									>
										اختر موقع الخادم للحصول على الأداء الأمثل
									</span>
								</span>
							</a>
						</li>
						<li>
							<a
								href="data-center-rtl.html"
								class="navigation-2__menu-link link d-flex align-items-start gap-3"
							>
								<span
									class="d-grid place-content-center w-10 h-10 bg-warning rounded-circle flex-shrink-0"
								>
									<iconify-icon
										icon="solar:server-2-outline"
										class="fs-20 text-light"
									></iconify-icon>
								</span>
								<span class="d-block flex-grow-1">
									<span
										class="navigation-2__menu-title d-block fw-bold"
									>
										جميع مراكز البيانات
									</span>
									<span
										class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
									>
										استكشف مواقع مراكز البيانات العالمية لدينا
									</span>
								</span>
							</a>
						</li>
						<li>
							<a
								href="uptime-rtl.html"
								class="navigation-2__menu-link link d-flex align-items-start gap-3"
							>
								<span
									class="d-grid place-content-center w-10 h-10 bg-danger rounded-circle flex-shrink-0"
								>
									<iconify-icon
										icon="lucide:server-crash"
										class="fs-20 text-light"
									></iconify-icon>
								</span>
								<span class="d-block flex-grow-1">
									<span
										class="navigation-2__menu-title d-block fw-bold"
									>
										وقت تشغيل الخادم
									</span>
									<span
										class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
									>
										مراقبة وقت تشغيل الخادم والأداء
									</span>
								</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item has-sub-level-1 navigation-1">
					<a class="nav-link" href="#">الصفحات</a>
					<ul class="navigation-1__menu">
						<li class="navigation-1__menu-list">
							<a
								href="about-rtl.html"
								class="link navigation-1__menu-link"
							>
								معلومات عنا
							</a>
						</li>
						<li class="navigation-1__menu-list has-sub-level-2">
							<a href="#" class="link navigation-1__menu-link"> مدونة </a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-4-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										قائمة المدونات
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-2-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										مدونة حديثة
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-3-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										مدونة الشريط الجانبي الأيسر
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-1-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										المدونة الشريط الجانبي الأيمن
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-1__menu-list has-sub-level-2">
							<a href="#" class="link navigation-1__menu-link">
								تفاصيل المدونة
							</a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-details-2-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										تفاصيل المدونة
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-details-3-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										تفاصيل المدونة الشريط الجانبي الأيسر
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-details-1-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										تفاصيل المدونة الشريط الجانبي الأيمن
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-1__menu-list has-sub-level-2">
							<a href="#" class="link navigation-1__menu-link">
								حياة مهنية
							</a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="career-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										حياة مهنية
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="career-details-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										حياة مهنية تفاصيل
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="career-application-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										حياة مهنية طلب
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="cart-rtl.html"
								class="link navigation-1__menu-link"
							>
								عربة
							</a>
						</li>
						<li class="navigation-1__menu-list has-sub-level-2">
							<a href="#" class="link navigation-1__menu-link">
								دراسة الحالة
							</a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="case-study-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										دراسة الحالة
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="case-study-details-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										دراسة الحالة تفاصيل
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="checkout-rtl.html"
								class="link navigation-1__menu-link"
							>
								الدفع
							</a>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="contact-rtl.html"
								class="link navigation-1__menu-link"
							>
								اتصال
							</a>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="features-rtl.html"
								class="link navigation-1__menu-link"
							>
								سمات
							</a>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="operating-system-rtl.html"
								class="link navigation-1__menu-link"
							>
								نظام التشغيل
							</a>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="review-rtl.html"
								class="link navigation-1__menu-link"
							>
								التعليقات
							</a>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="service-uptime-rtl.html"
								class="link navigation-1__menu-link"
							>
								وقت تشغيل الخدمة
							</a>
						</li>
						<li class="navigation-1__menu-list has-sub-level-2">
							<a href="#" class="link navigation-1__menu-link">
								صفحات أخرى
							</a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="faq-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										التعليمات
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="privacy-policy-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										سياسة الخصوصية
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="sign-in-1-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										تسجيل الدخول 1
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="sign-in-2-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										تسجيل الدخول 2
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="sign-up-1-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										قم بالتسجيل 1
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="sign-up-2-rtl.html"
										class="link navigation-1__sub-menu-link"
									>
										قم بالتسجيل 2
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<div class="d-flex align-items-center gap-3 ms-lg-auto">
				<a class="nav-link fs-14" href="{{ltrLink}}">LTR</a>
				<a
					href="sign-in-2.html"
					class="btn btn-sm btn-primary order-lg-2 {% if navBtnColor %} {{navBtnColor}} {% endif %}"
				>
					تسجيل الدخول
				</a>
				<div class="dropdown dropdown-modifier dropdown-xsm order-lg-1">
					<button
						class="btn dropdown-toggle px-4 px-lg-0 fs-14 border-0 align-items-center gap-1"
						type="button"
						data-bs-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						<iconify-icon id="themeDropdownIcon" icon="bi:sun"></iconify-icon>
					</button>
					<ul
						class="dropdown-menu dropdown-menu-end dropdown-menu-light mw-unset"
					>
						<li>
							<button
								type="button"
								class="dropdown-item d-flex align-items-center gap-2 fs-14"
								id="lightTheme"
							>
								<span class="d-block flex-shrink-0">
									<iconify-icon icon="bi:sun"></iconify-icon>
								</span>
								<span class="d-block flex-grow-1"> ضوء </span>
							</button>
						</li>
						<li>
							<button
								type="button"
								class="dropdown-item d-flex align-items-center gap-2 fs-14"
								id="darkTheme"
							>
								<span class="d-block flex-shrink-0">
									<iconify-icon icon="bi:moon-stars"></iconify-icon>
								</span>
								<span class="d-block flex-grow-1"> مظلم </span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
