<header class="navbar navbar-expand-lg primary-header {{primaryHeader}}">
	<div class="container align-items-lg-center {{primaryHeaderContainer}}">
		<a class="logo" href="index.html">
			<img
				src="assets/img/{{logoLight}}"
				alt="image"
				class="logo__img logo__img--light"
			/>
			<img
				src="assets/img/{{logoDark}}"
				alt="image"
				class="logo__img logo__img--dark"
			/>
		</a>
		<button
			class="navbar-toggler border-0"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbar0"
			aria-controls="navbar0"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<iconify-icon icon="solar:hamburger-menu-line-duotone"></iconify-icon>
		</button>
		<nav class="collapse navbar-collapse" id="navbar0">
			<ul
				class="navbar-nav flex-grow-1 justify-content-center mx-lg-4 mb-2 mb-lg-0"
			>
				<li class="nav-item has-sub-level-1 navigation-0 navigation-0--column-5">
					<a class="nav-link" href="#">Home</a>
					<ul class="navigation-0__menu">
						<li class="navigation-0__menu-list">
							<a
								href="index.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/demo-img-1.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									Modern Hosting
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="home-2.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/demo-img-2.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									Web Hosting
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="home-3.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/demo-img-3.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									Classic Hosting
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="web-hosting.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/demo-img-4.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									Web Hosting
								</span>
							</a>
						</li>
						<li class="navigation-0__menu-list">
							<a
								href="cloud-server-hosting.html"
								class="link navigation-0__menu-link"
							>
								<img
									src="assets/img/demo-img-5.png"
									alt="image"
									class="navigation-0__menu-img"
								/>
								<span class="navigation-0__menu-title">
									Cloud Server Hosting
								</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item navigation-2 has-sub-level-1">
					<a class="nav-link" href="#">Services</a>
					<ul class="navigation-2__menu">
						<li class="navigation-2__menu-list">
							<span
								class="d-block mb-2 text-secondary dark:text-light fw-semibold"
							>
								Security Tools
							</span>
							<ul class="list gap-1">
								<li>
									<a
										href="ssl-certificate.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="fa-brands:expeditedssl"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												SSL Certificate
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Authenticates a website's identity
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="ddos-protection.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="hugeicons:web-security"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												DDOS Protection
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Security measure that defends websites
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="website-management.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="streamline-plump:lock-comment-security"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Website Management
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Manage your website with ease
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="acronis-backup.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="clarity:backup-line"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Acronis Backup
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Data protection solution that allows users
												to back up and recover
											</span>
										</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-2__menu-list">
							<span
								class="d-block mb-2 text-secondary dark:text-light fw-semibold"
							>
								Websites
							</span>
							<ul class="list gap-1">
								<li>
									<a
										href="website-builder.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="streamline-plump:graphic-template-website-ui"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Website Builder
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Create a website in 3 easy steps
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="affiliate.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="hugeicons:user-switch"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Affiliate
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Earns commission by selling products
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="knowledge-base.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="hugeicons:bulb"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Knowledge Base
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Centralized online information library
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="email-service.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="basil:envelope-outline"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Email Service
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Create and send email campaigns with AI
											</span>
										</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-2__menu-list">
							<span
								class="d-block mb-2 text-secondary dark:text-light fw-semibold"
							>
								Domain
							</span>
							<ul class="list gap-1">
								<li>
									<a
										href="domain-search.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="si:search-line"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Domain Search
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Find and register your website address
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="domain-transfer.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="solar:transfer-horizontal-line-duotone"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Domain Transfer
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Transfer a domain to localhost, fast
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="domain.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="mingcute:list-check-3-fill"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Domain Registration
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Register a domain name for your website
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="email-service.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="navigation-2__menu-icon d-grid place-content-center w-10 h-10 rounded-2 flex-shrink-0"
										>
											<iconify-icon
												icon="fluent:person-support-28-regular"
												class="fs-24 navigation-2__menu-icon-is"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Email Service
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Need help with your email? Contact us
											</span>
										</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="nav-item has-sub-level-1 navigation-3">
					<a class="nav-link" href="#">Hosting</a>
					<ul class="navigation-3__menu">
						<li class="navigation-3__menu-list">
							<ul class="list">
								<li>
									<a
										href="vps-hosting.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="d-grid place-content-center w-10 h-10 rounded-circle flex-shrink-0 bg-primary"
										>
											<iconify-icon
												icon="solar:server-2-broken"
												class="fs-24 text-light"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												VPS Hosting
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Get a powerful VPS Hosting plan
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="wp-hosting.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="d-grid place-content-center w-10 h-10 bg-dark rounded-circle flex-shrink-0"
										>
											<iconify-icon
												icon="ic:sharp-wordpress"
												class="fs-24 text-light"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Wordpress Hosting
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Managed WordPress Hosting for your website
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="cloud-hosting.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="d-grid place-content-center w-10 h-10 bg-info rounded-circle flex-shrink-0"
										>
											<iconify-icon
												icon="solar:server-square-cloud-broken"
												class="fs-24 text-light"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Cloud Hosting
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												The tools to level-up your business
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="reseller-hosting.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="d-grid place-content-center w-10 h-10 bg-success rounded-circle flex-shrink-0"
										>
											<iconify-icon
												icon="streamline-ultimate:server-share"
												class="fs-24 text-light"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Reseller Hosting
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Secure, speedy, reliable services
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="email-hosting.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="d-grid place-content-center w-10 h-10 bg-secondary rounded-circle flex-shrink-0"
										>
											<iconify-icon
												icon="mage:email-notification"
												class="fs-24 text-light"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												Email Hosting
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Professional address to build brand
											</span>
										</span>
									</a>
								</li>
								<li>
									<a
										href="cpanel-hosting.html"
										class="navigation-2__menu-link link d-flex align-items-start gap-3"
									>
										<span
											class="d-grid place-content-center w-10 h-10 bg-warning rounded-circle flex-shrink-0"
										>
											<iconify-icon
												icon="simple-icons:cpanel"
												class="fs-24 text-light"
											></iconify-icon>
										</span>
										<span class="d-block flex-grow-1">
											<span
												class="navigation-2__menu-title d-block fw-bold"
											>
												cPanel Hosting
											</span>
											<span
												class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
											>
												Designed for professionals and agencies
											</span>
										</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-3__menu-list">
							<div
								class="navigation-2__menu-promo bg-primary-subtle-rgb dark:bg-secondary-subtle border border-primary border-opacity-10 rounded p-3 d-flex flex-column gap-4 h-100"
							>
								<h6 class="navigation-3__menu-title fs-20 mb-0">
									# 1 Web Hosting Service
								</h6>
								<ul class="list gap-3">
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											Flexibale easy to use control panel
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											<strong>99%</strong> Uptime Guarantee
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											<strong>45 - Day</strong> money back guarantee
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											<strong>Free SSL</strong> certificate included
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											<strong>One-Click</strong> App Installer
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											<strong>24/7</strong> Expert Support
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											<strong>Unlimited</strong> Bandwidth
										</span>
									</li>
									<li class="d-flex align-items-start gap-1 fs-14">
										<iconify-icon
											icon="lets-icons:check-fill"
											class="fs-24 text-success flex-shrink-0"
										></iconify-icon>
										<span class="d-block navigation-3__menu-text">
											Free Website Migration
										</span>
									</li>
								</ul>
								<a
									href="#"
									class="btn btn-secondary align-items-center fs-14 text-light justify-content-center mt-auto"
								>
									Learn More
									<iconify-icon
										icon="lsicon:arrow-right-outline"
										class="fs-20 flex-shrink-0"
									></iconify-icon>
								</a>
							</div>
						</li>
					</ul>
				</li>
				<li class="nav-item has-sub-level-1 navigation-3">
					<a class="nav-link" href="#">Server</a>
					<ul class="navigation-3__menu navigation-3__menu-short flex-column">
						<li>
							<a
								href="dedicated-server-hosting.html"
								class="navigation-2__menu-link link d-flex align-items-start gap-3"
							>
								<span
									class="d-grid place-content-center w-10 h-10 bg-info rounded-circle flex-shrink-0"
								>
									<iconify-icon
										icon="solar:server-square-cloud-broken"
										class="fs-20 text-white"
									></iconify-icon>
								</span>
								<span class="d-block flex-grow-1">
									<span
										class="navigation-2__menu-title d-block fw-bold"
									>
										Dedicated Server
									</span>
									<span
										class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
									>
										Multiple interconnected servers to distribute
										resources
									</span>
								</span>
							</a>
						</li>
						<li>
							<a
								href="server-location.html"
								class="navigation-2__menu-link link d-flex align-items-start gap-3"
							>
								<span
									class="d-grid place-content-center w-10 h-10 bg-secondary rounded-circle flex-shrink-0"
								>
									<iconify-icon
										icon="solar:server-path-broken"
										class="fs-20 text-light"
									></iconify-icon>
								</span>
								<span class="d-block flex-grow-1">
									<span
										class="navigation-2__menu-title d-block fw-bold"
									>
										Server Location
									</span>
									<span
										class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
									>
										Choose a server location for optimal performance
									</span>
								</span>
							</a>
						</li>
						<li>
							<a
								href="data-center.html"
								class="navigation-2__menu-link link d-flex align-items-start gap-3"
							>
								<span
									class="d-grid place-content-center w-10 h-10 bg-warning rounded-circle flex-shrink-0"
								>
									<iconify-icon
										icon="solar:server-2-outline"
										class="fs-20 text-light"
									></iconify-icon>
								</span>
								<span class="d-block flex-grow-1">
									<span
										class="navigation-2__menu-title d-block fw-bold"
									>
										All Data Center
									</span>
									<span
										class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
									>
										Explore our global data center locations
									</span>
								</span>
							</a>
						</li>
						<li>
							<a
								href="uptime.html"
								class="navigation-2__menu-link link d-flex align-items-start gap-3"
							>
								<span
									class="d-grid place-content-center w-10 h-10 bg-danger rounded-circle flex-shrink-0"
								>
									<iconify-icon
										icon="lucide:server-crash"
										class="fs-20 text-light"
									></iconify-icon>
								</span>
								<span class="d-block flex-grow-1">
									<span
										class="navigation-2__menu-title d-block fw-bold"
									>
										Server Uptime
									</span>
									<span
										class="navigation-2__menu-text line-clamp line-clamp--2 fs-14"
									>
										Monitor server uptime and performance
									</span>
								</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item has-sub-level-1 navigation-1">
					<a class="nav-link" href="#">Pages</a>
					<ul class="navigation-1__menu">
						<li class="navigation-1__menu-list">
							<a
								href="about.html"
								class="link navigation-1__menu-link"
							>
								About Us
							</a>
						</li>
						<li class="navigation-1__menu-list has-sub-level-2">
							<a href="#" class="link navigation-1__menu-link"> Blog </a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-4.html"
										class="link navigation-1__sub-menu-link"
									>
										Blog List
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-2.html"
										class="link navigation-1__sub-menu-link"
									>
										Modern Blog
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-3.html"
										class="link navigation-1__sub-menu-link"
									>
										Blog Left Sidebar
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-1.html"
										class="link navigation-1__sub-menu-link"
									>
										Blog Right Sidebar
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-1__menu-list has-sub-level-2">
							<a href="#" class="link navigation-1__menu-link">
								Blog Details
							</a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-details-2.html"
										class="link navigation-1__sub-menu-link"
									>
										Blog Details
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-details-3.html"
										class="link navigation-1__sub-menu-link"
									>
										Blog Details Left Sidebar
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="blog-details-1.html"
										class="link navigation-1__sub-menu-link"
									>
										Blog Details Right Sidebar
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-1__menu-list has-sub-level-2">
							<a href="#" class="link navigation-1__menu-link"> Career </a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="career.html"
										class="link navigation-1__sub-menu-link"
									>
										Career
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="career-details.html"
										class="link navigation-1__sub-menu-link"
									>
										Career Details
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="career-application.html"
										class="link navigation-1__sub-menu-link"
									>
										Career Application
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="cart.html"
								class="link navigation-1__menu-link"
							>
								Cart
							</a>
						</li>
						<li class="navigation-1__menu-list has-sub-level-2">
							<a href="#" class="link navigation-1__menu-link">
								Case Study
							</a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="case-study.html"
										class="link navigation-1__sub-menu-link"
									>
										Case Study
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="case-study-details.html"
										class="link navigation-1__sub-menu-link"
									>
										Case Study Details
									</a>
								</li>
							</ul>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="checkout.html"
								class="link navigation-1__menu-link"
							>
								Checkout
							</a>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="contact.html"
								class="link navigation-1__menu-link"
							>
								Contact
							</a>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="features.html"
								class="link navigation-1__menu-link"
							>
								Features
							</a>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="operating-system.html"
								class="link navigation-1__menu-link"
							>
								Operating System
							</a>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="review.html"
								class="link navigation-1__menu-link"
							>
								Reviews
							</a>
						</li>
						<li class="navigation-1__menu-list">
							<a
								href="service-uptime.html"
								class="link navigation-1__menu-link"
							>
								Service Uptime
							</a>
						</li>
						<li class="navigation-1__menu-list has-sub-level-2">
							<a href="#" class="link navigation-1__menu-link">
								Other Pages
							</a>
							<ul class="navigation-1__sub-menu">
								<li class="navigation-1__sub-menu-list">
									<a
										href="faq.html"
										class="link navigation-1__sub-menu-link"
									>
										FAQ
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="privacy-policy.html"
										class="link navigation-1__sub-menu-link"
									>
										Privacy Policy
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="sign-in-1.html"
										class="link navigation-1__sub-menu-link"
									>
										Sign In 1
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="sign-in-2.html"
										class="link navigation-1__sub-menu-link"
									>
										Sign In 2
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="sign-up-1.html"
										class="link navigation-1__sub-menu-link"
									>
										Sign Up 1
									</a>
								</li>
								<li class="navigation-1__sub-menu-list">
									<a
										href="sign-up-2.html"
										class="link navigation-1__sub-menu-link"
									>
										Sign Up 2
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<div class="d-flex align-items-center gap-3 ms-lg-auto">
				<a class="nav-link fs-14" href="{{rtlLink}}">RTL</a>
				<a
					href="sign-in-2.html"
					class="btn btn-sm btn-primary order-lg-2 {% if navBtnColor %} {{navBtnColor}} {% endif %}"
				>
					Sign In
				</a>
				<div class="dropdown dropdown-modifier dropdown-xsm order-lg-1">
					<button
						class="btn dropdown-toggle px-4 px-lg-0 fs-14 border-0 align-items-center gap-1"
						type="button"
						data-bs-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						<iconify-icon id="themeDropdownIcon" icon="bi:sun"></iconify-icon>
					</button>
					<ul
						class="dropdown-menu dropdown-menu-end dropdown-menu-light mw-unset"
					>
						<li>
							<button
								type="button"
								class="dropdown-item d-flex align-items-center gap-2 fs-14"
								id="lightTheme"
							>
								<span class="d-block flex-shrink-0">
									<iconify-icon icon="bi:sun"></iconify-icon>
								</span>
								<span class="d-block flex-grow-1"> Light </span>
							</button>
						</li>
						<li>
							<button
								type="button"
								class="dropdown-item d-flex align-items-center gap-2 fs-14"
								id="darkTheme"
							>
								<span class="d-block flex-shrink-0">
									<iconify-icon icon="bi:moon-stars"></iconify-icon>
								</span>
								<span class="d-block flex-grow-1"> Dark </span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>