{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %} 
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %}
{% set navBtnColor = "fw-semibold" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "about.html" %}
{% set breadcrumb = "معلومات عنا" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive = "text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %} {% include "partials/banner-11.html" %}

<!-- About  -->
<div class="mt-n60 position-relative z-1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="bg-body section-space-md-y px-4 px-sm-6 px-md-8 px-lg-12 px-xl-15 rounded-4"
				>
					<div class="row g-4 align-items-center justify-content-xxl-between">
						<div class="col-md-6">
							<span class="d-block mb-4 fs-14 fw-semibold text-primary">
								شركة المضيف المحلي
							</span>
							<h3 class="mb-8">
								أن نصبح المتجر الشامل للويب للشركات الصغيرة والمحترفين
							</h3>
							<a
								href="{{root}}contact-rtl.html"
								class="btn btn-secondary fs-14 text-light"
							>
								اتصل بنا
							</a>
						</div>
						<div class="col-md-6 col-xxl-5">
							<p>
								تم إنشاء نادي الموزعين بهدف أن يصبح متجرًا شاملاً لمنتجات
								التواجد على الويب للمحترفين والشركات الصغيرة والمتوسطة.
							</p>
							<p>
								نحن نتعاون مع مجموعة متنوعة من مقدمي خدمات استضافة الويب
								المشهورين عالميًا، واستضافة البريد الإلكتروني، والبرمجيات
								كخدمة، ومنتجات الأمان لتقديم أفضل المنتجات التي تناسب
								احتياجاتك.
							</p>
							<p class="mb-0">
								بالإضافة إلى تقديم خيارات رائعة في المنتجات، نقوم أيضًا
								بترقية واجهاتنا لتقديم تجربة بديهية وفعالة للغاية في إضافة
								وإدارة والتعامل مع عملائك من خلال منصة Orderbox. في
								Cloudflare، نضع أعيننا على هدف طموح - المساعدة في بناء
								إنترنت أفضل.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- About End -->

<!-- What We Do -->
<div class="section-space-y">
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-6">
				<img
					src="{{root}}assets/img/about-img-24.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-lg-6">
				<span class="d-block mb-4 fs-14 fw-semibold text-primary">
					ماذا نفعل
				</span>
				<h3 class="mb-6">
					نحن نتعاون مع مجموعة متنوعة من مقدمي خدمات استضافة الويب المشهورين
					عالميًا
				</h3>
				<p>
					مع خادم VPS (خادم خاص افتراضي) يعمل بنظام Windows، ستحصل على نظام
					تشغيل خاص بك وبيئة خادم مخصصة لك بالكامل
				</p>
				<p class="mb-8">
					مع الوصول غير المحدود، يعد VPS خيارًا رائعًا عندما تحتاج إلى مزيد من
					التحكم والموارد أو عندما لا تريد أن تكون مقيدًا بعد الآن
				</p>
				<a
					href="{{root}}cloud-server-hosting-rtl.html"
					class="btn btn-secondary fs-14 text-light"
				>
					عرض الخطة السحابية
				</a>
			</div>
		</div>
	</div>
</div>
<!-- What We Do End -->

<!-- Why Hostjar Web -->
<div class="container">
	<div class="row">
		<div class="col-12">
			<div
				class="bg-body section-space-md-y px-4 px-sm-6 px-md-8 px-lg-12 px-xl-15 rounded-4"
			>
				<div class="row g-4 align-items-center justify-content-xxl-between">
					<div class="col-md-6">
						<span class="d-block mb-4 fs-14 fw-semibold text-primary">
							ماذا نفعل
						</span>
						<h3 class="mb-8">
							لماذا تختار Localhost Web وما الذي ستحصل عليه؟
						</h3>
						<img
							src="{{root}}assets/img/about-img-25.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<div class="col-md-6 col-xxl-5">
						<ul class="list gap-8">
							<li class="d-flex gap-6">
								<div
									class="w-12 h-12 d-grid place-content-center bg-primary-subtle text-secondary flex-shrink-0 rounded"
								>
									<iconify-icon
										icon="duo-icons:app"
										class="fs-24 dark:text-light"
									></iconify-icon>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-2 fs-20">أسرع استضافة ووردبريس</h6>
									<p class="mb-0">
										تحقق Liquid Web أسرع سرعات ووردبريس عبر الإنترنت
										من خلال التخزين المؤقت متعدد الطبقات مع أحدث
										تقنيات PHP والخوادم
									</p>
								</div>
							</li>
							<li class="d-flex gap-6">
								<div
									class="w-12 h-12 d-grid place-content-center bg-primary-subtle text-secondary flex-shrink-0 rounded"
								>
									<iconify-icon
										icon="ant-design:security-scan-twotone"
										class="fs-24 dark:text-light"
									></iconify-icon>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-2 fs-20">هجرات خالية من المتاعب</h6>
									<p class="mb-0">
										دع فريقنا المتمرس من الخبراء يتولى عملية ترحيل
										موقعك، مما يضمن انتقالًا سلسًا إلى بيئة الاستضافة
										الجديدة الخاصة بك
									</p>
								</div>
							</li>
							<li class="d-flex gap-6">
								<div
									class="w-12 h-12 d-grid place-content-center bg-primary-subtle text-secondary flex-shrink-0 rounded"
								>
									<iconify-icon
										icon="solar:magic-stick-3-bold-duotone"
										class="fs-24 dark:text-light"
									></iconify-icon>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-2 fs-20">أسرع استضافة ووردبريس</h6>
									<p class="mb-0">
										تحقق Liquid Web أسرع سرعات ووردبريس عبر الإنترنت
										من خلال التخزين المؤقت متعدد الطبقات مع أحدث
										تقنيات PHP والخوادم
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Why Hostjar Web End -->

<!-- Award & Why Choose Section  -->
<div class="section-space-y">
	<div class="section-space-bottom">
		<div class="section-space-sm-bottom text-center">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
						<span class="d-block mb-4 fs-14 fw-semibold text-primary">
							جائزتنا
						</span>
						<h3>حائزة على جوائز</h3>
						<p class="mb-0">
							لقد تم الاعتراف بالتزامنا بالتميز ومنحنا جوائز من قبل مجتمع
							خدمات الاستضافة، مما يمنحنا فخرًا كبيرًا. نحن نعتبر الوفاء
							بوعودنا لك، عملائنا الكرام في HostPapa، أكبر أولوياتنا!
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row g-4">
				<div class="col-12">
					<ul
						class="list list-row row-gap-3 column-gap-8 align-items-center justify-content-center justify-content-xl-between flex-wrap"
					>
						<li>
							<img
								src="{{root}}assets/img/brand-img-49.png"
								alt="image"
								class="img-fluid"
							/>
						</li>
						<li>
							<img
								src="{{root}}assets/img/brand-img-50.png"
								alt="image"
								class="img-fluid"
							/>
						</li>
						<li>
							<img
								src="{{root}}assets/img/brand-img-51.png"
								alt="image"
								class="img-fluid"
							/>
						</li>
						<li>
							<img
								src="{{root}}assets/img/brand-img-52.png"
								alt="image"
								class="img-fluid"
							/>
						</li>
						<li>
							<img
								src="{{root}}assets/img/brand-img-53.png"
								alt="image"
								class="img-fluid"
							/>
						</li>
						<li>
							<img
								src="{{root}}assets/img/brand-img-54.png"
								alt="image"
								class="img-fluid"
							/>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="section-space-md-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
					<span class="d-block mb-4 fs-14 fw-semibold text-primary">
						لماذا تختارنا؟
					</span>
					<h3 class="mb-0">نسعى جاهدين كل يوم إلى</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-4">
				<div class="bg-secondary bg-opacity-20 rounded-4 p-6 p-xxl-12 h-100">
					<div class="row g-4 align-items-center">
						<div class="col-md-6 col-lg-12">
							<img
								src="{{root}}assets/img/about-img-26.png"
								alt="image"
								class="img-fluid w-100"
							/>
						</div>
						<div class="col-md-6 col-lg-12">
							<h6>تصميم أنظمة الطاقة غير المنقطعة</h6>
							<p class="mb-0 text-heading">
								تم تصميم أنظمة الطاقة لدينا مع تحمل الأخطاء والمرونة على
								كل طبقة. لدينا عدة أنظمة طاقة غير منقطعة (UPS) مع خزانات
								بطارية احتياطية.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row g-4">
					<div class="col-md-6">
						<div class="bg-info bg-opacity-20 rounded-4 p-6 p-xxl-12">
							<h6>نطاق ترددي متميز</h6>
							<p class="mb-0 text-heading">
								أولويتنا القصوى هي توفير اتصال إنترنت عالي الجودة وأداء
								متميز. لقد تعاوننا مع مزودي نطاق ترددي من المستوى الأول
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="bg-danger bg-opacity-20 rounded-4 p-6 p-xxl-12">
							<h6>الأداء هو المفتاح</h6>
							<p class="mb-0 text-heading">
								أولويتنا القصوى هي توفير أعلى جودة من حيث الاتصال
								بالإنترنت والأداء. لقد تعاوننا مع مزودي نطاق ترددي من
								المستوى الأول
							</p>
						</div>
					</div>
					<div class="col-12">
						<div class="bg-success bg-opacity-20 rounded-4 p-6 p-xxl-12">
							<div class="row g-4 align-items-center">
								<div class="col-md-5">
									<img
										src="{{root}}assets/img/about-img-27.png"
										alt="image"
										class="img-fluid w-100"
									/>
								</div>
								<div class="col-md-7">
									<h6>أمان يقظ</h6>
									<p class="mb-0 text-heading">
										الوصول إلى مركز البيانات يتم التحكم فيه بواسطة
										أنظمة الأمان الإلكترونية المتخصصة مع عدة تدابير
										أمان رقمية ومادية، كاملة مع جدران خرسانية مسلحة.
										مجموعة كاملة من
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Award & Why Choose Section End -->

<!-- CTA  -->
<div class="container-fluid container-fhd">
	<div class="row">
		<div class="col-12">
			<div
				class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
			>
				<div class="row justify-content-center">
					<div class="col-md-11">
						<h3>احصل على ترحيل مجاني لاستضافة الويب</h3>
						<p class="mb-8 max-text-15 mx-auto">
							سنتولى عملية نقل موقعك من شركة استضافة الويب القديمة إلى
							منصتنا حتى تتمكن من التركيز على ما يهم
						</p>
						<div
							class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
						>
							<a
								href="{{root}}sign-in-1-rtl.html"
								class="btn btn-secondary text-light"
							>
								ابدأ الآن
							</a>
							<a
								href="{{root}}contact-rtl.html"
								class="btn btn-dark-emphasis"
							>
								اتصل بنا
							</a>
						</div>
					</div>
				</div>
				<img
					src="{{root}}assets/img/cta-img-18.png"
					alt="image"
					class="img-fluid d-none d-md-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
				/>
				<img
					src="{{root}}assets/img/cta-img-19.png"
					alt="image"
					class="img-fluid d-none d-md-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
				/>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

<!-- About  -->
<div class="section-space-md-top section-space-bottom">
	<div class="section-space-md-top">
		<div class="container">
			<div class="row g-4 align-items-center">
				<div class="col-lg-6">
					<img
						src="{{root}}assets/img/about-img-7.png"
						alt="image"
						class="img-fluid dark:d-none"
					/>
					<img
						src="{{root}}assets/img/about-img-7-dark.png"
						alt="image"
						class="img-fluid light:d-none"
					/>
				</div>
				<div class="col-lg-6">
					<h3 class="mb-6">نحن نبني أعمالنا من أجلك.</h3>
					<p>
						مع خادم VPS (خادم خاص افتراضي) يعمل بنظام ويندوز، ستحصل على نظام
						تشغيل خاص بك وبيئة خادم مخصصة لك، كاملة
					</p>
					<p class="mb-8">
						مع الوصول غير المحدود، يعد VPS خيارًا رائعًا عندما تحتاج إلى مزيد
						من التحكم والموارد أو عندما لا تريد أن تكون مقيدًا بقيود الاستضافة
						المشتركة.
					</p>
					<div class="d-flex align-items-center gap-4">
						<div
							class="w-18 h-18 d-grid place-content-center bg-primary rounded flex-shrink-0"
						>
							<iconify-icon
								icon="ph:phone-call"
								class="fs-36 text-light"
							></iconify-icon>
						</div>
						<div class="flex-grow-1">
							<div class="d-flex align-items-center gap-2">
								<div class="d-flex gap-2 align-items-center">
									<span
										class="d-inline-block w-2 h-2 rounded-circle bg-success"
									></span>
									<span class="d-block fw-bold text-heading"
										>Calls</span
									>
								</div>
								<span class="d-block fs-14">(آخر 7 أيام)</span>
							</div>
							<h4 class="mb-0">+12 125879654</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-space-md-top">
		<div class="container">
			<div class="row g-4">
				<div class="col-sm-6 col-xl-3">
					<div
						class="w-12 h-12 d-grid place-content-center bg-dark rounded mb-6"
					>
						<iconify-icon
							icon="mage:dashboard-bar-notification"
							class="fs-28 text-light"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-18">لوحة معلومات بديهية</h6>
					<p class="mb-0 max-text-8">
						انتقل إلى خططنا وأسعارنا واختر خطة الاستضافة المناسبة لك.
					</p>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div
						class="w-12 h-12 d-grid place-content-center bg-dark rounded mb-6"
					>
						<iconify-icon
							icon="famicons:git-branch-outline"
							class="fs-28 text-light"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-18">إرسال طلب الهجرة</h6>
					<p class="mb-0 max-text-8">
						انتقل إلى خططنا وأسعارنا واختر خطة الاستضافة المناسبة لك.
					</p>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div
						class="w-12 h-12 d-grid place-content-center bg-dark rounded mb-6"
					>
						<iconify-icon
							icon="dashicons:admin-tools"
							class="fs-28 text-light"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-18">الهجرة جارية</h6>
					<p class="mb-0 max-text-8">
						انتقل إلى خططنا وأسعارنا واختر خطة الاستضافة المناسبة لك.
					</p>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div
						class="w-12 h-12 d-grid place-content-center bg-dark rounded mb-6"
					>
						<iconify-icon
							icon="lucide:smile"
							class="fs-28 text-light"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-18">الهجرة كاملة</h6>
					<p class="mb-0 max-text-8">
						انتقل إلى خططنا وأسعارنا واختر خطة الاستضافة المناسبة لك.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- About End -->

<!-- Testimonial  -->
<div
	class="testimonial-section-3 section-space-y position-relative z-1 bg-primary-subtle"
>
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 justify-content-between align-items-center">
				<div class="col-md-8 col-xl-7 col-xxl-6">
					<h3 class="mb-0">هل تتساءل عما يقوله عملاؤنا؟</h3>
				</div>
				<div class="col-md-4">
					<div class="d-flex align-items-center justify-content-md-end gap-4">
						<div
							class="testimonial-slider-7__nav-prev d-grid place-content-center w-12 h-12 bg-white text-secondary rounded cursor-pointer"
						>
							<iconify-icon
								icon="akar-icons:arrow-left"
								class="fs-24"
							></iconify-icon>
						</div>
						<div
							class="testimonial-slider-7__nav-next d-grid place-content-center w-12 h-12 bg-secondary text-white rounded cursor-pointer"
						>
							<iconify-icon
								icon="akar-icons:arrow-right"
								class="fs-24"
							></iconify-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 align-items-center">
				<div class="col-md-6 col-lg-3 text-center">
					<h4 class="mb-2">4.8 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
					</ul>
					<p class="mt-5">من 1,000+ مراجعة</p>
					<img
						src="{{root}}assets/img/brand-img-45.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-md-6 col-lg-3 text-center">
					<h4 class="mb-2">4.5 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">من 1,000+ مراجعة</p>
					<img
						src="{{root}}assets/img/brand-img-46.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-md-6 col-lg-3 text-center">
					<h4 class="mb-2">96%</h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">“أفضل شركة استضافة”</p>
					<img
						src="{{root}}assets/img/brand-img-47.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-md-6 col-lg-3 text-center">
					<h4 class="mb-2">4.7 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">من 1,000+ مراجعة</p>
					<img
						src="{{root}}assets/img/brand-img-48.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="blend blend-x">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="swiper testimonial-slider-7">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-1.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												بيتر باركر
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر فريق  جيدًا في المنتج بالكامل، وحتى مع الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-2.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												ديفون لين
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-3.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												ليزلي ألكسندر
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-4.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												داريل ستيوارد
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-5.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												جيمي فوكس
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-6.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												إليانور بينا
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-1.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												بيتر باركر
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img
		src="{{root}}assets/img/icon-star.png"
		alt="image"
		class="img-fluid position-absolute start-50 top-20 d-none d-xl-block z-n1 pointer-none opacity-50"
	/>
	<img
		src="{{root}}assets/img/icon-quote.png"
		alt="image"
		class="img-fluid position-absolute start-30 top-50 translate-middle-y d-none d-xl-block z-n1 pointer-none"
	/>
</div>
<!-- Testimonial End -->

<!-- Blog & News -->
<div class="section-space-y">
	<div class="section-space-md-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 col-xxl-5">
					<span class="d-block mb-2 fs-14 fw-medium text-primary">
						المدونة والأخبار
					</span>
					<h3 class="mb-0">أحدث المقالات</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-6 col-xl-4">
				<div
					class="bg-body px-4 px-sm-6 px-xxl-8 py-8 d-flex flex-column gap-6 gap-xl-8 rounded-4 shadow"
				>
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-21.png"
							alt="image"
							class="img-fluid w-100"
						/>
					</a>
					<div class="position-relative">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-primary-subtle text-primary-emphasis mb-4"
						>
							<span
								class="w-1 h-1 rounded-circle bg-primary flex-shrink-0"
							></span>
							موقع استضافة
						</a>
						<h6 class="fs-20">
							<a
								href="{{root}}blog-details-1-rtl.html"
								class="link d-inline-block text-heading hover:text-primary-emphasis"
							>
								الدليل الشامل لاختيار خدمة استضافة الويب المناسبة
							</a>
						</h6>
						<div
							class="d-flex align-items-center justify-content-between flex-wrap gap-3"
						>
							<div class="d-flex align-items-center gap-2">
								<div class="avatar avatar-sm">
									<img
										src="{{root}}assets/img/user-60-3.png"
										alt="image"
										class="avatar__img"
									/>
								</div>
								<a
									href="{{root}}blog-1-rtl.html"
									class="link d-block fs-14 fw-medium text-heading hover:text-primary"
								>
									بيتر باركر
								</a>
							</div>
							<span class="badge bg-light-subtle text-light-emphasis">
								<span
									class="w-1 h-1 rounded-circle bg-light-emphasis flex-shrink-0"
								></span>
								November 5, 2024
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div
					class="bg-body px-4 px-sm-6 px-xxl-8 py-8 d-flex flex-column gap-6 gap-xl-8 rounded-4 shadow"
				>
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-22.png"
							alt="image"
							class="img-fluid w-100"
						/>
					</a>
					<div class="position-relative">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-primary-subtle text-primary-emphasis mb-4"
						>
							<span
								class="w-1 h-1 rounded-circle bg-primary flex-shrink-0"
							></span>
							استضافة ووردبريس
						</a>
						<h6 class="fs-20">
							<a
								href="{{root}}blog-details-1-rtl.html"
								class="link d-inline-block text-heading hover:text-primary-emphasis"
							>
								تتيح لك مراكز البيانات العالمية الخاصة بنا استضافة البيانات في أي مكان على وجه التحديد
							</a>
						</h6>
						<div
							class="d-flex align-items-center justify-content-between flex-wrap gap-3"
						>
							<div class="d-flex align-items-center gap-2">
								<div class="avatar avatar-sm">
									<img
										src="{{root}}assets/img/user-60-4.png"
										alt="image"
										class="avatar__img"
									/>
								</div>
								<a
									href="{{root}}blog-1-rtl.html"
									class="link d-block fs-14 fw-medium text-heading hover:text-primary"
								>
									جون سنو
								</a>
							</div>
							<span class="badge bg-light-subtle text-light-emphasis">
								<span
									class="w-1 h-1 rounded-circle bg-light-emphasis flex-shrink-0"
								></span>
								November 5, 2024
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="row g-4">
					<div class="col-md-6 col-xl-12">
						<div
							class="bg-body px-4 px-sm-6 px-xxl-8 py-8 d-flex flex-column gap-6 gap-xl-8 rounded-4 shadow"
						>
							<div class="position-relative">
								<a
									href="{{root}}blog-2-rtl.html"
									class="badge bg-primary-subtle text-primary-emphasis mb-4"
								>
									<span
										class="w-1 h-1 rounded-circle bg-primary flex-shrink-0"
									></span>
									استضافة سحابية
								</a>
								<h6 class="fs-20">
									<a
										href="{{root}}blog-details-1-rtl.html"
										class="link d-inline-block text-heading hover:text-primary-emphasis"
									>
										تسهيل استضافة السحابية مع لوحة التحكم الغنية بالميزات الخاصة بنا
									</a>
								</h6>
								<div
									class="d-flex align-items-center justify-content-between flex-wrap gap-3"
								>
									<div class="d-flex align-items-center gap-2">
										<div class="avatar avatar-sm">
											<img
												src="{{root}}assets/img/user-60-5.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a
											href="{{root}}blog-1-rtl.html"
											class="link d-block fs-14 fw-medium text-heading hover:text-primary"
										>
											أسعد الزمان
										</a>
									</div>
									<span
										class="badge bg-light-subtle text-light-emphasis"
									>
										<span
											class="w-1 h-1 rounded-circle bg-light-emphasis flex-shrink-0"
										></span>
										November 5, 2024
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xl-12">
						<div
							class="bg-body px-4 px-sm-6 px-xxl-8 py-8 d-flex flex-column gap-6 gap-xl-8 rounded-4 shadow"
						>
							<div class="position-relative">
								<a
									href="{{root}}blog-2-rtl.html"
									class="badge bg-primary-subtle text-primary-emphasis mb-4"
								>
									<span
										class="w-1 h-1 rounded-circle bg-primary flex-shrink-0"
									></span>
									الدعم
								</a>
								<h6 class="fs-20">
									<a
										href="{{root}}blog-details-1-rtl.html"
										class="link d-inline-block text-heading hover:text-primary-emphasis"
									>
										فريق الدعم الحائز على جوائزنا موهوب في حل المشكلات
									</a>
								</h6>
								<div
									class="d-flex align-items-center justify-content-between flex-wrap gap-3"
								>
									<div class="d-flex align-items-center gap-2">
										<div class="avatar avatar-sm">
											<img
												src="{{root}}assets/img/user-60-3.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a
											href="{{root}}blog-1-rtl.html"
											class="link d-block fs-14 fw-medium text-heading hover:text-primary"
										>
											بيتر باركر
										</a>
									</div>
									<span
										class="badge bg-light-subtle text-light-emphasis"
									>
										<span
											class="w-1 h-1 rounded-circle bg-light-emphasis flex-shrink-0"
										></span>
										November 5, 2024
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Blog & News End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على ترحيل مجاني لاستضافة الويب</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك من شركة استضافة الويب القديمة إلى منصتنا حتى تتمكن من التركيز على ما يهم
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} {% endblock %}
