{% extends "layouts/default.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium btn-secondary text-light" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set rtlLink = "acronis-backup-rtl.html" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}
<!-- Banner -->
<div class="banner-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="mb-3 text-light">Acronis Cyber Protect Backup</h2>
				<ol class="breadcrumb breadcrumb-modifier align-items-center">
					<li class="breadcrumb-item">
						<a href="#" class="link d-block fs-14 text-light"> Home </a>
					</li>
					<li class="breadcrumb-item">
						<iconify-icon
							icon="bi:chevron-right"
							class="fs-14 text-light"
						></iconify-icon>
					</li>
					<li class="breadcrumb-item">
						<span class="d-block fs-14 text-light"> Acronis Backup </span>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->

<!-- Info Categories  -->
<div class="position-relative section-space-bottom mt-n60">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y bg-white dark:bg-dark rounded-4 px-4 px-sm-6 px-md-4 px-lg-10 px-xxl-12"
				>
					<div class="section-space-md-bottom">
						<div class="row justify-content-center">
							<div class="col-md-10 col-lg-8">
								<h4 class="text-center">
									Complete Security for Your Data
								</h4>
								<ul
									class="list list-row flex-wrap gap-4 gap-md-6 justify-content-center align-items-center mb-4"
								>
									<li class="d-flex align-items-center gap-2">
										<iconify-icon
											icon="icon-park-twotone:check-one"
											class="fs-24 text-secondary flex-shrink-0 d-inline-block"
										></iconify-icon>
										<span
											class="d-block fs-18 fw-semibold text-heading"
										>
											Off-Site Storage
										</span>
									</li>
									<li class="d-flex align-items-center gap-2">
										<iconify-icon
											icon="icon-park-twotone:check-one"
											class="fs-24 text-secondary flex-shrink-0 d-inline-block"
										></iconify-icon>
										<span
											class="d-block fs-18 fw-semibold text-heading"
										>
											Integrity Reporting
										</span>
									</li>
									<li class="d-flex align-items-center gap-2">
										<iconify-icon
											icon="icon-park-twotone:check-one"
											class="fs-24 text-secondary flex-shrink-0 d-inline-block"
										></iconify-icon>
										<span
											class="d-block fs-18 fw-semibold text-heading"
										>
											Integrity Reporting
										</span>
									</li>
								</ul>
								<p class="mb-0 text-center max-text-15 mx-auto">
									Protects your business from data loss. Our advanced
									website and server backup solutions ensure reliable
									and consistent backups whenever
								</p>
							</div>
						</div>
					</div>
					<div class="row g-4">
						<div class="col-md-6 col-lg-4 col-xl-3">
							<div
								class="border rounded-3 bg-white dark:bg-dark-subtle text-center p-6 p-md-8"
							>
								<h6 class="fs-18 mb-6">10 GB Acronis Backup</h6>
								<span
									class="badge bg-primary-subtle text-primary-emphasis mb-2"
								>
									<span
										class="d-block w-2 h-2 rounded-circle bg-primary-emphasis"
									></span>
									<span class="d-block"> Save 20% </span>
								</span>
								<span class="d-block fs-14 mb-6">
									Starting at
									<span
										class="d-inline-block fw-semibold text-decoration-line-through"
									>
										US$ 32.99
									</span>
								</span>
								<span class="d-block text-heading fs-14 mb-1">
									Started From only
								</span>
								<h4
									class="mb-6 d-flex justify-content-center align-items-center gap-1"
								>
									<span class="d-inline-block fs-16 fw-medium">
										US$
									</span>
									<span class="d-inline-block">10.49</span>
									<span class="d-inline-block fs-16 fw-medium">
										/mo
									</span>
								</h4>
								<ul class="list gap-2 mb-8">
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>10</strong> GB Storage
										</span>
									</li>
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>Unlimited</strong> Servers
										</span>
									</li>
								</ul>
								<a
									href="{{root}}cart.html"
									class="btn btn-outline-secondary fw-medium hover:bg-secondary hover:text-light fs-14"
								>
									Configure & Buy
								</a>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 col-xl-3">
							<div
								class="border rounded-3 bg-white dark:bg-dark-subtle text-center p-6 p-md-8"
							>
								<h6 class="fs-18 mb-6">25 GB Acronis Backup</h6>
								<span
									class="badge bg-primary-subtle text-primary-emphasis mb-2"
								>
									<span
										class="d-block w-2 h-2 rounded-circle bg-primary-emphasis"
									></span>
									<span class="d-block"> Save 20% </span>
								</span>
								<span class="d-block fs-14 mb-6">
									Starting at
									<span
										class="d-inline-block fw-semibold text-decoration-line-through"
									>
										US$ 32.99
									</span>
								</span>
								<span class="d-block text-heading fs-14 mb-1">
									Started From only
								</span>
								<h4
									class="mb-6 d-flex justify-content-center align-items-center gap-1"
								>
									<span class="d-inline-block fs-16 fw-medium">
										US$
									</span>
									<span class="d-inline-block">15.49</span>
									<span class="d-inline-block fs-16 fw-medium">
										/mo
									</span>
								</h4>
								<ul class="list gap-2 mb-8">
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>25</strong> GB Storage
										</span>
									</li>
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>Unlimited</strong> Servers
										</span>
									</li>
								</ul>
								<a
									href="{{root}}cart.html"
									class="btn btn-outline-secondary fw-medium hover:bg-secondary hover:text-light fs-14"
								>
									Configure & Buy
								</a>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 col-xl-3">
							<div
								class="border rounded-3 bg-white dark:bg-dark-subtle text-center p-6 p-md-8"
							>
								<h6 class="fs-18 mb-6">50 GB Acronis Backup</h6>
								<span
									class="badge bg-primary-subtle text-primary-emphasis mb-2"
								>
									<span
										class="d-block w-2 h-2 rounded-circle bg-primary-emphasis"
									></span>
									<span class="d-block"> Save 20% </span>
								</span>
								<span class="d-block fs-14 mb-6">
									Starting at
									<span
										class="d-inline-block fw-semibold text-decoration-line-through"
									>
										US$ 32.99
									</span>
								</span>
								<span class="d-block text-heading fs-14 mb-1">
									Started From only
								</span>
								<h4
									class="mb-6 d-flex justify-content-center align-items-center gap-1"
								>
									<span class="d-inline-block fs-16 fw-medium">
										US$
									</span>
									<span class="d-inline-block">20.49</span>
									<span class="d-inline-block fs-16 fw-medium">
										/mo
									</span>
								</h4>
								<ul class="list gap-2 mb-8">
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>50</strong> GB Storage
										</span>
									</li>
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>Unlimited</strong> Servers
										</span>
									</li>
								</ul>
								<a
									href="{{root}}cart.html"
									class="btn btn-outline-secondary fw-medium hover:bg-secondary hover:text-light fs-14"
								>
									Configure & Buy
								</a>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 col-xl-3">
							<div
								class="border rounded-3 bg-white dark:bg-dark-subtle text-center p-6 p-md-8"
							>
								<h6 class="fs-18 mb-6">75 GB Acronis Backup</h6>
								<span
									class="badge bg-primary-subtle text-primary-emphasis mb-2"
								>
									<span
										class="d-block w-2 h-2 rounded-circle bg-primary-emphasis"
									></span>
									<span class="d-block"> Save 20% </span>
								</span>
								<span class="d-block fs-14 mb-6">
									Starting at
									<span
										class="d-inline-block fw-semibold text-decoration-line-through"
									>
										US$ 32.99
									</span>
								</span>
								<span class="d-block text-heading fs-14 mb-1">
									Started From only
								</span>
								<h4
									class="mb-6 d-flex justify-content-center align-items-center gap-1"
								>
									<span class="d-inline-block fs-16 fw-medium">
										US$
									</span>
									<span class="d-inline-block">22.49</span>
									<span class="d-inline-block fs-16 fw-medium">
										/mo
									</span>
								</h4>
								<ul class="list gap-2 mb-8">
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>75</strong> GB Storage
										</span>
									</li>
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>Unlimited</strong> Servers
										</span>
									</li>
								</ul>
								<a
									href="{{root}}cart.html"
									class="btn btn-outline-secondary fw-medium hover:bg-secondary hover:text-light fs-14"
								>
									Configure & Buy
								</a>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 col-xl-3">
							<div
								class="border rounded-3 bg-white dark:bg-dark-subtle text-center p-6 p-md-8"
							>
								<h6 class="fs-18 mb-6">100 GB Acronis Backup</h6>
								<span
									class="badge bg-primary-subtle text-primary-emphasis mb-2"
								>
									<span
										class="d-block w-2 h-2 rounded-circle bg-primary-emphasis"
									></span>
									<span class="d-block"> Save 20% </span>
								</span>
								<span class="d-block fs-14 mb-6">
									Starting at
									<span
										class="d-inline-block fw-semibold text-decoration-line-through"
									>
										US$ 32.99
									</span>
								</span>
								<span class="d-block text-heading fs-14 mb-1">
									Started From only
								</span>
								<h4
									class="mb-6 d-flex justify-content-center align-items-center gap-1"
								>
									<span class="d-inline-block fs-16 fw-medium">
										US$
									</span>
									<span class="d-inline-block">30.49</span>
									<span class="d-inline-block fs-16 fw-medium">
										/mo
									</span>
								</h4>
								<ul class="list gap-2 mb-8">
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>100</strong> GB Storage
										</span>
									</li>
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>Unlimited</strong> Servers
										</span>
									</li>
								</ul>
								<a
									href="{{root}}cart.html"
									class="btn btn-outline-secondary fw-medium hover:bg-secondary hover:text-light fs-14"
								>
									Configure & Buy
								</a>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 col-xl-3">
							<div
								class="border rounded-3 bg-white dark:bg-dark-subtle text-center p-6 p-md-8"
							>
								<h6 class="fs-18 mb-6">125 GB Acronis Backup</h6>
								<span
									class="badge bg-primary-subtle text-primary-emphasis mb-2"
								>
									<span
										class="d-block w-2 h-2 rounded-circle bg-primary-emphasis"
									></span>
									<span class="d-block"> Save 20% </span>
								</span>
								<span class="d-block fs-14 mb-6">
									Starting at
									<span
										class="d-inline-block fw-semibold text-decoration-line-through"
									>
										US$ 32.99
									</span>
								</span>
								<span class="d-block text-heading fs-14 mb-1">
									Started From only
								</span>
								<h4
									class="mb-6 d-flex justify-content-center align-items-center gap-1"
								>
									<span class="d-inline-block fs-16 fw-medium">
										US$
									</span>
									<span class="d-inline-block">35.49</span>
									<span class="d-inline-block fs-16 fw-medium">
										/mo
									</span>
								</h4>
								<ul class="list gap-2 mb-8">
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>125</strong> GB Storage
										</span>
									</li>
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>Unlimited</strong> Servers
										</span>
									</li>
								</ul>
								<a
									href="{{root}}cart.html"
									class="btn btn-outline-secondary fw-medium hover:bg-secondary hover:text-light fs-14"
								>
									Configure & Buy
								</a>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 col-xl-3">
							<div
								class="border rounded-3 bg-white dark:bg-dark-subtle text-center p-6 p-md-8"
							>
								<h6 class="fs-18 mb-6">175 GB Acronis Backup</h6>
								<span
									class="badge bg-primary-subtle text-primary-emphasis mb-2"
								>
									<span
										class="d-block w-2 h-2 rounded-circle bg-primary-emphasis"
									></span>
									<span class="d-block"> Save 20% </span>
								</span>
								<span class="d-block fs-14 mb-6">
									Starting at
									<span
										class="d-inline-block fw-semibold text-decoration-line-through"
									>
										US$ 32.99
									</span>
								</span>
								<span class="d-block text-heading fs-14 mb-1">
									Started From only
								</span>
								<h4
									class="mb-6 d-flex justify-content-center align-items-center gap-1"
								>
									<span class="d-inline-block fs-16 fw-medium">
										US$
									</span>
									<span class="d-inline-block">45.49</span>
									<span class="d-inline-block fs-16 fw-medium">
										/mo
									</span>
								</h4>
								<ul class="list gap-2 mb-8">
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>175</strong> GB Storage
										</span>
									</li>
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>Unlimited</strong> Servers
										</span>
									</li>
								</ul>
								<a
									href="{{root}}cart.html"
									class="btn btn-outline-secondary fw-medium hover:bg-secondary hover:text-light fs-14"
								>
									Configure & Buy
								</a>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 col-xl-3">
							<div
								class="border rounded-3 bg-white dark:bg-dark-subtle text-center p-6 p-md-8"
							>
								<h6 class="fs-18 mb-6">200 GB Acronis Backup</h6>
								<span
									class="badge bg-primary-subtle text-primary-emphasis mb-2"
								>
									<span
										class="d-block w-2 h-2 rounded-circle bg-primary-emphasis"
									></span>
									<span class="d-block"> Save 20% </span>
								</span>
								<span class="d-block fs-14 mb-6">
									Starting at
									<span
										class="d-inline-block fw-semibold text-decoration-line-through"
									>
										US$ 32.99
									</span>
								</span>
								<span class="d-block text-heading fs-14 mb-1">
									Started From only
								</span>
								<h4
									class="mb-6 d-flex justify-content-center align-items-center gap-1"
								>
									<span class="d-inline-block fs-16 fw-medium">
										US$
									</span>
									<span class="d-inline-block">50.49</span>
									<span class="d-inline-block fs-16 fw-medium">
										/mo
									</span>
								</h4>
								<ul class="list gap-2 mb-8">
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>200</strong> GB Storage
										</span>
									</li>
									<li class="d-flex gap-2 align-items-center">
										<iconify-icon
											icon="icon-park-solid:check-one"
											class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
										></iconify-icon>
										<span
											class="d-block text-start text-heading fs-14"
										>
											<strong>Unlimited</strong> Servers
										</span>
									</li>
								</ul>
								<a
									href="{{root}}cart.html"
									class="btn btn-outline-secondary fw-medium hover:bg-secondary hover:text-light fs-14"
								>
									Configure & Buy
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Info Categories End -->

<!-- About  -->
<div class="container">
	<div class="row g-4 align-items-center">
		<div class="col-lg-7 col-xxl-6">
			<div class="pe-xl-12">
				<h3>Don't wait until the worst happens</h3>
				<p class="mb-8">
					It is easy to forget about website backups until the worst happens and
					you need to recover your data - don't risk your business. Our remote
					backup plans are easy to setup and with a full reporting facility,
					backed by our 24x7 support, you can be assured your data is available
					at that critical moment
				</p>
				<ul class="list gap-8">
					<li class="d-flex gap-6">
						<div class="d-inline-block position-relative z-1 flex-shrink-0">
							<iconify-icon
								icon="mage:globe"
								class="fs-48 text-heading"
							></iconify-icon>
							<span
								class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-primary bg-opacity-20 rounded-circle dark:bg-primary-subtle"
							></span>
						</div>
						<div class="flex-grow-1">
							<h6 class="mb-3 fs-20">Advanced DDoS Protection</h6>
							<p class="mb-0">
								Safeguard your servers against malicious traffic and
								attacks with real-time threat detection and mitigation,
								ensuring uninterrupted performance.
							</p>
						</div>
					</li>
					<li class="d-flex gap-6">
						<div class="d-inline-block position-relative z-1 flex-shrink-0">
							<iconify-icon
								icon="la:expeditedssl"
								class="fs-48 text-heading"
							></iconify-icon>
							<span
								class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-primary bg-opacity-20 rounded-circle dark:bg-primary-subtle"
							></span>
						</div>
						<div class="flex-grow-1">
							<h6 class="mb-3 fs-20">SSL Encryption</h6>
							<p class="mb-0">
								Secure sensitive data with industry-standard SSL
								encryption, protecting your users and building trust with
								a safe browsing experience.
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-5 col-xxl-6">
			<img
				src="{{root}}assets/img/about-img-50.png"
				alt="image"
				class="img-fluid"
			/>
		</div>
	</div>
</div>
<!-- About End -->

<!-- Why Choose Section -->
<div class="section-space-y">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="mb-0 text-center">Why Choose Us</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="p-4 py-sm-8 px-sm-6 py-xxl-10 px-xxl-8 rounded bg-body h-100">
					<div class="mb-6">
						<iconify-icon
							icon="heroicons:server-stack"
							class="fs-32 text-secondary"
						></iconify-icon>
					</div>
					<h6 class="fs-20">
						<a
							href="{{root}}features.html"
							class="link text-heading hover:text-primary"
						>
							Affordable Power
						</a>
					</h6>
					<p class="mb-0">
						Blazing fast premium cloud web hosting that's easily scalable and
						affordable.
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="p-4 py-sm-8 px-sm-6 py-xxl-10 px-xxl-8 rounded bg-body h-100">
					<div class="mb-6">
						<iconify-icon
							icon="fluent:globe-surface-24-regular"
							class="fs-32 text-secondary"
						></iconify-icon>
					</div>
					<h6 class="fs-20">
						<a
							href="{{root}}features.html"
							class="link text-heading hover:text-primary"
						>
							Complete Control
						</a>
					</h6>
					<p class="mb-0">
						Blazing fast premium cloud web hosting that's easily scalable and
						affordable.
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="p-4 py-sm-8 px-sm-6 py-xxl-10 px-xxl-8 rounded bg-body h-100">
					<div class="mb-6">
						<iconify-icon
							icon="tabler:server-spark"
							class="fs-32 text-secondary"
						></iconify-icon>
					</div>
					<h6 class="fs-20">
						<a
							href="{{root}}features.html"
							class="link text-heading hover:text-primary"
						>
							Unmatched Security
						</a>
					</h6>
					<p class="mb-0">
						Blazing fast premium cloud web hosting that's easily scalable and
						affordable.
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="p-4 py-sm-8 px-sm-6 py-xxl-10 px-xxl-8 rounded bg-body h-100">
					<div class="mb-6">
						<iconify-icon
							icon="solar:money-bag-line-duotone"
							class="fs-32 text-secondary"
						></iconify-icon>
					</div>
					<h6 class="fs-20">
						<a
							href="{{root}}features.html"
							class="link text-heading hover:text-primary"
						>
							Return Guarantee
						</a>
					</h6>
					<p class="mb-0">
						Blazing fast premium cloud web hosting that's easily scalable and
						affordable.
					</p>
				</div>
			</div>
			<div class="col-lg-8 col-xl-6">
				<div
					class="p-4 py-sm-8 px-sm-6 py-lg-10 px-lg-8 rounded bg-primary dark:bg-primary-subtle h-100 position-relative z-1"
				>
					<h6 class="fs-20">
						<a
							href="{{root}}features.html"
							class="link text-light hover:text-primary-subtle"
						>
							Return Guarantee
						</a>
					</h6>
					<p class="mb-6 text-light max-text-8">
						Blazing fast premium cloud web hosting that's easily scalable and
						affordable.
					</p>
					<a
						href="{{root}}features.html"
						class="btn btn-sm btn-primary-emphasis align-items-center"
					>
						<span class="d-inline-block flex-grow-1"> View Details </span>
						<iconify-icon
							icon="mynaui:arrow-right"
							class="align-middle fs-16 flex-shrink-0"
						></iconify-icon>
					</a>
					<img
						src="{{root}}assets/img/feature-img-20.png"
						alt="image"
						class="img-fluid d-none d-sm-block position-absolute end-4 bottom-4 z-n1 pointer-none"
					/>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="p-4 py-sm-8 px-sm-6 py-xxl-10 px-xxl-8 rounded bg-body h-100">
					<div class="mb-6">
						<iconify-icon
							icon="fa-brands:expeditedssl"
							class="fs-32 text-secondary"
						></iconify-icon>
					</div>
					<h6 class="fs-20">
						<a
							href="{{root}}features.html"
							class="link text-heading hover:text-primary"
						>
							Free SSL Certificate
						</a>
					</h6>
					<p class="mb-0">
						Blazing fast premium cloud web hosting that's easily scalable and
						affordable.
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="p-4 py-sm-8 px-sm-6 py-xxl-10 px-xxl-8 rounded bg-body h-100">
					<div class="mb-6">
						<iconify-icon
							icon="clarity:thumbs-up-line"
							class="fs-32 text-secondary"
						></iconify-icon>
					</div>
					<h6 class="fs-20">
						<a
							href="{{root}}features.html"
							class="link text-heading hover:text-primary"
						>
							99% uptime
						</a>
					</h6>
					<p class="mb-0">
						Blazing fast premium cloud web hosting that's easily scalable and
						affordable.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Why Choose Section End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-1.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a
									href="{{root}}contact.html"
									class="btn btn-dark-emphasis"
								>
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->
{% include "partials/footer-7.html" %} 
{% endblock %}