{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "affiliate.html" %}
{% set breadcrumb = "Pricing Plan" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive ="text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Hero  -->
<div class="banner-5">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-6">
				<h1 class="h3 fw-bold text-light mb-6">ابدأ في الربح مع كل إحالة</h1>
				<p class="text-light mb-8">
					انضم إلى المزود الموثوق لحلول استضافة الويب منذ عام وأصبح أحد شركائنا
					الناجحين!
				</p>
				<ul class="list gap-3 mb-8">
					<li class="d-flex gap-2 text-secondary-emphasis">
						<iconify-icon
							icon="tdesign:lighting-circle"
							class="fs-24 text-light flex-shrink-0"
						></iconify-icon>
						<span class="d-block text-light"> أسرع سرعات VPS متاحة </span>
					</li>
					<li class="d-flex gap-2 text-secondary-emphasis">
						<iconify-icon
							icon="mingcute:user-4-line"
							class="fs-24 text-light flex-shrink-0"
						></iconify-icon>
						<span class="d-block text-light">
							خيارات VPS مُدارة بالكامل
						</span>
					</li>
					<li class="d-flex gap-2 text-secondary-emphasis">
						<iconify-icon
							icon="streamline-plump:customer-support-3"
							class="fs-24 text-light flex-shrink-0"
						></iconify-icon>
						<span class="d-block text-light"> دعم مباشر على مدار 27/7 </span>
					</li>
				</ul>
				<a href="{{root}}sign-in-1-rtl.html" class="btn btn-secondary text-light">
					ابدأ الآن
				</a>
			</div>
			<div class="col-md-6 d-none d-md-block">
				<img
					src="{{root}}assets/img/hero-img-6.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
		</div>
	</div>
</div>
<!-- Hero End -->

<!-- Info  -->
<div class="section-space-top section-space-md-bottom">
	<div class="section-space-sm-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<h3 class="mb-3 text-center">تحويل الحركة إلى إيرادات</h3>
					<p class="mb-0 text-center">
						ثلاث فوائد من الاستضافة للمساعدة في زيادة إيراداتك
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-sm-6 col-lg-4">
				<div class="p-4 p-xl-8 p-xxl-9 rounded bg-white dark:bg-dark h-100">
					<div
						class="d-grid place-content-center w-15 h-15 rounded-2 bg-secondary text-light mb-6"
					>
						<iconify-icon
							icon="clarity:control-lun-line"
							class="fs-32"
						></iconify-icon>
					</div>
					<h6 class="mb-3">المزيد من التحكم</h6>
					<p class="mb-0">
						بيكسلات تحويل مُدارة ذاتيًا لمزيد من الرؤية والتحكم في حملاتك
					</p>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="p-4 p-xl-8 p-xxl-9 rounded bg-white dark:bg-dark h-100">
					<div
						class="d-grid place-content-center w-15 h-15 rounded-2 bg-secondary text-light mb-6"
					>
						<iconify-icon
							icon="fluent:convert-range-20-regular"
							class="fs-32"
						></iconify-icon>
					</div>
					<h6 class="mb-3">التحويلات في أي مكان</h6>
					<p class="mb-0">
						قدرات التحويل العالمية من أي علامة تجارية لـ باستخدام رابط تتبع
						واحد فقط.
					</p>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="p-4 p-xl-8 p-xxl-9 rounded bg-white dark:bg-dark h-100">
					<div
						class="d-grid place-content-center w-15 h-15 rounded-2 bg-secondary text-light mb-6"
					>
						<iconify-icon
							icon="solar:chart-2-bold-duotone"
							class="fs-32"
						></iconify-icon>
					</div>
					<h6 class="mb-3">معدلات تحويل أعلى</h6>
					<p class="mb-0">
						ضاعف تأثير جهودك في التسويق بالعمولة! معدلات التحويل العالية تعني
						ربحًا أكبر لك.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-space-md-y">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-6 d-none d-lg-block">
				<img
					src="{{root}}assets/img/about-img-40.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-lg-6">
				<div class="ps-xxl-12">
					<h3>هيكل العمولة الرائد في الصناعة</h3>
					<p class="mb-8">
						من المتاجر عبر الإنترنت إلى التحليلات المتعمقة، تم تجهيز منشئ
						المواقع لدينا بميزات لمساعدتك في تنمية عملك
					</p>
					<div class="row g-4">
						<div class="col-sm-6">
							<iconify-icon
								icon="healthicons:money-bag-outline"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">الحد الأدنى للدفع 100 دولار</h6>
							<p class="mb-0">
								تضمن شبكة توصيل المحتوى لدينا أن تكون جميع المواقع متاحة
								بنفس مستوى الأداء العالي من
							</p>
						</div>
						<div class="col-sm-6">
							<iconify-icon
								icon="streamline-plump:payment-recieve-7"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">الدفعات الشهرية</h6>
							<p class="mb-0">
								تضمن شبكة توصيل المحتوى لدينا أن تكون جميع المواقع متاحة
								بنفس مستوى الأداء العالي من
							</p>
						</div>
					</div>
					<a
						href="{{root}}domain-transfer-rtl.html"
						class="link btn btn-primary mt-12"
					>
						انتقل إلى المضيف المحلي
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-space-md-top section-space-bottom">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-6">
				<div class="pe-xxl-12">
					<h3>المستوى الأعلى بسهولة</h3>
					<p class="mb-8">
						أدر حملاتك التسويقية من خلال واجهة واحدة سهلة الاستخدام. انتقل إلى
						المستوى التالي بسهولة واستمتع بعوائد أعلى وادعم مبيعاتنا!
					</p>
					<div class="row g-4">
						<div class="col-sm-6">
							<iconify-icon
								icon="hugeicons:dashboard-browsing"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">هيكل الحوافز الإضافي</h6>
							<p class="mb-0">
								تُحسب العمولات بناءً على عدد المبيعات. تضمن شبكة توصيل
								المحتوى لدينا
							</p>
						</div>
						<div class="col-sm-6">
							<iconify-icon
								icon="mage:dashboard-chart-star"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">مدير حساب مخصص</h6>
							<p class="mb-0">
								دعم مخصص كلما احتجت إليه. لن نتركك عالقًا أبدًا!
							</p>
						</div>
						<div class="col-sm-6">
							<iconify-icon
								icon="mage:dashboard-bar-notification"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">تحويل رائد في الصناعة</h6>
							<p class="mb-0">
								تُحسب العمولات بناءً على عدد المبيعات. تضمن شبكة توصيل
								المحتوى لدينا أن تكون جميع المواقع متاحة بنفس مستوى الأداء
								العالي من
							</p>
						</div>
						<div class="col-sm-6">
							<iconify-icon
								icon="mage:dashboard-cross"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">الدفعات الشهرية</h6>
							<p class="mb-0">
								تضمن شبكة توصيل المحتوى لدينا أن تكون جميع المواقع متاحة
								بنفس مستوى الأداء العالي من
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 d-none d-lg-block">
				<img
					src="{{root}}assets/img/about-img-45.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
		</div>
	</div>
</div>
<!-- Info End -->

<!-- CTA  -->
<div class="container">
	<div class="row">
		<div class="col-12">
			<div
				class="section-space-md-y px-4 px-sm-6 px-lg-10 px-xl-12 px-xxl-20 bg-white dark:bg-dark position-relative z-1 rounded-4"
			>
				<div class="row g-4 align-items-center">
					<div class="col-md-7 col-xl-6">
						<h3>لنبدأ إعدادك!</h3>
						<p class="mb-8">
							قم بالتسجيل اليوم وابدأ في تحقيق الإيرادات من حركة المرور
							الحالية لديك. تأكد من التواصل مع مديري الشراكة لدينا
						</p>
						<div class="d-flex align-items-center gap-4 gap-md-8 flex-wrap">
							<a
								href="{{root}}sign-in-1-rtl.html"
								class="btn btn-secondary-emphasis fw-medium hover:text-light"
							>
								ابدأ
							</a>
							<div class="d-flex align-items-center gap-3">
								<div
									class="w-11 h-11 d-grid place-content-center bg-primary rounded flex-shrink-0"
								>
									<iconify-icon
										icon="ph:phone-call"
										class="fs-28 text-light"
									></iconify-icon>
								</div>
								<div class="flex-grow-1">
									<div class="d-flex align-items-center gap-2">
										<div class="d-flex gap-2 align-items-center">
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-success"
											></span>
											<span class="d-block fw-bold text-heading"
												>Calls</span
											>
										</div>
										<span class="d-block fs-14">(Last 7 days)</span>
									</div>
									<h6 class="fs-20 mb-0">+12 125879654</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-xl-6 d-none d-md-block text-md-end">
						<img
							src="{{root}}assets/img/cta-img-25.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
				</div>
				<img
					src="{{root}}assets/img/shapes/cta-shape-5.png"
					alt="image"
					class="img-fluid d-none d-md-block position-absolute top-0 start-0 z-n1 pointer-none"
				/>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

<!-- Affiliate -->
<div class="section-space-y">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-6 d-none d-lg-block">
				<img
					src="{{root}}assets/img/about-img-46.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-lg-6">
				<div class="ps-xxl-12">
					<h3>دعم وتدريب الشركاء</h3>
					<p class="mb-8">
						تقدم برنامج الشركاء مجموعة متنوعة من أدوات التدريب لمساعدتك
						على البدء، بما في ذلك الدردشة المباشرة ودعم البريد الإلكتروني.
					</p>
					<div class="row g-4">
						<div class="col-sm-6">
							<iconify-icon
								icon="octicon:thumbsup-24"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">اقتراحات وملاحظات</h6>
							<p class="mb-0">
								احصل على اقتراحات وملاحظات مخصصة من مدربينا
								المتميزين
							</p>
						</div>
						<div class="col-sm-6">
							<iconify-icon
								icon="hugeicons:award-01"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">عروض خاصة ومكافآت</h6>
							<p class="mb-0">
								احصل على درجات عالية، وسنقدم لك عروضًا رائعة وجوائز فقط
								من أجلك
							</p>
						</div>
					</div>
					<a
						href="{{root}}domain-transfer-rtl.html"
						class="link btn btn-primary mt-12"
					>
						انتقل إلى المضيف المحلي
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Affiliate End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على ترحيل مجاني لاستضافة الويب</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنعتني بعملية نقل موقعك من شركة الاستضافة القديمة إلى منصتنا حتى تتمكن من التركيز على ما يهم
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-1-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
