{% extends "layouts/default.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set rtlLink = "affiliate-rtl.html" %}
{% set breadcrumb = "Pricing Plan" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive ="text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Hero  -->
<div class="banner-5">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-6">
				<h1 class="h3 fw-bold text-light mb-6">
					Start Earning With Every Referral
				</h1>
				<p class="text-light mb-8">
					Join Hostjar, a trusted provider of web hosting solutions since 2006,
					and become one of our successful partners!
				</p>
				<ul class="list gap-3 mb-8">
					<li class="d-flex gap-2 text-secondary-emphasis">
						<iconify-icon
							icon="tdesign:lighting-circle"
							class="fs-24 text-light flex-shrink-0"
						></iconify-icon>
						<span class="d-block text-light">
							The fastest VPS speeds available
						</span>
					</li>
					<li class="d-flex gap-2 text-secondary-emphasis">
						<iconify-icon
							icon="mingcute:user-4-line"
							class="fs-24 text-light flex-shrink-0"
						></iconify-icon>
						<span class="d-block text-light">
							Fully managed VPS options
						</span>
					</li>
					<li class="d-flex gap-2 text-secondary-emphasis">
						<iconify-icon
							icon="streamline-plump:customer-support-3"
							class="fs-24 text-light flex-shrink-0"
						></iconify-icon>
						<span class="d-block text-light"> 27/7 live support </span>
					</li>
				</ul>
				<a href="{{root}}sign-in-1.html" class="btn btn-secondary text-light">
					Get Started Now
				</a>
			</div>
			<div class="col-md-6 d-none d-md-block">
				<img
					src="{{root}}assets/img/hero-img-6.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
		</div>
	</div>
</div>
<!-- Hero End -->

<!-- Info  -->
<div class="section-space-top section-space-md-bottom">
	<div class="section-space-sm-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<h3 class="mb-3 text-center">Convert Traffic Into Revenue</h3>
					<p class="mb-0 text-center">
						Three benefits from hosting to help increase your revenue
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-sm-6 col-lg-4">
				<div class="p-4 p-xl-8 p-xxl-9 rounded bg-white dark:bg-dark h-100">
					<div
						class="d-grid place-content-center w-15 h-15 rounded-2 bg-secondary text-light mb-6"
					>
						<iconify-icon
							icon="clarity:control-lun-line"
							class="fs-32"
						></iconify-icon>
					</div>
					<h6 class="mb-3">More Control</h6>
					<p class="mb-0">
						Self-managed conversion pixels for more visibility and control
						over your campaigns
					</p>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="p-4 p-xl-8 p-xxl-9 rounded bg-white dark:bg-dark h-100">
					<div
						class="d-grid place-content-center w-15 h-15 rounded-2 bg-secondary text-light mb-6"
					>
						<iconify-icon
							icon="fluent:convert-range-20-regular"
							class="fs-32"
						></iconify-icon>
					</div>
					<h6 class="mb-3">Conversions Anywhere</h6>
					<p class="mb-0">
						Global conversion capabilities from any HostPapa brand, using just
						one tracking link.
					</p>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="p-4 p-xl-8 p-xxl-9 rounded bg-white dark:bg-dark h-100">
					<div
						class="d-grid place-content-center w-15 h-15 rounded-2 bg-secondary text-light mb-6"
					>
						<iconify-icon
							icon="solar:chart-2-bold-duotone"
							class="fs-32"
						></iconify-icon>
					</div>
					<h6 class="mb-3">Higher Conversion Rates</h6>
					<p class="mb-0">
						Multiply the impact of your affiliate marketing efforts! Highe
						conversion rates mean more profit for you.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-space-md-y">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-6 d-none d-lg-block">
				<img
					src="{{root}}assets/img/about-img-40.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-lg-6">
				<div class="ps-xxl-12">
					<h3>Industry Leading Commission Structure</h3>
					<p class="mb-8">
						From online stores to insightful analytics, our Website Builder is
						packed with features to help you grow your business
					</p>
					<div class="row g-4">
						<div class="col-sm-6">
							<iconify-icon
								icon="healthicons:money-bag-outline"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">$100 Minimum Payout</h6>
							<p class="mb-0">
								Our content delivery network ensures all websites are
								accessible with the same high level of performance from
							</p>
						</div>
						<div class="col-sm-6">
							<iconify-icon
								icon="streamline-plump:payment-recieve-7"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">Monthly Payouts</h6>
							<p class="mb-0">
								Our content delivery network ensures all websites are
								accessible with the same high level of performance from
							</p>
						</div>
					</div>
					<a
						href="{{root}}domain-transfer.html"
						class="link btn btn-primary mt-12"
					>
						Move to Localhost
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-space-md-top section-space-bottom">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-6">
				<div class="pe-xxl-12">
					<h3>Level Up Easily</h3>
					<p class="mb-8">
						Manage your campaigns through a single, easy-to-use interface.
						Advance to the next level effortlessly and enjoy higher payouts
						while you boost our sales!
					</p>
					<div class="row g-4">
						<div class="col-sm-6">
							<iconify-icon
								icon="hugeicons:dashboard-browsing"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">Additional Incentive Structure</h6>
							<p class="mb-0">
								Commissions are calculated based on the number of sales.
								delivery network ensures
							</p>
						</div>
						<div class="col-sm-6">
							<iconify-icon
								icon="mage:dashboard-chart-star"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">Dedicated Account Manager</h6>
							<p class="mb-0">
								Personalized support whenever you need it. We'll never
								leave you hanging!
							</p>
						</div>
						<div class="col-sm-6">
							<iconify-icon
								icon="mage:dashboard-bar-notification"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">Class-Leading Conversion</h6>
							<p class="mb-0">
								Commissions are calculated based on the number of sales.
								high level of performance
							</p>
						</div>
						<div class="col-sm-6">
							<iconify-icon
								icon="mage:dashboard-cross"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">Monthly Payouts</h6>
							<p class="mb-0">
								Our content delivery network ensures all websites are
								accessible with the same
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 d-none d-lg-block">
				<img
					src="{{root}}assets/img/about-img-45.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
		</div>
	</div>
</div>
<!-- Info End -->

<!-- CTA  -->
<div class="container">
	<div class="row">
		<div class="col-12">
			<div
				class="section-space-md-y px-4 px-sm-6 px-lg-10 px-xl-12 px-xxl-20 bg-white dark:bg-dark position-relative z-1 rounded-4"
			>
				<div class="row g-4 align-items-center">
					<div class="col-md-7 col-xl-6">
						<h3>Let's Get You Set Up!</h3>
						<p class="mb-8">
							Sign up today and start generating revenue from your existing
							traffic. Be sure to reach out to our affiliate managers
						</p>
						<div class="d-flex align-items-center gap-4 gap-md-8 flex-wrap">
							<a
								href="{{root}}sign-in-1.html"
								class="btn btn-secondary-emphasis fw-medium hover:text-light"
							>
								Get Started
							</a>
							<div class="d-flex align-items-center gap-3">
								<div
									class="w-11 h-11 d-grid place-content-center bg-primary rounded flex-shrink-0"
								>
									<iconify-icon
										icon="ph:phone-call"
										class="fs-28 text-light"
									></iconify-icon>
								</div>
								<div class="flex-grow-1">
									<div class="d-flex align-items-center gap-2">
										<div class="d-flex gap-2 align-items-center">
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-success"
											></span>
											<span class="d-block fw-bold text-heading"
												>Calls</span
											>
										</div>
										<span class="d-block fs-14">(Last 7 days)</span>
									</div>
									<h6 class="fs-20 mb-0">+12 125879654</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-xl-6 d-none d-md-block text-md-end">
						<img
							src="{{root}}assets/img/cta-img-25.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
				</div>
				<img
					src="{{root}}assets/img/shapes/cta-shape-5.png"
					alt="image"
					class="img-fluid d-none d-md-block position-absolute top-0 start-0 z-n1 pointer-none"
				/>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

<!-- Affiliate -->
<div class="section-space-y">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-6 d-none d-lg-block">
				<img
					src="{{root}}assets/img/about-img-46.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-lg-6">
				<div class="ps-xxl-12">
					<h3>Affiliate Support & Training</h3>
					<p class="mb-8">
						Affiliate Program offers a variety of training tools to help you
						get started, including live chat and email support.
					</p>
					<div class="row g-4">
						<div class="col-sm-6">
							<iconify-icon
								icon="octicon:thumbsup-24"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">Suggestions & Feedback</h6>
							<p class="mb-0">
								Get personalized suggestions and feedback from our
								top-trained
							</p>
						</div>
						<div class="col-sm-6">
							<iconify-icon
								icon="hugeicons:award-01"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">Special Offers & Rewards</h6>
							<p class="mb-0">
								Score high, and we'll provide sweet deals and prizes just
								for
							</p>
						</div>
					</div>
					<a
						href="{{root}}domain-transfer.html"
						class="link btn btn-primary mt-12"
					>
						Move to Localhost
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Affiliate End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-1.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a
									href="{{root}}contact.html"
									class="btn btn-dark-emphasis"
								>
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7.html" %} 
{% endblock %}
