{% extends "layouts/default.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set rtlLink = "blog-3-rtl.html" %}
{% set breadcrumb = "Blog" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive ="text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-11.html" %}
<!-- Banner End -->

<!-- Blog List -->
<div class="section-space-y">
	<div class="container">
		<div class="row g-4 justify-content-center">
			<div class="col-md-5 col-xl-4">
				<div class="bg-body rounded p-4 p-xl-6 p-xxl-8">
					<ul class="list gap-10">
						<li>
							<span
								class="d-block fs-20 fw-bold text-heading border-bottom mb-6"
							>
								<span
									class="d-inline-block border-bottom border-2x border-primary pb-2"
								>
									Search Post
								</span>
							</span>
							<div class="input-group">
								<input
									type="text"
									class="form-control bg-body-tertiary"
									placeholder="Search.."
								/>
								<span
									class="input-group-text d-grid place-content-center rounded-end-1 bg-primary text-light border border-primary"
								>
									<iconify-icon icon="lucide:search"></iconify-icon>
								</span>
							</div>
						</li>
						<li>
							<span
								class="d-block fs-20 fw-bold text-heading border-bottom mb-6"
							>
								<span
									class="d-inline-block border-bottom border-2x border-primary pb-2"
								>
									Recent Post
								</span>
							</span>
							<ul class="list gap-8">
								<li>
									<div class="d-flex align-items-center gap-4">
										<div
											class="d-grid place-content-center w-18 h-18 flex-shrink-0 rounded-circle"
										>
											<img
												src="{{root}}assets/img/blog-post-img-4.png"
												alt="image"
												class="w-100 h-100 object-fit-cover"
											/>
										</div>
										<div class="flex-grow-1">
											<span class="d-block fs-12 fw-medium mb-1">
												May 24, 2022
											</span>
											<a
												href="{{root}}blog-details-2.html"
												class="link line-clamp line-clamp--2 fw-bold text-heading hover:text-primary"
											>
												Perfect quality reasonable price for your
												family
											</a>
										</div>
									</div>
								</li>
								<li>
									<div class="d-flex align-items-center gap-4">
										<div
											class="d-grid place-content-center w-18 h-18 flex-shrink-0 rounded-circle"
										>
											<img
												src="{{root}}assets/img/blog-post-img-5.png"
												alt="image"
												class="w-100 h-100 object-fit-cover"
											/>
										</div>
										<div class="flex-grow-1">
											<span class="d-block fs-12 fw-medium mb-1">
												May 24, 2022
											</span>
											<a
												href="{{root}}blog-details-2.html"
												class="link line-clamp line-clamp--2 fw-bold text-heading hover:text-primary"
											>
												Why Is Supply Chain Visibility So
												Important?
											</a>
										</div>
									</div>
								</li>
								<li>
									<div class="d-flex align-items-center gap-4">
										<div
											class="d-grid place-content-center w-18 h-18 flex-shrink-0 rounded-circle"
										>
											<img
												src="{{root}}assets/img/blog-post-img-6.png"
												alt="image"
												class="w-100 h-100 object-fit-cover"
											/>
										</div>
										<div class="flex-grow-1">
											<span class="d-block fs-12 fw-medium mb-1">
												May 24, 2022
											</span>
											<a
												href="{{root}}blog-details-2.html"
												class="link line-clamp line-clamp--2 fw-bold text-heading hover:text-primary"
											>
												The Advantages of a Digital Supply
												Strategy
											</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<span
								class="d-block fs-20 fw-bold text-heading border-bottom mb-6"
							>
								<span
									class="d-inline-block border-bottom border-2x border-primary pb-2"
								>
									Categories
								</span>
							</span>
							<ul class="list gap-4">
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											Application
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											08
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											Cyber Security
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											04
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											Hosting Business
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											08
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											Digital Agency
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											14
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											Technology
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											12
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											Web Design
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											03
										</span>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<span
								class="d-block fs-20 fw-bold text-heading border-bottom mb-6"
							>
								<span
									class="d-inline-block border-bottom border-2x border-primary pb-2"
								>
									Tags
								</span>
							</span>
							<ul class="list list-row flex-wrap gap-3 align-items-center">
								<li>
									<a
										href="{{root}}blog-2.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										Domain
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										Hosting
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										Cloud VPS
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										Shared Hosting
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										WordPress
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										food
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										bd food
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										Technology
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										vegetable
									</a>
								</li>
							</ul>
						</li>
						<li>
							<span
								class="d-block fs-20 fw-bold text-heading border-bottom mb-6"
							>
								<span
									class="d-inline-block border-bottom border-2x border-primary pb-2"
								>
									Archive
								</span>
							</span>
							<ul class="list gap-4">
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											February
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											08
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											March
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											04
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											April
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											08
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											May
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											14
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											Jun
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											12
										</span>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-7">
				<ul class="list gap-15">
					<li>
						<div class="rounded p-4 p-xl-6 p-xxl-8 bg-body">
							<a href="{{root}}blog-details-2.html" class="link d-block">
								<img
									src="{{root}}assets/img/blog-post-img-1.png"
									alt="image"
									class="img-fluid w-100 rounded"
								/>
							</a>
							<div class="pt-4">
								<ul
									class="list list-row flex-wrap gap-4 gap-xl-6 align-items-center mb-3"
								>
									<li>
										<a
											href="{{root}}blog-2.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											SEO Optimization
										</a>
									</li>
									<li>
										<a
											href="{{root}}blog-2.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											14 Sep, 2024
										</a>
									</li>
								</ul>
								<h5>
									<a
										href="{{root}}blog-details-2.html"
										class="link d-inline-block text-heading hover:text-primary"
									>
										The Future of AI: What to Expect in the Next
										Decade
									</a>
								</h5>
								<p class="mb-6">
									Explore upcoming trends in AI technology and how they
									will impact various industries and our daily lives.
									including credit cards, Internet banking, and
									e-wallets.
								</p>
								<a
									href="{{root}}blog-details-2.html"
									class="btn fs-14 btn-primary-subtle fw-medium align-items-center"
								>
									<span class="d-inline-block flex-grow-1">
										Explore More
									</span>
									<iconify-icon
										icon="solar:arrow-right-broken"
										class="align-middle flex-shrink-0"
									></iconify-icon>
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="rounded p-4 p-xl-6 p-xxl-8 bg-body">
							<a href="{{root}}blog-details-2.html" class="link d-block">
								<img
									src="{{root}}assets/img/blog-post-img-2.png"
									alt="image"
									class="img-fluid w-100 rounded"
								/>
							</a>
							<div class="pt-4">
								<ul
									class="list list-row flex-wrap gap-4 gap-xl-6 align-items-center mb-3"
								>
									<li>
										<a
											href="{{root}}blog-2.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											SEO Optimization
										</a>
									</li>
									<li>
										<a
											href="{{root}}blog-2.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											14 Sep, 2024
										</a>
									</li>
								</ul>
								<h5>
									<a
										href="{{root}}blog-details-2.html"
										class="link d-inline-block text-heading hover:text-primary"
									>
										Understanding Machine Learning: A Beginner’s Guide
									</a>
								</h5>
								<p class="mb-6">
									A comprehensive introduction to machine learning,
									covering its basics, applications, and significance in
									the AI landscape
								</p>
								<a
									href="{{root}}blog-details-2.html"
									class="btn fs-14 btn-primary-subtle fw-medium align-items-center"
								>
									<span class="d-inline-block flex-grow-1">
										Explore More
									</span>
									<iconify-icon
										icon="solar:arrow-right-broken"
										class="align-middle flex-shrink-0"
									></iconify-icon>
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="rounded p-4 p-xl-6 p-xxl-8 bg-body">
							<a href="{{root}}blog-details-2.html" class="link d-block">
								<img
									src="{{root}}assets/img/blog-post-img-3.png"
									alt="image"
									class="img-fluid w-100 rounded"
								/>
							</a>
							<div class="pt-4">
								<ul
									class="list list-row flex-wrap gap-4 gap-xl-6 align-items-center mb-3"
								>
									<li>
										<a
											href="{{root}}blog-2.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											SEO Optimization
										</a>
									</li>
									<li>
										<a
											href="{{root}}blog-2.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											14 Sep, 2024
										</a>
									</li>
								</ul>
								<h5>
									<a
										href="{{root}}blog-details-2.html"
										class="link d-inline-block text-heading hover:text-primary"
									>
										The Impact of AI on Job Markets: Threat or
										Opportunity
									</a>
								</h5>
								<p class="mb-6">
									Examine how AI technologies can help tackle climate
									issues, from optimizing energy usage to modeling
									environmental impacts.
								</p>
								<a
									href="{{root}}blog-details-2.html"
									class="btn fs-14 btn-primary-subtle fw-medium align-items-center"
								>
									<span class="d-inline-block flex-grow-1">
										Explore More
									</span>
									<iconify-icon
										icon="solar:arrow-right-broken"
										class="align-middle flex-shrink-0"
									></iconify-icon>
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Blog List End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a
									href="{{root}}contact.html"
									class="btn btn-dark-emphasis"
								>
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7.html" %} 
{% endblock %}
