{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "blog-4.html" %}
{% set breadcrumb = "Blog" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive ="text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-11.html" %}
<!-- Banner End -->

<!-- Blog List  -->
<div class="section-space-y">
	<div class="container">
		<div class="row g-4 justify-content-center">
			<div class="col-md-7">
				<ul class="list gap-15">
					<li>
						<div class="rounded p-4 p-xl-6 p-xxl-8 bg-body">
							<a
								href="{{root}}blog-details-2-rtl.html"
								class="link d-block"
							>
								<img
									src="{{root}}assets/img/blog-post-img-1.png"
									alt="image"
									class="img-fluid w-100 rounded"
								/>
							</a>
							<div class="pt-4">
								<ul
									class="list list-row flex-wrap gap-4 gap-xl-6 align-items-center mb-3"
								>
									<li>
										<a
											href="{{root}}blog-2-rtl.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											تحسين محركات البحث
										</a>
									</li>
									<li>
										<a
											href="{{root}}blog-2-rtl.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											14 Sep, 2024
										</a>
									</li>
								</ul>
								<h5>
									<a
										href="{{root}}blog-details-2-rtl.html"
										class="link d-inline-block text-heading hover:text-primary"
									>
										مستقبل الذكاء الاصطناعي: ما الذي نتوقعه في العقد
										القادم؟
									</a>
								</h5>
								<p class="mb-6">
									استكشاف الاتجاهات المستقبلية في تكنولوجيا الذكاء
									الاصطناعي وكيف ستؤثر على مختلف الصناعات وحياتنا
									اليومية. بما في ذلك بطاقات الائتمان، والخدمات المصرفية
									عبر الإنترنت، والمحافظ الإلكترونية.
								</p>
								<a
									href="{{root}}blog-details-2-rtl.html"
									class="btn fs-14 btn-primary-subtle fw-medium align-items-center"
								>
									<span class="d-inline-block flex-grow-1">
										اكتشف المزيد
									</span>
									<iconify-icon
										icon="solar:arrow-right-broken"
										class="align-middle flex-shrink-0"
									></iconify-icon>
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="rounded p-4 p-xl-6 p-xxl-8 bg-body">
							<a
								href="{{root}}blog-details-2-rtl.html"
								class="link d-block"
							>
								<img
									src="{{root}}assets/img/blog-post-img-2.png"
									alt="image"
									class="img-fluid w-100 rounded"
								/>
							</a>
							<div class="pt-4">
								<ul
									class="list list-row flex-wrap gap-4 gap-xl-6 align-items-center mb-3"
								>
									<li>
										<a
											href="{{root}}blog-2-rtl.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											تحسين محركات البحث
										</a>
									</li>
									<li>
										<a
											href="{{root}}blog-2-rtl.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											14 Sep, 2024
										</a>
									</li>
								</ul>
								<h5>
									<a
										href="{{root}}blog-details-2-rtl.html"
										class="link d-inline-block text-heading hover:text-primary"
									>
										فهم التعلم الآلي: دليل للمبتدئين
									</a>
								</h5>
								<p class="mb-6">
									مقدمة شاملة للتعلم الآلي، تغطي أساسياته وتطبيقاته
									وأهميته في مجال الذكاء الاصطناعي.
								</p>
								<a
									href="{{root}}blog-details-2-rtl.html"
									class="btn fs-14 btn-primary-subtle fw-medium align-items-center"
								>
									<span class="d-inline-block flex-grow-1">
										اكتشف المزيد
									</span>
									<iconify-icon
										icon="solar:arrow-right-broken"
										class="align-middle flex-shrink-0"
									></iconify-icon>
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="rounded p-4 p-xl-6 p-xxl-8 bg-body">
							<a
								href="{{root}}blog-details-2-rtl.html"
								class="link d-block"
							>
								<img
									src="{{root}}assets/img/blog-post-img-3.png"
									alt="image"
									class="img-fluid w-100 rounded"
								/>
							</a>
							<div class="pt-4">
								<ul
									class="list list-row flex-wrap gap-4 gap-xl-6 align-items-center mb-3"
								>
									<li>
										<a
											href="{{root}}blog-2-rtl.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											تحسين محركات البحث
										</a>
									</li>
									<li>
										<a
											href="{{root}}blog-2-rtl.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											14 Sep, 2024
										</a>
									</li>
								</ul>
								<h5>
									<a
										href="{{root}}blog-details-2-rtl.html"
										class="link d-inline-block text-heading hover:text-primary"
									>
										أثر الذكاء الاصطناعي على سوق العمل: تهديد أم فرصة؟
									</a>
								</h5>
								<p class="mb-6">
									استكشاف كيف يمكن أن تساعد تقنيات الذكاء الاصطناعي في
									معالجة قضايا المناخ، من تحسين استخدام الطاقة إلى نمذجة
									التأثيرات البيئية.
								</p>
								<a
									href="{{root}}blog-details-2-rtl.html"
									class="btn fs-14 btn-primary-subtle fw-medium align-items-center"
								>
									<span class="d-inline-block flex-grow-1">
										اكتشف المزيد
									</span>
									<iconify-icon
										icon="solar:arrow-right-broken"
										class="align-middle flex-shrink-0"
									></iconify-icon>
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Blog List End  -->

<!-- CTA -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على ترحيل مجاني لاستضافة الويب</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك من شركة الاستضافة القديمة إلى
								منصتنا حتى تتمكن من التركيز على ما يهمك.
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
