{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "blog-1.html" %}
{% set breadcrumb = "Blog" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive ="text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-11.html" %}
<!-- Banner End -->

<!-- Blog List -->
<div class="section-space-y">
	<div class="container">
		<div class="row g-4 justify-content-center">
			<div class="col-md-7">
				<ul class="list gap-15">
					<li>
						<div class="rounded p-4 p-xl-6 p-xxl-8 bg-body">
							<a href="{{root}}blog-details-2-rtl.html" class="link d-block">
								<img
									src="{{root}}assets/img/blog-post-img-1.png"
									alt="image"
									class="img-fluid w-100 rounded"
								/>
							</a>
							<div class="pt-4">
								<ul
									class="list list-row flex-wrap gap-4 gap-xl-6 align-items-center mb-3"
								>
									<li>
										<a
											href="{{root}}blog-2-rtl.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											تحسين محركات البحث
										</a>
									</li>
									<li>
										<a
											href="{{root}}blog-2-rtl.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											14 Sep, 2024
										</a>
									</li>
								</ul>
								<h5>
									<a
										href="{{root}}blog-details-2-rtl.html"
										class="link d-inline-block text-heading hover:text-primary"
									>
										مستقبل الذكاء الاصطناعي: ما الذي نتوقعه في العقد القادم؟
									</a>
								</h5>
								<p class="mb-6">
									استكشف الاتجاهات القادمة في تكنولوجيا الذكاء الاصطناعي وكيف ستؤثر على مختلف الصناعات وحياتنا اليومية، بما في ذلك بطاقات الائتمان، والخدمات المصرفية عبر الإنترنت، والمحافظ الإلكترونية.
								</p>
								<a
									href="{{root}}blog-details-2-rtl.html"
									class="btn fs-14 btn-primary-subtle fw-medium align-items-center"
								>
									<span class="d-inline-block flex-grow-1">
										اكتشف المزيد
									</span>
									<iconify-icon
										icon="solar:arrow-right-broken"
										class="align-middle flex-shrink-0"
									></iconify-icon>
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="rounded p-4 p-xl-6 p-xxl-8 bg-body">
							<a href="{{root}}blog-details-2-rtl.html" class="link d-block">
								<img
									src="{{root}}assets/img/blog-post-img-2.png"
									alt="image"
									class="img-fluid w-100 rounded"
								/>
							</a>
							<div class="pt-4">
								<ul
									class="list list-row flex-wrap gap-4 gap-xl-6 align-items-center mb-3"
								>
									<li>
										<a
											href="{{root}}blog-2-rtl.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											تحسين محركات البحث
										</a>
									</li>
									<li>
										<a
											href="{{root}}blog-2.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											14 Sep, 2024
										</a>
									</li>
								</ul>
								<h5>
									<a
										href="{{root}}blog-details-2-rtl.html"
										class="link d-inline-block text-heading hover:text-primary"
									>
										فهم التعلم الآلي: دليل للمبتدئين
									</a>
								</h5>
								<p class="mb-6">
									مقدمة شاملة للتعلم الآلي، تغطي أساسياته وتطبيقاته وأهميته في
									مجال الذكاء الاصطناعي
								</p>
								<a
									href="{{root}}blog-details-2-rtl.html"
									class="btn fs-14 btn-primary-subtle fw-medium align-items-center"
								>
									<span class="d-inline-block flex-grow-1">
										اكتشف المزيد
									</span>
									<iconify-icon
										icon="solar:arrow-right-broken"
										class="align-middle flex-shrink-0"
									></iconify-icon>
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="rounded p-4 p-xl-6 p-xxl-8 bg-body">
							<a href="{{root}}blog-details-2-rtl.html" class="link d-block">
								<img
									src="{{root}}assets/img/blog-post-img-3.png"
									alt="image"
									class="img-fluid w-100 rounded"
								/>
							</a>
							<div class="pt-4">
								<ul
									class="list list-row flex-wrap gap-4 gap-xl-6 align-items-center mb-3"
								>
									<li>
										<a
											href="{{root}}blog-2-rtl.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											تحسين محركات البحث
										</a>
									</li>
									<li>
										<a
											href="{{root}}blog-2-rtl.html"
											class="badge bg-light-subtle text-light-emphasis shadow-lg"
										>
											<span
												class="d-inline-block w-2 h-2 rounded-circle bg-secondary-emphasis flex-shrink-0"
											></span>
											14 Sep, 2024
										</a>
									</li>
								</ul>
								<h5>
									<a
										href="{{root}}blog-details-2-rtl.html"
										class="link d-inline-block text-heading hover:text-primary"
									>
										تأثير الذكاء الاصطناعي على أسواق العمل: تهديد أم فرصة؟
									</a>
								</h5>
								<p class="mb-6">
									اكتشف كيف يمكن لتقنيات الذكاء الاصطناعي أن تساعد في معالجة قضايا المناخ، بدءًا من تحسين استخدام الطاقة وحتى نمذجة التأثيرات البيئية.
								</p>
								<a
									href="{{root}}blog-details-2-rtl.html"
									class="btn fs-14 btn-primary-subtle fw-medium align-items-center"
								>
									<span class="d-inline-block flex-grow-1">
										اكتشف المزيد
									</span>
									<iconify-icon
										icon="solar:arrow-right-broken"
										class="align-middle flex-shrink-0"
									></iconify-icon>
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-md-5 col-xl-4">
				<div class="bg-body rounded p-4 p-xl-6 p-xxl-8">
					<ul class="list gap-10">
						<li>
							<span
								class="d-block fs-20 fw-bold text-heading border-bottom mb-6"
							>
								<span
									class="d-inline-block border-bottom border-2x border-primary pb-2"
								>
									بحث في المنشورات
								</span>
							</span>
							<div class="input-group">
								<input
									type="text"
									class="form-control bg-body-tertiary"
									placeholder="Search.."
								/>
								<span
									class="input-group-text d-grid place-content-center rounded-end-1 bg-primary text-light border border-primary"
								>
									<iconify-icon icon="lucide:search"></iconify-icon>
								</span>
							</div>
						</li>
						<li>
							<span
								class="d-block fs-20 fw-bold text-heading border-bottom mb-6"
							>
								<span
									class="d-inline-block border-bottom border-2x border-primary pb-2"
								>
									المشاركات الأخيرة
								</span>
							</span>
							<ul class="list gap-8">
								<li>
									<div class="d-flex align-items-center gap-4">
										<div
											class="d-grid place-content-center w-18 h-18 flex-shrink-0 rounded-circle"
										>
											<img
												src="{{root}}assets/img/blog-post-img-4.png"
												alt="image"
												class="w-100 h-100 object-fit-cover"
											/>
										</div>
										<div class="flex-grow-1">
											<span class="d-block fs-12 fw-medium mb-1">
												May 24, 2022
											</span>
											<a
												href="{{root}}blog-details-2-rtl.html"
												class="link line-clamp line-clamp--2 fw-bold text-heading hover:text-primary"
											>
												جودة مثالية وسعر معقول لعائلتك
											</a>
										</div>
									</div>
								</li>
								<li>
									<div class="d-flex align-items-center gap-4">
										<div
											class="d-grid place-content-center w-18 h-18 flex-shrink-0 rounded-circle"
										>
											<img
												src="{{root}}assets/img/blog-post-img-5.png"
												alt="image"
												class="w-100 h-100 object-fit-cover"
											/>
										</div>
										<div class="flex-grow-1">
											<span class="d-block fs-12 fw-medium mb-1">
												May 24, 2022
											</span>
											<a
												href="{{root}}blog-details-2-rtl.html"
												class="link line-clamp line-clamp--2 fw-bold text-heading hover:text-primary"
											>
												لماذا تعتبر رؤية سلسلة التوريد مهمة؟
											</a>
										</div>
									</div>
								</li>
								<li>
									<div class="d-flex align-items-center gap-4">
										<div
											class="d-grid place-content-center w-18 h-18 flex-shrink-0 rounded-circle"
										>
											<img
												src="{{root}}assets/img/blog-post-img-6.png"
												alt="image"
												class="w-100 h-100 object-fit-cover"
											/>
										</div>
										<div class="flex-grow-1">
											<span class="d-block fs-12 fw-medium mb-1">
												May 24, 2022
											</span>
											<a
												href="{{root}}blog-details-2-rtl.html"
												class="link line-clamp line-clamp--2 fw-bold text-heading hover:text-primary"
											>
												مزايا استراتيجية التوريد الرقمي
											</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<span
								class="d-block fs-20 fw-bold text-heading border-bottom mb-6"
							>
								<span
									class="d-inline-block border-bottom border-2x border-primary pb-2"
								>
									الفئات
								</span>
							</span>
							<ul class="list gap-4">
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2-rtl.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											التطبيقات
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											08
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2-rtl.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											الأمن السيبراني
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											04
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2-rtl.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											استضافة الأعمال
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											08
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2-rtl.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											الوكالة الرقمية
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											14
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2-rtl.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											التكنولوجيا
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											12
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2-rtl.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											تصميم الويب
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											03
										</span>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<span
								class="d-block fs-20 fw-bold text-heading border-bottom mb-6"
							>
								<span
									class="d-inline-block border-bottom border-2x border-primary pb-2"
								>
									العلامات
								</span>
							</span>
							<ul class="list list-row flex-wrap gap-3 align-items-center">
								<li>
									<a
										href="{{root}}blog-2-rtl.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										اِختِصاص
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2-rtl.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										استضافة
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2-rtl.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										السحابة الافتراضية الخاصة
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2-rtl.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										الاستضافة المشتركة
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2-rtl.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										ووردبريس
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2-rtl.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										طعام
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2-rtl.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										طعام دينار بحريني
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2-rtl.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										تكنولوجيا
									</a>
								</li>
								<li>
									<a
										href="{{root}}blog-2-rtl.html"
										class="btn btn-sm bg-body-tertiary hover:bg-primary hover:text-light"
									>
										نباتي
									</a>
								</li>
							</ul>
						</li>
						<li>
							<span
								class="d-block fs-20 fw-bold text-heading border-bottom mb-6"
							>
								<span
									class="d-inline-block border-bottom border-2x border-primary pb-2"
								>
									أرشيف
								</span>
							</span>
							<ul class="list gap-4">
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2-rtl.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											فبراير
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											08
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2-rtl.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											مارس
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											04
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2-rtl.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											أبريل
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											08
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2-rtl.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											يمكن
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											14
										</span>
									</div>
								</li>
								<li>
									<div
										class="d-flex align-items-center justify-content-between gap-4 group"
									>
										<a
											href="{{root}}blog-2-rtl.html"
											class="link d-inline-block fw-medium text-body group-hover:text-primary"
										>
											يونيو
										</a>
										<span
											class="d-grid place-content-center w-8 h-8 rounded-circle flex-shrink-0 bg-body-tertiary text-body fs-12 fw-medium transition group-hover:bg-primary group-hover:text-light"
										>
											12
										</span>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Blog List End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على ترحيل مجاني لاستضافة الويب</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك من شركة الاستضافة القديمة إلى منصتنا حتى تتمكن من التركيز على ما يهم
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a href="{{root}}contact-rtl.html" class="btn btn-dark-emphasis">
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
