{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--dark-alt primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "blog-details-2.html" %}
{% set bannerImage = "banner-img-2" %}
{% set logoLight = "logo-light.png" %}
{% set logoDark = "logo.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-4.html" %}
<!-- Banner End -->

<!-- Blog -->
<div class="section-space-top">
	<div class="container">
		<div class="row justify-content-center g-4">
			<div class="col-xl-8">
				<p>
					كل شركة تعيش وتتنفس المنافسة. إنها جزء أساسي من عالمنا، وتُهيمن على
					أولويات القيادة. "كيف يُمكننا تقديم منتج أفضل، أو تجربة أكثر جاذبية،
					أو تقديم قيمة أوضح من منافسينا؟" هذه هي الأسئلة التي تُؤرق الكثيرين
					منا.
				</p>
				<p>
					إن إدخال دورين رئيسيين في استراتيجية مبيعاتك يُمكن أن يُحدث فرقًا
					كبيرًا: ممثلو تطوير الأعمال (BDRs) وممثلو تطوير المبيعات (SDRs). صُممت
					هذه الأدوار للتركيز على مراحل مُحددة من رحلة المشتري، مما يضمن لممثلي
					المبيعات لديك حرية التركيز على ما يُجيدونه. يتخصص ممثلو تطوير الأعمال
					(BDRs) في تحديد فرص الأعمال الجديدة، بينما يتميز ممثلو تطوير المبيعات
					(SDRs) بمهارة رعاية هؤلاء العملاء المُحتملين، مما يُمهد الطريق
					لتعيينات ناجحة.
				</p>
				<p class="mb-0">
					في هذه المقالة، سنسلط الضوء على الوظائف المميزة لممثلي تطوير الأعمال
					(BDRs) وممثلي تطوير المبيعات (SDRs)، موضحين كيف يساهم كل منهما في
					عملية مبيعات سلسة. سنستعرض أيضًا كيف يمكن لكل وظيفة أن تساعد المنظمة
					في تحقيق أهدافها، ونستكشف كيفية إعداد هذه الفرق مع اتباع أفضل
					الممارسات.
				</p>
				<div class="my-12">
					<figure class="d-flex gap-4 gap-md-8">
						<div class="flex-shrink-0">
							<iconify-icon
								icon="oi:double-quote-sans-left"
								class="align-middle fs-48 text-heading"
							></iconify-icon>
						</div>
						<div class="flex-grow-1">
							<blockquote class="blockquote mb-8">
								<p class="text-heading fw-semibold">
									تقدم التجارة الكبرى خدمة دفع مفتوحة المصدر، وتغطية
									واجهات برمجة التطبيقات (API) لأكثر من 95% لمنصتها،
									وسوق تطبيقات واسع مع واجهة سهلة الاستخدام ومناسبة
									للأعمال.
								</p>
							</blockquote>
							<div class="blockquote-footer mb-0">
								الرئيس التنفيذي والمؤسس المشارك لشركة
								<span title="Source Title"> - بيتر باركر</span>
							</div>
						</div>
					</figure>
				</div>
				<h4>
					الاختلافات بين ممثلي تطوير الأعمال وممثلي تطوير المبيعات أثناء عملية
					البيع
				</h4>
				<p class="mb-8">
					يلعب كل من ممثلي تطوير الأعمال (BDRs) وممثلي تطوير المبيعات (SDRs)
					أدوارًا أساسية في توليد العملاء المحتملين ومبيعات الجزء العلوي من
					القمع. بينما يمكن أن تبدو الأدوار المختلفة متشابهة في بعض الأحيان، فإن
					بعض الاختلافات الرئيسية يمكن أن تساعد في إنشاء فريق مبيعات متكامل.
				</p>
				<h4>
					الاختلافات بين ممثلي تطوير الأعمال وممثلي تطوير المبيعات أثناء عملية
					البيع
				</h4>
				<p class="mb-8">
					يلعب كل من ممثلي تطوير الأعمال (BDRs) وممثلي تطوير المبيعات (SDRs)
					أدوارًا أساسية في توليد العملاء المحتملين ومبيعات الجزء العلوي من
					القمع. بينما يمكن أن تبدو الأدوار المختلفة متشابهة في بعض الأحيان، فإن
					بعض الاختلافات الرئيسية يمكن أن تساعد في إنشاء فريق مبيعات متكامل.
				</p>
				<h6>ممثلو تطوير الأعمال</h6>
				<p>
					ممثلو تطوير الأعمال (BDRs)، مثل أي ممثل مبيعات، يركزون على اكتساب
					عملاء جدد. العملاء. مع ذلك، يركز هذا النوع من مندوبي المبيعات عادةً
					حصريًا على توليد العملاء المحتملين الخارجيين. ومن المرجح أن يُجروا
					مكالمات باردة ويرسلوا رسائل بريد إلكتروني ورسائل مباشرة لتعزيز
					العلاقات مع العملاء المحتملين الجدد.
				</p>
				<p class="mb-8">
					لأن مندوبي تطوير الأعمال يتفاعلون مع عملاء محتملين غير مألوفين
					للمؤسسة، فإنهم يتحركون ببطء وبشكل استراتيجي للحفاظ على اهتمام عملائهم
					المحتملين. يتعاونون مع فرق المبيعات لوضع استراتيجية تسويق خارجية
					فعّالة تُعزز العملاء المحتملين خلال مسار تحديد المواعيد.
				</p>
				<h6>ما يفعله ممثلو تطوير الأعمال في بلقان</h6>
				<p>
					كما هو موضح أعلاه، يتمتع ممثلو تطوير الأعمال (BDRs) بدور مختلف في
					بلقان مقارنة بما هو شائع في كثير من الأحيان. بدلاً من مجرد إدارة
					العملاء المحتملين الواردين، يدير ممثلو تطوير الأعمال توليد العملاء
					المحتملين وتحديد المواعيد لجميع عملائنا. إنهم جزء حيوي من فريق تقديم
					الخدمة لدينا.
				</p>
				<p class="mb-12">
					ممثلو تطوير المبيعات (SDRs) في بلقان مسؤولون عن التواصل عبر البريد
					الإلكتروني وتحديد المواعيد، لكنهم يدعمون أيضًا مديري الحسابات في إدارة
					المشاريع والتواصل مع العملاء. إنهم جزء لا يتجزأ من المشاريع التي تركز
					على العملاء، حيث يدفعون العمل ويسهلون التواصل بين الفريق.
				</p>
				<p>
					تحديد المواعيد، كما يدعمون مديري الحسابات في إدارة المشاريع والتواصل
					مع العملاء. فهم جزء لا يتجزأ من المشاريع التي تركز على العملاء، حيث
					يحفزون العمل ويسهلون التواصل بين أعضاء الفريق.
				</p>
				<h4>الاختلافات الرئيسية بين ممثلي تطوير الأعمال وممثلي تطوير المبيعات</h4>
				<p>
					بينما تعمل كل منظمة بشكل مختلف قليلاً، فإن الاختلافات الثلاثة الأكثر
					شيوعًا بين ممثلي تطوير الأعمال (BDRs) وممثلي تطوير المبيعات (SDRs) هي:
				</p>
				<ol class="d-flex flex-column gap-6">
					<li>
						التركيز: يُركز مندوبو تطوير الأعمال على توليد العملاء المحتملين
						الخارجيين، بينما يُركز مندوبو تطوير المبيعات على توليد العملاء
						المحتملين الداخليين. يُخصص تحديد مواعيد مندوبي تطوير الأعمال
						للعملاء المحتملين الأقل وعيًا بالشركة، بينما يُخصص تحديد مواعيد
						مندوبي تطوير المبيعات للعملاء المحتملين الأكثر استعدادًا لإتمام
						الصفقة.
					</li>
					<li>
						التغذية: يتحرك ممثلو تطوير الأعمال ببطء وبشكل استراتيجي لأنهم
						يقومون بتغذية العملاء المحتملين الذين لديهم وعي أقل بالشركة. من
						ناحية أخرى، يمتلك ممثلو تطوير المبيعات عملاء محتملين في مراحل
						متقدمة من عملية الشراء، وبالتالي يحتاجون إلى القيام بتغذية أقل.
					</li>
					<li>
						التعاون: غالبًا ما يتعاون ممثلو تطوير الأعمال مع فرق المبيعات، مما
						يعزز العملاء المحتملين من المكالمات الباردة واستراتيجيات التوليد
						الخارجي الأخرى. من ناحية أخرى، يتعاون ممثلو تطوير المبيعات بشكل
						أكبر مع فرق التسويق التي تنشئ محتوى واستراتيجيات أخرى لجذب العملاء
						المحتملين.
					</li>
					<li>
						التغذية: يتحرك ممثلو تطوير الأعمال ببطء وبشكل استراتيجي لأنهم
						يقومون بتغذية العملاء المحتملين الذين لديهم وعي أقل بالشركة. من
						ناحية أخرى، يمتلك ممثلو تطوير المبيعات عملاء محتملين في مراحل
						متقدمة من عملية الشراء، وبالتالي يحتاجون إلى القيام بتغذية أقل.
					</li>
					<li>
						التعاون: غالبًا ما يتعاون ممثلو تطوير الأعمال مع فرق المبيعات، مما
						يعزز العملاء المحتملين من المكالمات الباردة واستراتيجيات التوليد
						الخارجي الأخرى. من ناحية أخرى، يتعاون ممثلو تطوير المبيعات بشكل
						أكبر مع فرق التسويق التي تنشئ محتوى واستراتيجيات أخرى لجذب العملاء
						المحتملين.
					</li>
				</ol>
				<div class="section-space-md-y">
					<div class="bg-body rounded-3 p-4 p-md-8">
						<div class="d-flex align-items-center gap-4">
							<div class="avatar avatar-xxxl">
								<img
									src="{{root}}assets/img/team-member-1.png"
									alt="image"
									class="avatar__img"
								/>
							</div>
							<div class="flex-grow-1">
								<a
									href="{{root}}blog-1-rtl.html"
									class="link d-block group mb-2"
								>
									<span
										class="d-block fs-18 mb-1 fw-bold text-heading group-hover:text-primary"
									>
										كريستين واتسونز
									</span>
									<span class="d-block fs-14 text-body">
										تستخدم منهجية البحث الخاصة بها منهجية تقييم صارمة
										تستند إلى معايير نوعية وكمية.
									</span>
								</a>
								<ul
									class="list list-row align-items-center flex-wrap gap-3"
								>
									<li>
										<a
											href="#"
											class="link d-inline-block text-body hover:text-primary"
										>
											<iconify-icon
												icon="logos:facebook"
											></iconify-icon>
										</a>
									</li>
									<li>
										<a
											href="#"
											class="link d-inline-block text-body hover:text-primary"
										>
											<iconify-icon
												icon="skill-icons:instagram"
											></iconify-icon>
										</a>
									</li>
									<li>
										<a
											href="#"
											class="link d-inline-block text-body hover:text-primary"
										>
											<iconify-icon
												icon="logos:twitter"
											></iconify-icon>
										</a>
									</li>
									<li>
										<a
											href="#"
											class="link d-inline-block text-body hover:text-primary"
										>
											<iconify-icon
												icon="devicon:linkedin"
											></iconify-icon>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row g-4">
					<div class="col-md-6">
						<p class="mb-2 fs-14">الوظيفة السابقة</p>
						<a
							href="{{root}}blog-details-1-rtl.html"
							class="link fs-18 fw-bold text-heading hover:text-primary line-clamp line-clamp--1"
						>
							بدأت للتو عملية اختراق دردشة جي بي تي
						</a>
					</div>
					<div class="col-md-6">
						<p class="mb-2 fs-14 text-md-end">الوظيفة التالية</p>
						<a
							href="{{root}}blog-details-1-rtl.html"
							class="link fs-18 fw-bold text-heading hover:text-primary line-clamp line-clamp--1 text-md-end"
						>
							بدأت للتو عملية اختراق دردشة جي بي تي
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Blog End -->

<!-- Related Posts  -->
<div class="section-space-y">
	<div class="section-space-sm-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="mb-0 text-center">قد يعجبك أيضًا</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6 col-lg-3">
				<div class="rounded bg-body p-3">
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-8.png"
							alt="image"
							class="img-fluid rounded w-100"
						/>
					</a>
					<div class="pt-4">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-light-subtle text-light-emphasis shadow mb-2"
						>
							<span
								class="d-inline-block w-1 h-1 rounded-circle bg-secondary-emphasis flex-shrink-0"
							></span>
							مركز الاتصال
						</a>
						<a
							href="{{root}}blog-details-1-rtl.html"
							class="link line-clamp line-clamp--2 mb-2 fs-18 fw-bold text-heading hover:text-primary"
						>
							كيف يؤثر الكتابة على علامتك الشخصية؟
						</a>
						<ul
							class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap"
						>
							<li>
								<span class="d-block fs-14"> 31 May 2023 </span>
							</li>
							<li>
								<span class="d-block fs-14"> 14m </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="rounded bg-body p-3">
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-9.png"
							alt="image"
							class="img-fluid rounded w-100"
						/>
					</a>
					<div class="pt-4">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-light-subtle text-light-emphasis shadow mb-2"
						>
							<span
								class="d-inline-block w-1 h-1 rounded-circle bg-secondary-emphasis flex-shrink-0"
							></span>
							مركز الاتصال
						</a>
						<a
							href="{{root}}blog-details-1-rtl.html"
							class="link line-clamp line-clamp--2 mb-2 fs-18 fw-bold text-heading hover:text-primary"
						>
							ابدأ مدونة للوصول إلى ذروتك الإبداعية
						</a>
						<ul
							class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap"
						>
							<li>
								<span class="d-block fs-14"> 31 May 2023 </span>
							</li>
							<li>
								<span class="d-block fs-14"> 14m </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="rounded bg-body p-3">
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-10.png"
							alt="image"
							class="img-fluid rounded w-100"
						/>
					</a>
					<div class="pt-4">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-light-subtle text-light-emphasis shadow mb-2"
						>
							<span
								class="d-inline-block w-1 h-1 rounded-circle bg-secondary-emphasis flex-shrink-0"
							></span>
							مركز الاتصال
						</a>
						<a
							href="{{root}}blog-details-1-rtl.html"
							class="link line-clamp line-clamp--2 mb-2 fs-18 fw-bold text-heading hover:text-primary"
						>
							كيف يعيد الفنان التشكيلي تعريف النجاح في التصميم الجرافيكي
						</a>
						<ul
							class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap"
						>
							<li>
								<span class="d-block fs-14"> 31 May 2023 </span>
							</li>
							<li>
								<span class="d-block fs-14"> 14m </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="rounded bg-body p-3">
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-11.png"
							alt="image"
							class="img-fluid rounded w-100"
						/>
					</a>
					<div class="pt-4">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-light-subtle text-light-emphasis shadow mb-2"
						>
							<span
								class="d-inline-block w-1 h-1 rounded-circle bg-secondary-emphasis flex-shrink-0"
							></span>
							Call Center
						</a>
						<a
							href="{{root}}blog-details-1-rtl.html"
							class="link line-clamp line-clamp--2 mb-2 fs-18 fw-bold text-heading hover:text-primary"
						>
							ابدأ مدونة السفر الخاصة بك مع Vasco AI
						</a>
						<ul
							class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap"
						>
							<li>
								<span class="d-block fs-14"> 31 May 2023 </span>
							</li>
							<li>
								<span class="d-block fs-14"> 14m </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Related Posts End -->

<!-- Comments Section  -->
<div class="section-space-bottom">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-8">
				<div class="rounded-3 bg-body p-4 p-lg-8">
					<div class="row g-4">
						<div class="col-12">
							<h4 class="mb-0">اترك تعليقاتك</h4>
						</div>
						<div class="col-lg-6">
							<label class="form-label fs-14 fw-medium text-heading">
								الاسم الأول
							</label>
							<input type="text" class="form-control" placeholder="اسم" />
						</div>
						<div class="col-lg-6">
							<label class="form-label fs-14 fw-medium text-heading">
								البريد الإلكتروني
							</label>
							<input
								type="email"
								class="form-control"
								placeholder="البريد الإلكتروني"
							/>
						</div>
						<div class="col-12">
							<label class="form-label fs-14 fw-medium text-heading">
								الموضوع
							</label>
							<input
								type="text"
								class="form-control"
								placeholder="أدخل موضوعك"
							/>
						</div>
						<div class="col-12">
							<label class="form-label fs-14 fw-medium text-heading">
								الرسالة
							</label>
							<textarea
								class="form-control"
								rows="3"
								placeholder="يرجى كتابة التفاصيل"
							></textarea>
						</div>
						<div class="col-12">
							<button type="submit" class="btn btn-primary fs-14">
								إرسال تعليق
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Comments Section End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على ترحيل مجاني لاستضافة الويب</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك من شركة الاستضافة القديمة إلى
								منصتنا حتى تتمكن من التركيز على ما يهم
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
