{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "blog-2.html" %}
{% set breadcrumb = "Blog" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive ="text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-11.html" %}
<!-- Banner End -->

<!-- Category Blog Post -->
<div class="section-space-top section-space-sm-bottom">
	<div class="section-space-xsm-bottom">
		<div class="container">
			<div class="row g-4 gy-md-0 align-items-center">
				<div class="col-md-8 col-lg-9 col-xxl-10">
					<ul class="list list-row flex-wrap gap-4 align-items-center">
						<li>
							<a
								href="{{root}}blog-2-rtl.html"
								class="btn btn-sm bg-primary hover:bg-primary text-white hover:text-white fw-medium"
							>
								كل المدونة
							</a>
						</li>
						<li>
							<a
								href="{{root}}blog-2-rtl.html"
								class="btn btn-sm bg-body hover:bg-primary text-heading hover:text-white fw-medium"
							>
								مركز الاتصال
							</a>
						</li>
						<li>
							<a
								href="{{root}}blog-2-rtl.html"
								class="btn btn-sm bg-body hover:bg-primary text-heading hover:text-white fw-medium"
							>
								جيل الرصاص
							</a>
						</li>
						<li>
							<a
								href="{{root}}blog-2-rtl.html"
								class="btn btn-sm bg-body hover:bg-primary text-heading hover:text-white fw-medium"
							>
								يدعم
							</a>
						</li>
						<li>
							<a
								href="{{root}}blog-2-rtl.html"
								class="btn btn-sm bg-body hover:bg-primary text-heading hover:text-white fw-medium"
							>
								الفرق البعيدة
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 col-lg-3 col-xxl-2">
					<div class="input-group row-ltr">
						<span
							class="input-group-text bg-body d-grid place-content-center rounded-start-1 pe-0"
						>
							<iconify-icon icon="lucide:search"></iconify-icon>
						</span>
						<input
							type="text"
							class="form-control form-control-sm bg-body border-start-0"
							placeholder="Search.."
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-space-xsm-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="row align-items-center bg-body rounded p-4 p-md-6">
						<div class="col-lg-6">
							<a
								href="{{root}}blog-2-rtl.html"
								class="badge bg-primary-emphasis text-primary-subtle mb-2"
							>
								<span
									class="d-inline-block w-2 h-2 rounded-circle bg-primary-subtle flex-shrink-0"
								></span>
								التكنولوجيا
							</a>
							<h4>
								<a
									href="{{root}}blog-details-1-rtl.html"
									class="link d-inline-block text-heading hover:text-primary"
								>
									كيف تساعد التحليلات والتوجيه الذكي في زيادة كفاءة
									المكالمات الواردة
								</a>
							</h4>
							<p class="mb-6">
								يجب أن تدعم المنصة تكامل بوابات الدفع مع طرق الدفع
								المتعددة بما في ذلك بطاقات الائتمان، والخدمات المصرفية عبر
								الإنترنت، والمحافظ الإلكترونية.
							</p>
							<div
								class="d-flex align-items-center justify-content-between gap-3 px-4 py-3 bg-body-tertiary rounded"
							>
								<div class="d-flex align-items-center gap-2">
									<div class="avatar avatar-md">
										<img
											src="{{root}}assets/img/team-member-1.png"
											alt="image"
											class="avatar__img"
										/>
									</div>
									<a
										href="{{root}}blog-1-rtl.html"
										class="link d-block group"
									>
										<span
											class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
										>
											بيتر باركر
										</span>
										<span class="d-block fs-12 text-body">
											الرئيس التنفيذي، شركة شركة
										</span>
									</a>
								</div>
								<button
									type="button"
									class="btn btn-icon btn-sm btn-primary rounded-circle flex-shrink-0"
								>
									<iconify-icon
										icon="guidance:left-arrow"
									></iconify-icon>
								</button>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="ps-xxl-12 mt-6 mt-lg-0">
								<img
									src="{{root}}assets/img/blog-post-img-7.png"
									alt="image"
									class="img-fluid rounded-4 w-100"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6 col-lg-3">
				<div class="rounded bg-body p-3">
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-8.png"
							alt="image"
							class="img-fluid rounded w-100"
						/>
					</a>
					<div class="pt-4">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-light-subtle text-light-emphasis shadow mb-2"
						>
							<span
								class="d-inline-block w-1 h-1 rounded-circle bg-secondary-emphasis flex-shrink-0"
							></span>
							مركز الاتصال
						</a>
						<a
							href="{{root}}blog-details-1-rtl.html"
							class="link line-clamp line-clamp--2 mb-2 fs-18 fw-bold text-heading hover:text-primary"
						>
							كيف يؤثر الكتابة على علامتك التجارية الشخصية؟
						</a>
						<ul
							class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap"
						>
							<li>
								<span class="d-block fs-14"> 31 May 2023 </span>
							</li>
							<li>
								<span class="d-block fs-14"> 14m </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="rounded bg-body p-3">
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-9.png"
							alt="image"
							class="img-fluid rounded w-100"
						/>
					</a>
					<div class="pt-4">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-light-subtle text-light-emphasis shadow mb-2"
						>
							<span
								class="d-inline-block w-1 h-1 rounded-circle bg-secondary-emphasis flex-shrink-0"
							></span>
							مركز الاتصال
						</a>
						<a
							href="{{root}}blog-details-1-rtl.html"
							class="link line-clamp line-clamp--2 mb-2 fs-18 fw-bold text-heading hover:text-primary"
						>
							ابدأ مدونة للوصول إلى ذروتك الإبداعية
						</a>
						<ul
							class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap"
						>
							<li>
								<span class="d-block fs-14"> 31 May 2023 </span>
							</li>
							<li>
								<span class="d-block fs-14"> 14m </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="rounded bg-body p-3">
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-10.png"
							alt="image"
							class="img-fluid rounded w-100"
						/>
					</a>
					<div class="pt-4">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-light-subtle text-light-emphasis shadow mb-2"
						>
							<span
								class="d-inline-block w-1 h-1 rounded-circle bg-secondary-emphasis flex-shrink-0"
							></span>
							مركز الاتصال
						</a>
						<a
							href="{{root}}blog-details-1-rtl.html"
							class="link line-clamp line-clamp--2 mb-2 fs-18 fw-bold text-heading hover:text-primary"
						>
							كيف يعيد الفنان البصري تعريف النجاح في تصميم الجرافيك
						</a>
						<ul
							class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap"
						>
							<li>
								<span class="d-block fs-14"> 31 May 2023 </span>
							</li>
							<li>
								<span class="d-block fs-14"> 14m </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="rounded bg-body p-3">
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-11.png"
							alt="image"
							class="img-fluid rounded w-100"
						/>
					</a>
					<div class="pt-4">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-light-subtle text-light-emphasis shadow mb-2"
						>
							<span
								class="d-inline-block w-1 h-1 rounded-circle bg-secondary-emphasis flex-shrink-0"
							></span>
							مركز الاتصال
						</a>
						<a
							href="{{root}}blog-details-1-rtl.html"
							class="link line-clamp line-clamp--2 mb-2 fs-18 fw-bold text-heading hover:text-primary"
						>
							ابدأ مدونة السفر الخاصة بك مع فاسكو AI
						</a>
						<ul
							class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap"
						>
							<li>
								<span class="d-block fs-14"> 31 May 2023 </span>
							</li>
							<li>
								<span class="d-block fs-14"> 14m </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Category Blog Post End -->

<!-- Popular Blog Post -->
<div class="section-space-sm-y">
	<div class="section-space-xsm-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h4 class="mb-0">أكثر المنشورات شعبية</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-6">
				<div class="rounded bg-body p-4">
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-12.png"
							alt="image"
							class="img-fluid rounded w-100"
						/>
					</a>
					<div class="py-6 pb-xxl-0 pt-xxl-4 px-md-3 px-xxl-2">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-light-subtle text-light-emphasis shadow mb-4 mb-xxl-2"
						>
							<span
								class="d-inline-block w-1 h-1 rounded-circle bg-secondary-emphasis flex-shrink-0"
							></span>
							التكنولوجيا
						</a>
						<h5>
							<a
								href="{{root}}blog-details-1-rtl.html"
								class="link line-clamp line-clamp--2 text-heading hover:text-primary"
							>
								توم هانكس وحيد مرة أخرى في فيلم "فينش" مع كلبه والروبوت
								لصالح شركة
							</a>
						</h5>
						<p class="line-clamp line-clamp--2 mb-8 mb-xxl-5">
							عالم رائع مع كل قلبي. أنا وحدي، وأشعر بسحر الوجود في هذه
							البقعة، التي تم إنشاؤها من أجل سعادة الأرواح مثل
						</p>
						<ul
							class="list list-row list-dot list-dot--md flex-wrap align-items-center"
						>
							<li>
								<div class="d-flex align-items-center gap-2">
									<div class="avatar avatar-md">
										<img
											src="{{root}}assets/img/team-member-3.png"
											alt="image"
											class="avatar__img"
										/>
									</div>
									<a
										href="{{root}}blog-details-1-rtl.html"
										class="link d-block fs-14 fw-medium text-heading hover:text-primary"
									>
										بيتر باركر
									</a>
								</div>
							</li>
							<li>
								<span class="d-block fs-14"> 5 نوفمبر 2024 </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<ul class="list gap-6">
					<li>
						<div
							class="d-flex align-items-center gap-3 gap-sm-4 rounded bg-body p-4"
						>
							<a
								href="{{root}}blog-details-1-rtl.html"
								class="link d-block post-img-size flex-shrink-0"
							>
								<img
									src="{{root}}assets/img/blog-post-img-13.png"
									alt="image"
									class="rounded w-100 h-100 object-fit-cover"
								/>
							</a>
							<div class="flex-grow-1">
								<ul
									class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap mb-2"
								>
									<li>
										<span class="d-block fs-12"> 31 May 2023 </span>
									</li>
									<li>
										<span class="d-block fs-12"> 14m </span>
									</li>
								</ul>
								<a
									href="{{root}}blog-details-1-rtl.html"
									class="link line-clamp line-clamp--2 mb-2 fs-20 fw-bold text-heading hover:text-primary"
								>
									بدأ بنك بنغلاديش في إصدار أوراق نقدية جديدة من فئة
									التاكا للتداول
								</a>
								<p class="mb-0 line-clamp line-clamp--2">
									قررت المجموعة أن اللقاح يجب أن يستهدف أيضًا فقط كان
									هناك توتر عام
								</p>
							</div>
						</div>
					</li>
					<li>
						<div
							class="d-flex align-items-center gap-3 gap-sm-4 rounded bg-body p-4"
						>
							<a
								href="{{root}}blog-details-1-rtl.html"
								class="link d-block post-img-size flex-shrink-0"
							>
								<img
									src="{{root}}assets/img/blog-post-img-14.png"
									alt="image"
									class="rounded w-100 h-100 object-fit-cover"
								/>
							</a>
							<div class="flex-grow-1">
								<ul
									class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap mb-2"
								>
									<li>
										<span class="d-block fs-12"> 31 May 2023 </span>
									</li>
									<li>
										<span class="d-block fs-12"> 14m </span>
									</li>
								</ul>
								<a
									href="{{root}}blog-details-1-rtl.html"
									class="link line-clamp line-clamp--2 mb-2 fs-20 fw-bold text-heading hover:text-primary"
								>
									كيف يؤثر الكتابة على قيمة علامتك التجارية الشخصية؟
								</a>
								<p class="mb-0 line-clamp line-clamp--2">
									قررت المجموعة أن اللقاح يجب أن يستهدف أيضًا فقط كان
									هناك توتر عام
								</p>
							</div>
						</div>
					</li>
					<li>
						<div
							class="d-flex align-items-center gap-3 gap-sm-4 rounded bg-body p-4"
						>
							<a
								href="{{root}}blog-details-1-rtl.html"
								class="link d-block post-img-size flex-shrink-0"
							>
								<img
									src="{{root}}assets/img/blog-post-img-15.png"
									alt="image"
									class="rounded w-100 h-100 object-fit-cover"
								/>
							</a>
							<div class="flex-grow-1">
								<ul
									class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap mb-2"
								>
									<li>
										<span class="d-block fs-12"> 31 May 2023 </span>
									</li>
									<li>
										<span class="d-block fs-12"> 14m </span>
									</li>
								</ul>
								<a
									href="{{root}}blog-details-1-rtl.html"
									class="link line-clamp line-clamp--2 mb-2 fs-20 fw-bold text-heading hover:text-primary"
								>
									كيف يعيد الفنان البصري تعريف النجاح في تصميم الجرافيك
								</a>
								<p class="mb-0 line-clamp line-clamp--2">
									قررت المجموعة أن اللقاح يجب أن يستهدف أيضًا فقط كان
									هناك توتر عام
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Popular Blog Post End -->

<!-- Latest News -->
<div class="section-space-sm-top section-space-bottom">
	<div class="section-space-xsm-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h4 class="mb-0">آخر الأخبار</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6 col-lg-4">
				<div class="rounded bg-body p-3">
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-16.png"
							alt="image"
							class="img-fluid rounded w-100"
						/>
					</a>
					<div class="pt-4">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-light-subtle text-light-emphasis shadow mb-2"
						>
							<span
								class="d-inline-block w-1 h-1 rounded-circle bg-secondary-emphasis flex-shrink-0"
							></span>
							مركز الاتصال
						</a>
						<a
							href="{{root}}blog-details-1-rtl.html"
							class="link line-clamp line-clamp--2 mb-2 fs-18 fw-bold text-heading hover:text-primary"
						>
							كيف يؤثر الكتابة على قيمة علامتك التجارية الشخصية؟
						</a>
						<ul
							class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap"
						>
							<li>
								<span class="d-block fs-14"> 31 May 2023 </span>
							</li>
							<li>
								<span class="d-block fs-14"> 14m </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="rounded bg-body p-3">
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-17.png"
							alt="image"
							class="img-fluid rounded w-100"
						/>
					</a>
					<div class="pt-4">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-light-subtle text-light-emphasis shadow mb-2"
						>
							<span
								class="d-inline-block w-1 h-1 rounded-circle bg-secondary-emphasis flex-shrink-0"
							></span>
							التكنولوجيا
						</a>
						<a
							href="{{root}}blog-details-1-rtl.html"
							class="link line-clamp line-clamp--2 mb-2 fs-18 fw-bold text-heading hover:text-primary"
						>
							توم هانكس وحيد مرة أخرى في فيلم فينش مع كلبه وآلي لشركته
						</a>
						<ul
							class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap"
						>
							<li>
								<span class="d-block fs-14"> 31 May 2023 </span>
							</li>
							<li>
								<span class="d-block fs-14"> 14m </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="rounded bg-body p-3">
					<a href="{{root}}blog-details-1-rtl.html" class="link d-block">
						<img
							src="{{root}}assets/img/blog-post-img-18.png"
							alt="image"
							class="img-fluid rounded w-100"
						/>
					</a>
					<div class="pt-4">
						<a
							href="{{root}}blog-2-rtl.html"
							class="badge bg-light-subtle text-light-emphasis shadow mb-2"
						>
							<span
								class="d-inline-block w-1 h-1 rounded-circle bg-secondary-emphasis flex-shrink-0"
							></span>
							خادم الويب
						</a>
						<a
							href="{{root}}blog-details-1-rtl.html"
							class="link line-clamp line-clamp--2 mb-2 fs-18 fw-bold text-heading hover:text-primary"
						>
							كيف يعيد الفنان البصري تعريف النجاح في تصميم الجرافيك
						</a>
						<ul
							class="list list-row list-dot list-dot--md list-dot--light-emphasis flex-wrap"
						>
							<li>
								<span class="d-block fs-14"> 31 May 2023 </span>
							</li>
							<li>
								<span class="d-block fs-14"> 14m </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Latest News End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على ترحيل مجاني لاستضافة الويب</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك من شركة الاستضافة القديمة إلى
								منصتنا حتى تتمكن من التركيز على ما يهمك
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
