{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "career-details.html" %}
{% set breadcrumb = "Career" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive = "text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-5.html" %}
<!-- Banner End -->

<!-- Job Details -->
<div class="section-space-y">
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-8">
				<p class="mb-8">
					نبحث عن مطوري PHP ماهرين للانضمام إلى فريقنا. سيتضمن دورك بناء وتحسين
					تطبيقات الويب باستخدام PHP وMySQL. ستعمل بشكل تعاوني لتطوير حلول خلفية
					قوية. إذا كنت شغوفًا بإنشاء تطبيقات ويب فعّالة وقابلة للتطوير، فنحن
					نبحث عنك.
				</p>
				<h6 class="mb-6">المسؤوليات الرئيسية:</h6>
				<ul class="list list-disc gap-3 mb-8">
					<li>تطوير تطبيقات ويب عالية الجودة من خلال دمج PHP وMySQL.</li>
					<li>
						المشاركة في دورة تطوير التطبيق بالكامل، من المفهوم إلى النشر، مع
						التركيز على الترميز وتصحيح الأخطاء.
					</li>
					<li>المساهمة في تحسين التطبيقات لتحقيق أقصى سرعة وقابلية للتوسع.</li>
					<li>
						المساعدة في تصميم وتطوير وإدارة قواعد البيانات في MySQL، ضمان
						سلامة البيانات والأداء.
					</li>
					<li>
						المشاركة مع فريق التطوير في مراجعات الشيفرة، ومشاركة المعرفة
						والممارسات لتحسين جودة الشيفرة ومهارات الفريق.
					</li>
					<li>
						البقاء على اطلاع بأحدث تقنيات الويب الناشئة وتطبيقها على العمليات
						والأنشطة.
					</li>
					<li>
						التعاون عبر الأقسام لفهم احتياجات المستخدمين وترجمتها إلى حلول
						تقنية.
					</li>
				</ul>
				<h6 class="mb-6">المؤهلات:</h6>
				<ul class="list list-disc gap-3 mb-8">
					<li>خبرة كمطور PHP مع التركيز على PHP وMySQL.</li>
					<li>
						معرفة بتصميم قواعد البيانات، وتحسين الاستعلامات، وإدارة قواعد
						البيانات.
					</li>
					<li>خبرة في أنظمة التحكم في الإصدارات، ويفضل Git.</li>
					<li>
						مهارات قوية في حل المشكلات والقدرة على العمل بفعالية في بيئة
						الفريق.
					</li>
					<li>فهم جيد لأساليب تطوير البرمجيات، وخاصة رشيق.</li>
				</ul>
				<h6 class="mb-6">لماذا تنضم إلينا؟</h6>
				<ul class="list list-disc gap-3">
					<li>كن جزءًا من فريق تطوير كبير ومبتكر يتصدر تحول الرقمي.</li>
					<li>فرصة للعمل على مشاريع متنوعة تتحدى وتنمي مهاراتك.</li>
					<li>راتب تنافسي، حزمة مزايا شاملة، وبيئة عمل داعمة.</li>
					<li>
						مهارات قوية في حل المشكلات والقدرة على العمل بفعالية في بيئة
						الفريق.
					</li>
					<li>
						المشاركة في فرص التعلم والتطوير المستمر داخل شركة تقدر الإبداع
						والابتكار.
					</li>
				</ul>
			</div>
			<div class="col-lg-4">
				<ul class="list gap-6">
					<li>
						<div
							class="rounded-4 bg-body p-4 p-sm-6 p-md-10 p-lg-6 p-xxl-10 text-center"
						>
							<div
								class="d-grid place-content-center w-24 h-24 rounded-circle border border-primary-subtle mx-auto bg-light-subtle mb-8"
							>
								<iconify-icon
									icon="gravity-ui:thumbs-up-fill"
									class="text-primary-emphasis fs-44"
								></iconify-icon>
							</div>
							<p class="fw-semibold text-heading">
								هل أنت مستعد للتقديم؟ نتطلع لمقابلتك!
							</p>
							<a
								href="{{root}}career-application-rtl.html"
								class="btn btn-sm btn-primary fw-medium"
							>
								قدم الآن
							</a>
							<p class="fs-14 my-6 text-heading">
								بعد ذلك، ستواجه تقييمًا للمضي قدمًا. قدم طلبًا لوظيفة
								واحدة في كل مرة واستعد جيدًا.
							</p>
							<p class="mb-2 fs-12 text-heading">
								* من خلال التقدم بطلب للحصول على هذه الوظيفة المدرجة، فإنك
								توافق على بياناتنا
							</p>
							<div
								class="d-flex justify-content-center align-items-center flex-wrap gap-2"
							>
								<a
									href="#"
									class="link d-inline-flex align-items-center gap-1 text-heading hover:text-primary fs-12"
								>
									<span class="d-inline-block"> سياسة الخصوصية </span>
									<iconify-icon
										icon="solar:arrow-right-linear"
									></iconify-icon>
								</a>
								<span class="d-inline-block fs-12">
									لتوظيف وطلبات العمل.
								</span>
							</div>
						</div>
					</li>
					<li>
						<div class="rounded-4 bg-body p-4 p-sm-6 p-md-10 p-lg-6 p-xxl-10">
							<h6 class="mb-6">المزايا والفوائد</h6>
							<ul class="list gap-3">
								<li class="d-flex align-items-center gap-3">
									<span
										class="btn btn-icon bg-body border text-primary rounded-circle cursor-default flex-shrink-0"
									>
										<iconify-icon
											icon="icon-park-twotone:thumbs-up"
										></iconify-icon>
									</span>
									<span
										class="d-block text-heading fs-14 fw-medium flex-grow-1"
									>
										ثقافة عمل استثنائية
									</span>
								</li>
								<li class="d-flex align-items-center gap-3">
									<span
										class="btn btn-icon bg-body border text-danger rounded-circle cursor-default flex-shrink-0"
									>
										<iconify-icon
											icon="solar:tea-cup-line-duotone"
										></iconify-icon>
									</span>
									<span
										class="d-block text-heading fs-14 fw-medium flex-grow-1"
									>
										وجبات خفيفة ومشروبات مجانية
									</span>
								</li>
								<li class="d-flex align-items-center gap-3">
									<span
										class="btn btn-icon bg-body border text-success rounded-circle cursor-default flex-shrink-0"
									>
										<iconify-icon
											icon="maki:fitness-centre"
										></iconify-icon>
									</span>
									<span
										class="d-block text-heading fs-14 fw-medium flex-grow-1"
									>
										صالة رياضية لدعم العافية واللياقة البدنية
									</span>
								</li>
								<li class="d-flex align-items-center gap-3">
									<span
										class="btn btn-icon bg-body border text-warning rounded-circle cursor-default flex-shrink-0"
									>
										<iconify-icon
											icon="fluent:sport-20-regular"
										></iconify-icon>
									</span>
									<span
										class="d-block text-heading fs-14 fw-medium flex-grow-1"
									>
										مرافق للرياضات الداخلية والخارجية
									</span>
								</li>
								<li class="d-flex align-items-center gap-3">
									<span
										class="btn btn-icon bg-body border text-primary rounded-circle cursor-default flex-shrink-0"
									>
										<iconify-icon
											icon="solar:bus-line-duotone"
										></iconify-icon>
									</span>
									<span
										class="d-block text-heading fs-14 fw-medium flex-grow-1"
									>
										خدمة النقل المجانية
									</span>
								</li>
								<li class="d-flex align-items-center gap-3">
									<span
										class="btn btn-icon bg-body border text-info rounded-circle cursor-default flex-shrink-0"
									>
										<iconify-icon
											icon="fluent:vehicle-car-parking-16-regular"
										></iconify-icon>
									</span>
									<span
										class="d-block text-heading fs-14 fw-medium flex-grow-1"
									>
										مرافق لوقوف السيارات
									</span>
								</li>
								<li class="d-flex align-items-center gap-3">
									<span
										class="btn btn-icon bg-body border text-success rounded-circle cursor-default flex-shrink-0"
									>
										<iconify-icon
											icon="solar:gift-bold-duotone"
										></iconify-icon>
									</span>
									<span
										class="d-block text-heading fs-14 fw-medium flex-grow-1"
									>
										مكافأتين في المهرجان
									</span>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Job Details End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على ترحيل مجاني لاستضافة الويب</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنقوم بالعناية بعملية نقل موقعك الإلكتروني من شركة استضافة
								الويب القديمة إلى منصتنا حتى تتمكن من التركيز على ما يهم
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
