{% extends "layouts/default.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set rtlLink = "case-study-details-rtl.html" %}
{% set bannerImage = "banner-img-4" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner  -->
{% include "partials/banner-9.html" %}
<!-- Banner End -->

<!-- Case Study Details -->
<div class="section-space-y">
	<div class="container">
		<div class="row g-4">
			<div class="col-md-7 col-lg-8">
				<div class="section-space-md-bottom">
					<p>
						Every business lives and breathes competition. It's a fundamental
						part of the world we live in and dominates leadership priorities.
						“How can we provide a better product, a more engaging experience,
						or offer clearer value than our competitors?” These are the
						questions that keep many of us up at night.
					</p>
					<p class="mb-0">
						Introducing 2 key roles into your sales strategy can make a
						significant difference: business development representatives
						(BDRs) and sales development representatives (SDRs). These roles
						are designed to focus on specific stages of the buyer's journey,
						ensuring that your sales reps are free to concentrate on what they
						do best. BDRs specialise in identifying new business
						opportunities, while SDRs are adept at nurturing these leads,
						setting the stage for successful appointments.
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>Challenge</h4>
					<p class="mb-0">
						The client needed to boost their lead-to-appointment conversions.
						Despite having a strong online presence and over 20 marketing
						channels at their disposal, they needed to streamline their
						campaign management and weed through vast volumes of leads. Their
						global business development and subject-matter expert team needed
						a steady flow of high-quality meetings tailored to various
						regions.
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>Solutions</h4>
					<p>
						BDRs, like any sales representative, are focused on acquiring new
						customers. However, this specific type of sales rep generally
						focuses exclusively on outbound lead generation. They'll likely
						make cold calls and send emails and direct messages to foster
						relationships with new prospects.
					</p>
					<p class="mb-0">
						Because BDRs interact with prospects unfamiliar with the
						organisation, BDRs move slowly and strategically to keep their
						leads interested. BDRs collaborate with sales teams to create an
						effective outbound strategy that nurtures leads down the
						appointment-setting funnel.
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>Diverse and tailored email campaigns</h4>
					<p>
						As highlighted above, SDRs have a different role at Belkins than
						is often the case. Rather than just managing inbound prospects,
						SDRs manage lead generation and appointment-setting for all our
						clients. They're a critical part of our client delivery team.
					</p>
					<p class="mb-0">
						SDRs for Belkins are in charge of email outreach and
						appointment-setting, but they also support account managers with
						project management and client communication. They're integral to
						client-focused projects, driving action and facilitating team
						communication.
					</p>
				</div>
				<div class="row g-4 justify-content-center">
					<div class="col-lg-4">
						<div
							class="rounded-4 p-4 py-xl-6 px-xl-8 bg-light-subtle shadow-sm"
						>
							<h4 class="mb-2">5,000+</h4>
							<p class="mb-0 fs-14">Organizations trust</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div
							class="rounded-4 p-4 py-xl-6 px-xl-8 bg-light-subtle shadow-sm"
						>
							<h4 class="mb-2">10k+</h4>
							<p class="mb-0 fs-14">Monthly campaign</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div
							class="rounded-4 p-4 py-xl-6 px-xl-8 bg-light-subtle shadow-sm"
						>
							<h4 class="mb-2">20M+</h4>
							<p class="mb-0 fs-14">Monthly Visitor</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 col-lg-4">
				<div
					class="bg-dark-emphasis rounded-3 px-4 pt-4 px-xl-8 pt-xl-8 text-center position-relative z-1 overflow-hidden"
				>
					<p class="text-light-subtle mb-1 fs-14">Project Manager</p>
					<h6 class="mb-12 text-light-subtle">Peter Parker</h6>
					<img
						src="{{root}}assets/img/project-manager-img.png"
						alt="image"
						class="img-fluid"
					/>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="600"
						height="600"
						viewBox="0 0 600 600"
						fill="none"
						class="banner-1__froster-svg"
					>
						<g filter="url(#filter0_f_8077_264x)">
							<path
								d="M773.993 103.763C800.457 67.556 838.118 -16 889.598 -16C932.68 -16 925.405 109.955 850.192 214.4C676.015 417.658 548.024 427 432.419 427C316.814 427 267 368.356 267 332.149C267 295.942 301.82 244.415 489.854 244.415C677.886 244.415 747.529 139.97 773.993 103.763Z"
								fill="#6328FF"
								fill-opacity="0.75"
								class="banner-1__froster-svg-path"
							/>
						</g>
						<defs>
							<filter
								id="filter0_f_8077_264x"
								x="0.333405"
								y="-282.667"
								width="1182.33"
								height="976.333"
								filterUnits="userSpaceOnUse"
								color-interpolation-filters="sRGB"
							>
								<feFlood flood-opacity="0" result="BackgroundImageFix" />
								<feBlend
									mode="normal"
									in="SourceGraphic"
									in2="BackgroundImageFix"
									result="shape"
								/>
								<feGaussianBlur
									stdDeviation="133.333"
									result="effect1_foregroundBlur_8077_2641"
								/>
							</filter>
						</defs>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Case Study Details End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a
									href="{{root}}contact.html"
									class="btn btn-dark-emphasis"
								>
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7.html" %} 
{% endblock %}
