{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "case-study-details.html" %}
{% set bannerImage = "banner-img-4" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner  -->
{% include "partials/banner-9.html" %}
<!-- Banner End -->

<!-- Case Study Details -->
<div class="section-space-y">
	<div class="container">
		<div class="row g-4">
			<div class="col-md-7 col-lg-8">
				<div class="section-space-md-bottom">
					<p>
						كل شركة تعيش وتتنفس المنافسة. إنها جزء أساسي من عالمنا، وتُهيمن
						على أولويات القيادة. "كيف يُمكننا تقديم منتج أفضل، أو تجربة أكثر
						جاذبية، أو تقديم قيمة أوضح من منافسينا؟" هذه هي الأسئلة التي تُؤرق
						الكثيرين منا.
					</p>
					<p class="mb-0">
						يمكن أن يُحدث إدخال دورين رئيسيين في استراتيجية المبيعات الخاصة بك
						فرقًا كبيرًا: ممثلو تطوير الأعمال (BDRs) وممثلو تطوير المبيعات
						(SDRs). هذه الأدوار مصممة للتركيز على مراحل محددة من رحلة المشتري،
						مما يضمن أن مندوبي المبيعات لديك أحرار في التركيز على ما يقومون به
						بشكل أفضل. يتخصص BDRs في تحديد فرص الأعمال الجديدة، بينما يتمتع
						SDRs بمهارة في رعاية هذه العملاء المحتملين، مما يمهد الطريق
						لمواعيد ناجحة.
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>التحدي</h4>
					<p class="mb-0">
						كان العميل بحاجة إلى زيادة تحويلات العملاء المحتملين إلى مواعيد.
						على الرغم من وجوده القوي عبر الإنترنت وأكثر من 20 قناة تسويقية تحت
						تصرفه، إلا أنه كان بحاجة إلى تبسيط إدارة حملاته والتخلص من كميات
						هائلة من العملاء المحتملين. كان فريقه المكون من خبراء تطوير
						الأعمال العالميين وذوي الخبرة في الموضوع بحاجة إلى تدفق مستمر من
						الاجتماعات عالية الجودة المصممة لتناسب مناطق مختلفة.
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>الحلول</h4>
					<p>
						BDRs، مثل أي ممثل مبيعات، يركزون على اكتساب عملاء جدد. ومع ذلك،
						فإن هذا النوع المحدد من ممثلي المبيعات يركز عمومًا حصريًا على
						توليد العملاء المحتملين الخارجيين. من المحتمل أن يقوموا بإجراء
						مكالمات باردة وإرسال رسائل بريد إلكتروني ورسائل مباشرة لتعزيز
						العلاقات مع العملاء المحتملين الجدد.
					</p>
					<p class="mb-0">
						نظرًا لأن BDRs يتفاعلون مع العملاء المحتملين غير المألوفين مع
						المنظمة، فإن BDRs يتحركون ببطء واستراتيجية للحفاظ على اهتمامهم
						بالعملاء المحتملين. يتعاون BDRs مع فرق المبيعات لإنشاء استراتيجية
						خارجية فعالة تغذي العملاء المحتملين في مسار تحديد المواعيد.
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>حملات البريد الإلكتروني المتنوعة والمخصصة</h4>
					<p>
						كما هو موضح أعلاه، فإن SDRs لديهم دور مختلف في Belkins عن ما هو
						الحال غالبًا. بدلاً من مجرد إدارة العملاء المحتملين الواردين، يدير
						SDRs توليد العملاء المحتملين وتحديد المواعيد لجميع عملائنا. إنهم
						جزء حيوي من فريق تقديم الخدمة لدينا.
					</p>
					<p class="mb-0">
						يتولى ممثلو المبيعات في شركة بلكينز مسؤولية التواصل عبر البريد
						الإلكتروني وتحديد المواعيد، كما يدعمون مديري الحسابات في إدارة
						المشاريع والتواصل مع العملاء. ويلعبون دورًا أساسيًا في المشاريع
						التي تركز على العملاء، حيث يحفزون العمل ويسهلون التواصل بين أعضاء
						الفريق.
					</p>
				</div>
				<div class="row g-4 justify-content-center">
					<div class="col-lg-4">
						<div
							class="rounded-4 p-4 py-xl-6 px-xl-8 bg-light-subtle shadow-sm"
						>
							<h4 class="mb-2">5,000+</h4>
							<p class="mb-0 fs-14">منظمات تثق في بلكينز</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div
							class="rounded-4 p-4 py-xl-6 px-xl-8 bg-light-subtle shadow-sm"
						>
							<h4 class="mb-2">10k+</h4>
							<p class="mb-0 fs-14">حملة شهرية</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div
							class="rounded-4 p-4 py-xl-6 px-xl-8 bg-light-subtle shadow-sm"
						>
							<h4 class="mb-2">20M+</h4>
							<p class="mb-0 fs-14">زائر شهري</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 col-lg-4">
				<div
					class="bg-dark-emphasis rounded-3 px-4 pt-4 px-xl-8 pt-xl-8 text-center position-relative z-1 overflow-hidden"
				>
					<p class="text-light-subtle mb-1 fs-14">مدير المشروع</p>
					<h6 class="mb-12 text-light-subtle">بيتر باركر</h6>
					<img
						src="{{root}}assets/img/project-manager-img.png"
						alt="image"
						class="img-fluid"
					/>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="600"
						height="600"
						viewBox="0 0 600 600"
						fill="none"
						class="banner-1__froster-svg"
					>
						<g filter="url(#filter0_f_8077_264x)">
							<path
								d="M773.993 103.763C800.457 67.556 838.118 -16 889.598 -16C932.68 -16 925.405 109.955 850.192 214.4C676.015 417.658 548.024 427 432.419 427C316.814 427 267 368.356 267 332.149C267 295.942 301.82 244.415 489.854 244.415C677.886 244.415 747.529 139.97 773.993 103.763Z"
								fill="#6328FF"
								fill-opacity="0.75"
								class="banner-1__froster-svg-path"
							/>
						</g>
						<defs>
							<filter
								id="filter0_f_8077_264x"
								x="0.333405"
								y="-282.667"
								width="1182.33"
								height="976.333"
								filterUnits="userSpaceOnUse"
								color-interpolation-filters="sRGB"
							>
								<feFlood flood-opacity="0" result="BackgroundImageFix" />
								<feBlend
									mode="normal"
									in="SourceGraphic"
									in2="BackgroundImageFix"
									result="shape"
								/>
								<feGaussianBlur
									stdDeviation="133.333"
									result="effect1_foregroundBlur_8077_2641"
								/>
							</filter>
						</defs>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Case Study Details End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على ترحيل مجاني لاستضافة الويب</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك الإلكتروني من شركة الاستضافة
								القديمة إلى منصتنا حتى تتمكن من التركيز على ما يهم
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
