{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "contact.html" %}
{% set breadcrumb = "Contact Us" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive = "text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner  -->
{% include "partials/banner-11.html" %}
<!-- Banner End -->

<!-- Contact Form  -->
<div class="mt-n60 position-relative z-1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="bg-body section-space-md-y px-4 px-sm-6 px-md-8 px-lg-12 px-xl-15 rounded-4"
				>
					<div class="row g-4 align-items-center justify-content-between">
						<div class="col-lg-6 col-xxl-5">
							<span class="d-block mb-2 fs-14 fw-semibold text-primary">
								تواصل معنا
							</span>
							<h4>نحن لا نستطيع الانتظار لمقابلتك</h4>
							<p class="mb-8 max-text-12">
								هل لديك أسئلة تتعلق بالخدمة أو مهتم بالتعاون مع الآخرين؟
								نحن هنا لدعمك
							</p>
							<h6 class="mb-1 fs-18 fw-medium">تعرف على خدماتنا</h6>
							<div
								class="d-flex align-items-center flex-wrap row-gap-2 column-gap-6 mb-8"
							>
								<span class="d-block"> sales@example.com </span>
								<span class="d-block"> +1 302-803-5506 </span>
							</div>
							<h6 class="mb-1 fs-18 fw-medium">
								تحدث إلى قسم العلاقات العامة لدينا
							</h6>
							<div
								class="d-flex align-items-center flex-wrap row-gap-2 column-gap-6 mb-8"
							>
								<span class="d-block"> support@example.com </span>
							</div>
							<h6 class="mb-1 fs-18 fw-medium">انضم إلى فريق بيلكينز</h6>
							<div
								class="d-flex align-items-center flex-wrap row-gap-2 column-gap-6 mb-8"
							>
								<span class="d-block"> info@example.com </span>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row g-4">
								<div class="col-md-6">
									<input
										type="text"
										class="form-control"
										placeholder="الاسم الأول"
									/>
								</div>
								<div class="col-md-6">
									<input
										type="text"
										class="form-control"
										placeholder="الاسم الأخير"
									/>
								</div>
								<div class="col-12">
									<input
										type="text"
										class="form-control"
										placeholder="المسمى الوظيفي"
									/>
								</div>
								<div class="col-md-6">
									<input
										type="number"
										class="form-control"
										placeholder="رقم الهاتف"
									/>
								</div>
								<div class="col-md-6">
									<input
										type="email"
										class="form-control"
										placeholder="البريد الإلكتروني"
									/>
								</div>
								<div class="col-12">
									<textarea
										class="form-control"
										placeholder="الرسالة"
									></textarea>
								</div>
								<div class="col-12">
									<a
										href="#"
										class="btn btn-secondary fs-14 fw-medium text-light"
									>
										إرسال الاستفسار
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Contact Form End -->

<!-- Info  -->
<div class="section-space-y">
	<div class="section-space-sm-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="mb-0">بناء للانطباع</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6 col-lg-4">
				<div class="bg-body rounded p-4 p-md-8 p-lg-4 p-xl-8 h-100">
					<div class="d-inline-block mb-6">
						<iconify-icon
							icon="fluent-mdl2:network-tower"
							class="fs-48"
						></iconify-icon>
					</div>
					<h6>استفسارات الصحافة والشراكة</h6>
					<p class="mb-0">
						ما عليك سوى إضافة صفقة تجارية عند اختيار منتج جديد. بمجرد استلام
						جهازك المؤهل والتحقق منه، سنقوم بخصم القيمة
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="bg-body rounded p-4 p-md-8 p-lg-4 p-xl-8 h-100">
					<div class="d-inline-block mb-6">
						<iconify-icon
							icon="mdi:truck-fast-outline"
							class="fs-48"
						></iconify-icon>
					</div>
					<h6>استجابة سريعة وسريعة للتسليم</h6>
					<p class="mb-0">
						ما عليك سوى إضافة صفقة تجارية عند اختيار منتج جديد. بمجرد استلام
						جهازك المؤهل والتحقق منه، سنقوم بخصم القيمة
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="bg-body rounded p-4 p-md-8 p-lg-4 p-xl-8 h-100">
					<div class="d-inline-block mb-6">
						<iconify-icon
							icon="bi:phone-vibrate"
							class="fs-48"
						></iconify-icon>
					</div>
					<h6>استفسارات الصحافة والشراكة</h6>
					<p class="mb-0">
						ما عليك سوى إضافة صفقة تجارية عند اختيار منتج جديد. بمجرد استلام
						جهازك المؤهل والتحقق منه، سنقوم بخصم القيمة
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Info End -->

<!-- Map View -->
<div class="section-space-bottom">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="position-relative z-1 rounded-3 overflow-hidden">
					<div class="map-view">
						<img
							src="{{root}}assets/img/map-img.png"
							alt="image"
							class="w-100 h-100 object-fit-cover"
						/>
					</div>
					<div
						class="map-view__info d-inline-block rounded bg-body p-4 p-md-8 max-text-9 z-1 start-6 bottom-6 shadow-lg"
					>
						<h6>وجودنا العالمي</h6>
						<p>
							وجود 5 مكاتب حول العالم يساعدنا في بناء فرق مرنة ذات خبرة
							عالية وتقديم خدمات عالية الجودة.
						</p>
						<button
							type="button"
							class="btn btn-sm btn-primary align-items-center"
						>
							<span class="d-inline-block flex-grow-1">المزيد عنا</span>
							<iconify-icon
								icon="guidance:left-arrow"
								class="align-middle fs-20 flex-shrink-0"
							></iconify-icon>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Map View End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على ترحيل مجاني لاستضافة الويب</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك الإلكتروني من شركة استضافة الويب
								القديمة إلى منصتنا حتى تتمكن من التركيز على ما يهم
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
