{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "cpanel-hosting" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-md-0" %}
{% set ltrLink = "cpanel-hosting.html" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Hero -->
<div class="hero-14">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-7 col-lg-6 col-xxl-5">
				<div
					class="d-inline-flex text-primary bg-primary bg-opacity-20 fs-14 fw-medium py-1 px-4 rounded mb-4"
				>
					خصم 30% على الشراء في الشهر الأول
				</div>
				<h1 class="h2 fw-bold mb-6 text-light">
					استضافة لوحة التحكم لإدارة المواقع الإلكترونية
				</h1>
				<ul class="list gap-3">
					<li class="d-flex gap-2 text-light">
						<iconify-icon
							icon="tdesign:lighting-circle"
							class="fs-24 flex-shrink-0"
						></iconify-icon>
						<span class="d-block"> أسرع سرعات VPS متاحة </span>
					</li>
					<li class="d-flex gap-2 text-light">
						<iconify-icon
							icon="mingcute:user-4-line"
							class="fs-24 flex-shrink-0"
						></iconify-icon>
						<span class="d-block"> خيارات VPS المدارة بالكامل </span>
					</li>
					<li class="d-flex gap-2 text-light">
						<iconify-icon
							icon="streamline-plump:customer-support-3"
							class="fs-24 flex-shrink-0"
						></iconify-icon>
						<span class="d-block"> دعم مباشر على مدار الساعة 27/7 </span>
					</li>
				</ul>
				<h5 class="mt-6 mb-10 text-light">ابتداءً من 5 دولارات شهريًا</h5>
				<a href="{{root}}sign-in-1-rtl.html" class="btn btn-primary text-light">
					ابدأ الآن
				</a>
			</div>
			<div class="col-md-5 col-lg-6 col-xxl-7 d-none d-md-block text-xl-end">
				<img
					src="{{root}}assets/img/hero-14-img-1.png"
					alt="image"
					class="img-fluid hero-11__img"
				/>
			</div>
		</div>
	</div>
	<img
		src="{{root}}assets/img/shapes/hero-14-shape-1.png"
		alt="image"
		class="img-fluid position-absolute top-0 start-0 z-n1 pointer-none d-none d-lg-block opacity-50 img-flip"
	/>
</div>
<!-- Hero End -->

<!-- Features -->
<div class="section-space-y">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="text-center max-text-5 mx-auto">
						<span class="text-primary">استضافة cPanel</span> - ميزات لوحة
						التحكم
					</h3>
					<p class="mb-0 text-center max-text-17 mx-auto">
						ستحصل على أوقات تحميل صفحات أسرع، وأدوات لمساعدتك في تنمية عملك،
						وتدابير أمان أساسية لبناء الثقة والمساعدة في حماية بيانات
						المستخدمين. بالإضافة إلى ذلك، ستحصل على راحة البال
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4 g-lg-0">
			<div class="col-sm-6 col-lg-4 card-flush card-flush--secondary">
				<img
					src="{{root}}assets/img/icon-feature-55.png"
					alt="image"
					class="img-fluid mb-4"
				/>
				<h6 class="mb-2 fs-18">إدارة سهلة الاستخدام</h6>
				<p class="mb-0">
					نحن نضمن أنك ستكون راضيًا بنسبة 100% عن خدمتنا. إذا لم تكن كذلك، يرجى
					إبلاغنا خلال 30 يومًا وسنقوم على الفور برد المبلغ.
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 card-flush card-flush--secondary">
				<img
					src="{{root}}assets/img/icon-feature-56.png"
					alt="image"
					class="img-fluid mb-4"
				/>
				<h6 class="mb-2 fs-18">التكوين التلقائي</h6>
				<p class="mb-0">
					قم بزيادة أرباحك وأتمتة عملك مجانًا باستخدام WHMCS أو برنامج الفوترة
					عميل exec.
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 card-flush card-flush--secondary">
				<img
					src="{{root}}assets/img/icon-feature-57.png"
					alt="image"
					class="img-fluid mb-4"
				/>
				<h6 class="mb-2 fs-18">وظائف البريد الإلكتروني التلقائي</h6>
				<p class="mb-0">
					على عكس استضافة المواقع المشتركة، يمكنك تزويد عملائك بإمكانية الوصول
					إلى لوحات التحكم الخاصة بهم
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 card-flush card-flush--secondary">
				<img
					src="{{root}}assets/img/icon-feature-58.png"
					alt="image"
					class="img-fluid mb-4"
				/>
				<h6 class="mb-2 fs-18">دعم العملاء الممتاز</h6>
				<p class="mb-0">
					فريقنا من الخبراء متواجد على مدار الساعة طوال أيام الأسبوع للإجابة على
					جميع أسئلتك. يمكنك أن تطمئن إلى أننا هنا لمساعدتك في أي وقت.
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 card-flush card-flush--secondary">
				<img
					src="{{root}}assets/img/icon-feature-59.png"
					alt="image"
					class="img-fluid mb-4"
				/>
				<h6 class="mb-2 fs-18">التوسع عند الحاجة</h6>
				<p class="mb-0">
					هل تحتاج إلى المزيد من موارد الحوسبة أو الحسابات؟ يمكنك ترقية حسابك في
					أي وقت. برنامج الفوترة عميل exec.
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 card-flush card-flush--secondary">
				<img
					src="{{root}}assets/img/icon-feature-60.png"
					alt="image"
					class="img-fluid mb-4"
				/>
				<h6 class="mb-2 fs-18">الفوترة الآلية المجانية</h6>
				<p class="mb-0">
					قم بزيادة أرباحك وأتمتة عملك مجانًا باستخدام WHMCS أو برنامج الفوترة
					عميل exec.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Features End -->

<!-- Pricing Plan  -->
<div class="section-space-y bg-white dark:bg-dark">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="text-center">
						بسعر معقول
						<span class="text-primary">استضافة لوحة التحكم</span> الخطط
					</h3>
					<p class="mb-0 text-center max-text-17 mx-auto">
						ستحصل على أوقات تحميل صفحات أسرع، وأدوات لمساعدتك في تنمية عملك،
						وتدابير أمان أساسية لبناء الثقة والمساعدة في حماية بيانات
						المستخدمين. بالإضافة إلى ذلك، ستحصل على راحة البال
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-3">
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div
					class="bg-dark bg-opacity-5 dark:bg-dark-subtle rounded px-4 px-md-8 py-6 py-md-10 position-relative z-1"
				>
					<h6 class="mb-2 text-center">بداية الفسفور الأبيض</h6>
					<p class="mb-6 fs-14 text-center">
						مثالي للمبتدئين الذين يبنون موقعًا واحدًا
					</p>
					<h3 class="mb-0 text-center">$2.95</h3>
					<span class="d-block mb-6 text-center fs-14"> شهريًا </span>
					<span class="d-block text-center">
						<span
							class="badge bg-secondary-subtle dark:bg-dark text-heading mb-2"
						>
							<span
								class="d-inline-block flex-shrink-0 w-2 h-2 rounded-circle bg-dark-emphasis"
							></span>
							يصل إلى <span class="text-secondary">3 شهور مجانًا</span>
						</span>
						<span class="d-block text-heading fw-bold mb-4"> احفظ 88% </span>
						<span class="d-block fs-12">
							يتم تجديد مدة قطع الخدمة لمدة عام واحد في
						</span>
						<span class="d-block fs-14 fw-bold text-heading">
							السعر العادي
						</span>
					</span>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-outline-secondary hover:bg-secondary hover:text-light fw-medium w-100 justify-content-center my-9 fs-14"
					>
						استكشف الآن
					</a>
					<h6 class="fs-18">الميزات الرئيسية</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>1</strong> موقع ووردبريس
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>10</strong> عنوان بريد إلكتروني
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>100 جيجابايت</strong> تخزين NVMe
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>FREE</strong> domain registration
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18">ميزات إضافية</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>شهادة SSL قياسية</strong>
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="mdi:cross-circle"
								class="fs-18 flex-shrink-0 lh-1 text-danger"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>ووردبريس</strong> التدريج
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18">جناح النمو</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2">
							<iconify-icon
								icon="mdi:cross-circle"
								class="fs-18 flex-shrink-0 lh-1 text-danger mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>حماية</strong> الطاقة برو
								<span class="d-block fs-12"> (مجاني طوال المدة) </span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="mdi:cross-circle"
								class="fs-18 flex-shrink-0 lh-1 text-danger mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>توصيل المحتوى</strong> مجاني
								<span class="d-block fs-12"> (مجاني طوال المدة) </span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="mdi:cross-circle"
								class="fs-18 flex-shrink-0 lh-1 text-danger mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>02 جيجابايت</strong> النسخ الاحتياطي التلقائي
								<span class="d-block fs-12"> (مجاني طوال المدة) </span>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div
					class="bg-dark bg-opacity-5 dark:bg-dark-subtle rounded px-4 px-md-8 py-6 py-md-10 position-relative z-1 border border-secondary position-relative z-1"
				>
					<h6 class="mb-2 text-center">غالي</h6>
					<p class="mb-6 fs-14 text-center">
						خطة استضافة ويب متعددة الاستخدامات تلبي احتياجات الأغلبية
					</p>
					<h3 class="mb-0 text-center">$5.99</h3>
					<span class="d-block mb-6 text-center fs-14"> شهريًا </span>
					<span class="d-block text-center">
						<span
							class="badge bg-secondary-subtle dark:bg-dark text-heading mb-2"
						>
							<span
								class="d-inline-block flex-shrink-0 w-2 h-2 rounded-circle bg-dark-emphasis"
							></span>
							يصل إلى <span class="text-secondary">3 شهور مجانية</span>
						</span>
						<span class="d-block text-heading fw-bold mb-4"> احفظ 88% </span>
						<span class="d-block fs-12">
							يتم تجديد مدة قطع الخدمة لمدة عام واحد في
						</span>
						<span class="d-block fs-14 fw-bold text-heading">
							السعر العادي
						</span>
					</span>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-secondary text-light fw-medium w-100 justify-content-center my-9 fs-14"
					>
						استكشاف الآن
					</a>
					<h6 class="fs-18 text-secondary">الميزات الرئيسية</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>غير محدود</strong> موقع إلكتروني
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>200 جيجابايت</strong> تخزين NVMe
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>غير محدود</strong> عنوان البريد الإلكتروني
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>حر</strong> تسجيل النطاق
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18 text-secondary">ميزات إضافية</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>موقع</strong> التدريج
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>جيتباك</strong> مثبت مسبقًا مجانًا
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18 text-secondary">جناح بريميوم</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>حماية</strong> الطاقة برو
								<span class="d-block fs-12"> (مجاني طوال المدة) </span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>حر</strong> شبكة توصيل المحتوى
								<span class="d-block fs-12"> (مجاني طوال المدة) </span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>05 جيجابايت</strong> النسخ الاحتياطي التلقائي
								<span class="d-block fs-12"> (مجاني طوال المدة) </span>
							</span>
						</li>
					</ul>
					<span
						class="badge bg-secondary text-light px-4 position-absolute top-2 end-2"
					>
						شائع
					</span>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div
					class="bg-dark bg-opacity-5 dark:bg-dark-subtle rounded px-4 px-md-8 py-6 py-md-10 position-relative z-1"
				>
					<h6 class="mb-2 text-center">النمو</h6>
					<p class="mb-6 fs-14 text-center">
						مثالي للمبتدئين الذين يبنون موقعًا واحدًا
					</p>
					<h3 class="mb-0 text-center">$19.99</h3>
					<span class="d-block mb-6 text-center fs-14"> شهريًا </span>
					<span class="d-block text-center">
						<span
							class="badge bg-secondary-subtle dark:bg-dark text-heading mb-2"
						>
							<span
								class="d-inline-block flex-shrink-0 w-2 h-2 rounded-circle bg-dark-emphasis"
							></span>
							يصل إلى <span class="text-secondary">3 أشهر مجانًا</span>
						</span>
						<span class="d-block text-heading fw-bold mb-4"> احفظ 88% </span>
						<span class="d-block fs-12">
							يتم تجديد مدة قطع الخدمة لمدة عام واحد في
						</span>
						<span class="d-block fs-14 fw-bold text-heading">
							السعر العادي
						</span>
					</span>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-outline-secondary hover:bg-secondary hover:text-light fw-medium w-100 justify-content-center my-9 fs-14"
					>
						اكتشف الآن
					</a>
					<h6 class="fs-18">الميزات الرئيسية</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>1</strong> موقع ووردبريس
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>10</strong> عنوان بريد إلكتروني
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>100 جيجابايت</strong> تخزين NVMe
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>مجاني</strong> تسجيل النطاق
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18">ميزات إضافية</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>معيار</strong> شهادة SSL
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>ووردبريس</strong> التدريج
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18">جناح النمو</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>حماية</strong> الطاقة برو
								<span class="d-block fs-12"> (مجاني طوال المدة) </span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>مجاني</strong> شبكة توصيل المحتوى
								<span class="d-block fs-12"> (مجاني طوال المدة) </span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>02 جيجابايت</strong> النسخ الاحتياطي التلقائي
								<span class="d-block fs-12"> (مجاني طوال المدة) </span>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div
					class="bg-dark bg-opacity-5 dark:bg-dark-subtle rounded px-4 px-md-8 py-6 py-md-10 position-relative z-1"
				>
					<h6 class="mb-2 text-center">بداية الفسفور الأبيض</h6>
					<p class="mb-6 fs-14 text-center">
						مثالي للمبتدئين الذين يبنون موقعًا واحدًا
					</p>
					<h3 class="mb-0 text-center">$24.99</h3>
					<span class="d-block mb-6 text-center fs-14"> لكل شهر </span>
					<span class="d-block text-center">
						<span
							class="badge bg-secondary-subtle dark:bg-dark text-heading mb-2"
						>
							<span
								class="d-inline-block flex-shrink-0 w-2 h-2 rounded-circle bg-dark-emphasis"
							></span>
							يصل إلى <span class="text-secondary">3 أشهر مجانًا</span>
						</span>
						<span class="d-block text-heading fw-bold mb-4"> احفظ 88% </span>
						<span class="d-block fs-12">
							يتم تجديد مدة قطع الخدمة لمدة عام واحد في
						</span>
						<span class="d-block fs-14 fw-bold text-heading">
							السعر العادي
						</span>
					</span>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-outline-secondary hover:bg-secondary hover:text-light fw-medium w-100 justify-content-center my-9 fs-14"
					>
						اكتشف الآن
					</a>
					<h6 class="fs-18">الميزات الرئيسية</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>1</strong> موقع ووردبريس
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>10</strong> عناوين بريد إلكتروني
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>100 جيجابايت</strong> تخزين NVMe
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>حر</strong> تسجيل النطاق
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18">ميزات إضافية</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>شهادة SSL قياسية</strong>
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>ووردبريس</strong> التدريج
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18">جناح النمو</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>حماية</strong> الطاقة برو
								<span class="d-block fs-12"> (مجاني طوال المدة) </span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>حر</strong> شبكة توصيل المحتوى
								<span class="d-block fs-12"> (مجاني طوال المدة) </span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>02 جيجابايت</strong> النسخ الاحتياطي التلقائي
								<span class="d-block fs-12"> (مجاني طوال المدة) </span>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Pricing Plan End -->

<!-- Testimonial  -->
<div
	class="section-space-md-y position-relative z-1 bg-secondary-emphasis dark:bg-dark-subtle"
>
	<div class="section-space-md-y">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="testimonial-9-container">
						<div class="swiper testimonial-9">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="row g-4 align-items-center">
										<div class="col-md-4 col-xxl-3">
											<img
												src="{{root}}assets/img/testimonial-img-7.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<div class="col-md-8 col-xxl-9">
											<h4 class="mb-10 text-light">
												يمكنك التأكد فورًا من جودة بياناتك، ويمكن
												للمراجعين رؤيتها أيضًا. الآن، وصلنا إلى
												المعدل الذي نؤتمت فيه مراجعات الكود، أو ما
												يقاربه، على 100 طلب سحب شهريًا.
											</h4>
											<div class="d-flex align-items-center gap-3">
												<div class="avatar avatar-lg">
													<img
														src="{{root}}assets/img/user-60-1.png"
														alt="image"
														class="avatar__img"
													/>
												</div>
												<a href="#" class="link d-block group">
													<span
														class="d-block fw-semibold text-secondary group-hover:text-primary"
													>
														بيتر باركر
													</span>
													<span
														class="d-block fs-12 text-light"
													>
														الرئيس التنفيذي لشركة الشركة
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="row g-4 align-items-center">
										<div class="col-md-4 col-xxl-3">
											<img
												src="{{root}}assets/img/testimonial-img-8.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<div class="col-md-8 col-xxl-9">
											<h4 class="mb-10 text-light">
												يمكنك التأكد فورًا من جودة بياناتك، ويمكن
												للمراجعين رؤيتها أيضًا. الآن، وصلنا إلى
												المعدل الذي نؤتمت فيه مراجعات الكود، أو ما
												يقاربه، على 100 طلب سحب شهريًا.
											</h4>
											<div class="d-flex align-items-center gap-3">
												<div class="avatar avatar-lg">
													<img
														src="{{root}}assets/img/user-60-2.png"
														alt="image"
														class="avatar__img"
													/>
												</div>
												<a href="#" class="link d-block group">
													<span
														class="d-block fw-semibold text-secondary group-hover:text-primary"
													>
														بيتر باركر
													</span>
													<span
														class="d-block fs-12 text-light"
													>
														الرئيس التنفيذي لشركة الشركة
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="row g-4 align-items-center">
										<div class="col-md-4 col-xxl-3">
											<img
												src="{{root}}assets/img/testimonial-img-9.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<div class="col-md-8 col-xxl-9">
											<h4 class="mb-10 text-light">
												يمكنك التأكد فورًا من جودة بياناتك، ويمكن
												للمراجعين رؤيتها أيضًا. الآن، وصلنا إلى
												المعدل الذي نؤتمت فيه مراجعات الكود، أو ما
												يقاربه، على 100 طلب سحب شهريًا.
											</h4>
											<div class="d-flex align-items-center gap-3">
												<div class="avatar avatar-lg">
													<img
														src="{{root}}assets/img/user-60-3.png"
														alt="image"
														class="avatar__img"
													/>
												</div>
												<a href="#" class="link d-block group">
													<span
														class="d-block fw-semibold text-secondary group-hover:text-primary"
													>
														بيتر باركر
													</span>
													<span
														class="d-block fs-12 text-light"
													>
														الرئيس التنفيذي لشركة الشركة
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="row g-4 align-items-center">
										<div class="col-md-4 col-xxl-3">
											<img
												src="{{root}}assets/img/testimonial-img-10.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<div class="col-md-8 col-xxl-9">
											<h4 class="mb-10 text-light">
												يمكنك التأكد فورًا من جودة بياناتك، ويمكن
												للمراجعين رؤيتها أيضًا. الآن، وصلنا إلى
												المعدل الذي نؤتمت فيه مراجعات الكود، أو ما
												يقاربه، على 100 طلب سحب شهريًا.
											</h4>
											<div class="d-flex align-items-center gap-3">
												<div class="avatar avatar-lg">
													<img
														src="{{root}}assets/img/user-60-4.png"
														alt="image"
														class="avatar__img"
													/>
												</div>
												<a href="#" class="link d-block group">
													<span
														class="d-block fw-semibold text-secondary group-hover:text-primary"
													>
														بيتر باركر
													</span>
													<span
														class="d-block fs-12 text-light"
													>
														الرئيس التنفيذي لشركة الشركة
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<iconify-icon
								icon="bxs:quote-right"
								class="fs-60 d-none d-xl-block position-absolute bottom-0 end-0 z-n1 text-secondary"
							></iconify-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-space-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="scroller-x blend-x">
						<ul
							class="list list-row scroller-x__list flex-wrap gap-8 justify-content-center align-items-center"
						>
							<li>
								<img
									src="{{root}}assets/img/brand-img-1-light.png"
									alt="image"
									class="img-fluid"
								/>
							</li>
							<li>
								<img
									src="{{root}}assets/img/brand-img-2-light.png"
									alt="image"
									class="img-fluid"
								/>
							</li>
							<li>
								<img
									src="{{root}}assets/img/brand-img-3-light.png"
									alt="image"
									class="img-fluid"
								/>
							</li>
							<li>
								<img
									src="{{root}}assets/img/brand-img-4-light.png"
									alt="image"
									class="img-fluid"
								/>
							</li>
							<li>
								<img
									src="{{root}}assets/img/brand-img-5-light.png"
									alt="image"
									class="img-fluid"
								/>
							</li>
							<li>
								<img
									src="{{root}}assets/img/brand-img-6-light.png"
									alt="image"
									class="img-fluid"
								/>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Testimonial End -->

<!-- CTA  -->
<div class="position-relative z-1 mt-n60">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="rounded-4 section-space-sm-y px-10 px-xxl-25 overflow-hidden bg-white dark:bg-dark-subtle shadow-lg"
				>
					<div class="row g-4 align-items-center">
						<div class="col-md-5 col-xl-6 d-none d-md-block">
							<img
								src="{{root}}assets/img/cta-img-22.png"
								alt="image"
								class="img-fluid"
							/>
						</div>
						<div class="col-md-7 col-xl-6">
							<h3>
								أسئلة حول
								<span class="text-primary">استضافة لوحة التحكم؟</span>
							</h3>
							<p class="mb-8">
								تواصل مع أحد مستشارينا الفنيين الودودين الآن. فريقنا متاح
								على مدار الساعة طوال أيام الأسبوع عبر الدردشة المباشرة
								وجاهز للإجابة على أي أسئلة قد تكون لديك.
							</p>
							<a
								href="{{root}}sign-in-1-rtl.html"
								class="btn btn-primary text-light"
							>
								ابدأ الآن
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

<!-- Features -->
<div class="section-space-y">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="text-center">
						<span class="text-primary">لوحة التحكم مشترك</span> مميزات
						الاستضافة
					</h3>
					<p class="mb-0 text-center max-text-17 mx-auto">
						ستحصل على أوقات تحميل صفحات أسرع، وأدوات لمساعدتك في تنمية عملك،
						وتدابير أمان أساسية لبناء الثقة والمساعدة في حماية بيانات
						المستخدمين. بالإضافة إلى ذلك، ستحصل على راحة البال
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6">
				<div
					class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row gap-6 bg-white dark:bg-dark p-6 p-lg-8 rounded h-100"
				>
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded-circle flex-shrink-0"
					>
						<iconify-icon
							icon="icon-park-outline:headphone-sound"
							class="fs-36 text-primary"
						></iconify-icon>
					</div>
					<div class="flex-grow-1">
						<h6 class="mb-3">دعم لمدة 365 يومًا</h6>
						<p class="mb-0">
							هل تحتاج إلى مساعدة عاجلة في الساعة الثالثة صباحًا؟ أنت لست
							وحدك. متخصصو دعم متاحون للتعامل مع ذلك.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div
					class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row gap-6 bg-white dark:bg-dark p-6 p-lg-8 rounded h-100"
				>
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded-circle flex-shrink-0"
					>
						<iconify-icon
							icon="tdesign:gesture-click"
							class="fs-36 text-primary"
						></iconify-icon>
					</div>
					<div class="flex-grow-1">
						<h6 class="mb-3">برنامج التثبيت المجاني بنقرة واحدة</h6>
						<p class="mb-0">
							هل تحتاج إلى مساعدة عاجلة في الساعة الثالثة صباحًا؟ أنت لست
							وحدك. متخصصو دعم متاحون للتعامل مع ذلك.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div
					class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row gap-6 bg-white dark:bg-dark p-6 p-lg-8 rounded h-100"
				>
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded-circle flex-shrink-0"
					>
						<iconify-icon
							icon="ph:user-circle-gear-duotone"
							class="fs-36 text-primary"
						></iconify-icon>
					</div>
					<div class="flex-grow-1">
						<h6 class="mb-3">مميزات استضافة لوحة التحكم</h6>
						<ul class="list list-disc gap-2">
							<li>مساحة قرص غير محدودة وعرض نطاق ترددي غير محدود</li>
							<li>لوحة تحكم مرنة وسهلة الاستخدام</li>
							<li>
								نطاقات فرعية غير محدودة وحسابات FTP وحسابات بريد إلكتروني
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div
					class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row gap-6 bg-white dark:bg-dark p-6 p-lg-8 rounded h-100"
				>
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded-circle flex-shrink-0"
					>
						<iconify-icon
							icon="lets-icons:server-duotone"
							class="fs-36 text-primary"
						></iconify-icon>
					</div>
					<div class="flex-grow-1">
						<h6 class="mb-3">استضافة التطبيقات</h6>
						<ul class="list list-disc gap-2">
							<li>مساحة قرص غير محدودة وعرض نطاق ترددي غير محدود</li>
							<li>لوحة تحكم مرنة وسهلة الاستخدام</li>
							<li>
								نطاقات فرعية غير محدودة وحسابات FTP وحسابات بريد إلكتروني
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div
					class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row gap-6 bg-white dark:bg-dark p-6 p-lg-8 rounded h-100"
				>
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded-circle flex-shrink-0"
					>
						<iconify-icon
							icon="lets-icons:database-duotone"
							class="fs-36 text-primary"
						></iconify-icon>
					</div>
					<div class="flex-grow-1">
						<h6 class="mb-3">مميزات قاعدة البيانات</h6>
						<ul class="list list-disc gap-2">
							<li>قواعد بيانات MySQL (حتى 1 جيجابايت)</li>
							<li>إدارة قواعد بيانات MySQL عبر phpMy Admin</li>
							<li>
								الاتصالات المتزامنة - البداية: 10، المحترفة: 20، الأعمال:
								30
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div
					class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row gap-6 bg-white dark:bg-dark p-6 p-lg-8 rounded h-100"
				>
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded-circle flex-shrink-0"
					>
						<iconify-icon
							icon="solar:programming-broken"
							class="fs-36 text-primary"
						></iconify-icon>
					</div>
					<div class="flex-grow-1">
						<h6 class="mb-3">لغات البرمجة</h6>
						<ul class="list list-disc gap-2">
							<li>اللغة: CGI، Fast CGI، PHP 4.x - 8.x، Perl،</li>
							<li>وحدات البرمجة: Curl، CPAN، مكتبة GD، ImageMagick</li>
							<li>إدارة النظام: جدولة Cron Job</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Features End -->

<!-- About -->
<div class="section-space-y bg-secondary-subtle">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 align-items-center">
				<div class="col-lg-7 col-xl-6">
					<h3 class="mb-6">ما هي استضافة لوحة التحكم؟</h3>
					<p class="mb-8">
						تشير استضافة لوحة التحكم إلى استضافة الويب التي تستخدم لوحة
						التحكم، وهو لوحة تحكم شائعة تعتمد على الويب تبسط إدارة المواقع
						والخوادم. مع لوحة التحكم، يمكن للمستخدمين بسهولة تنفيذ مهام مختلفة
					</p>
					<div class="row g-4">
						<div class="col-md-6">
							<div class="mb-6">
								<div class="d-inline-block position-relative z-1">
									<iconify-icon
										icon="mage:globe"
										class="fs-48 text-heading"
									></iconify-icon>
									<span
										class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-secondary bg-opacity-20 rounded-circle dark:bg-secondary-subtle"
									></span>
								</div>
							</div>
							<h6 class="fs-20">إدارة النطاقات</h6>
							<p class="mb-0">
								إضافة وإدارة وإعادة توجيه النطاقات والنطاقات الفرعية
							</p>
						</div>
						<div class="col-md-6">
							<div class="mb-6">
								<div class="d-inline-block position-relative z-1">
									<iconify-icon
										icon="solar:download-broken"
										class="fs-48 text-heading"
									></iconify-icon>
									<span
										class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-secondary bg-opacity-20 rounded-circle dark:bg-secondary-subtle"
									></span>
								</div>
							</div>
							<h6 class="fs-20">إدارة الملفات</h6>
							<p class="mb-0">رفع وتحرير وإدارة الملفات والمجلدات</p>
						</div>
					</div>
					<a
						href="{{root}}domain-transfer-rtl.html"
						class="btn btn-secondary-emphasis hover:text-secondary-subtle mt-12"
					>
						انتقل إلى المضيف المحلي
					</a>
				</div>
				<div class="col-lg-5 col-xl-6">
					<img
						src="{{root}}assets/img/about-img-34.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-5 col-xl-6">
				<img
					src="{{root}}assets/img/about-img-35.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-lg-7 col-xl-6">
				<h3 class="mb-6">نشر نظام التشغيل الخاص بك على خادم VPS cPanel</h3>
				<p class="mb-8">
					تشير استضافة cPanel إلى استضافة الويب التي تستخدم cPanel، وهو لوحة
					تحكم شائعة تعتمد على الويب تبسط إدارة المواقع والخوادم. مع cPanel،
					يمكن للمستخدمين بسهولة تنفيذ مهام مختلفة
				</p>
				<div class="row g-4">
					<div class="col-md-6">
						<div class="mb-6">
							<div class="d-inline-block position-relative z-1">
								<iconify-icon
									icon="mage:globe"
									class="fs-48 text-heading"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-secondary bg-opacity-20 rounded-circle dark:bg-secondary-subtle"
								></span>
							</div>
						</div>
						<h6 class="fs-20">إدارة النطاقات</h6>
						<p class="mb-0">
							إضافة وإدارة وإعادة توجيه النطاقات والنطاقات الفرعية
						</p>
					</div>
					<div class="col-md-6">
						<div class="mb-6">
							<div class="d-inline-block position-relative z-1">
								<iconify-icon
									icon="solar:download-broken"
									class="fs-48 text-heading"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-secondary bg-opacity-20 rounded-circle dark:bg-secondary-subtle"
								></span>
							</div>
						</div>
						<h6 class="fs-20">إدارة الملفات</h6>
						<p class="mb-0">رفع وتحرير وإدارة الملفات والمجلدات</p>
					</div>
				</div>
				<a
					href="{{root}}domain-transfer-rtl.html"
					class="btn btn-secondary-emphasis hover:text-secondary-subtle mt-12"
				>
					انتقل إلى المضيف المحلي
				</a>
			</div>
		</div>
	</div>
</div>
<!-- About End -->

<!-- FAQ  -->
<div class="section-space-y">
	<div class="container">
		<div class="row g-4 justify-content-between">
			<div class="col-md-5 col-xxl-4">
				<h3>الأسئلة الشائعة</h3>
				<p class="mb-8">
					الوصول إلى محرك Kubernetes المحلي من خلال لوحة التحكم المحلية المجانية
					أو مباشرة.
				</p>
				<img
					src="{{root}}assets/img/faq-img-2.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-md-7 col-xxl-6">
				<div
					class="accordion accordion-separate accordion--primary"
					id="accordion-separate-rounded"
				>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s1"
								aria-expanded="true"
							>
								هل تقوم بتحصيل رسوم مقابل الحالات المتوقفة؟
							</button>
						</h2>
						<div
							id="accordion-s1"
							class="accordion-collapse shadow collapse show"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s2"
								aria-expanded="false"
							>
								ما هو دور فولتر فيما يتعلق اللائحة العامة لحماية البيانات
							</button>
						</h2>
						<div
							id="accordion-s2"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s3"
								aria-expanded="false"
							>
								كيف سأعرف إذا تم قبولي في البرنامج؟
							</button>
						</h2>
						<div
							id="accordion-s3"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s4"
								aria-expanded="false"
							>
								ما هي قوالب نظام التشغيل التي تقدمها؟
							</button>
						</h2>
						<div
							id="accordion-s4"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s5"
								aria-expanded="false"
							>
								هل الأسعار هي نفسها في جميع مواقع مراكز البيانات؟
							</button>
						</h2>
						<div
							id="accordion-s5"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s6"
								aria-expanded="false"
							>
								ما هي طرق الدفع التي تقبلونها؟
							</button>
						</h2>
						<div
							id="accordion-s6"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FAQ End -->

<!-- CTA  -->
<div class="cta-8">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1 dark:bg-secondary-subtle"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على ترحيل مجاني لاستضافة الويب</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك من شركة استضافة الويب القديمة إلى
								منصتنا حتى تتمكن من التركيز على ما يهم
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark dark:bg-light dark:text-dark"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-6-rtl.html" %} 
{% endblock %}
