{% extends "layouts/default.html" %}
{% set dataTheme = "cpanel-hosting" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-md-0" %}
{% set rtlLink = "cpanel-hosting-rtl.html" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Hero -->
<div class="hero-14">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-7 col-lg-6 col-xxl-5">
				<div
					class="d-inline-flex text-primary bg-primary bg-opacity-20 fs-14 fw-medium py-1 px-4 rounded mb-4"
				>
					30% Discount first month purchase
				</div>
				<h1 class="h2 fw-bold mb-6 text-light">
					cPanel hosting for website management
				</h1>
				<ul class="list gap-3">
					<li class="d-flex gap-2 text-light">
						<iconify-icon
							icon="tdesign:lighting-circle"
							class="fs-24 flex-shrink-0"
						></iconify-icon>
						<span class="d-block"> The fastest VPS speeds available </span>
					</li>
					<li class="d-flex gap-2 text-light">
						<iconify-icon
							icon="mingcute:user-4-line"
							class="fs-24 flex-shrink-0"
						></iconify-icon>
						<span class="d-block"> Fully managed VPS options </span>
					</li>
					<li class="d-flex gap-2 text-light">
						<iconify-icon
							icon="streamline-plump:customer-support-3"
							class="fs-24 flex-shrink-0"
						></iconify-icon>
						<span class="d-block"> 27/7 live support </span>
					</li>
				</ul>
				<h5 class="mt-6 mb-10 text-light">Starting at $5/mo</h5>
				<a href="{{root}}sign-in-1.html" class="btn btn-primary text-light">
					Get Started Now
				</a>
			</div>
			<div class="col-md-5 col-lg-6 col-xxl-7 d-none d-md-block text-xl-end">
				<img
					src="{{root}}assets/img/hero-14-img-1.png"
					alt="image"
					class="img-fluid hero-11__img"
				/>
			</div>
		</div>
	</div>
	<img
		src="{{root}}assets/img/shapes/hero-14-shape-1.png"
		alt="image"
		class="img-fluid position-absolute top-0 start-0 z-n1 pointer-none d-none d-lg-block opacity-50"
	/>
</div>
<!-- Hero End -->

<!-- Features -->
<div class="section-space-y">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="text-center max-text-5 mx-auto">
						<span class="text-primary">cPanel Hosting</span> - Control Panel
						Features
					</h3>
					<p class="mb-0 text-center max-text-17 mx-auto">
						You get speedier page-load times, tools to help grow your
						business, and essential security measures to build trust and help
						protect user data. Plus, you get peace
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4 g-lg-0">
			<div class="col-sm-6 col-lg-4 card-flush card-flush--secondary">
				<img
					src="{{root}}assets/img/icon-feature-55.png"
					alt="image"
					class="img-fluid mb-4"
				/>
				<h6 class="mb-2 fs-18">User friendly management</h6>
				<p class="mb-0">
					We guarantee you'll be 100% satisfied with our service. If not, notify
					us within 30 days and we'll immediately refund.
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 card-flush card-flush--secondary">
				<img
					src="{{root}}assets/img/icon-feature-56.png"
					alt="image"
					class="img-fluid mb-4"
				/>
				<h6 class="mb-2 fs-18">Auto configuration</h6>
				<p class="mb-0">
					Enhance your profits and automate your business for free with WHMCS or
					Clientexec billing software.
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 card-flush card-flush--secondary">
				<img
					src="{{root}}assets/img/icon-feature-57.png"
					alt="image"
					class="img-fluid mb-4"
				/>
				<h6 class="mb-2 fs-18">Automatic email functions</h6>
				<p class="mb-0">
					Unlike shared hosting, you can provide your clients with their own
					login access to their branded control panels
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 card-flush card-flush--secondary">
				<img
					src="{{root}}assets/img/icon-feature-58.png"
					alt="image"
					class="img-fluid mb-4"
				/>
				<h6 class="mb-2 fs-18">Excellent Customer Support</h6>
				<p class="mb-0">
					Our team of experts are standing by 24/7 to answer all your questions.
					You can rest easy knowing
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 card-flush card-flush--secondary">
				<img
					src="{{root}}assets/img/icon-feature-59.png"
					alt="image"
					class="img-fluid mb-4"
				/>
				<h6 class="mb-2 fs-18">Scales When You Need It</h6>
				<p class="mb-0">
					Need more computing resources or accounts? You can upgrade your
					account at any time. Clientexec billing software.
				</p>
			</div>
			<div class="col-sm-6 col-lg-4 card-flush card-flush--secondary">
				<img
					src="{{root}}assets/img/icon-feature-60.png"
					alt="image"
					class="img-fluid mb-4"
				/>
				<h6 class="mb-2 fs-18">Free Automated Billing</h6>
				<p class="mb-0">
					Enhance your profits and automate your business for free with WHMCS or
					Clientexec billing software.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Features End -->

<!-- Pricing Plan  -->
<div class="section-space-y bg-white dark:bg-dark">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="text-center">
						Affordable <span class="text-primary">cPanel Hosting</span> Plans
					</h3>
					<p class="mb-0 text-center max-text-17 mx-auto">
						You get speedier page-load times, tools to help grow your
						business, and essential security measures to build trust and help
						protect user data. Plus, you get peace
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-3">
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div
					class="bg-dark bg-opacity-5 dark:bg-dark-subtle rounded px-4 px-md-8 py-6 py-md-10 position-relative z-1"
				>
					<h6 class="mb-2 text-center">WP Start</h6>
					<p class="mb-6 fs-14 text-center">
						Ideal for beginners building a single website
					</p>
					<h3 class="mb-0 text-center">$2.95</h3>
					<span class="d-block mb-6 text-center fs-14"> Per month </span>
					<span class="d-block text-center">
						<span
							class="badge bg-secondary-subtle dark:bg-dark text-heading mb-2"
						>
							<span
								class="d-inline-block flex-shrink-0 w-2 h-2 rounded-circle bg-dark-emphasis"
							></span>
							UP TO <span class="text-secondary">3 MONTHS FREE</span>
						</span>
						<span class="d-block text-heading fw-bold mb-4"> Save 88% </span>
						<span class="d-block fs-12">
							1-year disconnect term renew at
						</span>
						<span class="d-block fs-14 fw-bold text-heading">
							Regular rate
						</span>
					</span>
					<a
						href="{{root}}cart.html"
						class="btn btn-outline-secondary hover:bg-secondary hover:text-light fw-medium w-100 justify-content-center my-9 fs-14"
					>
						Explore Now
					</a>
					<h6 class="fs-18">Top Features</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>1</strong> WordPress website
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>10 email</strong> addresses
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>100GB</strong> NVMe storage
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>FREE</strong> domain registration
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18">Additional Features</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Standard</strong> SSL Certificate
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="mdi:cross-circle"
								class="fs-18 flex-shrink-0 lh-1 text-danger"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>WordPress</strong> Staging
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18">Growth Suite</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2">
							<iconify-icon
								icon="mdi:cross-circle"
								class="fs-18 flex-shrink-0 lh-1 text-danger mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Protection</strong> power Pro
								<span class="d-block fs-12">
									(Free for the full Duration)
								</span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="mdi:cross-circle"
								class="fs-18 flex-shrink-0 lh-1 text-danger mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Free</strong> Content Delivery Net
								<span class="d-block fs-12">
									(Free for the full Duration)
								</span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="mdi:cross-circle"
								class="fs-18 flex-shrink-0 lh-1 text-danger mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>02GB</strong> Auto Backup
								<span class="d-block fs-12">
									(Free for the full Duration)
								</span>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div
					class="bg-dark bg-opacity-5 dark:bg-dark-subtle rounded px-4 px-md-8 py-6 py-md-10 position-relative z-1 border border-secondary position-relative z-1"
				>
					<h6 class="mb-2 text-center">Premium</h6>
					<p class="mb-6 fs-14 text-center">
						A versatile Web Hosting plan catering to the majority
					</p>
					<h3 class="mb-0 text-center">$5.99</h3>
					<span class="d-block mb-6 text-center fs-14"> Per month </span>
					<span class="d-block text-center">
						<span
							class="badge bg-secondary-subtle dark:bg-dark text-heading mb-2"
						>
							<span
								class="d-inline-block flex-shrink-0 w-2 h-2 rounded-circle bg-dark-emphasis"
							></span>
							UP TO <span class="text-secondary">3 MONTHS FREE</span>
						</span>
						<span class="d-block text-heading fw-bold mb-4"> Save 88% </span>
						<span class="d-block fs-12">
							1-year disconnect term renew at
						</span>
						<span class="d-block fs-14 fw-bold text-heading">
							Regular rate
						</span>
					</span>
					<a
						href="{{root}}cart.html"
						class="btn btn-secondary text-light fw-medium w-100 justify-content-center my-9 fs-14"
					>
						Explore Now
					</a>
					<h6 class="fs-18 text-secondary">Top Features</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Unlimited</strong> website
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>200GB</strong> NVMe storage
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Unlimited</strong> email address
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>FREE</strong> domain registration
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18 text-secondary">Additional Features</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Staging</strong> Website
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Jetpack</strong> free pre-installed
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18 text-secondary">Premium Suite</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Protection</strong> power Pro
								<span class="d-block fs-12">
									(Free for the full Duration)
								</span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Free</strong> Content Delivery Net
								<span class="d-block fs-12">
									(Free for the full Duration)
								</span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>05GB</strong> Auto Backup
								<span class="d-block fs-12">
									(Free for the full Duration)
								</span>
							</span>
						</li>
					</ul>
					<span
						class="badge bg-secondary text-light px-4 position-absolute top-2 end-2"
					>
						Popular
					</span>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div
					class="bg-dark bg-opacity-5 dark:bg-dark-subtle rounded px-4 px-md-8 py-6 py-md-10 position-relative z-1"
				>
					<h6 class="mb-2 text-center">Growth</h6>
					<p class="mb-6 fs-14 text-center">
						Ideal for beginners building a single website
					</p>
					<h3 class="mb-0 text-center">$19.99</h3>
					<span class="d-block mb-6 text-center fs-14"> Per month </span>
					<span class="d-block text-center">
						<span
							class="badge bg-secondary-subtle dark:bg-dark text-heading mb-2"
						>
							<span
								class="d-inline-block flex-shrink-0 w-2 h-2 rounded-circle bg-dark-emphasis"
							></span>
							UP TO <span class="text-secondary">3 MONTHS FREE</span>
						</span>
						<span class="d-block text-heading fw-bold mb-4"> Save 88% </span>
						<span class="d-block fs-12">
							1-year disconnect term renew at
						</span>
						<span class="d-block fs-14 fw-bold text-heading">
							Regular rate
						</span>
					</span>
					<a
						href="{{root}}cart.html"
						class="btn btn-outline-secondary hover:bg-secondary hover:text-light fw-medium w-100 justify-content-center my-9 fs-14"
					>
						Explore Now
					</a>
					<h6 class="fs-18">Top Features</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>1</strong> WordPress website
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>10 email</strong> addresses
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>100GB</strong> NVMe storage
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>FREE</strong> domain registration
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18">Additional Features</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Standard</strong> SSL Certificate
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>WordPress</strong> Staging
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18">Growth Suite</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Protection</strong> power Pro
								<span class="d-block fs-12">
									(Free for the full Duration)
								</span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Free</strong> Content Delivery Net
								<span class="d-block fs-12">
									(Free for the full Duration)
								</span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>02GB</strong> Auto Backup
								<span class="d-block fs-12">
									(Free for the full Duration)
								</span>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div
					class="bg-dark bg-opacity-5 dark:bg-dark-subtle rounded px-4 px-md-8 py-6 py-md-10 position-relative z-1"
				>
					<h6 class="mb-2 text-center">WP Start</h6>
					<p class="mb-6 fs-14 text-center">
						Ideal for beginners building a single website
					</p>
					<h3 class="mb-0 text-center">$24.99</h3>
					<span class="d-block mb-6 text-center fs-14"> Per month </span>
					<span class="d-block text-center">
						<span
							class="badge bg-secondary-subtle dark:bg-dark text-heading mb-2"
						>
							<span
								class="d-inline-block flex-shrink-0 w-2 h-2 rounded-circle bg-dark-emphasis"
							></span>
							UP TO <span class="text-secondary">3 MONTHS FREE</span>
						</span>
						<span class="d-block text-heading fw-bold mb-4"> Save 88% </span>
						<span class="d-block fs-12">
							1-year disconnect term renew at
						</span>
						<span class="d-block fs-14 fw-bold text-heading">
							Regular rate
						</span>
					</span>
					<a
						href="{{root}}cart.html"
						class="btn btn-outline-secondary hover:bg-secondary hover:text-light fw-medium w-100 justify-content-center my-9 fs-14"
					>
						Explore Now
					</a>
					<h6 class="fs-18">Top Features</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>1</strong> WordPress website
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>10 email</strong> addresses
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>100GB</strong> NVMe storage
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>FREE</strong> domain registration
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18">Additional Features</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Standard</strong> SSL Certificate
							</span>
						</li>
						<li class="d-flex gap-2 align-items-center">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>WordPress</strong> Staging
							</span>
						</li>
					</ul>
					<h6 class="mt-8 fs-18">Growth Suite</h6>
					<ul class="list gap-2">
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Protection</strong> power Pro
								<span class="d-block fs-12">
									(Free for the full Duration)
								</span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>Free</strong> Content Delivery Net
								<span class="d-block fs-12">
									(Free for the full Duration)
								</span>
							</span>
						</li>
						<li class="d-flex gap-2">
							<iconify-icon
								icon="icon-park-solid:check-one"
								class="fs-18 flex-shrink-0 lh-1 text-light-emphasis mt-1"
							></iconify-icon>
							<span class="d-block text-heading fs-14">
								<strong>02GB</strong> Auto Backup
								<span class="d-block fs-12">
									(Free for the full Duration)
								</span>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Pricing Plan End -->

<!-- Testimonial  -->
<div
	class="section-space-md-y position-relative z-1 bg-secondary-emphasis dark:bg-dark-subtle"
>
	<div class="section-space-md-y">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="testimonial-9-container">
						<div class="swiper testimonial-9">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="row g-4 align-items-center">
										<div class="col-md-4 col-xxl-3">
											<img
												src="{{root}}assets/img/testimonial-img-7.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<div class="col-md-8 col-xxl-9">
											<h4 class="mb-10 text-light">
												"You can see right off the bat whether
												your data quality is what you were
												expecting, and reviewers can see it, too.
												Now we're at the rate where we're
												automating code reviews, or close to it,
												on 100 pull requests per month."
											</h4>
											<div class="d-flex align-items-center gap-3">
												<div class="avatar avatar-lg">
													<img
														src="{{root}}assets/img/user-60-1.png"
														alt="image"
														class="avatar__img"
													/>
												</div>
												<a href="#" class="link d-block group">
													<span
														class="d-block fw-semibold text-secondary group-hover:text-primary"
													>
														Peter Parker
													</span>
													<span
														class="d-block fs-12 text-light"
													>
														CEO, Company Inc
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="row g-4 align-items-center">
										<div class="col-md-4 col-xxl-3">
											<img
												src="{{root}}assets/img/testimonial-img-8.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<div class="col-md-8 col-xxl-9">
											<h4 class="mb-10 text-light">
												"You can see right off the bat whether
												your data quality is what you were
												expecting, and reviewers can see it, too.
												Now we're at the rate where we're
												automating code reviews, or close to it,
												on 100 pull requests per month."
											</h4>
											<div class="d-flex align-items-center gap-3">
												<div class="avatar avatar-lg">
													<img
														src="{{root}}assets/img/user-60-2.png"
														alt="image"
														class="avatar__img"
													/>
												</div>
												<a href="#" class="link d-block group">
													<span
														class="d-block fw-semibold text-secondary group-hover:text-primary"
													>
														Peter Parker
													</span>
													<span
														class="d-block fs-12 text-light"
													>
														CEO, Company Inc
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="row g-4 align-items-center">
										<div class="col-md-4 col-xxl-3">
											<img
												src="{{root}}assets/img/testimonial-img-9.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<div class="col-md-8 col-xxl-9">
											<h4 class="mb-10 text-light">
												"You can see right off the bat whether
												your data quality is what you were
												expecting, and reviewers can see it, too.
												Now we're at the rate where we're
												automating code reviews, or close to it,
												on 100 pull requests per month."
											</h4>
											<div class="d-flex align-items-center gap-3">
												<div class="avatar avatar-lg">
													<img
														src="{{root}}assets/img/user-60-3.png"
														alt="image"
														class="avatar__img"
													/>
												</div>
												<a href="#" class="link d-block group">
													<span
														class="d-block fw-semibold text-secondary group-hover:text-primary"
													>
														Peter Parker
													</span>
													<span
														class="d-block fs-12 text-light"
													>
														CEO, Company Inc
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="row g-4 align-items-center">
										<div class="col-md-4 col-xxl-3">
											<img
												src="{{root}}assets/img/testimonial-img-10.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<div class="col-md-8 col-xxl-9">
											<h4 class="mb-10 text-light">
												"You can see right off the bat whether
												your data quality is what you were
												expecting, and reviewers can see it, too.
												Now we're at the rate where we're
												automating code reviews, or close to it,
												on 100 pull requests per month."
											</h4>
											<div class="d-flex align-items-center gap-3">
												<div class="avatar avatar-lg">
													<img
														src="{{root}}assets/img/user-60-4.png"
														alt="image"
														class="avatar__img"
													/>
												</div>
												<a href="#" class="link d-block group">
													<span
														class="d-block fw-semibold text-secondary group-hover:text-primary"
													>
														Peter Parker
													</span>
													<span
														class="d-block fs-12 text-light"
													>
														CEO, Company Inc
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<iconify-icon
								icon="bxs:quote-right"
								class="fs-60 d-none d-xl-block position-absolute bottom-0 end-0 z-n1 text-secondary"
							></iconify-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-space-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="scroller-x blend-x">
						<ul
							class="list list-row scroller-x__list flex-wrap gap-8 justify-content-center align-items-center"
						>
							<li>
								<img
									src="{{root}}assets/img/brand-img-1-light.png"
									alt="image"
									class="img-fluid"
								/>
							</li>
							<li>
								<img
									src="{{root}}assets/img/brand-img-2-light.png"
									alt="image"
									class="img-fluid"
								/>
							</li>
							<li>
								<img
									src="{{root}}assets/img/brand-img-3-light.png"
									alt="image"
									class="img-fluid"
								/>
							</li>
							<li>
								<img
									src="{{root}}assets/img/brand-img-4-light.png"
									alt="image"
									class="img-fluid"
								/>
							</li>
							<li>
								<img
									src="{{root}}assets/img/brand-img-5-light.png"
									alt="image"
									class="img-fluid"
								/>
							</li>
							<li>
								<img
									src="{{root}}assets/img/brand-img-6-light.png"
									alt="image"
									class="img-fluid"
								/>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Testimonial End -->

<!-- CTA  -->
<div class="position-relative z-1 mt-n60">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="rounded-4 section-space-sm-y px-10 px-xxl-25 overflow-hidden bg-white dark:bg-dark-subtle shadow-lg"
				>
					<div class="row g-4 align-items-center">
						<div class="col-md-5 col-xl-6 d-none d-md-block">
							<img
								src="{{root}}assets/img/cta-img-22.png"
								alt="image"
								class="img-fluid"
							/>
						</div>
						<div class="col-md-7 col-xl-6">
							<h3>
								Questions about
								<span class="text-primary">cPanel Hosting?</span>
							</h3>
							<p class="mb-8">
								Contact one of our friendly technical advisors now. Our
								team is available 24x7 via live chat and is ready to
								answer any questions you may have.
							</p>
							<a
								href="{{root}}sign-in-1.html"
								class="btn btn-primary text-light"
							>
								Get Started Now
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

<!-- Features -->
<div class="section-space-y">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="text-center">
						<span class="text-primary">cPanel Shared</span> Hosting Features
					</h3>
					<p class="mb-0 text-center max-text-17 mx-auto">
						You get speedier page-load times, tools to help grow your
						business, and essential security measures to build trust and help
						protect user data. Plus, you get peace
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6">
				<div
					class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row gap-6 bg-white dark:bg-dark p-6 p-lg-8 rounded h-100"
				>
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded-circle flex-shrink-0"
					>
						<iconify-icon
							icon="icon-park-outline:headphone-sound"
							class="fs-36 text-primary"
						></iconify-icon>
					</div>
					<div class="flex-grow-1">
						<h6 class="mb-3">365 Days Support</h6>
						<p class="mb-0">
							Need urgent help at 3 o'clock in the morning? You're not on
							your own.Square Brothers Support specialists are available to
							handle.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div
					class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row gap-6 bg-white dark:bg-dark p-6 p-lg-8 rounded h-100"
				>
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded-circle flex-shrink-0"
					>
						<iconify-icon
							icon="tdesign:gesture-click"
							class="fs-36 text-primary"
						></iconify-icon>
					</div>
					<div class="flex-grow-1">
						<h6 class="mb-3">Free 1 Click Installer</h6>
						<p class="mb-0">
							Need urgent help at 3 o'clock in the morning? You're not on
							your own.Square Brothers Support specialists are available to
							handle.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div
					class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row gap-6 bg-white dark:bg-dark p-6 p-lg-8 rounded h-100"
				>
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded-circle flex-shrink-0"
					>
						<iconify-icon
							icon="ph:user-circle-gear-duotone"
							class="fs-36 text-primary"
						></iconify-icon>
					</div>
					<div class="flex-grow-1">
						<h6 class="mb-3">cPanel Hosting Features</h6>
						<ul class="list list-disc gap-2">
							<li>Unlimited Disk Space and Bandwidth</li>
							<li>Flexible, Easy to Use Control Panel</li>
							<li>
								Unlimited Sub Domains, FTP Accounts, and Email Accounts
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div
					class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row gap-6 bg-white dark:bg-dark p-6 p-lg-8 rounded h-100"
				>
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded-circle flex-shrink-0"
					>
						<iconify-icon
							icon="lets-icons:server-duotone"
							class="fs-36 text-primary"
						></iconify-icon>
					</div>
					<div class="flex-grow-1">
						<h6 class="mb-3">Application Hosting</h6>
						<ul class="list list-disc gap-2">
							<li>Unlimited Disk Space and Bandwidth</li>
							<li>Flexible, Easy to Use Control Panel</li>
							<li>
								Unlimited Sub Domains, FTP Accounts, and Email Accounts
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div
					class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row gap-6 bg-white dark:bg-dark p-6 p-lg-8 rounded h-100"
				>
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded-circle flex-shrink-0"
					>
						<iconify-icon
							icon="lets-icons:database-duotone"
							class="fs-36 text-primary"
						></iconify-icon>
					</div>
					<div class="flex-grow-1">
						<h6 class="mb-3">Database Features</h6>
						<ul class="list list-disc gap-2">
							<li>MySQL Databases(upto 1GB)</li>
							<li>Manage MySQL Databases via phpMy Admin</li>
							<li>
								Concurrent Connections- Starter:10, Pro:20, Business:30
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div
					class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row gap-6 bg-white dark:bg-dark p-6 p-lg-8 rounded h-100"
				>
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded-circle flex-shrink-0"
					>
						<iconify-icon
							icon="solar:programming-broken"
							class="fs-36 text-primary"
						></iconify-icon>
					</div>
					<div class="flex-grow-1">
						<h6 class="mb-3">Programming Language</h6>
						<ul class="list list-disc gap-2">
							<li>Language: CGI, Fast CGI, PHP 4.x - 8.x, Perl,</li>
							<li>
								Programming Modules: Curl, CPAN, GD Library, ImageMagick
							</li>
							<li>System Management: Cron Job Scheduling</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Features End -->

<!-- About -->
<div class="section-space-y bg-secondary-subtle">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 align-items-center">
				<div class="col-lg-7 col-xl-6">
					<h3 class="mb-6">What is cPanel hosting?</h3>
					<p class="mb-8">
						cPanel hosting refers to web hosting that utilizes cPanel, a
						popular web-based control panel that simplifies the management of
						websites and servers. With cPanel, users can easily perform
						various tasks
					</p>
					<div class="row g-4">
						<div class="col-md-6">
							<div class="mb-6">
								<div class="d-inline-block position-relative z-1">
									<iconify-icon
										icon="mage:globe"
										class="fs-48 text-heading"
									></iconify-icon>
									<span
										class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-secondary bg-opacity-20 rounded-circle dark:bg-secondary-subtle"
									></span>
								</div>
							</div>
							<h6 class="fs-20">Domain Management</h6>
							<p class="mb-0">
								Add, manage, and redirect domains and subdomains
							</p>
						</div>
						<div class="col-md-6">
							<div class="mb-6">
								<div class="d-inline-block position-relative z-1">
									<iconify-icon
										icon="solar:download-broken"
										class="fs-48 text-heading"
									></iconify-icon>
									<span
										class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-secondary bg-opacity-20 rounded-circle dark:bg-secondary-subtle"
									></span>
								</div>
							</div>
							<h6 class="fs-20">File Management</h6>
							<p class="mb-0">
								Upload, edit, and manage files and directories
							</p>
						</div>
					</div>
					<a
						href="{{root}}domain-transfer.html"
						class="btn btn-secondary-emphasis hover:text-secondary-subtle mt-12"
					>
						Move to Localhost
					</a>
				</div>
				<div class="col-lg-5 col-xl-6">
					<img
						src="{{root}}assets/img/about-img-34.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-5 col-xl-6">
				<img
					src="{{root}}assets/img/about-img-35.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-lg-7 col-xl-6">
				<h3 class="mb-6">Deploy Your OS on cPanel VPS Server</h3>
				<p class="mb-8">
					cPanel hosting refers to web hosting that utilizes cPanel, a popular
					web-based control panel that simplifies the management of websites and
					servers. With cPanel, users can easily perform various tasks
				</p>
				<div class="row g-4">
					<div class="col-md-6">
						<div class="mb-6">
							<div class="d-inline-block position-relative z-1">
								<iconify-icon
									icon="mage:globe"
									class="fs-48 text-heading"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-secondary bg-opacity-20 rounded-circle dark:bg-secondary-subtle"
								></span>
							</div>
						</div>
						<h6 class="fs-20">Domain Management</h6>
						<p class="mb-0">
							Add, manage, and redirect domains and subdomains
						</p>
					</div>
					<div class="col-md-6">
						<div class="mb-6">
							<div class="d-inline-block position-relative z-1">
								<iconify-icon
									icon="solar:download-broken"
									class="fs-48 text-heading"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-secondary bg-opacity-20 rounded-circle dark:bg-secondary-subtle"
								></span>
							</div>
						</div>
						<h6 class="fs-20">File Management</h6>
						<p class="mb-0">Upload, edit, and manage files and directories</p>
					</div>
				</div>
				<a
					href="{{root}}domain-transfer.html"
					class="btn btn-secondary-emphasis hover:text-secondary-subtle mt-12"
				>
					Move to Localhost
				</a>
			</div>
		</div>
	</div>
</div>
<!-- About End -->

<!-- FAQ  -->
<div class="section-space-y">
	<div class="container">
		<div class="row g-4 justify-content-between">
			<div class="col-md-5 col-xxl-4">
				<h3>Frequently Asked Questions</h3>
				<p class="mb-8">
					Access Localhost Kubernetes Engine through the free Localhost control
					plane, or directly.
				</p>
				<img
					src="{{root}}assets/img/faq-img-2.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-md-7 col-xxl-6">
				<div
					class="accordion accordion-separate accordion--primary"
					id="accordion-separate-rounded"
				>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s1"
								aria-expanded="true"
							>
								Do you charge for stopped instances?
							</button>
						</h2>
						<div
							id="accordion-s1"
							class="accordion-collapse shadow collapse show"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s2"
								aria-expanded="false"
							>
								What is Vultr's role with respect to GDPR?
							</button>
						</h2>
						<div
							id="accordion-s2"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s3"
								aria-expanded="false"
							>
								How will I know if I was admitted into the program?
							</button>
						</h2>
						<div
							id="accordion-s3"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s4"
								aria-expanded="false"
							>
								What operating system templates do you offer?
							</button>
						</h2>
						<div
							id="accordion-s4"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s5"
								aria-expanded="false"
							>
								Is pricing the same in all data center locations?
							</button>
						</h2>
						<div
							id="accordion-s5"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s6"
								aria-expanded="false"
							>
								What payment methods do you accept?
							</button>
						</h2>
						<div
							id="accordion-s6"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FAQ End -->

<!-- CTA  -->
<div class="cta-8">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1 dark:bg-secondary-subtle"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a
									href="{{root}}contact.html"
									class="btn btn-dark dark:bg-light dark:text-dark"
								>
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-6.html" %} 
{% endblock %}
