{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "data-center.html" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Hero -->
<div class="hero-15">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-7 col-lg-6 col-xl-7 col-xxl-6">
				<h1 class="h2 mb-6 fw-bold text-light">موقع خادم مراكز البيانات لدينا</h1>
				<p class="mb-8 text-light">
					100,000+ خادم يدعم العملاء في جميع أنحاء العالم
				</p>
				<a
					href="{{root}}sign-in-1-rtl.html"
					class="btn btn-secondary text-light fw-medium"
				>
					ابدأ الآن
				</a>
			</div>
			<div class="col-md-5 col-lg-6 col-xl-5 col-xxl-6">
				<img
					src="{{root}}assets/img/hero-img-5.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
		</div>
	</div>

	<img
		src="{{root}}assets/img/shapes/hero-7-shape-1.png"
		alt="image"
		class="img-fluid hero-7__shape-1"
	/>
</div>
<!-- Hero End -->

<!-- About -->
<div class="section-space-top section-space-md-bottom">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-6 d-none d-lg-block">
				<img
					src="{{root}}assets/img/about-img-43.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-lg-6">
				<h3>مرافق استضافة مراكز البيانات في ميشيغان</h3>
				<p class="mb-8">
					فريقنا المدرب تدريباً عالياً متواجد في الموقع على مدار الساعة طوال
					أيام الأسبوع. يستفيد عملاؤنا الأكثر خبرة من مراكز البيانات الخاصة بنا
					في ميشيغان وأريزونا لتوفير تكرار جغرافي عبر الولايات المتحدة.
				</p>
				<h6 class="fs-20">التفاصيل:</h6>
				<div class="row g-4">
					<div class="col-sm-6">
						<ul class="list gap-2">
							<li class="d-flex gap-2">
								<iconify-icon
									icon="icon-park-outline:check-one"
									class="mt-1 text-heading flex-shrink-0"
								></iconify-icon>
								<span class="d-block">
									<span class="text-heading fw-semibold"> موقع: </span>
									لانسينغ، ميشيغان
								</span>
							</li>
							<li class="d-flex gap-2">
								<iconify-icon
									icon="icon-park-outline:check-one"
									class="mt-1 text-heading flex-shrink-0"
								></iconify-icon>
								<span class="d-block">
									<span class="text-heading fw-semibold">
										مقدمي الخدمة:
									</span>
									المستوى 3، فيريزون
								</span>
							</li>
							<li class="d-flex gap-2">
								<iconify-icon
									icon="icon-park-outline:check-one"
									class="mt-1 text-heading flex-shrink-0"
								></iconify-icon>
								<span class="d-block">
									<span class="text-heading fw-semibold">
										المناطق:
									</span>
									2
								</span>
							</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="list gap-2">
							<li class="d-flex gap-2">
								<iconify-icon
									icon="icon-park-outline:check-one"
									class="mt-1 text-heading flex-shrink-0"
								></iconify-icon>
								<span class="d-block">
									<span class="text-heading fw-semibold">
										مراكز البيانات:
									</span>
									2
								</span>
							</li>
							<li class="d-flex gap-2">
								<iconify-icon
									icon="icon-park-outline:check-one"
									class="mt-1 text-heading flex-shrink-0"
								></iconify-icon>
								<span class="d-block">
									<span class="text-heading fw-semibold"> تأسست: </span>
									1997
								</span>
							</li>
							<li class="d-flex gap-2">
								<iconify-icon
									icon="icon-park-outline:check-one"
									class="mt-1 text-heading flex-shrink-0"
								></iconify-icon>
								<span class="d-block">
									<span class="text-heading fw-semibold">
										المكاتب:
									</span>
									3
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- About End -->

<!-- Data Centers -->
<div class="section-space-md-y">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12">
					<h3 class="mb-0 text-center">مراكز البيانات في ميشيغان</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4 g-md-3 g-lg-4">
			<div class="col-sm-6 col-md-4">
				<div class="p-4 p-xl-6 bg-white rounded-3">
					<img
						src="{{root}}assets/img/data-center-img-1.png"
						alt="image"
						class="img-fluid mb-6"
					/>
					<h6 class="mb-3 fs-20">مركز بيانات لانسينغ - A</h6>
					<ul class="list list-disc">
						<li>الحجم: 32,000 قدم مربع</li>
						<li>السعة: 8,000 خادم</li>
						<li>متوافق مع SSAE-18</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="p-4 p-xl-6 bg-white rounded-3">
					<img
						src="{{root}}assets/img/data-center-img-2.png"
						alt="image"
						class="img-fluid mb-6"
					/>
					<h6 class="mb-3 fs-20">مركز بيانات لانسينغ - B</h6>
					<ul class="list list-disc">
						<li>الحجم: 90,000 قدم مربع</li>
						<li>السعة: 8,000 خادم</li>
						<li>متوافق مع SSAE-18</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="p-4 p-xl-6 bg-white rounded-3">
					<img
						src="{{root}}assets/img/data-center-img-3.png"
						alt="image"
						class="img-fluid mb-6"
					/>
					<h6 class="mb-3 fs-20">مركز بيانات لانسينغ - C</h6>
					<ul class="list list-disc">
						<li>الحجم: 32,000 قدم مربع</li>
						<li>السعة: 8,000 خادم</li>
						<li>متوافق مع SSAE-18</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Data Centers End -->

<!-- Data Center Features  -->
<div class="section-space-md-y">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-6">
				<div class="ps-xxl-12">
					<h3>نظام إمداد الطاقة</h3>
					<p class="mb-8">
						تشير إمدادات الطاقة الاحتياطية إلى نظام مصمم لضمان توفر الطاقة
						بشكل مستمر حتى في حالة حدوث فشل في مصدر الطاقة الرئيسي.
					</p>
					<div class="row g-4">
						<div class="col-sm-6">
							<iconify-icon
								icon="streamline-plump:graphic-template-website-ui"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">مولدات احتياطية</h6>
							<p class="mb-0">
								تعمل تلقائيًا أثناء انقطاع التيار الكهربائي. توفر الطاقة
								على المدى الطويل حتى يتم استعادة المصدر الرئيسي.
							</p>
						</div>
						<div class="col-sm-6">
							<iconify-icon
								icon="hugeicons:dashboard-speed-01"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">(UPS) إمدادات الطاقة</h6>
							<p class="mb-0">
								تقدم طاقة فورية وقصيرة المدى باستخدام البطاريات لسد
								الفجوات بين الانقطاعات والمولدات.
							</p>
						</div>
						<div class="col-sm-6">
							<iconify-icon
								icon="hugeicons:invoice-03"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">مصادر الطاقة المتعددة</h6>
							<p class="mb-0">
								الطاقة المستمدة من شبكات أو دوائر مستقلة متعددة. تقلل من
								خطر الفشل في نقطة واحدة.
							</p>
						</div>
						<div class="col-sm-6">
							<iconify-icon
								icon="solar:box-outline"
								class="fs-40 mb-4 text-primary-emphasis"
							></iconify-icon>
							<h6 class="fs-20 mb-3">آلية التبديل التلقائي</h6>
							<p class="mb-0">
								تتحول تلقائيًا إلى مصدر احتياطي إذا فشل المصدر الرئيسي.
								تضمن التشغيل السلس.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="d-none d-lg-block col-lg-6">
				<img
					src="{{root}}assets/img/data-center-img-4.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
		</div>
	</div>
</div>
<!-- Data Center Features End -->

<!-- FAQ -->
<div class="section-space-md-top section-space-bottom">
	<div class="section-space-md-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12">
					<h3 class="mb-0">الأسئلة الشائعة</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-xl-9">
				<div
					class="accordion accordion--primary accordion-separate-body"
					id="accordion-separate-rounded"
				>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s1"
								aria-expanded="true"
							>
								هل تفرضون رسومًا على الحالات المتوقفة؟
							</button>
						</h2>
						<div
							id="accordion-s1"
							class="accordion-collapse shadow collapse show"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s2"
								aria-expanded="false"
							>
								ما هو دور Vultr فيما يتعلق بـ GDPR؟
							</button>
						</h2>
						<div
							id="accordion-s2"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s3"
								aria-expanded="false"
							>
								كيف سأعرف إذا تم قبولي في البرنامج؟
							</button>
						</h2>
						<div
							id="accordion-s3"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s4"
								aria-expanded="false"
							>
								ما هي قوالب نظام التشغيل التي تقدمها؟
							</button>
						</h2>
						<div
							id="accordion-s4"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s5"
								aria-expanded="false"
							>
								هل الأسعار هي نفسها في جميع مواقع مراكز البيانات؟
							</button>
						</h2>
						<div
							id="accordion-s5"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s6"
								aria-expanded="false"
							>
								ما هي طرق الدفع التي تقبلونها؟
							</button>
						</h2>
						<div
							id="accordion-s6"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FAQ end -->

<!-- CAT -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على نقل استضافة الويب مجانًا</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنقوم بالعناية بعملية نقل موقعك من شركة استضافة الويب
								القديمة إلى منصتنا حتى تتمكن من التركيز على ما يهم
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CAT End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
