{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "domain.html" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Hero -->
<div class="hero-7">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="text-center">
					<h1 class="h2 text-light fw-bold">
						اكتشف اسم النطاق المثالي الخاص بك
					</h1>
					<p class="mb-12 text-light">
						ابحث عن نطاقات جديدة وسجل اسمك قبل أن يفعل ذلك شخص آخر
					</p>
					<div
						class="search-filter search-filter--light bg-light rounded-1 max-text-18 mx-auto"
					>
						<input
							type="text"
							class="form-control search-filter__input placeholder::text-dark-subtle text-dark"
							placeholder="Search Now..."
						/>
						<select
							class="form-select search-filter__select"
							aria-label="Default select example"
						>
							<option selected value="1">.com</option>
							<option value="2">.net</option>
							<option value="3">.org</option>
							<option value="4">.ai</option>
							<option value="5">.info</option>
							<option value="6">.shop</option>
							<option value="7">.xyz</option>
							<option value="8">.blog</option>
						</select>
						<button
							type="button"
							class="btn btn-primary align-items-center flex-shrink-0"
						>
							<iconify-icon
								icon="iconamoon:search-duotone"
								class="align-middle flex-shrink-0"
							></iconify-icon>
							يبحث
						</button>
					</div>
					<ul
						class="list list-row flex-wrap gap-4 justify-content-center align-items-center max-text-18 mx-auto mt-6"
					>
						<li>
							<button
								type="button"
								class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
							>
								<span class="d-inline-block fs-18 fw-bold">
									.com
									<span class="d-inline-block fs-12 fw-normal">
										$4/سنة
									</span>
								</span>
							</button>
						</li>
						<li>
							<button
								type="button"
								class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
							>
								<span class="d-inline-block fs-18 fw-bold">
									.net
									<span class="d-inline-block fs-12 fw-normal">
										$5/سنة
									</span>
								</span>
							</button>
						</li>
						<li>
							<button
								type="button"
								class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
							>
								<span class="d-inline-block fs-18 fw-bold">
									.org
									<span class="d-inline-block fs-12 fw-normal">
										$8/سنة
									</span>
								</span>
							</button>
						</li>
						<li>
							<button
								type="button"
								class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
							>
								<span class="d-inline-block fs-18 fw-bold">
									.ai
									<span class="d-inline-block fs-12 fw-normal">
										$4.56/سنة
									</span>
								</span>
							</button>
						</li>
						<li>
							<button
								type="button"
								class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
							>
								<span class="d-inline-block fs-18 fw-bold">
									.info
									<span class="d-inline-block fs-12 fw-normal">
										$4.56/سنة
									</span>
								</span>
							</button>
						</li>
						<li>
							<button
								type="button"
								class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
							>
								<span class="d-inline-block fs-18 fw-bold">
									.shop
									<span class="d-inline-block fs-12 fw-normal">
										$4.56/سنة
									</span>
								</span>
							</button>
						</li>
						<li>
							<button
								type="button"
								class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
							>
								<span class="d-inline-block fs-18 fw-bold">
									.xyz
									<span class="d-inline-block fs-12 fw-normal">
										$3/سنة
									</span>
								</span>
							</button>
						</li>
					</ul>
					<p class="mt-8 mb-0 fs-14 text-light">
						يتم تضمين حماية خصوصية WHOIS المجانية مع كل تسجيل نطاق مؤهل.
					</p>
				</div>
			</div>
		</div>
	</div>
	<img
		src="{{root}}assets/img/shapes/hero-7-shape-1.png"
		alt="image"
		class="img-fluid hero-7__shape-1"
	/>
</div>
<!-- Hero End -->

<!-- CTA -->
<div class="cta-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xxl-10">
				<div class="section-space-md-y px-6 px-sm-12 px-xl-15 bg-body rounded-4">
					<div class="row g-4 justify-content-lg-between">
						<div class="col-md-6 col-lg-4">
							<div class="d-flex align-items-center gap-2 mb-3">
								<div
									class="w-3 h-3 rounded-circle bg-secondary flex-shrink-0"
								></div>

								<h6 class="mb-0">
									com for
									<span class="text-secondary fw-semibold">
										<span class="text-decoration-underline">$5</span>
										Today!
									</span>
								</h6>
							</div>
							<p class="fs-14 mb-2">ينطبق على الشراء لمدة 3 سنوات</p>
							<p class="fs-14 fw-medium mb-0">
								السنة الأولى:
								<span class="text-secondary">$19.00</span> فقط
								<span class="text-secondary">$25.00</span>
							</p>
							<p class="fs-14 fw-medium mb-0">
								السنة الثانية والثالثة:
								<span class="text-secondary">$19.00</span> كل سنة
							</p>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="d-flex align-items-center gap-2 mb-3">
								<div
									class="w-3 h-3 rounded-circle bg-secondary flex-shrink-0"
								></div>

								<h6 class="mb-0">
									in for
									<span class="text-secondary fw-semibold">
										<span class="text-decoration-underline">$3</span>
										اليوم!
									</span>
								</h6>
							</div>
							<p class="fs-14 mb-2">ينطبق على الشراء لمدة 3 سنوات</p>
							<p class="fs-14 fw-medium mb-0">
								السنة الأولى:
								<span class="text-secondary">$19.00</span> فقط
								<span class="text-secondary">$25.00</span>
							</p>
							<p class="fs-14 fw-medium mb-0">
								السنة الثانية والثالثة:
								<span class="text-secondary">$19.00</span> كل سنة
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

<!-- Transfer Domain -->
<div class="section-space-y">
	<div class="section-space-md-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-xl-7 col-xxl-6">
					<h3>أسماء النطاقات - سجل، جدد، وانقل!</h3>
					<p class="mb-0 max-text-10 mx-auto">
						اختر اسم النطاق المثالي لشركتك وتميز على الإنترنت!
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> الحد الأدنى 1 سنة </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-35.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">بناء الثقة مع أسماء النطاق الأكثر شهرة</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /سنة </span>
					</h6>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						أضف إلى السلة
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> الحد الأدنى 1 سنة </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-36.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">بناء الثقة مع أسماء النطاق الأكثر شهرة</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /سنة </span>
					</h6>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						أضف إلى السلة
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> الحد الأدنى 1 سنة </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-37.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">بناء الثقة مع أسماء النطاق الأكثر شهرة</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /سنة </span>
					</h6>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						أضف إلى السلة
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> الحد الأدنى 1 سنة </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-38.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">بناء الثقة مع أسماء النطاق الأكثر شهرة</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /سنة </span>
					</h6>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						أضف إلى السلة
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> الحد الأدنى 1 سنة </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-39.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">بناء الثقة مع أسماء النطاق الأكثر شهرة</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /سنة </span>
					</h6>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						أضف إلى السلة
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> الحد الأدنى 1 سنة </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-37.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">بناء الثقة مع أسماء النطاق الأكثر شهرة</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /سنة </span>
					</h6>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						أضف إلى السلة
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> الحد الأدنى 1 سنة </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-40.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">بناء الثقة مع أسماء النطاق الأكثر شهرة</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /سنة </span>
					</h6>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						أضف إلى السلة
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> الحد الأدنى 1 سنة </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-41.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">بناء الثقة مع أسماء النطاق الأكثر شهرة</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /سنة </span>
					</h6>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						أضف إلى السلة
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> الحد الأدنى 1 سنة </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-42.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">بناء الثقة مع أسماء النطاق الأكثر شهرة</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /سنة </span>
					</h6>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						أضف إلى السلة
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> الحد الأدنى 1 سنة </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-37.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">بناء الثقة مع أسماء النطاق الأكثر شهرة</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /سنة </span>
					</h6>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						أضف إلى السلة
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> الحد الأدنى 1 سنة </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-43.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">بناء الثقة مع أسماء النطاق الأكثر شهرة</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /سنة </span>
					</h6>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						أضف إلى السلة
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> الحد الأدنى 1 سنة </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-44.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">بناء الثقة مع أسماء النطاق الأكثر شهرة</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /سنة </span>
					</h6>
					<a
						href="{{root}}cart-rtl.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						أضف إلى السلة
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Transfer Domain End -->

<!-- Easy Steps  -->
<div class="step-section section-space-y">
	<div class="section-space-md-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
					<h3 class="mb-0 text-light">
						احصل على عملك عبر الإنترنت في 3 خطوات سهلة
					</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4 justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="text-center p-xl-6">
					<img
						src="{{root}}assets/img/shapes/step-1.png"
						alt="image"
						class="img-fluid"
					/>
					<h6 class="mt-8 text-light fs-20">حدد اسم المجال</h6>
					<p class="mb-0 text-light">
						اختر امتداد اسم النطاق المناسب من بين مجموعة واسعة، بما في ذلك
						.com و.in و.org
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="text-center p-xl-6">
					<img
						src="{{root}}assets/img/shapes/step-2.png"
						alt="image"
						class="img-fluid"
					/>
					<h6 class="mt-8 text-light fs-20">حدد خطة الاستضافة</h6>
					<p class="mb-0 text-light">اختر أفضل سعر استضافة ويب من فهو تنافسي</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="text-center p-xl-6">
					<img
						src="{{root}}assets/img/shapes/step-3.png"
						alt="image"
						class="img-fluid"
					/>
					<h6 class="mt-8 text-light fs-20">إطلاق موقع الويب الخاص بك</h6>
					<p class="mb-0 text-light">
						أنشئ موقعك الإلكتروني واحصل على حساب فوري منا لإطلاقه
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Easy Steps End -->

<!-- Domain Perk  -->
<div class="section-space-top section-space-md-bottom">
	<div class="section-space-md-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
					<h3 class="mb-0">اكتشف مزايا امتلاك اسم نطاق</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6 col-lg-4">
				<div class="p-xxl-6">
					<div class="mb-4">
						<img
							src="{{root}}assets/img/icon-about-6.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20">تمثيل عملك</h6>
					<p class="mb-0">
						سيتحقق العملاء بالتأكيد من موقعك الإلكتروني قبل الوصول إليك، ويبدأ
						تمثيل موقعك الإلكتروني من
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-xxl-6">
					<div class="mb-4">
						<img
							src="{{root}}assets/img/icon-about-7.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20">الحصول على مرئية بسهولة</h6>
					<p class="mb-0">
						اسم نطاق بسيط وسهل الاستخدام يجذب العديد من الزوار. كما أنه يسهل
						تذكره في المرة القادمة عندما يرغب الزائر في تذكره.
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-xxl-6">
					<div class="mb-4">
						<img
							src="{{root}}assets/img/icon-about-8.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20">إرسال رسائل البريد الإلكتروني المهنية</h6>
					<p class="mb-0">
						اسم نطاق مرتبط بنشاطك التجاري أو مؤسستك، يُحسّن ترتيب موقعك
						الإلكتروني في صفحات محركات البحث
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-xxl-6">
					<div class="mb-4">
						<img
							src="{{root}}assets/img/icon-about-9.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20">يؤسس هوية علامتك التجارية</h6>
					<p class="mb-0">
						تبدأ هوية علامتك التجارية باسم نطاق. اختر من بين أسماء قوية وسهلة
						الحفظ تناسب جمهورك تمامًا.
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-xxl-6">
					<div class="mb-4">
						<img
							src="{{root}}assets/img/icon-about-10.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20">سلامة الأعمال</h6>
					<p class="mb-0">
						يُعدّ الاستيلاء على النطاقات واختطافها ممارسة شائعة يمارسها
						المتسللون لحماية أعمالك عبر الإنترنت.
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-xxl-6">
					<div class="mb-4">
						<img
							src="{{root}}assets/img/icon-about-11.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20">تعرض أفضل عبر الإنترنت</h6>
					<p class="mb-0">
						اسم نطاق مرتبط بنشاطك التجاري أو مؤسستك، يُحسّن ترتيب موقعك
						الإلكتروني في صفحات محركات البحث
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Domain Perk End -->

<!-- About  -->
<div class="section-space-md-y">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-6">
				<img
					src="{{root}}assets/img/about-img-19.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-md-6">
				<div class="ps-xl-6">
					<h3>هل اخترتَ اسم النطاق المثالي؟ رائع!</h3>
					<p class="mb-12">
						لن نمانع. يمكنك نقل استضافتك إلى حتى لو كان اسم نطاقك مسجلاً
						بالفعل. نرحب دائمًا بالعملاء الجدد للانضمام إلى عائلة استضافة
						المواقع لدينا، ونضمن لك تجربة استضافة متميزة كغيرك. بمجرد انضمامك
						إلينا، ستشعر بالأمان والتقدير.
					</p>
					<a
						href="{{root}}domain-transfer-rtl.html"
						class="btn btn-secondary text-light fs-14"
					>
						نقل الآن
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- About End -->

<!-- About -->
<div class="section-space-md-y">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-6">
				<div class="pe-xl-6">
					<h3>هل اشتريتَ نطاقًا بالفعل؟ انقله إلى اليوم</h3>
					<p>
						أدر نطاق موقعك الإلكتروني مع بنقله بسرعة من مسجل النطاقات الحالي
						لديك - ببضع نقرات فقط
					</p>
					<p class="mb-12">
						بنقرة واحدة، يمكنك ربط نطاقك فورًا باستضافة الويب أو استضافة
						البريد الإلكتروني أو أي خدمة أخرى، دون أي خبرة تقنية. يأتي مدير
						النطاق مزودًا بـ...
					</p>
					<a
						href="{{root}}domain-search-rtl.html"
						class="btn btn-secondary text-light fs-14"
					>
						مجال البحث
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<img
					src="{{root}}assets/img/about-img-20.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
		</div>
	</div>
</div>
<!-- About End -->

<!-- About -->
<div class="section-space-md-y">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-6">
				<img
					src="{{root}}assets/img/about-img-21.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-md-6">
				<div class="ps-xl-6">
					<h3>كيف تدير اسم النطاق الخاص بك؟</h3>
					<p class="mb-12">
						معظم باقات استضافة المواقع من تأتي مع نطاقات مجانية. يمكنك الحصول
						على أسماء نطاقات عامة شائعة من المستوى الأعلى مثل .com و.net و.org
						وغيرها من الامتدادات مجانًا.
					</p>
					<a
						href="{{root}}domain-rtl.html"
						class="btn btn-secondary text-light fs-14"
					>
						تسجيل المجال
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- About End -->

<!-- Testimonial  -->
<div
	class="testimonial-section-3 section-space-y position-relative z-1 bg-primary-subtle"
>
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 justify-content-between align-items-center">
				<div class="col-md-8 col-xl-7 col-xxl-6">
					<h3 class="mb-0">هل تتساءل عما يقوله عملاؤنا؟</h3>
				</div>
				<div class="col-md-4">
					<div class="d-flex align-items-center justify-content-md-end gap-4">
						<div
							class="testimonial-slider-7__nav-prev d-grid place-content-center w-12 h-12 bg-white text-secondary rounded cursor-pointer"
						>
							<iconify-icon
								icon="akar-icons:arrow-left"
								class="fs-24"
							></iconify-icon>
						</div>
						<div
							class="testimonial-slider-7__nav-next d-grid place-content-center w-12 h-12 bg-secondary text-white rounded cursor-pointer"
						>
							<iconify-icon
								icon="akar-icons:arrow-right"
								class="fs-24"
							></iconify-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 align-items-center">
				<div class="col-md-6 col-lg-3 text-center">
					<h4 class="mb-2">4.8 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
					</ul>
					<p class="mt-5">مراجعة النموذج 1000+</p>
					<img
						src="{{root}}assets/img/brand-img-45.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-md-6 col-lg-3 text-center">
					<h4 class="mb-2">4.5 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">مراجعة النموذج 1000+</p>
					<img
						src="{{root}}assets/img/brand-img-46.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-md-6 col-lg-3 text-center">
					<h4 class="mb-2">96%</h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">“أفضل شركة استضافة”</p>
					<img
						src="{{root}}assets/img/brand-img-47.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-md-6 col-lg-3 text-center">
					<h4 class="mb-2">4.7 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">مراجعة النموذج 1000+</p>
					<img
						src="{{root}}assets/img/brand-img-48.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="blend blend-x">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="swiper testimonial-slider-7">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-1.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												بيتر باركر
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-2.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												ديفون لين
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-3.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												ليزلي الكسندر
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-4.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												داريل ستيوارد
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-5.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												جيمي فوكس
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-6.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												إليانور بينا
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-1.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												بيتر باركر
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img
		src="{{root}}assets/img/icon-star.png"
		alt="image"
		class="img-fluid position-absolute start-50 top-20 d-none d-xl-block z-n1 pointer-none opacity-50"
	/>
	<img
		src="{{root}}assets/img/icon-quote.png"
		alt="image"
		class="img-fluid position-absolute start-30 top-50 translate-middle-y d-none d-xl-block z-n1 pointer-none"
	/>
</div>
<!-- Testimonial End -->

<!-- CTA  -->
<div class="cta-6">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-8 px-xl-12 px-xxl-15 rounded-4 bg-body position-relative z-1"
				>
					<div class="section-space-md-bottom">
						<div class="row g-4 justify-content-xxl-between">
							<div class="col-md-7 col-xxl-6">
								<div class="d-flex align-items-center gap-3 mb-6">
									<iconify-icon
										icon="ic:twotone-wordpress"
										class="fs-24 text-primary flex-shrink-0"
									></iconify-icon>
									<span class="d-block text-heading">
										يعمل ووردبريس بشكل أفضل على المضيف المحلي
									</span>
								</div>
								<h4 class="mb-8 text-heading">
									"يمكننا إنشاء حسابات جديدة وإعداد التطبيقات بسرعة"
								</h4>
								<div class="d-flex align-items-center gap-4">
									<div
										class="w-18 h-18 d-grid place-content-center bg-primary-emphasis rounded flex-shrink-0"
									>
										<iconify-icon
											icon="ph:phone-call"
											class="fs-36 text-primary-subtle"
										></iconify-icon>
									</div>
									<div class="flex-grow-1">
										<div class="d-flex align-items-center gap-2">
											<div class="d-flex gap-2 align-items-center">
												<span
													class="d-inline-block w-2 h-2 rounded-circle bg-success"
												></span>
												<span class="d-block fw-bold text-body"
													>Calls</span
												>
											</div>
											<span class="d-block fs-14 text-body"
												>(Last 7 days)</span
											>
										</div>
										<h4 class="mb-0 text-heading">+12 125879654</h4>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<img
									src="{{root}}assets/img/cta-img-13.png"
									alt="image"
									class="img-fluid"
								/>
							</div>
						</div>
					</div>
					<div
						class="section-space-sm-y px-4 px-md-8 px-xl-12 rounded-3 bg-primary bg-opacity-5 border border-primary border-opacity-30"
					>
						<div class="row g-4 align-items-center">
							<div class="col-md-8">
								<div class="d-flex align-items-center gap-6">
									<div class="flex-shrink-0">
										<img
											src="{{root}}assets/img/icon-support-blue.png"
											alt="image"
											class="img-fluid"
										/>
									</div>
									<h6 class="mb-0 fw-semibold text-heading">
										دع خبراءنا يساعدونك في إنجاز مشاريعك وتشغيلها دون
										تأخير
									</h6>
								</div>
							</div>
							<div class="col-md-4 text-md-end">
								<a
									href="{{root}}contact-rtl.html"
									class="btn fs-14 btn-primary"
								>
									الدردشة مع التصدير
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/shapes/cta-shape-1.png"
						alt="image"
						class="img-fluid d-none d-lg-block position-absolute top-0 end-0 z-n1 pointer-none opacity-50"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

<!-- FAQ -->
<div class="section-space-y">
	<div class="section-space-md-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12">
					<h3 class="mb-0">الأسئلة الشائعة</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-xl-9">
				<div
					class="accordion accordion--primary accordion-separate-body"
					id="accordion-separate-rounded"
				>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s1"
								aria-expanded="true"
							>
								هل تقوم بتحصيل رسوم مقابل الحالات المتوقفة؟
							</button>
						</h2>
						<div
							id="accordion-s1"
							class="accordion-collapse shadow collapse show"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s2"
								aria-expanded="false"
							>
								ما هو دور فولتر فيما يتعلق باللائحة العامة لحماية
								البيانات؟
							</button>
						</h2>
						<div
							id="accordion-s2"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s3"
								aria-expanded="false"
							>
								كيف سأعرف إذا تم قبولي في البرنامج؟
							</button>
						</h2>
						<div
							id="accordion-s3"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s4"
								aria-expanded="false"
							>
								ما هي قوالب نظام التشغيل التي تقدمها؟
							</button>
						</h2>
						<div
							id="accordion-s4"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s5"
								aria-expanded="false"
							>
								هل الأسعار هي نفسها في جميع مواقع مراكز البيانات؟
							</button>
						</h2>
						<div
							id="accordion-s5"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s6"
								aria-expanded="false"
							>
								ما هي طرق الدفع التي تقبلونها؟
							</button>
						</h2>
						<div
							id="accordion-s6"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								لم نُخصم أي مبلغ من بطاقتك. ما لاحظته هو تفويض مؤقت للتحقق
								من صحة البطاقة المُقدمة. سينتهي هذا التفويض تلقائيًا وفقًا
								لسياسة مصرفك، وعادةً ما يكون ذلك خلال بضعة أيام.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FAQ End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على نقل استضافة الويب مجانًا</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك الإلكتروني من شركة استضافة الويب
								القديمة إلى منصتنا حتى تتمكن من التركيز على ما يهمك
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a href="{{root}}contact-rtl.html" class="btn btn-dark">
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
