{% extends "layouts/default.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set rtlLink = "domain-transfer-rtl.html" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Hero -->
<div class="hero-7">
	<div class="section-space-sm-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12">
					<div class="text-center">
						<h1 class="h2 text-light fw-bold">
							Discover Your Ideal Domain Name
						</h1>
						<p class="mb-12 text-light">
							Search for new domains and register your name before someone
							else does
						</p>
						<div
							class="search-filter search-filter--light bg-light rounded-1 max-text-18 mx-auto"
						>
							<input
								type="text"
								class="form-control search-filter__input placeholder::text-dark-subtle text-dark"
								placeholder="Search Now..."
							/>
							<select
								class="form-select search-filter__select"
								aria-label="Default select example"
							>
								<option selected value="1">.com</option>
								<option value="2">.net</option>
								<option value="3">.org</option>
								<option value="4">.ai</option>
								<option value="5">.info</option>
								<option value="6">.shop</option>
								<option value="7">.xyz</option>
								<option value="8">.blog</option>
							</select>
							<button
								type="button"
								class="btn btn-primary align-items-center flex-shrink-0"
							>
								<iconify-icon
									icon="iconamoon:search-duotone"
									class="align-middle flex-shrink-0"
								></iconify-icon>
								Search
							</button>
						</div>
						<ul
							class="list list-row flex-wrap gap-4 justify-content-center align-items-center max-text-18 mx-auto mt-6"
						>
							<li>
								<button
									type="button"
									class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
								>
									<span class="d-inline-block fs-18 fw-bold">
										.com
										<span class="d-inline-block fs-12 fw-normal">
											$4/Year
										</span>
									</span>
								</button>
							</li>
							<li>
								<button
									type="button"
									class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
								>
									<span class="d-inline-block fs-18 fw-bold">
										.net
										<span class="d-inline-block fs-12 fw-normal">
											$5/Year
										</span>
									</span>
								</button>
							</li>
							<li>
								<button
									type="button"
									class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
								>
									<span class="d-inline-block fs-18 fw-bold">
										.org
										<span class="d-inline-block fs-12 fw-normal">
											$8/Year
										</span>
									</span>
								</button>
							</li>
							<li>
								<button
									type="button"
									class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
								>
									<span class="d-inline-block fs-18 fw-bold">
										.ai
										<span class="d-inline-block fs-12 fw-normal">
											$4.56/Year
										</span>
									</span>
								</button>
							</li>
							<li>
								<button
									type="button"
									class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
								>
									<span class="d-inline-block fs-18 fw-bold">
										.info
										<span class="d-inline-block fs-12 fw-normal">
											$4.56/Year
										</span>
									</span>
								</button>
							</li>
							<li>
								<button
									type="button"
									class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
								>
									<span class="d-inline-block fs-18 fw-bold">
										.shop
										<span class="d-inline-block fs-12 fw-normal">
											$4.56/Year
										</span>
									</span>
								</button>
							</li>
							<li>
								<button
									type="button"
									class="btn btn-sm bg-light bg-opacity-10 text-light hover:bg-opacity-100 hover:text-dark"
								>
									<span class="d-inline-block fs-18 fw-bold">
										.xyz
										<span class="d-inline-block fs-12 fw-normal">
											$3/Year
										</span>
									</span>
								</button>
							</li>
						</ul>
						<p class="mt-8 mb-0 fs-14 text-light">
							Free WHOIS privacy protection is included with every eligible
							domain registration.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img
		src="{{root}}assets/img/shapes/hero-7-shape-1.png"
		alt="image"
		class="img-fluid hero-7__shape-1"
	/>
</div>
<!-- Hero End -->

<!-- Checkout -->
<div class="position-relative z-1 mt-n100">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-md-y bg-light dark:bg-dark px-4 px-sm-6 px-md-10 px-lg-12 shadow-lg rounded-4"
				>
					<div class="section-space-sm-bottom">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-10 col-lg-8 col-xxl-6">
									<h3 class="mb-0 text-center">
										Transfer a domain name in 4 simple steps
									</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row g-4 align-items-center justify-content-between">
							<div class="col-lg-6 col-xxl-5">
								<div class="pe-xl-12">
									<ul class="list gap-6">
										<li>
											<div class="d-flex gap-4 gap-lg-6">
												<iconify-icon
													icon="lets-icons:server-duotone"
													class="fs-48 text-secondary flex-shrink-0"
												></iconify-icon>
												<div class="flex-grow-1">
													<h6 class="mb-2 fs-20">
														Enter the domain name you want to
														transfer
													</h6>
													<p class="mb-0">
														Simply enter your domain name and
														click on transfer.
													</p>
												</div>
											</div>
										</li>
										<li>
											<div class="d-flex gap-4 gap-lg-6">
												<iconify-icon
													icon="carbon:server-proxy"
													class="fs-48 text-secondary flex-shrink-0"
												></iconify-icon>
												<div class="flex-grow-1">
													<h6 class="mb-2 fs-20">
														Prepare domain for transfer
													</h6>
													<p class="mb-0">
														Unlock the domain you want to
														transfer at your current
														registrar.
													</p>
												</div>
											</div>
										</li>
										<li>
											<div class="d-flex gap-4 gap-lg-6">
												<iconify-icon
													icon="carbon:server-dns"
													class="fs-48 text-secondary flex-shrink-0"
												></iconify-icon>
												<div class="flex-grow-1">
													<h6 class="mb-2 fs-20">
														Proceed with the purchase
													</h6>
													<p class="mb-0">
														Enter the EPP code or domain
														transfer authorization code and
														confirm transfer.
													</p>
												</div>
											</div>
										</li>
										<li>
											<div class="d-flex gap-4 gap-lg-6">
												<iconify-icon
													icon="solar:server-square-cloud-outline"
													class="fs-48 text-secondary flex-shrink-0"
												></iconify-icon>
												<div class="flex-grow-1">
													<h6 class="mb-2 fs-20">
														Confirm domain transfer email
													</h6>
													<p class="mb-0">
														You will receive a confirmation
														letter from your domain registry.
													</p>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-6 d-none d-lg-block">
								<img
									src="{{root}}assets/img/about-img-38.png"
									alt="image"
									class="img-fluid"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Checkout End -->

<!-- Why Choose Us -->
<div class="section-space-top section-space-md-bottom">
	<div class="section-space-sm-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 col-xxl-6">
					<h3 class="mb-0 text-center">Why transfer domains to Localhost?</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-sm-6 col-md-4">
				<img
					src="{{root}}assets/img/icon-why-1.png"
					alt="image"
					class="img-fluid mb-6"
				/>
				<h6 class="fs-20 mb-2">No time lost</h6>
				<p class="mb-0">
					Most domain transfers include a 1 year renewal to your domain's
					current expiration date.
				</p>
			</div>
			<div class="col-sm-6 col-md-4">
				<img
					src="{{root}}assets/img/icon-why-2.png"
					alt="image"
					class="img-fluid mb-6"
				/>
				<h6 class="fs-20 mb-2">Easy domain management</h6>
				<p class="mb-0">
					Localhost offers a wide variety of tools to satisfy advanced user and
					website developer
				</p>
			</div>
			<div class="col-sm-6 col-md-4">
				<img
					src="{{root}}assets/img/icon-why-3.png"
					alt="image"
					class="img-fluid mb-6"
				/>
				<h6 class="fs-20 mb-2">Free privacy protection</h6>
				<p class="mb-0">
					Free WHOIS privacy protection is included with every eligible domain
					registration.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Why Choose Us End -->

<!-- Transfer Domain -->
<div class="section-space-md-top section-space-bottom">
	<div class="section-space-sm-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-xxl-7">
					<h3>Domain Names - Register, Renew & Transfer!</h3>
					<p class="mb-0 max-text-11 mx-auto">
						Choose the perfect domain name for your business and stand out
						online!
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> Minimum 1 Years </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-35.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">Build trust with the best-known domain names</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /year </span>
					</h6>
					<a
						href="{{root}}cart.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						Add to cart
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> Minimum 1 Years </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-36.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">Build trust with the best-known domain names</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /year </span>
					</h6>
					<a
						href="{{root}}cart.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						Add to cart
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> Minimum 1 Years </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-37.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">Build trust with the best-known domain names</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /year </span>
					</h6>
					<a
						href="{{root}}cart.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						Add to cart
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> Minimum 1 Years </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-38.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">Build trust with the best-known domain names</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /year </span>
					</h6>
					<a
						href="{{root}}cart.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						Add to cart
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> Minimum 1 Years </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-39.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">Build trust with the best-known domain names</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /year </span>
					</h6>
					<a
						href="{{root}}cart.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						Add to cart
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> Minimum 1 Years </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-37.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">Build trust with the best-known domain names</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /year </span>
					</h6>
					<a
						href="{{root}}cart.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						Add to cart
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> Minimum 1 Years </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-40.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">Build trust with the best-known domain names</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /year </span>
					</h6>
					<a
						href="{{root}}cart.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						Add to cart
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> Minimum 1 Years </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-41.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">Build trust with the best-known domain names</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /year </span>
					</h6>
					<a
						href="{{root}}cart.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						Add to cart
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> Minimum 1 Years </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-42.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">Build trust with the best-known domain names</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /year </span>
					</h6>
					<a
						href="{{root}}cart.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						Add to cart
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> Minimum 1 Years </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-37.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">Build trust with the best-known domain names</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /year </span>
					</h6>
					<a
						href="{{root}}cart.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						Add to cart
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> Minimum 1 Years </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-43.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">Build trust with the best-known domain names</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /year </span>
					</h6>
					<a
						href="{{root}}cart.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						Add to cart
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="bg-body rounded-3 p-4 px-sm-6 py-sm-8 h-100">
					<div class="d-flex align-items-center gap-2 mb-2">
						<iconify-icon icon="uiw:time-o" class="fs-16"></iconify-icon>
						<span class="d-block fs-14"> Minimum 1 Years </span>
					</div>
					<div class="mb-6">
						<img
							src="{{root}}assets/img/brand-img-44.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<p class="mb-6">Build trust with the best-known domain names</p>
					<h6>
						$10
						<span class="text-body fs-14 fw-normal"> /year </span>
					</h6>
					<a
						href="{{root}}cart.html"
						class="btn btn-sm btn-primary-subtle justify-content-center w-100 fw-medium"
					>
						Add to cart
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Transfer Domain End -->

<!-- Testimonial  -->
<div
	class="testimonial-section-3 section-space-y position-relative z-1 bg-primary-subtle"
>
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 justify-content-between align-items-center">
				<div class="col-md-8 col-xl-7 col-xxl-6">
					<h3 class="mb-0">Wondering what our customers have to say?</h3>
				</div>
				<div class="col-md-4">
					<div class="d-flex align-items-center justify-content-md-end gap-4">
						<div
							class="testimonial-slider-7__nav-prev d-grid place-content-center w-12 h-12 bg-white text-secondary rounded cursor-pointer"
						>
							<iconify-icon
								icon="akar-icons:arrow-left"
								class="fs-24"
							></iconify-icon>
						</div>
						<div
							class="testimonial-slider-7__nav-next d-grid place-content-center w-12 h-12 bg-secondary text-white rounded cursor-pointer"
						>
							<iconify-icon
								icon="akar-icons:arrow-right"
								class="fs-24"
							></iconify-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 align-items-center">
				<div class="col-md-6 col-lg-3 text-center">
					<h4 class="mb-2">4.8 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
					</ul>
					<p class="mt-5">Form 1,000+ review</p>
					<img
						src="{{root}}assets/img/brand-img-45.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-md-6 col-lg-3 text-center">
					<h4 class="mb-2">4.5 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">Form 1,000+ review</p>
					<img
						src="{{root}}assets/img/brand-img-46.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-md-6 col-lg-3 text-center">
					<h4 class="mb-2">96%</h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">“Best Hosting Company”</p>
					<img
						src="{{root}}assets/img/brand-img-47.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-md-6 col-lg-3 text-center">
					<h4 class="mb-2">4.7 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">Form 1,000+ review</p>
					<img
						src="{{root}}assets/img/brand-img-48.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="blend blend-x">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="swiper testimonial-slider-7">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-1.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Peter Parker
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-2.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Devon Lane
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-3.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Leslie Alexander
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-4.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Darrell Steward
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-5.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Jammie Fox
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-6.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Eleanor Pena
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="bg-body rounded-3 p-4 p-sm-6 p-md-8">
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-1.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Peter Parker
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img
		src="{{root}}assets/img/icon-star.png"
		alt="image"
		class="img-fluid position-absolute start-50 top-20 d-none d-xl-block z-n1 pointer-none opacity-50"
	/>
	<img
		src="{{root}}assets/img/icon-quote.png"
		alt="image"
		class="img-fluid position-absolute start-30 top-50 translate-middle-y d-none d-xl-block z-n1 pointer-none"
	/>
</div>
<!-- Testimonial End -->

<!-- CTA  -->
<div class="cta-6">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-8 px-xl-12 px-xxl-15 rounded-4 bg-body position-relative z-1"
				>
					<div class="section-space-md-bottom">
						<div class="row g-4 justify-content-xxl-between">
							<div class="col-md-7 col-xxl-6">
								<div class="d-flex align-items-center gap-3 mb-6">
									<iconify-icon
										icon="ic:twotone-wordpress"
										class="fs-24 text-primary flex-shrink-0"
									></iconify-icon>
									<span class="d-block text-heading">
										WordPress runs better on Hostjar
									</span>
								</div>
								<h4 class="mb-8 text-heading">
									“We can quickly create new accounts and set up
									application"
								</h4>
								<div class="d-flex align-items-center gap-4">
									<div
										class="w-18 h-18 d-grid place-content-center bg-primary-emphasis rounded flex-shrink-0"
									>
										<iconify-icon
											icon="ph:phone-call"
											class="fs-36 text-primary-subtle"
										></iconify-icon>
									</div>
									<div class="flex-grow-1">
										<div class="d-flex align-items-center gap-2">
											<div class="d-flex gap-2 align-items-center">
												<span
													class="d-inline-block w-2 h-2 rounded-circle bg-success"
												></span>
												<span class="d-block fw-bold text-body"
													>Calls</span
												>
											</div>
											<span class="d-block fs-14 text-body"
												>(Last 7 days)</span
											>
										</div>
										<h4 class="mb-0 text-heading">+12 125879654</h4>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<img
									src="{{root}}assets/img/cta-img-13.png"
									alt="image"
									class="img-fluid"
								/>
							</div>
						</div>
					</div>
					<div
						class="section-space-sm-y px-4 px-md-8 px-xl-12 rounded-3 bg-primary bg-opacity-5 border border-primary border-opacity-30"
					>
						<div class="row g-4 align-items-center">
							<div class="col-md-8">
								<div class="d-flex align-items-center gap-6">
									<div class="flex-shrink-0">
										<img
											src="{{root}}assets/img/icon-support-blue.png"
											alt="image"
											class="img-fluid"
										/>
									</div>
									<h6 class="mb-0 fw-semibold text-heading">
										Let our experts help you get your projects up and
										running without delay
									</h6>
								</div>
							</div>
							<div class="col-md-4 text-md-end">
								<a
									href="{{root}}contact.html"
									class="btn fs-14 btn-primary"
								>
									Chat with Export
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/shapes/cta-shape-1.png"
						alt="image"
						class="img-fluid d-none d-lg-block position-absolute top-0 end-0 z-n1 pointer-none opacity-50"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

<!-- FAQ -->
<div class="section-space-y">
	<div class="section-space-md-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12">
					<h3 class="mb-0">Frequently Asked Questions</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-xl-9">
				<div
					class="accordion accordion--primary accordion-separate-body"
					id="accordion-separate-rounded"
				>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s1"
								aria-expanded="true"
							>
								Do you charge for stopped instances?
							</button>
						</h2>
						<div
							id="accordion-s1"
							class="accordion-collapse shadow collapse show"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s2"
								aria-expanded="false"
							>
								What is Vultr's role with respect to GDPR?
							</button>
						</h2>
						<div
							id="accordion-s2"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s3"
								aria-expanded="false"
							>
								How will I know if I was admitted into the program?
							</button>
						</h2>
						<div
							id="accordion-s3"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s4"
								aria-expanded="false"
							>
								What operating system templates do you offer?
							</button>
						</h2>
						<div
							id="accordion-s4"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s5"
								aria-expanded="false"
							>
								Is pricing the same in all data center locations?
							</button>
						</h2>
						<div
							id="accordion-s5"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s6"
								aria-expanded="false"
							>
								What payment methods do you accept?
							</button>
						</h2>
						<div
							id="accordion-s6"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FAQ End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a href="{{root}}contact.html" class="btn btn-dark">
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7.html" %} 
{% endblock %}
