{% extends "layouts/default.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium btn-light" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set rtlLink = "features-rtl.html" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
<div class="banner-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="mb-3 text-light">State of the art Technology</h2>
				<ol class="breadcrumb breadcrumb-modifier align-items-center">
					<li class="breadcrumb-item">
						<a href="#" class="link d-block fs-14 text-light"> Home </a>
					</li>
					<li class="breadcrumb-item">
						<iconify-icon
							icon="bi:chevron-right"
							class="fs-14 text-light"
						></iconify-icon>
					</li>
					<li class="breadcrumb-item">
						<span class="d-block fs-14 text-light">
							Features & Technology
						</span>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->

<!-- Info Categories  -->
<div class="position-relative mt-n60">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y bg-white dark:bg-dark rounded-4 px-4 px-sm-6 px-md-4 px-lg-10 px-xxl-12"
				>
					<div class="section-space-sm-bottom">
						<div class="row justify-content-center">
							<div class="col-md-10 col-lg-8">
								<h3 class="mb-0 text-center">Technology Overview</h3>
							</div>
						</div>
					</div>
					<div class="row g-4 g-md-2 g-lg-4">
						<div class="col-md-4">
							<iconify-icon
								icon="fluent:server-surface-16-regular"
								class="fs-48 mb-4 text-secondary"
							></iconify-icon>
							<h6 class="fs-20 mb-3">Lite Speed Web Server</h6>
							<p class="mb-0">
								Built for lightning speed Cutting-edge caching technology
								that out performs both NGINX and Apache web servers
							</p>
						</div>
						<div class="col-md-4">
							<iconify-icon
								icon="clarity:backup-restore-outline-badged"
								class="fs-48 mb-4 text-secondary"
							></iconify-icon>
							<h6 class="fs-20 mb-3">Daily Backups</h6>
							<p class="mb-0">
								Built for lightning speed Cutting-edge caching technology
								that outperforms both NGINX and Apache web servers
							</p>
						</div>
						<div class="col-md-4">
							<iconify-icon
								icon="material-symbols-light:tab-search-outline"
								class="fs-48 mb-4 text-secondary"
							></iconify-icon>
							<h6 class="fs-20 mb-3">Advanced Firewall</h6>
							<p class="mb-0">
								Always stay safe and protected We can stop the majority of
								web application attacks before they even start with
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Info Categories End -->

<!-- Features  -->
<div class="section-space-y">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 align-items-center">
				<div class="col-lg-5 col-xxl-6">
					<img
						src="{{root}}assets/img/about-img-47.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-lg-7 col-xxl-6">
					<div class="ps-xl-12">
						<h3>Website Performance</h3>
						<p class="mb-8">
							Nobody likes a slow website. Experience lightning-fast load
							times thanks to low-density servers, premium hardware, and
							multiple Worldwide server locations. We use cutting-edge
							technology like LiteSpeed Web Server
						</p>
						<ul class="list gap-8">
							<li class="d-flex gap-6">
								<div
									class="d-inline-block position-relative z-1 flex-shrink-0"
								>
									<iconify-icon
										icon="mage:globe"
										class="fs-48 text-heading"
									></iconify-icon>
									<span
										class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-primary bg-opacity-20 rounded-circle dark:bg-primary-subtle"
									></span>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-3 fs-20">Free Domain Transfer</h6>
									<p class="mb-0">
										Do you already have a domain name? You can
										transfer it to Hostjar for Free and set up your
										website on our powerful servers, which are
										guaranteed 99.9% uptime.
									</p>
								</div>
							</li>
							<li class="d-flex gap-6">
								<div
									class="d-inline-block position-relative z-1 flex-shrink-0"
								>
									<iconify-icon
										icon="solar:download-broken"
										class="fs-48 text-heading"
									></iconify-icon>
									<span
										class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-primary bg-opacity-20 rounded-circle dark:bg-primary-subtle"
									></span>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-3 fs-20">Free Domain Transfer</h6>
									<p class="mb-0">
										Do you already have a domain name? You can
										transfer it to Hostjar for Free and set up your
										website on our powerful servers, which are
										guaranteed 99.9% uptime.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6 col-lg-4">
				<div class="bg-white dark:bg-dark rounded-3 p-4 p-sm-6 p-md-8 h-100">
					<img
						src="{{root}}assets/img/icon-feature-73.png"
						alt="image"
						class="img-fluid mb-6"
					/>
					<h6 class="fs-20">LiteSpeed Web Server</h6>
					<p class="mb-0">
						LiteSpeed Web Server is a high-performance, lightweight, and
						scalable web server solution designed to handle high traffic
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="bg-white dark:bg-dark rounded-3 p-4 p-sm-6 p-md-8 h-100">
					<img
						src="{{root}}assets/img/icon-feature-74.png"
						alt="image"
						class="img-fluid mb-6"
					/>
					<h6 class="fs-20">Worldwide Server Locations</h6>
					<p class="mb-0">
						Our global network of server locations ensures lightning-fast
						performance and low latency, no matter where you or your users are
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="bg-white dark:bg-dark rounded-3 p-4 p-sm-6 p-md-8 h-100">
					<img
						src="{{root}}assets/img/icon-feature-73.png"
						alt="image"
						class="img-fluid mb-6"
					/>
					<h6 class="fs-20">Solution Management</h6>
					<p class="mb-0">
						Each server location is equipped with state-of-the-art hardware,
						top-tier DDoS protection, and redundant network connections
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Features End -->

<!-- Security -->
<div class="section-space-md-bottom">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-7 col-xxl-6">
				<div class="pe-xl-12">
					<h3>Security</h3>
					<p class="mb-8">
						We'll stop web attacks even before they start. Your site is always
						safe against attacks thanks to our firewall rules, real-time 24/7
						server monitoring, and traffic encryption.
					</p>
					<ul class="list gap-8">
						<li class="d-flex gap-6">
							<div
								class="d-inline-block position-relative z-1 flex-shrink-0"
							>
								<iconify-icon
									icon="mage:globe"
									class="fs-48 text-heading"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-primary bg-opacity-20 rounded-circle dark:bg-primary-subtle"
								></span>
							</div>
							<div class="flex-grow-1">
								<h6 class="mb-3 fs-20">Advanced DDoS Protection</h6>
								<p class="mb-0">
									Safeguard your servers against malicious traffic and
									attacks with real-time threat detection and
									mitigation, ensuring uninterrupted performance.
								</p>
							</div>
						</li>
						<li class="d-flex gap-6">
							<div
								class="d-inline-block position-relative z-1 flex-shrink-0"
							>
								<iconify-icon
									icon="la:expeditedssl"
									class="fs-48 text-heading"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-primary bg-opacity-20 rounded-circle dark:bg-primary-subtle"
								></span>
							</div>
							<div class="flex-grow-1">
								<h6 class="mb-3 fs-20">SSL Encryption</h6>
								<p class="mb-0">
									Secure sensitive data with industry-standard SSL
									encryption, protecting your users and building trust
									with a safe browsing experience.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-5 col-xxl-6">
				<img
					src="{{root}}assets/img/about-img-48.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row g-4">
		<div class="col-sm-6 col-md-4">
			<img
				src="{{root}}assets/img/icon-feature-76.png"
				alt="image"
				class="img-fluid mb-6"
			/>
			<h6 class="fs-20">2FA Authentication</h6>
			<p class="mb-0">
				LiteSpeed Web Server is a high-performance, lightweight, and scalable web
				server solution designed to handle high traffic
			</p>
		</div>
		<div class="col-sm-6 col-md-4">
			<img
				src="{{root}}assets/img/icon-feature-77.png"
				alt="image"
				class="img-fluid mb-6"
			/>
			<h6 class="fs-20">Account Isolation</h6>
			<p class="mb-0">
				Our global network of server locations ensures lightning-fast performance
				and low latency, no matter where you or your users are
			</p>
		</div>
		<div class="col-sm-6 col-md-4">
			<img
				src="{{root}}assets/img/icon-feature-78.png"
				alt="image"
				class="img-fluid mb-6"
			/>
			<h6 class="fs-20">Advance Firewall</h6>
			<p class="mb-0">
				Each server location is equipped with state-of-the-art hardware, top-tier
				DDoS protection, and redundant network connections
			</p>
		</div>
	</div>
</div>
<!-- Security End -->

<!-- Reliability  -->
<div class="section-space-y">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-5 col-xxl-6">
				<img
					src="{{root}}assets/img/about-img-49.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-lg-7 col-xxl-6">
				<div class="ps-xl-12">
					<h3>Reliability</h3>
					<p class="mb-8">
						We're always watching out for your site to ensure it's fast and
						reliable with proactive monitoring and a premium DNS provider that
						keeps your site online and running 24/7.
					</p>
					<div class="row g-4">
						<div class="col-sm-6">
							<div class="d-inline-block position-relative z-1 mb-4">
								<iconify-icon
									icon="mage:globe"
									class="fs-40 text-secondary"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-10 h-10 bg-primary bg-opacity-10 rounded-circle dark:bg-primary-subtle"
								></span>
							</div>
							<h6 class="mb-3 fs-20">Account Isolation</h6>
							<p class="mb-0">
								Unlock the potential to earn passive income with our
								industry-leading Affiliate System by partnering
							</p>
						</div>
						<div class="col-sm-6">
							<div class="d-inline-block position-relative z-1 mb-4">
								<iconify-icon
									icon="solar:server-square-cloud-linear"
									class="fs-40 text-secondary"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-10 h-10 bg-primary bg-opacity-10 rounded-circle dark:bg-primary-subtle"
								></span>
							</div>
							<h6 class="mb-3 fs-20">Cloud Infrastructure</h6>
							<p class="mb-0">
								Our content delivery network ensures all websites are
								accessible with the same high level of performance from
							</p>
						</div>
						<div class="col-sm-6">
							<div class="d-inline-block position-relative z-1 mb-4">
								<iconify-icon
									icon="hugeicons:invoice-03"
									class="fs-40 text-secondary"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-10 h-10 bg-primary bg-opacity-10 rounded-circle dark:bg-primary-subtle"
								></span>
							</div>
							<h6 class="mb-3 fs-20">DDoS Protection</h6>
							<p class="mb-0">
								Need more computing resources or accounts? You can upgrade
								your account at any time to get more!
							</p>
						</div>
						<div class="col-sm-6">
							<div class="d-inline-block position-relative z-1 mb-4">
								<iconify-icon
									icon="material-symbols-light:box-outline"
									class="fs-40 text-secondary"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-10 h-10 bg-primary bg-opacity-10 rounded-circle dark:bg-primary-subtle"
								></span>
							</div>
							<h6 class="mb-3 fs-20">Premium DNS</h6>
							<p class="mb-0">
								Make deployment easy! Get Softaculous and install over
								400+ apps, including WordPress, Joomla!, and more
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Reliability End -->

<!-- Testimonial  -->
<div
	class="testimonial-section-3 section-space-y position-relative z-1 bg-primary-subtle dark:bg-dark"
>
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 justify-content-between align-items-center">
				<div class="col-md-8 col-xl-7 col-xxl-6">
					<h3 class="mb-0">Wondering what our customers have to say?</h3>
				</div>
				<div class="col-md-4">
					<div class="d-flex align-items-center justify-content-md-end gap-4">
						<div
							class="testimonial-slider-7__nav-prev d-grid place-content-center w-12 h-12 bg-white text-secondary rounded cursor-pointer"
						>
							<iconify-icon
								icon="akar-icons:arrow-left"
								class="fs-24"
							></iconify-icon>
						</div>
						<div
							class="testimonial-slider-7__nav-next d-grid place-content-center w-12 h-12 bg-secondary text-white rounded cursor-pointer"
						>
							<iconify-icon
								icon="akar-icons:arrow-right"
								class="fs-24"
							></iconify-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 align-items-center">
				<div class="col-sm-6 col-lg-3 text-center">
					<h4 class="mb-2">4.8 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
					</ul>
					<p class="mt-5">Form 1,000+ review</p>
					<img
						src="{{root}}assets/img/brand-img-45.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-sm-6 col-lg-3 text-center">
					<h4 class="mb-2">4.5 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">Form 1,000+ review</p>
					<img
						src="{{root}}assets/img/brand-img-46.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-sm-6 col-lg-3 text-center">
					<h4 class="mb-2">96%</h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">“Best Hosting Company”</p>
					<img
						src="{{root}}assets/img/brand-img-47.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-sm-6 col-lg-3 text-center">
					<h4 class="mb-2">4.7 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">Form 1,000+ review</p>
					<img
						src="{{root}}assets/img/brand-img-48.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="blend blend-x">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="swiper testimonial-slider-7">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-1.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Peter Parker
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-2.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Devon Lane
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-3.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Leslie Alexander
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-4.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Darrell Steward
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-5.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Jammie Fox
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-6.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Eleanor Pena
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-1.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												Peter Parker
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										The Tubeonai team have really thought through the
										entire product & even with the minor bugs that are
										normal for any complex project they're fast
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<img
		src="{{root}}assets/img/icon-star.png"
		alt="image"
		class="img-fluid position-absolute start-50 top-20 d-none d-xl-block z-n1 pointer-none opacity-50"
	/>
	<img
		src="{{root}}assets/img/icon-quote.png"
		alt="image"
		class="img-fluid position-absolute start-30 top-50 translate-middle-y d-none d-xl-block z-n1 pointer-none"
	/>
</div>
<!-- Testimonial End -->

<!-- CTA  -->
<div class="section-space-top cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a
									href="{{root}}contact.html"
									class="btn btn-dark-emphasis"
								>
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7.html" %} 
{% endblock %}
