{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium btn-light" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "features.html" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
<div class="banner-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="mb-3 text-light">أحدث التقنيات</h2>
				<ol class="breadcrumb breadcrumb-modifier align-items-center">
					<li class="breadcrumb-item">
						<a href="#" class="link d-block fs-14 text-light"> بيت </a>
					</li>
					<li class="breadcrumb-item">
						<iconify-icon
							icon="bi:chevron-right"
							class="fs-14 text-light"
						></iconify-icon>
					</li>
					<li class="breadcrumb-item">
						<span class="d-block fs-14 text-light">
							الميزات والتكنولوجيا
						</span>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->

<!-- Info Categories  -->
<div class="position-relative mt-n60">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y bg-white dark:bg-dark rounded-4 px-4 px-sm-6 px-md-4 px-lg-10 px-xxl-12"
				>
					<div class="section-space-sm-bottom">
						<div class="row justify-content-center">
							<div class="col-md-10 col-lg-8">
								<h3 class="mb-0 text-center">
									نظرة عامة على التكنولوجيا
								</h3>
							</div>
						</div>
					</div>
					<div class="row g-4 g-md-2 g-lg-4">
						<div class="col-md-4">
							<iconify-icon
								icon="fluent:server-surface-16-regular"
								class="fs-48 mb-4 text-secondary"
							></iconify-icon>
							<h6 class="fs-20 mb-3">خادم الويب لايت سبيد</h6>
							<p class="mb-0">
								صُمم لسرعة فائقة، مع تقنية تخزين مؤقت متطورة تتفوق على
								خوادم الويب NGINX وApache
							</p>
						</div>
						<div class="col-md-4">
							<iconify-icon
								icon="clarity:backup-restore-outline-badged"
								class="fs-48 mb-4 text-secondary"
							></iconify-icon>
							<h6 class="fs-20 mb-3">النسخ الاحتياطية اليومية</h6>
							<p class="mb-0">
								صُمم لسرعة فائقة، مع تقنية تخزين مؤقت متطورة تتفوق على
								خوادم الويب NGINX وApache
							</p>
						</div>
						<div class="col-md-4">
							<iconify-icon
								icon="material-symbols-light:tab-search-outline"
								class="fs-48 mb-4 text-secondary"
							></iconify-icon>
							<h6 class="fs-20 mb-3">جدار الحماية المتقدم</h6>
							<p class="mb-0">
								ابقَ دائمًا آمنًا ومحميًا، يمكننا إيقاف غالبية هجمات
								تطبيقات الويب قبل أن تبدأ
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Info Categories End -->

<!-- Features  -->
<div class="section-space-y">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 align-items-center">
				<div class="col-lg-5 col-xxl-6">
					<img
						src="{{root}}assets/img/about-img-47.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-lg-7 col-xxl-6">
					<div class="ps-xl-12">
						<h3>أداء الموقع</h3>
						<p class="mb-8">
							لا أحد يحب المواقع البطيئة. استمتع بأوقات تحميل فائقة السرعة
							بفضل خوادمنا منخفضة الكثافة، وأجهزتنا المتطورة، ومواقع خوادمنا
							المتعددة حول العالم. نستخدم أحدث التقنيات مثل خادم الويب لايت
							سبيد.
						</p>
						<ul class="list gap-8">
							<li class="d-flex gap-6">
								<div
									class="d-inline-block position-relative z-1 flex-shrink-0"
								>
									<iconify-icon
										icon="mage:globe"
										class="fs-48 text-heading"
									></iconify-icon>
									<span
										class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-primary bg-opacity-20 rounded-circle dark:bg-primary-subtle"
									></span>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-3 fs-20">نقل المجال مجانا</h6>
									<p class="mb-0">
										هل لديك اسم نطاق بالفعل؟ يمكنك نقله إلى مجانًا
										وإعداد موقعك الإلكتروني على خوادمنا القوية، والتي
										تضمن لك نسبة تشغيل 99.9%.
									</p>
								</div>
							</li>
							<li class="d-flex gap-6">
								<div
									class="d-inline-block position-relative z-1 flex-shrink-0"
								>
									<iconify-icon
										icon="solar:download-broken"
										class="fs-48 text-heading"
									></iconify-icon>
									<span
										class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-primary bg-opacity-20 rounded-circle dark:bg-primary-subtle"
									></span>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-3 fs-20">نقل المجال مجانا</h6>
									<p class="mb-0">
										هل لديك اسم نطاق بالفعل؟ يمكنك نقله إلى مجانًا
										وإعداد موقعك الإلكتروني على خوادمنا القوية، والتي
										تضمن لك نسبة تشغيل 99.9%.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6 col-lg-4">
				<div class="bg-white dark:bg-dark rounded-3 p-4 p-sm-6 p-md-8 h-100">
					<img
						src="{{root}}assets/img/icon-feature-73.png"
						alt="image"
						class="img-fluid mb-6"
					/>
					<h6 class="fs-20">خادم الويب لايت سبيد</h6>
					<p class="mb-0">
						خادم الويب لايت سبيد هو حل خادم ويب عالي الأداء وخفيف الوزن وقابل
						للتطوير مصمم للتعامل مع حركة المرور الكثيفة
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="bg-white dark:bg-dark rounded-3 p-4 p-sm-6 p-md-8 h-100">
					<img
						src="{{root}}assets/img/icon-feature-74.png"
						alt="image"
						class="img-fluid mb-6"
					/>
					<h6 class="fs-20">مواقع الخادم في جميع أنحاء العالم</h6>
					<p class="mb-0">
						تضمن شبكتنا العالمية من مواقع الخوادم أداءً فائق السرعة وزمن وصول
						منخفضًا، بغض النظر عن مكان وجودك أو وجود مستخدميك
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="bg-white dark:bg-dark rounded-3 p-4 p-sm-6 p-md-8 h-100">
					<img
						src="{{root}}assets/img/icon-feature-73.png"
						alt="image"
						class="img-fluid mb-6"
					/>
					<h6 class="fs-20">إدارة الحلول</h6>
					<p class="mb-0">
						تم تجهيز كل موقع خادم بأجهزة متطورة، وحماية من هجمات الحرمان من
						الخدمة الموزعة (DDoS)، واتصالات شبكة احتياطية.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Features End -->

<!-- Security -->
<div class="section-space-md-bottom">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-7 col-xxl-6">
				<div class="pe-xl-12">
					<h3>حماية</h3>
					<p class="mb-8">
						سنوقف هجمات الويب حتى قبل أن تبدأ. موقعك آمن دائمًا من الهجمات
						بفضل قواعد جدار الحماية لدينا، ومراقبة الخادم الفورية على مدار
						الساعة طوال أيام الأسبوع، وتشفير حركة المرور.
					</p>
					<ul class="list gap-8">
						<li class="d-flex gap-6">
							<div
								class="d-inline-block position-relative z-1 flex-shrink-0"
							>
								<iconify-icon
									icon="mage:globe"
									class="fs-48 text-heading"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-primary bg-opacity-20 rounded-circle dark:bg-primary-subtle"
								></span>
							</div>
							<div class="flex-grow-1">
								<h6 class="mb-3 fs-20">
									حماية متقدمة من هجمات الحرمان من الخدمة الموزعة
								</h6>
								<p class="mb-0">
									احمِ خوادمك من حركة المرور الضارة والهجمات من خلال
									الكشف عن التهديدات في الوقت الفعلي والتخفيف منها، مما
									يضمن أداءً متواصلاً.
								</p>
							</div>
						</li>
						<li class="d-flex gap-6">
							<div
								class="d-inline-block position-relative z-1 flex-shrink-0"
							>
								<iconify-icon
									icon="la:expeditedssl"
									class="fs-48 text-heading"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-12 h-12 bg-primary bg-opacity-20 rounded-circle dark:bg-primary-subtle"
								></span>
							</div>
							<div class="flex-grow-1">
								<h6 class="mb-3 fs-20">تشفير SSL</h6>
								<p class="mb-0">
									قم بتأمين بياناتك الحساسة باستخدام تشفير SSL المتوافق
									مع معايير الصناعة، مما يوفر الحماية لمستخدميك ويعزز
									الثقة من خلال تجربة تصفح آمنة.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-5 col-xxl-6">
				<img
					src="{{root}}assets/img/about-img-48.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row g-4">
		<div class="col-sm-6 col-md-4">
			<img
				src="{{root}}assets/img/icon-feature-76.png"
				alt="image"
				class="img-fluid mb-6"
			/>
			<h6 class="fs-20">مصادقة 2FA</h6>
			<p class="mb-0">
				خادم الويب لايت سبيد هو حل خادم ويب عالي الأداء وخفيف الوزن وقابل للتطوير
				مصمم للتعامل مع حركة المرور الكثيفة
			</p>
		</div>
		<div class="col-sm-6 col-md-4">
			<img
				src="{{root}}assets/img/icon-feature-77.png"
				alt="image"
				class="img-fluid mb-6"
			/>
			<h6 class="fs-20">عزل الحساب</h6>
			<p class="mb-0">
				تضمن شبكتنا العالمية من مواقع الخوادم أداءً فائق السرعة وزمن وصول منخفضًا،
				بغض النظر عن مكان وجودك أو مكان مستخدميك
			</p>
		</div>
		<div class="col-sm-6 col-md-4">
			<img
				src="{{root}}assets/img/icon-feature-78.png"
				alt="image"
				class="img-fluid mb-6"
			/>
			<h6 class="fs-20">جدار الحماية المتقدم</h6>
			<p class="mb-0">
				كل موقع خادم مُجهّز بأجهزة متطورة، وحماية من هجمات الحرمان من الخدمة
				الموزعة (DDoS)، واتصالات شبكة احتياطية.
			</p>
		</div>
	</div>
</div>
<!-- Security End -->

<!-- Reliability  -->
<div class="section-space-y">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-5 col-xxl-6">
				<img
					src="{{root}}assets/img/about-img-49.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
			<div class="col-lg-7 col-xxl-6">
				<div class="ps-xl-12">
					<h3>مصداقية</h3>
					<p class="mb-8">
						نحن نراقب موقعك دائمًا لضمان سرعته وموثوقيته من خلال المراقبة
						الاستباقية ومزود DNS المتميز الذي يحافظ على موقعك متصلًا بالإنترنت
						ويعمل على مدار الساعة طوال أيام الأسبوع.
					</p>
					<div class="row g-4">
						<div class="col-sm-6">
							<div class="d-inline-block position-relative z-1 mb-4">
								<iconify-icon
									icon="mage:globe"
									class="fs-40 text-secondary"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-10 h-10 bg-primary bg-opacity-10 rounded-circle dark:bg-primary-subtle"
								></span>
							</div>
							<h6 class="mb-3 fs-20">عزل الحساب</h6>
							<p class="mb-0">
								أطلق العنان لإمكانياتك لكسب دخل سلبي من خلال نظامنا الرائد
								في مجال التسويق بالعمولة من خلال الشراكة
							</p>
						</div>
						<div class="col-sm-6">
							<div class="d-inline-block position-relative z-1 mb-4">
								<iconify-icon
									icon="solar:server-square-cloud-linear"
									class="fs-40 text-secondary"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-10 h-10 bg-primary bg-opacity-10 rounded-circle dark:bg-primary-subtle"
								></span>
							</div>
							<h6 class="mb-3 fs-20">البنية التحتية السحابية</h6>
							<p class="mb-0">
								تضمن شبكة توصيل المحتوى لدينا إمكانية الوصول إلى جميع
								مواقع الويب بنفس مستوى الأداء العالي
							</p>
						</div>
						<div class="col-sm-6">
							<div class="d-inline-block position-relative z-1 mb-4">
								<iconify-icon
									icon="hugeicons:invoice-03"
									class="fs-40 text-secondary"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-10 h-10 bg-primary bg-opacity-10 rounded-circle dark:bg-primary-subtle"
								></span>
							</div>
							<h6 class="mb-3 fs-20">حماية DDoS</h6>
							<p class="mb-0">
								هل تحتاج إلى موارد أو حسابات حوسبة إضافية؟ يمكنك ترقية
								حسابك في أي وقت للحصول على المزيد!
							</p>
						</div>
						<div class="col-sm-6">
							<div class="d-inline-block position-relative z-1 mb-4">
								<iconify-icon
									icon="material-symbols-light:box-outline"
									class="fs-40 text-secondary"
								></iconify-icon>
								<span
									class="d-inline-block position-absolute start-1 top-1 z-n1 pointer-none w-10 h-10 bg-primary bg-opacity-10 rounded-circle dark:bg-primary-subtle"
								></span>
							</div>
							<h6 class="mb-3 fs-20">DNS المتميز</h6>
							<p class="mb-0">
								سهّل عملية النشر! احصل على وثبّت أكثر من 400 تطبيق، بما في
								ذلك ووردبريس وجملة! والمزيد.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Reliability End -->

<!-- Testimonial  -->
<div
	class="testimonial-section-3 section-space-y position-relative z-1 bg-primary-subtle dark:bg-dark"
>
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 justify-content-between align-items-center">
				<div class="col-md-8 col-xl-7 col-xxl-6">
					<h3 class="mb-0">هل تتساءل عما يقوله عملاؤنا؟</h3>
				</div>
				<div class="col-md-4">
					<div class="d-flex align-items-center justify-content-md-end gap-4">
						<div
							class="testimonial-slider-7__nav-prev d-grid place-content-center w-12 h-12 bg-white text-secondary rounded cursor-pointer"
						>
							<iconify-icon
								icon="akar-icons:arrow-left"
								class="fs-24"
							></iconify-icon>
						</div>
						<div
							class="testimonial-slider-7__nav-next d-grid place-content-center w-12 h-12 bg-secondary text-white rounded cursor-pointer"
						>
							<iconify-icon
								icon="akar-icons:arrow-right"
								class="fs-24"
							></iconify-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row g-4 align-items-center">
				<div class="col-sm-6 col-lg-3 text-center">
					<h4 class="mb-2">4.8 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
						<li>
							<div class="w-6 h-6 d-grid place-content-center bg-success">
								<iconify-icon
									icon="material-symbols:star-rounded"
									class="text-light fs-16"
								></iconify-icon>
							</div>
						</li>
					</ul>
					<p class="mt-5">مراجعة النموذج 1000+</p>
					<img
						src="{{root}}assets/img/brand-img-45.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-sm-6 col-lg-3 text-center">
					<h4 class="mb-2">4.5 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">مراجعة النموذج 1000+</p>
					<img
						src="{{root}}assets/img/brand-img-46.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-sm-6 col-lg-3 text-center">
					<h4 class="mb-2">96%</h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">“أفضل شركة استضافة”</p>
					<img
						src="{{root}}assets/img/brand-img-47.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
				<div class="col-sm-6 col-lg-3 text-center">
					<h4 class="mb-2">4.7 <span class="fs-14 fw-normal">/5</span></h4>
					<ul class="list list-row justify-content-center gap-1">
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
						<li class="lh-1">
							<iconify-icon
								icon="material-symbols:star-rounded"
								class="text-warning fs-24"
							></iconify-icon>
						</li>
					</ul>
					<p class="mt-5">مراجعة النموذج 1000+</p>
					<img
						src="{{root}}assets/img/brand-img-48.png"
						alt="image"
						class="img-fluid"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="blend blend-x">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="swiper testimonial-slider-7">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-1.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												بيتر باركر
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-2.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												ديفون لين
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-3.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												ليزلي الكسندر
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-4.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												داريل ستيوارد
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-5.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												جيمي فوكس
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-6.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												إليانور بينا
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
							<div class="swiper-slide">
								<div
									class="bg-body dark:bg-dark-subtle rounded-3 p-4 p-sm-6 p-md-8"
								>
									<div class="d-flex align-items-center gap-2 mb-6">
										<div class="avatar avatar-md">
											<img
												src="{{root}}assets/img/user-60-1.png"
												alt="image"
												class="avatar__img"
											/>
										</div>
										<a href="#" class="link d-block group">
											<span
												class="d-block fs-14 fw-medium text-heading group-hover:text-primary"
											>
												بيتر باركر
											</span>
											<ul
												class="list list-row justify-content-center gap-1"
											>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
												<li>
													<div
														class="w-3 h-3 d-grid place-content-center bg-success"
													>
														<iconify-icon
															icon="material-symbols:star-rounded"
															class="text-light fs-10"
														></iconify-icon>
													</div>
												</li>
											</ul>
										</a>
									</div>
									<p class="mb-6 line-clamp line-clamp--4">
										لقد فكر الفريق جيدًا في المنتج بالكامل، وحتى مع
										الأخطاء البسيطة التي تعتبر طبيعية في أي مشروع
										معقد، فإنهم سريعون
									</p>
									<img
										src="{{root}}assets/img/brand-img-34.png"
										alt="image"
										class="img-fluid"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<img
		src="{{root}}assets/img/icon-star.png"
		alt="image"
		class="img-fluid position-absolute start-50 top-20 d-none d-xl-block z-n1 pointer-none opacity-50"
	/>
	<img
		src="{{root}}assets/img/icon-quote.png"
		alt="image"
		class="img-fluid position-absolute start-30 top-50 translate-middle-y d-none d-xl-block z-n1 pointer-none"
	/>
</div>
<!-- Testimonial End -->

<!-- CTA  -->
<div class="section-space-top cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على نقل استضافة الويب مجانًا</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك الإلكتروني من شركة استضافة الويب
								القديمة إلى منصتنا حتى تتمكن من التركيز على ما يهمك
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
