{% extends "layouts/default.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium btn-primary" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set rtlLink = "knowledge-base-details-rtl.html" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
<div class="banner-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<h2 class="mb-3 text-light text-center">Hosting Knowledge Base</h2>
				<p class="mb-8 text-light text-center max-text-12 mx-auto">
					In depth walkthroughs to help you get the most out of your website and
					hosting experience
				</p>
				<div
					class="search-filter search-filter--light bg-white rounded-1 max-text-15 mx-auto"
				>
					<input
						type="text"
						class="form-control search-filter__input placeholder::text-dark-subtle text-dark"
						placeholder="Search Now..."
					/>
					<button
						type="button"
						class="btn btn-primary align-items-center flex-shrink-0"
					>
						<iconify-icon
							icon="iconamoon:search-duotone"
							class="align-middle flex-shrink-0"
						></iconify-icon>
						Search
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->

<!-- Info Categories  -->
<div class="section-space-bottom position-relative mt-n60">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y bg-white dark:bg-dark rounded-4 px-4 px-md-12 px-lg-20 px-xxl-30"
				>
					<div class="row justify-content-center">
						<div class="col-xl-10">
							<ol class="breadcrumb breadcrumb-modifier mb-4">
								<li class="breadcrumb-item">
									<a href="#" class="link fs-14 text-heading fw-medium">
										Home
									</a>
								</li>
								<li class="breadcrumb-item text-heading">
									<iconify-icon
										icon="bi:chevron-right"
										class="align-middle fs-14"
									></iconify-icon>
								</li>
								<li
									class="breadcrumb-item fs-14 fw-medium active text-secondary"
									aria-current="page"
								>
									cPanel
								</li>
							</ol>
							<div class="section-space-sm-bottom">
								<h4>cPanel File Upload Not Working</h4>
								<p>
									Localhost Inc. ("us", "we", or "our") operates the
									belkins.io website (the "Service"). If you have
									encountered an issue about file uploading on the
									cPanel, this is the right guide to get the solution.
									We have mentioned the clear steps and fixes for
									diagnosing and resolving the problem. Let's delve
									deeper into the article highlighting common issues
									about the file upload in the cPanel.
								</p>
							</div>
							<div class="section-space-sm-bottom">
								<h6>Why File Upload Issues Occur in cPanel?</h6>
								<p>
									File upload issues in cPanel stem from several
									underlying factors, including file size limitations,
									permission issues, and even network connectivity.
									Understanding these causes helps in diagnosing and
									fixing the problem effectively.
								</p>
							</div>
							<div class="section-space-sm-bottom">
								<h4>Here are Some Common Causes:</h4>
								<ul class="list list-disc gap-4">
									<li>
										File Size Restrictions: cPanel has default
										limitations on the size of files you can upload.
										Attempting to upload files that exceed this limit
										results in an error.
									</li>
									<li>
										Permission Issues: If permissions are incorrectly
										configured, cPanel might restrict you from
										uploading files.
									</li>
									<li>
										Browser or Cache Problems: Sometimes, the browser
										cache or settings might conflict with cPanel's
										interface, causing upload failures.
									</li>
									<li>
										Insufficient Storage: Low storage on your hosting
										server can also prevent file uploads.
									</li>
									<li>
										Network Connectivity Issues: A poor internet
										connection or firewall settings could be blocking
										your upload attempts.
									</li>
									<li>
										PHP Configuration Limits: Hosting servers running
										PHP have certain configurations, such as upload
										limits, which may restrict file sizes or timeout
										settings.
									</li>
								</ul>
							</div>
							<div class="section-space-sm-bottom">
								<h4>Analytics & statistics</h4>
								<p>
									In addition to internal analytics, we use Google
									Analytics to generate statistics based on user
									behavior. These analytics help us understand website
									traffic and usage patterns. While Google Analytics
									collects data using cookies and other tracking
									technologies, it does not provide us with personally
									identifiable information.
								</p>
							</div>
							<div class="section-space-sm-bottom">
								<h4>Disclosure of personally identifiable information</h4>
								<p>
									We do not share personally identifiable information
									with third parties. Information is only shared with
									our management and recruitment team, who require it
									for service provision. These individuals are bound by
									confidentiality agreements. We may also disclose
									information in response to legal requests or to
									protect our site and public interest.
								</p>
							</div>
							<h4>Cookies</h4>
							<p class="mb-0">
								We use cookies to track and identify users and their
								preferences. You can adjust your browser settings to
								reject cookies, but this may affect site functionality.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Info Categories End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a
									href="{{root}}contact.html"
									class="btn btn-dark-emphasis"
								>
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7.html" %} 
{% endblock %}
