{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium btn-primary" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "knowledge-base-category.html" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
<div class="banner-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<h2 class="mb-3 text-light text-center">استضافة قاعدة المعرفة</h2>
				<p class="mb-8 text-light text-center max-text-12 mx-auto">
					إرشادات تفصيلية لمساعدتك على تحقيق أقصى استفادة من موقعك الإلكتروني
					وتجربة الاستضافة
				</p>
				<div
					class="search-filter search-filter--light bg-white rounded-1 max-text-15 mx-auto"
				>
					<input
						type="text"
						class="form-control search-filter__input placeholder::text-dark-subtle text-dark"
						placeholder="Search Now..."
					/>
					<button
						type="button"
						class="btn btn-primary align-items-center flex-shrink-0"
					>
						<iconify-icon
							icon="iconamoon:search-duotone"
							class="align-middle flex-shrink-0"
						></iconify-icon>
						يبحث
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->

<!-- Info Categories  -->
<div class="section-space-bottom position-relative mt-n60">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y bg-white dark:bg-dark rounded-4 px-4 px-md-12 px-lg-20 px-xxl-30"
				>
					<div class="section-space-sm-bottom">
						<div class="row g-4 justify-content-center">
							<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
								<ol
									class="breadcrumb breadcrumb-modifier justify-content-center mb-4"
								>
									<li class="breadcrumb-item">
										<a
											href="#"
											class="link fs-14 text-heading fw-medium"
										>
											بيت
										</a>
									</li>
									<li class="breadcrumb-item text-heading">
										<iconify-icon
											icon="bi:chevron-right"
											class="align-middle fs-14"
										></iconify-icon>
									</li>
									<li
										class="breadcrumb-item fs-14 fw-medium active text-secondary"
										aria-current="page"
									>
										لوحة التحكم
									</li>
								</ol>
								<h3 class="mb-0 text-center">الإرشادات التفصيلية</h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<h6 class="fs-20">لوحة التحكم</h6>
							<ul class="list gap-4">
								<li>
									<a
										href="{{root}}knowledge-base-details-rtl.html"
										class="link d-flex gap-4 align-items-center text-heading border rounded px-6 py-3 transition hover:border-primary hover:text-primary"
									>
										<span class="d-block flex-grow-1">
											لوحة التحكم تحميل الملف لا يعمل
										</span>
										<span class="d-block flex-shrink-0">
											<iconify-icon
												icon="akar-icons:chevron-right"
											></iconify-icon>
										</span>
									</a>
								</li>
								<li>
									<a
										href="{{root}}knowledge-base-details-rtl.html"
										class="link d-flex gap-4 align-items-center text-heading border rounded px-6 py-3 transition hover:border-primary hover:text-primary"
									>
										<span class="d-block flex-grow-1">
											دليل خطوة بخطوة لتنزيل الملفات باستخدام إدارة
											الملفات التحكم في اللوحة
										</span>
										<span class="d-block flex-shrink-0">
											<iconify-icon
												icon="akar-icons:chevron-right"
											></iconify-icon>
										</span>
									</a>
								</li>
								<li>
									<a
										href="{{root}}knowledge-base-details-rtl.html"
										class="link d-flex gap-4 align-items-center text-heading border rounded px-6 py-3 transition hover:border-primary hover:text-primary"
									>
										<span class="d-block flex-grow-1">
											كيفية الوصول إلى مدير ملفات لوحة التحكم؟
										</span>
										<span class="d-block flex-shrink-0">
											<iconify-icon
												icon="akar-icons:chevron-right"
											></iconify-icon>
										</span>
									</a>
								</li>
								<li>
									<a
										href="{{root}}knowledge-base-details-rtl.html"
										class="link d-flex gap-4 align-items-center text-heading border rounded px-6 py-3 transition hover:border-primary hover:text-primary"
									>
										<span class="d-block flex-grow-1">
											لوحة التحكم النسخ الاحتياطي لمدير الملفات:
											دليل كامل
										</span>
										<span class="d-block flex-shrink-0">
											<iconify-icon
												icon="akar-icons:chevron-right"
											></iconify-icon>
										</span>
									</a>
								</li>
								<li>
									<a
										href="{{root}}knowledge-base-details-rtl.html"
										class="link d-flex gap-4 align-items-center text-heading border rounded px-6 py-3 transition hover:border-primary hover:text-primary"
									>
										<span class="d-block flex-grow-1">
											دليل إرشادي لإعادة ضبط إدارة ملفات التحكم في
											لوحة المفاتيح
										</span>
										<span class="d-block flex-shrink-0">
											<iconify-icon
												icon="akar-icons:chevron-right"
											></iconify-icon>
										</span>
									</a>
								</li>
								<li>
									<a
										href="{{root}}knowledge-base-details-rtl.html"
										class="link d-flex gap-4 align-items-center text-heading border rounded px-6 py-3 transition hover:border-primary hover:text-primary"
									>
										<span class="d-block flex-grow-1">
											ما هو مدير ملفات لوحة التحكم؟
										</span>
										<span class="d-block flex-shrink-0">
											<iconify-icon
												icon="akar-icons:chevron-right"
											></iconify-icon>
										</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Info Categories End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على نقل استضافة الويب مجانًا</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك الإلكتروني من شركة استضافة الويب
								القديمة إلى منصتنا حتى تتمكن من التركيز على ما يهمك
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
