{% extends "layouts/default.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set rtlLink = "operating-system-rtl.html" %}
{% set breadcrumb = "Operating Systems" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive = "text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-11.html" %}
<!-- Banner End -->

<!-- OS Support -->
<div class="mt-n60 position-relative z-1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="bg-body section-space-md-y px-4 px-sm-6 px-md-8 px-lg-12 px-xl-15 rounded-4"
				>
					<div class="section-space-xsm-bottom text-center">
						<div class="row justify-content-center">
							<div class="col-md-8 col-lg-7">
								<h4 class="mb-0">
									Flexible and Practical Operating System Choices
								</h4>
							</div>
						</div>
					</div>
					<div class="section-space-xsm-bottom text-center">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<ul
										class="nav nav-underline d-inline-flex justify-content-center border-bottom border-light-subtle px-sm-12"
									>
										<li class="nav-item">
											<button
												class="nav-link fs-12 fw-semibold active"
												data-bs-toggle="pill"
												data-bs-target="#osTab"
												type="button"
											>
												Operating System
											</button>
										</li>
										<li class="nav-item">
											<button
												class="nav-link fs-12 fw-semibold"
												data-bs-toggle="pill"
												data-bs-target="#panelsTab"
												type="button"
											>
												Panels & Apps
											</button>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="osTab">
							<div
								class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4"
							>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-1.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Alma Linux
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-2.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Alma Linux
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-3.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											CentOS
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-4.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											OpenBSD
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-5.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Fedora Server
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-6.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Ubuntu
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-7.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											FreeBSD
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-8.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Windows
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-9.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Arch Linux
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-1.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Linux
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-3.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											CentOS
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-2.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Alma Linux
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="panelsTab">
							<div
								class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4"
							>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-1.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Alma Linux
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-2.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Alma Linux
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-3.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											CentOS
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-4.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											OpenBSD
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-5.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Fedora Server
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-6.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Ubuntu
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-7.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											FreeBSD
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-8.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Windows
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-9.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Arch Linux
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-1.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Linux
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-3.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											CentOS
										</span>
									</div>
								</div>
								<div class="col">
									<div
										class="d-grid place-content-center ratio-1/1 border border-dark border-opacity-10 bg-body dark:bg-dark-subtle text-center rounded p-4 p-sm-6"
									>
										<div class="mb-4">
											<img
												src="{{root}}assets/img/os-img-2.png"
												alt="image"
												class="img-fluid"
											/>
										</div>
										<span class="d-block text-heading fw-semibold">
											Alma Linux
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- OS Support End -->

<!-- About  -->
<div class="section-space-y">
	<div class="section-space-md-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
					<span class="d-block mb-4 fs-14 fw-semibold text-primary">
						Why Choose Us
					</span>
					<h3 class="mb-0">Every day we strive to</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-4">
				<div class="bg-secondary bg-opacity-20 rounded-4 p-6 p-xxl-12 h-100">
					<div class="row g-4 align-items-center">
						<div class="col-md-6 col-lg-12">
							<img
								src="{{root}}assets/img/about-img-26.png"
								alt="image"
								class="img-fluid w-100"
							/>
						</div>
						<div class="col-md-6 col-lg-12">
							<h6>Uninterruptible power systems design</h6>
							<p class="mb-0 text-heading line-clamp line-clamp--3">
								Our power systems are designed with extensive fault
								tolerance and resilience at every layer We have multiple.
								(UPS) with redundant battery cabinets
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row g-4">
					<div class="col-md-6">
						<div class="bg-info bg-opacity-20 rounded-4 p-6 p-xxl-12">
							<h6>Premium bandwidth</h6>
							<p class="mb-0 text-heading line-clamp line-clamp--4">
								Our top priority is providing the highest-quality internet
								connectivity and performance. We've partnered with Tier-1
								bandwidth providers
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="bg-danger bg-opacity-20 rounded-4 p-6 p-xxl-12">
							<h6>Performance is key</h6>
							<p class="mb-0 text-heading line-clamp line-clamp--4">
								Our top priority is providing the highest-quality internet
								connectivity and performance. We've partnered with Tier-1
								bandwidth providers
							</p>
						</div>
					</div>
					<div class="col-12">
						<div class="bg-success bg-opacity-20 rounded-4 p-6 p-xxl-12">
							<div class="row g-4 align-items-center">
								<div class="col-md-5">
									<img
										src="{{root}}assets/img/about-img-27.png"
										alt="image"
										class="img-fluid w-100"
									/>
								</div>
								<div class="col-md-7">
									<h6>Vigilant security</h6>
									<p class="mb-0 text-heading line-clamp line-clamp--4">
										Data center access is controlled by specialized
										electronic security systems with multiple digital
										and physical safeguards, complete with reinforced
										poured concrete walls. A full complement of motion
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- About End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a
									href="{{root}}contact.html"
									class="btn btn-dark-emphasis"
								>
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7.html" %} 
{% endblock %}
