{% extends "layouts/default.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set rtlLink = "privacy-policy-rtl.html" %}
{% set breadcrumb = "Privacy Policy" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive = "text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-11.html" %}
<!-- Banner End -->

<!-- Details  -->
<div class="section-space-y">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-9 col-xl-8">
				<div class="section-space-md-bottom">
					<h4>Overview</h4>
					<p>
						Hostjar Inc. ("us", "we", or "our") operates the belkins.io
						website (the "Service").
					</p>
					<p>
						This page informs you of our policies regarding the collection,
						use, and disclosure of personal data when you use our Service and
						the choices you have associated with that data
					</p>
					<p class="mb-0">
						We use your data to provide and improve the Service. By using the
						Service, you agree to the collection and use of information in
						accordance with this policy. Unless otherwise defined in this
						Privacy Policy, terms used in this Privacy Policy have the same
						meanings as in our Terms and Conditions, accessible from
						Hostjar.io
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>Service</h4>
					<p>
						This page informs you of our policies regarding the collection,
						use, and disclosure of personal data when you use our Service and
						the choices you have associated with that data
					</p>
					<p class="mb-0">
						We use your data to provide and improve the Service. By using the
						Service, you agree to the collection and use of information in
						accordance with this policy. Unless otherwise defined in this
						Privacy Policy, terms used in this Privacy Policy have the same
						meanings as in our Terms and Conditions, accessible from
						Hostjar.io
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>Visitor information</h4>
					<p>
						This page informs you of our policies regarding the collection,
						use, and disclosure of personal data when you use our Service and
						the choices you have associated with that data
					</p>
					<p class="mb-0">
						We use your data to provide and improve the Service. By using the
						Service, you agree to the collection and use of information in
						accordance with this policy. Unless otherwise defined in this
						Privacy Policy, terms used in this Privacy Policy have the same
						meanings as in our Terms and Conditions, accessible from
						Hostjar.io
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>User information</h4>
					<p>
						This page informs you of our policies regarding the collection,
						use, and disclosure of personal data when you use our Service and
						the choices you have associated with that data
					</p>
					<p class="mb-0">
						We use your data to provide and improve the Service. By using the
						Service, you agree to the collection and use of information in
						accordance with this policy. Unless otherwise defined in this
						Privacy Policy, terms used in this Privacy Policy have the same
						meanings as in our Terms and Conditions, accessible from
						Hostjar.io
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>Analytics & statistics</h4>
					<p class="mb-0">
						In addition to internal analytics, we use Google Analytics to
						generate statistics based on user behavior. These analytics help
						us understand website traffic and usage patterns. While Google
						Analytics collects data using cookies and other tracking
						technologies, it does not provide us with personally identifiable
						information.
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>Disclosure of personally identifiable information</h4>
					<p class="mb-0">
						We do not share personally identifiable information with third
						parties. Information is only shared with our management and
						recruitment team, who require it for service provision. These
						individuals are bound by confidentiality agreements. We may also
						disclose information in response to legal requests or to protect
						our site and public interest.
					</p>
				</div>
				<h4>Cookies</h4>
				<p class="mb-0">
					We use cookies to track and identify users and their preferences. You
					can adjust your browser settings to reject cookies, but this may
					affect site functionality.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Details End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a
									href="{{root}}contact.html"
									class="btn btn-dark-emphasis"
								>
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7.html" %} 
{% endblock %}
