{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "privacy-policy.html" %}
{% set breadcrumb = "Privacy Policy" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive = "text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-11.html" %}
<!-- Banner End -->

<!-- Details  -->
<div class="section-space-y">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-9 col-xl-8">
				<div class="section-space-md-bottom">
					<h4>ملخص</h4>
					<p>
						تُشغّل شركة المضيف المحلي Inc. ("نحن" أو "نحن") موقع belkins.io
						الإلكتروني ("الخدمة").
					</p>
					<p>
						تُطلعك هذه الصفحة على سياساتنا المتعلقة بجمع البيانات الشخصية
						واستخدامها والإفصاح عنها عند استخدامك لخدمتنا، والخيارات المتاحة
						لك فيما يتعلق بتلك البيانات.
					</p>
					<p class="mb-0">
						نستخدم بياناتك لتوفير الخدمة وتحسينها. باستخدامك للخدمة، فإنك
						توافق على جمع المعلومات واستخدامها وفقًا لهذه السياسة. ما لم يُنص
						على خلاف ذلك في سياسة الخصوصية هذه، فإن المصطلحات المستخدمة في
						سياسة الخصوصية هذه لها نفس المعاني الواردة في الشروط والأحكام
						الخاصة بنا، والتي يمكن الوصول إليها من خلال المضيف المحلي.io
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>Service</h4>
					<p>
						تُطلعك هذه الصفحة على سياساتنا المتعلقة بجمع البيانات الشخصية
						واستخدامها والإفصاح عنها عند استخدامك لخدمتنا، والخيارات المتاحة
						لك فيما يتعلق بتلك البيانات.
					</p>
					<p class="mb-0">
						نستخدم بياناتك لتوفير الخدمة وتحسينها. باستخدامك للخدمة، فإنك
						توافق على جمع المعلومات واستخدامها وفقًا لهذه السياسة. ما لم يُنص
						على خلاف ذلك في سياسة الخصوصية هذه، فإن المصطلحات المستخدمة في
						سياسة الخصوصية هذه لها نفس المعاني الواردة في الشروط والأحكام
						الخاصة بنا، والتي يمكن الوصول إليها من خلال المضيف المحلي.io
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>Visitor information</h4>
					<p>
						تُطلعك هذه الصفحة على سياساتنا المتعلقة بجمع البيانات الشخصية
						واستخدامها والإفصاح عنها عند استخدامك لخدمتنا، والخيارات المتاحة
						لك فيما يتعلق بتلك البيانات.
					</p>
					<p class="mb-0">
						نستخدم بياناتك لتوفير الخدمة وتحسينها. باستخدامك للخدمة، فإنك
						توافق على جمع المعلومات واستخدامها وفقًا لهذه السياسة. ما لم يُنص
						على خلاف ذلك في سياسة الخصوصية هذه، فإن المصطلحات المستخدمة في
						سياسة الخصوصية هذه لها نفس المعاني الواردة في الشروط والأحكام
						الخاصة بنا، والتي يمكن الوصول إليها من خلال المضيف المحلي.io
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>معلومات المستخدم</h4>
					<p>
						تُطلعك هذه الصفحة على سياساتنا المتعلقة بجمع البيانات الشخصية
						واستخدامها والإفصاح عنها عند استخدامك لخدمتنا، والخيارات المتاحة
						لك فيما يتعلق بتلك البيانات.
					</p>
					<p class="mb-0">
						نستخدم بياناتك لتوفير الخدمة وتحسينها. باستخدامك للخدمة، فإنك
						توافق على جمع المعلومات واستخدامها وفقًا لهذه السياسة. ما لم يُنص
						على خلاف ذلك في سياسة الخصوصية هذه، فإن المصطلحات المستخدمة في
						سياسة الخصوصية هذه لها نفس المعاني الواردة في الشروط والأحكام
						الخاصة بنا، والتي يمكن الوصول إليها من خلال المضيف المحلي.io
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>التحليلات والإحصائيات</h4>
					<p class="mb-0">
						بالإضافة إلى التحليلات الداخلية، نستخدم تحليلات جوجل لإنشاء
						إحصاءات بناءً على سلوك المستخدم. تساعدنا هذه التحليلات على فهم
						حركة مرور الموقع الإلكتروني وأنماط استخدامه. على الرغم من أن
						تحليلات جوجل تجمع البيانات باستخدام ملفات تعريف الارتباط
						وتقنيات التتبع الأخرى، إلا أنها لا تزودنا بمعلومات تعريف شخصية.
					</p>
				</div>
				<div class="section-space-md-bottom">
					<h4>الإفصاح عن المعلومات الشخصية القابلة للتعريف</h4>
					<p class="mb-0">
						لا نشارك معلوماتك الشخصية مع جهات خارجية. تُشارك المعلومات فقط مع
						فريق الإدارة والتوظيف لدينا، الذين يحتاجونها لتقديم الخدمات. هؤلاء
						الأفراد ملزمون باتفاقيات السرية. قد نفصح أيضًا عن المعلومات
						استجابةً لطلبات قانونية أو لحماية موقعنا والمصلحة العامة.
					</p>
				</div>
				<h4>ملفات تعريف الارتباط</h4>
				<p class="mb-0">
					نستخدم ملفات تعريف الارتباط لتتبع وتحديد هوية المستخدمين وتفضيلاتهم.
					يمكنك تعديل إعدادات متصفحك لرفض ملفات تعريف الارتباط، ولكن قد يؤثر ذلك
					على وظائف الموقع.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Details End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
