{% extends "layouts/default.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set rtlLink = "server-location-rtl.html" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Hero -->
<div class="hero-15">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-7 col-lg-6 col-xl-7 col-xxl-6">
				<h1 class="h2 mb-6 fw-bold text-light">
					Our Hosting Data Centers Server
				</h1>
				<p class="mb-8 text-light">
					100,000+ servers powering customers around the world
				</p>
				<a
					href="{{root}}sign-in-1.html"
					class="btn btn-secondary text-light fw-medium"
				>
					Get Started Now
				</a>
			</div>
			<div class="col-md-5 col-lg-6 col-xl-5 col-xxl-6">
				<img
					src="{{root}}assets/img/hero-img-4.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
		</div>
	</div>

	<img
		src="{{root}}assets/img/shapes/hero-7-shape-1.png"
		alt="image"
		class="img-fluid hero-7__shape-1"
	/>
</div>
<!-- Hero End -->

<!-- Server Location -->
<div class="section-space-top section-space-md-bottom">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-xl-8 col-xxl-7">
					<h3>North America Data Centers</h3>
					<p class="mb-0">
						Our North America data centers are strategically located to
						provide low latency and high availability for customers across the
						continent. With multiple locations, we ensure that your
						applications run smoothly and efficiently, no matter where your
						users are.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="p-6 p-sm-4 p-xl-6 p-xxl-8 rounded bg-white dark:bg-dark">
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded mb-6"
					>
						<iconify-icon
							icon="solar:server-broken"
							class="fs-32 text-secondary-emphasis"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-20">US Central</h6>
					<p class="mb-6">
						<span class="d-block"> Location : Lansing </span>
						<span class="d-block"> MI Capacity : 33,000 servers </span>
					</p>
					<a
						href="{{root}}uptime.html"
						class="btn btn-sm btn-outline-secondary hover:bg-secondary hover:text-light px-8"
					>
						Details
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="p-6 p-sm-4 p-xl-6 p-xxl-8 rounded bg-white dark:bg-dark">
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded mb-6"
					>
						<iconify-icon
							icon="solar:server-broken"
							class="fs-32 text-secondary-emphasis"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-20">US West Phoenix</h6>
					<p class="mb-6">
						<span class="d-block"> Location : Lansing </span>
						<span class="d-block"> MI Capacity : 33,000 servers </span>
					</p>
					<a
						href="{{root}}uptime.html"
						class="btn btn-sm btn-outline-secondary hover:bg-secondary hover:text-light px-8"
					>
						Details
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="p-6 p-sm-4 p-xl-6 p-xxl-8 rounded bg-white dark:bg-dark">
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded mb-6"
					>
						<iconify-icon
							icon="solar:server-broken"
							class="fs-32 text-secondary-emphasis"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-20">Los Angeles</h6>
					<p class="mb-6">
						<span class="d-block"> Location : Lansing </span>
						<span class="d-block"> MI Capacity : 33,000 servers </span>
					</p>
					<a
						href="{{root}}uptime.html"
						class="btn btn-sm btn-outline-secondary hover:bg-secondary hover:text-light px-8"
					>
						Details
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="p-6 p-sm-4 p-xl-6 p-xxl-8 rounded bg-white dark:bg-dark">
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded mb-6"
					>
						<iconify-icon
							icon="solar:server-broken"
							class="fs-32 text-secondary-emphasis"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-20">San Francisco</h6>
					<p class="mb-6">
						<span class="d-block"> Location : Lansing </span>
						<span class="d-block"> MI Capacity : 33,000 servers </span>
					</p>
					<a
						href="{{root}}uptime.html"
						class="btn btn-sm btn-outline-secondary hover:bg-secondary hover:text-light px-8"
					>
						Details
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-space-md-y">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-xl-8 col-xxl-7">
					<h3>Europe Data Centers</h3>
					<p class="mb-0">
						Our Europe data centers are strategically located to provide low
						latency and high availability for customers across the continent.
						With multiple locations, we ensure that your applications run
						smoothly and efficiently, no matter where your users are.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="p-6 p-sm-4 p-xl-6 p-xxl-8 rounded bg-white dark:bg-dark">
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded mb-6"
					>
						<iconify-icon
							icon="solar:server-broken"
							class="fs-32 text-secondary-emphasis"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-20">London</h6>
					<p class="mb-6">
						<span class="d-block"> Location : Lansing </span>
						<span class="d-block"> MI Capacity : 33,000 servers </span>
					</p>
					<a
						href="{{root}}uptime.html"
						class="btn btn-sm btn-outline-secondary hover:bg-secondary hover:text-light px-8"
					>
						Details
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="p-6 p-sm-4 p-xl-6 p-xxl-8 rounded bg-white dark:bg-dark">
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded mb-6"
					>
						<iconify-icon
							icon="solar:server-broken"
							class="fs-32 text-secondary-emphasis"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-20">Paris, France</h6>
					<p class="mb-6">
						<span class="d-block"> Location : Lansing </span>
						<span class="d-block"> MI Capacity : 33,000 servers </span>
					</p>
					<a
						href="{{root}}uptime.html"
						class="btn btn-sm btn-outline-secondary hover:bg-secondary hover:text-light px-8"
					>
						Details
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="p-6 p-sm-4 p-xl-6 p-xxl-8 rounded bg-white dark:bg-dark">
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded mb-6"
					>
						<iconify-icon
							icon="solar:server-broken"
							class="fs-32 text-secondary-emphasis"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-20">Berlin, Germany</h6>
					<p class="mb-6">
						<span class="d-block"> Location : Lansing </span>
						<span class="d-block"> MI Capacity : 33,000 servers </span>
					</p>
					<a
						href="{{root}}uptime.html"
						class="btn btn-sm btn-outline-secondary hover:bg-secondary hover:text-light px-8"
					>
						Details
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="p-6 p-sm-4 p-xl-6 p-xxl-8 rounded bg-white dark:bg-dark">
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded mb-6"
					>
						<iconify-icon
							icon="solar:server-broken"
							class="fs-32 text-secondary-emphasis"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-20">Rome, Italy</h6>
					<p class="mb-6">
						<span class="d-block"> Location : Lansing </span>
						<span class="d-block"> MI Capacity : 33,000 servers </span>
					</p>
					<a
						href="{{root}}uptime.html"
						class="btn btn-sm btn-outline-secondary hover:bg-secondary hover:text-light px-8"
					>
						Details
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-space-md-top section-space-bottom">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-xl-8 col-xxl-7">
					<h3>Nexcess Data Centers</h3>
					<p class="mb-0">
						Our Nexcess data centers are strategically located to provide low
						latency and high availability for customers across the continent.
						With multiple locations, we ensure that your applications run
						smoothly and efficiently, no matter where your users are.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="p-6 p-sm-4 p-xl-6 p-xxl-8 rounded bg-white dark:bg-dark">
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded mb-6"
					>
						<iconify-icon
							icon="solar:server-broken"
							class="fs-32 text-secondary-emphasis"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-20">London</h6>
					<p class="mb-6">
						<span class="d-block"> Location : Lansing </span>
						<span class="d-block"> MI Capacity : 33,000 servers </span>
					</p>
					<a
						href="{{root}}uptime.html"
						class="btn btn-sm btn-outline-secondary hover:bg-secondary hover:text-light px-8"
					>
						Details
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="p-6 p-sm-4 p-xl-6 p-xxl-8 rounded bg-white dark:bg-dark">
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded mb-6"
					>
						<iconify-icon
							icon="solar:server-broken"
							class="fs-32 text-secondary-emphasis"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-20">Paris, France</h6>
					<p class="mb-6">
						<span class="d-block"> Location : Lansing </span>
						<span class="d-block"> MI Capacity : 33,000 servers </span>
					</p>
					<a
						href="{{root}}uptime.html"
						class="btn btn-sm btn-outline-secondary hover:bg-secondary hover:text-light px-8"
					>
						Details
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="p-6 p-sm-4 p-xl-6 p-xxl-8 rounded bg-white dark:bg-dark">
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded mb-6"
					>
						<iconify-icon
							icon="solar:server-broken"
							class="fs-32 text-secondary-emphasis"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-20">Berlin, Germany</h6>
					<p class="mb-6">
						<span class="d-block"> Location : Lansing </span>
						<span class="d-block"> MI Capacity : 33,000 servers </span>
					</p>
					<a
						href="{{root}}uptime.html"
						class="btn btn-sm btn-outline-secondary hover:bg-secondary hover:text-light px-8"
					>
						Details
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="p-6 p-sm-4 p-xl-6 p-xxl-8 rounded bg-white dark:bg-dark">
					<div
						class="d-grid place-content-center w-18 h-18 bg-light dark:bg-dark-subtle rounded mb-6"
					>
						<iconify-icon
							icon="solar:server-broken"
							class="fs-32 text-secondary-emphasis"
						></iconify-icon>
					</div>
					<h6 class="mb-2 fs-20">Rome, Italy</h6>
					<p class="mb-6">
						<span class="d-block"> Location : Lansing </span>
						<span class="d-block"> MI Capacity : 33,000 servers </span>
					</p>
					<a
						href="{{root}}uptime.html"
						class="btn btn-sm btn-outline-secondary hover:bg-secondary hover:text-light px-8"
					>
						Details
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Server Location End -->

<!-- Features  -->
<div class="section-space-y bg-white dark:bg-dark">
	<div class="section-space-sm-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7">
					<h3 class="text-center mb-0">Power you can depend on our server</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-sm-6 col-lg-3">
				<div class="p-md-6 p-lg-1 p-xl-3 p-xxl-4">
					<iconify-icon
						icon="fluent:person-support-20-regular"
						class="fs-40 text-secondary-emphasis mb-6"
					></iconify-icon>
					<h6 class="fs-20">24x7x365 Days Support</h6>
					<p class="mb-0">
						Need urgent help at 3 a.m.? Square Brothers support specialists
						are available to handle emergencies
					</p>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3">
				<div class="p-md-6 p-lg-1 p-xl-3 p-xxl-4">
					<iconify-icon
						icon="solar:money-bag-broken"
						class="fs-40 text-secondary-emphasis mb-6"
					></iconify-icon>
					<h6 class="fs-20">60 Days Money-back Guarantee</h6>
					<p class="mb-0">
						Need urgent help at 3 a.m.? Square Brothers support specialists
						are available to handle emergencies
					</p>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3">
				<div class="p-md-6 p-lg-1 p-xl-3 p-xxl-4">
					<iconify-icon
						icon="hugeicons:upload-04"
						class="fs-40 text-secondary-emphasis mb-6"
					></iconify-icon>
					<h6 class="fs-20">99.9% Uptime Guarantee</h6>
					<p class="mb-0">
						Need urgent help at 3 a.m.? Square Brothers support specialists
						are available to handle emergencies
					</p>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3">
				<div class="p-md-6 p-lg-1 p-xl-3 p-xxl-4">
					<iconify-icon
						icon="bi:gear"
						class="fs-40 text-secondary-emphasis mb-6"
					></iconify-icon>
					<h6 class="fs-20">Genuine, Personal Service</h6>
					<p class="mb-0">
						Need urgent help at 3 a.m.? Square Brothers support specialists
						are available to handle emergencies
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Features End -->

<!-- Premium Data Centers -->
<div class="section-space-top section-space-md-bottom">
	<div class="section-space-md-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
					<h3 class="mb-0">Premium data centers</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-4">
				<div class="bg-secondary bg-opacity-20 rounded-4 p-6 p-xxl-12 h-100">
					<div class="row g-4 align-items-center">
						<div class="col-md-6 col-lg-12">
							<img
								src="{{root}}assets/img/about-img-26.png"
								alt="image"
								class="img-fluid w-100"
							/>
						</div>
						<div class="col-md-6 col-lg-12">
							<h6>Uninterruptible power systems design</h6>
							<p class="mb-0 text-heading">
								Our power systems are designed with extensive fault
								tolerance and resilience at every layer We have multiple.
								(UPS) with redundant battery cabinets
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row g-4">
					<div class="col-md-6">
						<div class="bg-info bg-opacity-20 rounded-4 p-6 p-xxl-12">
							<h6>Premium bandwidth</h6>
							<p class="mb-0 text-heading">
								Our top priority is providing the highest-quality internet
								connectivity and performance. We've partnered with Tier-1
								bandwidth providers
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="bg-danger bg-opacity-20 rounded-4 p-6 p-xxl-12">
							<h6>Performance is key</h6>
							<p class="mb-0 text-heading">
								Our top priority is providing the highest-quality internet
								connectivity and performance. We've partnered with Tier-1
								bandwidth providers
							</p>
						</div>
					</div>
					<div class="col-12">
						<div class="bg-success bg-opacity-20 rounded-4 p-6 p-xxl-12">
							<div class="row g-4 align-items-center">
								<div class="col-md-5">
									<img
										src="{{root}}assets/img/about-img-27.png"
										alt="image"
										class="img-fluid w-100"
									/>
								</div>
								<div class="col-md-7">
									<h6>Vigilant security</h6>
									<p class="mb-0 text-heading">
										Data center access is controlled by specialized
										electronic security systems with multiple digital
										and physical safeguards, complete with reinforced
										poured concrete walls. A full complement of motion
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Premium Data Centers End -->

<!-- FAQ -->
<div class="section-space-md-top section-space-bottom">
	<div class="section-space-md-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12">
					<h3 class="mb-0">Frequently Asked Questions</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-xl-9">
				<div
					class="accordion accordion--primary accordion-separate-body"
					id="accordion-separate-rounded"
				>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s1"
								aria-expanded="true"
							>
								Do you charge for stopped instances?
							</button>
						</h2>
						<div
							id="accordion-s1"
							class="accordion-collapse shadow collapse show"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s2"
								aria-expanded="false"
							>
								What is Vultr's role with respect to GDPR?
							</button>
						</h2>
						<div
							id="accordion-s2"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s3"
								aria-expanded="false"
							>
								How will I know if I was admitted into the program?
							</button>
						</h2>
						<div
							id="accordion-s3"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s4"
								aria-expanded="false"
							>
								What operating system templates do you offer?
							</button>
						</h2>
						<div
							id="accordion-s4"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s5"
								aria-expanded="false"
							>
								Is pricing the same in all data center locations?
							</button>
						</h2>
						<div
							id="accordion-s5"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button
								class="accordion-button collapsed fw-medium shadow"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#accordion-s6"
								aria-expanded="false"
							>
								What payment methods do you accept?
							</button>
						</h2>
						<div
							id="accordion-s6"
							class="accordion-collapse collapse shadow"
							data-bs-parent="#accordion-separate-rounded"
						>
							<div
								class="accordion-body border border-dark border-opacity-5 fs-14"
							>
								We have not charged your card. What you have observed is a
								temporary authorization in order to validate the card
								provided. The hold will automatically expire based on your
								bank's policy, generally within a few days.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FAQ end -->

<!-- CAT -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a
									href="{{root}}contact.html"
									class="btn btn-dark-emphasis"
								>
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CAT End -->

{% include "partials/footer-7.html" %} 
{% endblock %}
