{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "service-uptime.html" %}
{% set breadcrumb = "Service Uptime" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive = "text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-11.html" %}
<!-- Banner End -->

<!-- About  -->
<div class="mt-n60 position-relative z-1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="bg-body section-space-md-y px-4 px-sm-6 px-md-8 px-lg-12 px-xl-15 rounded-4"
				>
					<div class="section-space-sm-bottom">
						<div class="row justify-content-center">
							<div class="col-lg-10 col-xl-8">
								<h6 class="mb-0 text-center">
									وقت التشغيل أفضل بكثير من وقت التوقف. لذلك، لن تقلق
									أبدًا بشأن توقف موقعك الإلكتروني مجددًا مع ضماننا لوقت
									تشغيل بنسبة 99.99%.
								</h6>
							</div>
						</div>
					</div>
					<div class="row g-4">
						<div class="col-md-6">
							<div
								class="d-flex gap-6 flex-column flex-xl-row border rounded-4 p-4 p-lg-8"
							>
								<div
									class="d-grid place-content-center w-20 h-20 rounded-circle bg-light dark:bg-dark-subtle flex-shrink-0"
								>
									<iconify-icon
										icon="fa:cogs"
										class="fs-32 text-secondary"
									></iconify-icon>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-3 fs-20">ضمان التشغيل بنسبة 99.99%</h6>
									<ul class="list list-disc gap-2">
										<li>مساحة قرص ونطاق ترددي غير محدودين</li>
										<li>لوحة تحكم مرنة وسهلة الاستخدام</li>
										<li>
											نطاقات فرعية غير محدودة، وحسابات وحسابات بريد
											إلكتروني
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div
								class="d-flex gap-6 flex-column flex-xl-row border rounded-4 p-4 p-lg-8"
							>
								<div
									class="d-grid place-content-center w-20 h-20 rounded-circle bg-light dark:bg-dark-subtle flex-shrink-0"
								>
									<iconify-icon
										icon="lets-icons:server-duotone"
										class="fs-32 text-secondary"
									></iconify-icon>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-3 fs-20">100% وقت تشغيل الشبكة</h6>
									<ul class="list list-disc gap-2">
										<li>مساحة قرص ونطاق ترددي غير محدودين</li>
										<li>استضافة مدونة ووردبريس الخاصة بك</li>
										<li>
											استضافة جوملا - حلول أنظمة إدارة المحتوى
											الاحترافية
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- About End -->

<!-- Infrastructure Info  -->
<div class="section-space-y">
	<div class="section-space-sm-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<h3 class="mb-0 text-center">بنية تحتية سحابية آمنة وموثوقة</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4 align-items-center justify-content-center">
			<div class="col-lg-6 col-xxl-5">
				<div class="pe-xxl-12">
					<ul class="list gap-6">
						<li>
							<div class="d-flex gap-4 gap-lg-6">
								<iconify-icon
									icon="lets-icons:server-duotone"
									class="fs-48 text-secondary flex-shrink-0"
								></iconify-icon>
								<div class="flex-grow-1">
									<h6 class="mb-2 fs-20">بياناتك آمنة دائمًا</h6>
									<p class="mb-0">
										من خلال توزيع بيانات الخادم عبر خوادم سحابية
										احتياطية، تكون بياناتك محمية دائمًا من الأعطال
									</p>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex gap-4 gap-lg-6">
								<iconify-icon
									icon="carbon:server-proxy"
									class="fs-48 text-secondary flex-shrink-0"
								></iconify-icon>
								<div class="flex-grow-1">
									<h6 class="mb-2 fs-20">تعزيز الموثوقية</h6>
									<p class="mb-0">
										تمتع بالوصول إلى ملفاتك وقواعد بياناتك أسرع بنسبة
										تصل إلى 300% مع محركات أقراص الحالة الصلبة SSD
										المصممة للمؤسسات. لأن محركات الأقراص ذات الحالة
										الصلبة
									</p>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex gap-4 gap-lg-6">
								<iconify-icon
									icon="carbon:server-dns"
									class="fs-48 text-secondary flex-shrink-0"
								></iconify-icon>
								<div class="flex-grow-1">
									<h6 class="mb-2 fs-20">المضي قدما في عملية الشراء</h6>
									<p class="mb-0">
										تستخدم خوادم الاستضافة المشتركة لدينا نظام ، وهو
										نظام ملفات افتراضي يعزل بيانات وعمليات كل مستخدم
										بشكل كامل.
									</p>
								</div>
							</div>
						</li>
						<li>
							<div class="d-flex gap-4 gap-lg-6">
								<iconify-icon
									icon="solar:server-square-cloud-outline"
									class="fs-48 text-secondary flex-shrink-0"
								></iconify-icon>
								<div class="flex-grow-1">
									<h6 class="mb-2 fs-20">عزل الحساب</h6>
									<p class="mb-0">
										تستخدم خوادم الاستضافة المشتركة لدينا نظام ملفات
										افتراضيًا يعزل بيانات وعمليات كل مستخدم تمامًا
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 col-xxl-5 d-none d-lg-block">
				<img
					src="{{root}}assets/img/about-img-44.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
		</div>
	</div>
</div>
<!-- Infrastructure Info End -->

<!-- Pricing -->
<div class="section-space-y pricing-section-2 bg-body overflow-hidden">
	<div class="section-space-sm-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
					<h3>الاستضافة الأكثر شعبية لدينا</h3>
					<p class="mb-0 max-text-12 mx-auto">
						SSL هو تشفير قياسي في هذا المجال! احمِ بياناتك المهمة، واربح
						زوارًا. اختر باقة من شهادات SSL أدناه.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6 col-xl-3">
				<div
					class="p-4 p-sm-8 p-md-6 bg-body dark:bg-dark-subtle rounded-3 shadow-lg"
				>
					<div
						class="d-flex align-items-center justify-content-between gap-4 flex-wrap mb-8"
					>
						<div class="d-grid place-content-center w-12 h-12">
							<img
								src="{{root}}assets/img/icon-wp-hosting-72.png"
								alt="image"
								class="w-100 h-100 object-fit-contain"
							/>
						</div>
						<span class="badge bg-primary-subtle text-primary-emphasis">
							تثبيت بنقرة واحدة
						</span>
					</div>
					<h6 class="mb-1 fs-20">استضافة ووردبريس</h6>
					<p class="mb-8 fs-14">كل ما تحتاجه لإنشاء</p>
					<div class="d-flex align-items-end gap-6">
						<span class="d-block fs-12">
							ابتداء من
							<span
								class="d-inline-block fw-bold text-decoration-line-through"
							>
								US$ 11.99
							</span>
						</span>
						<div
							class="price-tag price-tag--danger fs-12 fw-semibold p-1 rounded-end-1"
						>
							خصم 20%
						</div>
					</div>
					<div class="d-flex align-items-center gap-2 mt-8">
						<span class="d-block fs-14 text-heading fw-medium">
							دولار أمريكي
						</span>
						<h3 class="mb-0">2.49</h3>
						<span class="d-block fs-14 text-heading fw-medium"> /شهر </span>
					</div>
					<p class="mb-8 fs-14">لمدة 48 شهرًا</p>
					<p class="mb-6 fs-14 fw-semibold text-primary">+ شهرين مجاناً</p>
					<a
						href="{{root}}wp-hosting-rtl.html"
						class="btn btn-outline-primary fs-14 fw-semibold"
					>
						اكتشف ووردبريس
					</a>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div
					class="p-4 p-sm-8 p-md-6 bg-body dark:bg-dark-subtle rounded-3 shadow-lg"
				>
					<div
						class="d-flex align-items-center justify-content-between gap-4 flex-wrap mb-8"
					>
						<div class="d-grid place-content-center w-12 h-12">
							<img
								src="{{root}}assets/img/icon-cloud-hosting-72.png"
								alt="image"
								class="w-100 h-100 object-fit-contain"
							/>
						</div>
						<span class="badge bg-primary-subtle text-primary-emphasis">
							التوسع الفوري
						</span>
					</div>
					<h6 class="mb-1 fs-20">الاستضافة السحابية</h6>
					<p class="mb-8 fs-14">كل ما تحتاجه لإنشاء</p>
					<div class="d-flex align-items-end gap-6">
						<span class="d-block fs-12">
							ابتداء من
							<span
								class="d-inline-block fw-bold text-decoration-line-through"
							>
								US$ 11.99
							</span>
						</span>
						<div
							class="price-tag price-tag--danger fs-12 fw-semibold p-1 rounded-end-1"
						>
							خصم 20%
						</div>
					</div>
					<div class="d-flex align-items-center gap-2 mt-8">
						<span class="d-block fs-14 text-heading fw-medium">
							دولار أمريكي
						</span>
						<h3 class="mb-0">4.49</h3>
						<span class="d-block fs-14 text-heading fw-medium"> /شهر </span>
					</div>
					<p class="mb-8 fs-14">لمدة 48 شهرًا</p>
					<p class="mb-6 fs-14 fw-semibold text-primary">+ شهرين مجاناً</p>
					<a
						href="{{root}}cloud-server-hosting-rtl.html"
						class="btn btn-outline-primary fs-14 fw-semibold"
					>
						اكتشف الاستضافة السحابية
					</a>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div
					class="p-4 p-sm-8 p-md-6 bg-body dark:bg-dark-subtle rounded-3 shadow-lg"
				>
					<div
						class="d-flex align-items-center justify-content-between gap-4 flex-wrap mb-8"
					>
						<div class="d-grid place-content-center w-12 h-12">
							<img
								src="{{root}}assets/img/icon-game-hosting-72.png"
								alt="image"
								class="w-100 h-100 object-fit-contain"
							/>
						</div>
						<span class="badge bg-primary-subtle text-primary-emphasis">
							التوسع الفوري
						</span>
					</div>
					<h6 class="mb-1 fs-20">استضافة اللعبة</h6>
					<p class="mb-8 fs-14">كل ما تحتاجه لإنشاء</p>
					<div class="d-flex align-items-end gap-6">
						<span class="d-block fs-12">
							ابتداء من
							<span
								class="d-inline-block fw-bold text-decoration-line-through"
							>
								US$ 11.99
							</span>
						</span>
						<div
							class="price-tag price-tag--danger fs-12 fw-semibold p-1 rounded-end-1"
						>
							خصم 20%
						</div>
					</div>
					<div class="d-flex align-items-center gap-2 mt-8">
						<span class="d-block fs-14 text-heading fw-medium">
							دولار أمريكي
						</span>
						<h3 class="mb-0">6.49</h3>
						<span class="d-block fs-14 text-heading fw-medium"> /شهر </span>
					</div>
					<p class="mb-8 fs-14">لمدة 48 شهرًا</p>
					<p class="mb-6 fs-14 fw-semibold text-primary">+ شهرين مجاناً</p>
					<a
						href="{{root}}web-hosting-rtl.html"
						class="btn btn-outline-primary fs-14 fw-semibold"
					>
						اكتشف استضافة المواقع
					</a>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div
					class="p-4 p-sm-8 p-md-6 bg-body dark:bg-dark-subtle rounded-3 shadow-lg"
				>
					<div
						class="d-flex align-items-center justify-content-between gap-4 flex-wrap mb-8"
					>
						<div class="d-grid place-content-center w-12 h-12">
							<img
								src="{{root}}assets/img/icon-vps-hosting-72.png"
								alt="image"
								class="w-100 h-100 object-fit-contain"
							/>
						</div>
						<span class="badge bg-primary-subtle text-primary-emphasis">
							أدنى سعر
						</span>
					</div>
					<h6 class="mb-1 fs-20">استضافة الخامس ص</h6>
					<p class="mb-8 fs-14">كل ما تحتاجه لإنشاء</p>
					<div class="d-flex align-items-end gap-6">
						<span class="d-block fs-12">
							ابتداء من
							<span
								class="d-inline-block fw-bold text-decoration-line-through"
							>
								US$ 11.99
							</span>
						</span>
						<div
							class="price-tag price-tag--danger fs-12 fw-semibold p-1 rounded-end-1"
						>
							خصم 20%
						</div>
					</div>
					<div class="d-flex align-items-center gap-2 mt-8">
						<span class="d-block fs-14 text-heading fw-medium">
							دولار أمريكي
						</span>
						<h3 class="mb-0">8.49</h3>
						<span class="d-block fs-14 text-heading fw-medium"> /شهر </span>
					</div>
					<p class="mb-8 fs-14">لمدة 48 شهرًا</p>
					<p class="mb-6 fs-14 fw-semibold text-primary">+ شهرين مجاناً</p>
					<a
						href="{{root}}vps-hosting-rtl.html"
						class="btn btn-outline-primary fs-14 fw-semibold"
					>
						استكشف استضافة الخامس ص
					</a>
				</div>
			</div>
		</div>
	</div>
	<img
		src="{{root}}assets/img/shapes/pricing-section-bg-1.png"
		alt="image"
		class="img-fluid position-absolute start-0 bottom-0 z-n1 pointer-none"
	/>
	<img
		src="{{root}}assets/img/shapes/pricing-section-bg-2.png"
		alt="image"
		class="img-fluid position-absolute end-0 bottom-0 z-n1 pointer-none"
	/>
</div>
<!-- Pricing End -->

<!-- CTA  -->
<div class="cta-7 section-space-top">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على نقل استضافة الويب مجانًا</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك الإلكتروني من شركة استضافة الويب
								القديمة إلى منصتنا حتى تتمكن من التركيز على ما يهمك
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
