{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "uptime.html" %}
{% set breadcrumb = "Server Uptime" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive = "text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-11.html" %}
<!-- Banner End -->

<!-- Banner  -->
<div class="mt-n60 position-relative z-1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="bg-body section-space-md-y px-4 px-sm-6 px-md-8 px-lg-12 px-xl-15 rounded-4"
				>
					<div class="section-space-sm-bottom">
						<div class="row justify-content-center">
							<div class="col-lg-10 col-xl-8 col-xxl-7">
								<h6 class="text-center fw-semibold">
									وقت التشغيل أفضل بكثير من وقت التوقف. لهذا السبب، لن
									تقلق أبدًا بشأن توقف موقعك الإلكتروني مرة أخرى مع
									ضماننا لوقت تشغيل بنسبة 99.99%.
								</h6>
							</div>
						</div>
					</div>
					<div class="row g-4">
						<div class="col-md-6">
							<div
								class="d-flex flex-wrap flex-xl-nowrap gap-6 border border-secondary border-opacity-50 bg-light-subtle p-4 p-sm-6 p-md-8 rounded-3"
							>
								<div
									class="w-20 h-20 d-grid place-content-center bg-primary-subtle rounded-circle flex-shrink-0"
								>
									<iconify-icon
										icon="tabler:settings-cog"
										class="fs-36 text-primary dark:text-light"
									></iconify-icon>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-3">ضمان التشغيل بنسبة 99%</h6>
									<ul class="list list-disc gap-3">
										<li>مساحة قرص ونطاق ترددي غير محدودين</li>
										<li>لوحة تحكم مرنة وسهلة الاستخدام</li>
										<li>
											نطاقات فرعية غير محدودة، وحسابات FTP، وحسابات
											بريد إلكتروني
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div
								class="d-flex flex-wrap flex-xl-nowrap gap-6 border border-secondary border-opacity-50 bg-light-subtle p-4 p-sm-6 p-md-8 rounded-3"
							>
								<div
									class="w-20 h-20 d-grid place-content-center bg-primary-subtle rounded-circle flex-shrink-0"
								>
									<iconify-icon
										icon="lets-icons:server-duotone"
										class="fs-36 text-primary dark:text-light"
									></iconify-icon>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-3">100% وقت تشغيل الشبكة</h6>
									<ul class="list list-disc gap-3">
										<li>مساحة قرص ونطاق ترددي غير محدودين</li>
										<li>لوحة تحكم مرنة وسهلة الاستخدام</li>
										<li>
											نطاقات فرعية غير محدودة، وحسابات FTP، وحسابات
											بريد إلكتروني
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->

<!-- About -->
<div class="section-space-y">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
					<h3 class="mb-0 text-center">بنية تحتية سحابية آمنة وموثوقة</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-xl-5">
				<div class="row g-4">
					<div class="col-md-6 col-xl-12">
						<div class="d-flex gap-6">
							<div class="flex-shrink-0">
								<iconify-icon
									icon="solar:cloud-upload-bold-duotone"
									class="fs-40"
								></iconify-icon>
							</div>
							<div class="flex-grow-1">
								<h6 class="fs-20 mb-2">بياناتك آمنة دائمًا</h6>
								<p class="mb-0">
									من خلال توزيع بيانات الخادم عبر خوادم سحابية احتياطية،
									تكون بياناتك محمية دائمًا من الأعطال
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xl-12">
						<div class="d-flex gap-6">
							<div class="flex-shrink-0">
								<iconify-icon
									icon="carbon:server-proxy"
									class="fs-40"
								></iconify-icon>
							</div>
							<div class="flex-grow-1">
								<h6 class="fs-20 mb-2">تعزيز الموثوقية</h6>
								<p class="mb-0">
									تمتع بالوصول إلى ملفاتك وقواعد بياناتك أسرع بنسبة تصل
									إلى 300% مع محركات أقراص الحالة الصلبة SSD المصممة
									خصيصًا للمؤسسات. لأن محركات الأقراص ذات الحالة الصلبة
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xl-12">
						<div class="d-flex gap-6">
							<div class="flex-shrink-0">
								<iconify-icon
									icon="carbon:server-dns"
									class="fs-40"
								></iconify-icon>
							</div>
							<div class="flex-grow-1">
								<h6 class="fs-20 mb-2">المضي قدما في عملية الشراء</h6>
								<p class="mb-0">
									تستخدم خوادم الاستضافة المشتركة لدينا نظام قفص وهو
									نظام ملفات افتراضي يعزل بيانات كل مستخدم ويعالجها
									تمامًا
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xl-12">
						<div class="d-flex gap-6">
							<div class="flex-shrink-0">
								<iconify-icon
									icon="solar:server-square-cloud-outline"
									class="fs-40"
								></iconify-icon>
							</div>
							<div class="flex-grow-1">
								<h6 class="fs-20 mb-2">عزل الحساب</h6>
								<p class="mb-0">
									تستخدم خوادم الاستضافة المشتركة لدينا نظام قفص وهو
									نظام ملفات افتراضي يعزل بيانات كل مستخدم ويعالجها
									تمامًا
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-7 text-center">
				<img
					src="{{root}}assets/img/about-img-28.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
		</div>
	</div>
</div>
<!-- About End -->

<!-- Plan -->
<div class="section-space-bottom">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
					<h3 class="mb-0 text-center">خطط استضافة لكل موقع ويب وشركة</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6 col-xl-3">
				<div class="p-4 p-sm-8 p-md-6 bg-body rounded-3 shadow-lg">
					<div
						class="d-flex align-items-center justify-content-between gap-4 flex-wrap mb-8"
					>
						<div class="d-grid place-content-center w-12 h-12">
							<img
								src="{{root}}assets/img/icon-wp.png"
								alt="image"
								class="w-100 h-100 object-fit-contain"
							/>
						</div>
						<span class="badge bg-primary-subtle text-primary-emphasis">
							تثبيت بنقرة واحدة
						</span>
					</div>
					<h6 class="mb-1 fs-20">استضافة ووردبريس</h6>
					<p class="mb-8 fs-14">كل ما تحتاجه لإنشاء</p>
					<div class="d-flex align-items-end gap-6">
						<span class="d-block fs-12">
							ابتداء من
							<span
								class="d-inline-block fw-bold text-decoration-line-through"
							>
								US$ 11.99
							</span>
						</span>
						<div
							class="price-tag price-tag--danger fs-12 fw-semibold p-1 rounded-end-1"
						>
							خصم 20%
						</div>
					</div>
					<div class="d-flex align-items-center gap-2 mt-8">
						<span class="d-block fs-14 text-heading fw-medium"> USD </span>
						<h3 class="mb-0">2.49</h3>
						<span class="d-block fs-14 text-heading fw-medium"> /شهر </span>
					</div>
					<p class="mb-8 fs-14">لمدة 48 شهرًا</p>
					<p class="mb-6 fs-14 fw-semibold text-primary">+ شهرين مجاناً</p>
					<a
						href="{{root}}wp-hosting-rtl.html"
						class="btn btn-outline-primary fs-14 fw-semibold"
					>
						اكتشف ووردبريس
					</a>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div class="p-4 p-sm-8 p-md-6 bg-body rounded-3 shadow-lg">
					<div
						class="d-flex align-items-center justify-content-between gap-4 flex-wrap mb-8"
					>
						<div class="d-grid place-content-center w-12 h-12">
							<img
								src="{{root}}assets/img/icon-cloud-hosting.png"
								alt="image"
								class="w-100 h-100 object-fit-contain"
							/>
						</div>
						<span class="badge bg-primary-subtle text-primary-emphasis">
							التوسع الفوري
						</span>
					</div>
					<h6 class="mb-1 fs-20">الاستضافة السحابية</h6>
					<p class="mb-8 fs-14">كل ما تحتاجه لإنشاء</p>
					<div class="d-flex align-items-end gap-6">
						<span class="d-block fs-12">
							ابتداء من
							<span
								class="d-inline-block fw-bold text-decoration-line-through"
							>
								US$ 11.99
							</span>
						</span>
						<div
							class="price-tag price-tag--danger fs-12 fw-semibold p-1 rounded-end-1"
						>
							خصم 20%
						</div>
					</div>
					<div class="d-flex align-items-center gap-2 mt-8">
						<span class="d-block fs-14 text-heading fw-medium"> USD </span>
						<h3 class="mb-0">2.49</h3>
						<span class="d-block fs-14 text-heading fw-medium"> /شهر </span>
					</div>
					<p class="mb-8 fs-14">لمدة 48 شهرًا</p>
					<p class="mb-6 fs-14 fw-semibold text-primary">+ شهرين مجاناً</p>
					<a
						href="{{root}}cloud-server-hosting-rtl.html"
						class="btn btn-outline-primary fs-14 fw-semibold"
					>
						يستكشف الاستضافة السحابية
					</a>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div class="p-4 p-sm-8 p-md-6 bg-body rounded-3 shadow-lg">
					<div
						class="d-flex align-items-center justify-content-between gap-4 flex-wrap mb-8"
					>
						<div class="d-grid place-content-center w-12 h-12">
							<img
								src="{{root}}assets/img/icon-game-hosting.png"
								alt="image"
								class="w-100 h-100 object-fit-contain"
							/>
						</div>
						<span class="badge bg-primary-subtle text-primary-emphasis">
							التوسع الفوري
						</span>
					</div>
					<h6 class="mb-1 fs-20">استضافة اللعبة</h6>
					<p class="mb-8 fs-14">كل ما تحتاجه لإنشاء</p>
					<div class="d-flex align-items-end gap-6">
						<span class="d-block fs-12">
							ابتداء من
							<span
								class="d-inline-block fw-bold text-decoration-line-through"
							>
								US$ 11.99
							</span>
						</span>
						<div
							class="price-tag price-tag--danger fs-12 fw-semibold p-1 rounded-end-1"
						>
							خصم 20%
						</div>
					</div>
					<div class="d-flex align-items-center gap-2 mt-8">
						<span class="d-block fs-14 text-heading fw-medium"> USD </span>
						<h3 class="mb-0">2.49</h3>
						<span class="d-block fs-14 text-heading fw-medium"> /شهر </span>
					</div>
					<p class="mb-8 fs-14">لمدة 48 شهرًا</p>
					<p class="mb-6 fs-14 fw-semibold text-primary">+ شهرين مجاناً</p>
					<a
						href="{{root}}web-hosting-rtl.html"
						class="btn btn-outline-primary fs-14 fw-semibold"
					>
						يستكشف استضافة المواقع
					</a>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div class="p-4 p-sm-8 p-md-6 bg-body rounded-3 shadow-lg">
					<div
						class="d-flex align-items-center justify-content-between gap-4 flex-wrap mb-8"
					>
						<div class="d-grid place-content-center w-12 h-12">
							<img
								src="{{root}}assets/img/icon-vps-hosting.png"
								alt="image"
								class="w-100 h-100 object-fit-contain"
							/>
						</div>
						<span class="badge bg-primary-subtle text-primary-emphasis">
							أدنى سعر
						</span>
					</div>
					<h6 class="mb-1 fs-20">استضافة الخامس ص</h6>
					<p class="mb-8 fs-14">كل ما تحتاجه لإنشاء</p>
					<div class="d-flex align-items-end gap-6">
						<span class="d-block fs-12">
							ابتداء من
							<span
								class="d-inline-block fw-bold text-decoration-line-through"
							>
								US$ 11.99
							</span>
						</span>
						<div
							class="price-tag price-tag--danger fs-12 fw-semibold p-1 rounded-end-1"
						>
							خصم 20%
						</div>
					</div>
					<div class="d-flex align-items-center gap-2 mt-8">
						<span class="d-block fs-14 text-heading fw-medium"> USD </span>
						<h3 class="mb-0">2.49</h3>
						<span class="d-block fs-14 text-heading fw-medium"> /شهر </span>
					</div>
					<p class="mb-8 fs-14">لمدة 48 شهرًا</p>
					<p class="mb-6 fs-14 fw-semibold text-primary">+ شهرين مجاناً</p>
					<a
						href="{{root}}vps-hosting-rtl.html"
						class="btn btn-outline-primary fs-14 fw-semibold"
					>
						يستكشف استضافة الخامس ص
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Plan End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على نقل استضافة الويب مجانًا</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك الإلكتروني من شركة استضافة الويب
								القديمة إلى منصتنا حتى تتمكن من التركيز على ما يهمك
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
