{% extends "layouts/default.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set rtlLink = "uptime-rtl.html" %}
{% set breadcrumb = "Server Uptime" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive = "text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-11.html" %}
<!-- Banner End -->

<!-- Banner  -->
<div class="mt-n60 position-relative z-1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="bg-body section-space-md-y px-4 px-sm-6 px-md-8 px-lg-12 px-xl-15 rounded-4"
				>
					<div class="section-space-sm-bottom">
						<div class="row justify-content-center">
							<div class="col-lg-10 col-xl-8 col-xxl-7">
								<h6 class="text-center fw-semibold">
									Uptime is a lot better than downtime. That's why
									you'll never have to worry about your website going
									down again with our 99.99% uptime guarantee
								</h6>
							</div>
						</div>
					</div>
					<div class="row g-4">
						<div class="col-md-6">
							<div
								class="d-flex flex-wrap flex-xl-nowrap gap-6 border border-secondary border-opacity-50 bg-light-subtle p-4 p-sm-6 p-md-8 rounded-3"
							>
								<div
									class="w-20 h-20 d-grid place-content-center bg-primary-subtle rounded-circle flex-shrink-0"
								>
									<iconify-icon
										icon="tabler:settings-cog"
										class="fs-36 text-primary dark:text-light"
									></iconify-icon>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-3">99% Uptime Guarantee</h6>
									<ul class="list list-disc gap-3">
										<li>Unlimited Disk Space and Bandwidth</li>
										<li>Flexible, Easy to Use Control Panel</li>
										<li>
											Unlimited Sub Domains, FTP Accounts, and Email
											Accounts
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div
								class="d-flex flex-wrap flex-xl-nowrap gap-6 border border-secondary border-opacity-50 bg-light-subtle p-4 p-sm-6 p-md-8 rounded-3"
							>
								<div
									class="w-20 h-20 d-grid place-content-center bg-primary-subtle rounded-circle flex-shrink-0"
								>
									<iconify-icon
										icon="lets-icons:server-duotone"
										class="fs-36 text-primary dark:text-light"
									></iconify-icon>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-3">100% Network Uptime</h6>
									<ul class="list list-disc gap-3">
										<li>Unlimited Disk Space and Bandwidth</li>
										<li>Flexible, Easy to Use Control Panel</li>
										<li>
											Unlimited Sub Domains, FTP Accounts, and Email
											Accounts
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->

<!-- About -->
<div class="section-space-y">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
					<h3 class="mb-0 text-center">
						Secure & Reliable Cloud Infrastructure
					</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-xl-5">
				<div class="row g-4">
					<div class="col-md-6 col-xl-12">
						<div class="d-flex gap-6">
							<div class="flex-shrink-0">
								<iconify-icon
									icon="solar:cloud-upload-bold-duotone"
									class="fs-40"
								></iconify-icon>
							</div>
							<div class="flex-grow-1">
								<h6 class="fs-20 mb-2">Your data is always safe</h6>
								<p class="mb-0">
									By distributing server data across redundant
									cloud-based servers, your data is always protected
									against failure
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xl-12">
						<div class="d-flex gap-6">
							<div class="flex-shrink-0">
								<iconify-icon
									icon="carbon:server-proxy"
									class="fs-40"
								></iconify-icon>
							</div>
							<div class="flex-grow-1">
								<h6 class="fs-20 mb-2">Enhanced Reliability</h6>
								<p class="mb-0">
									Access your files and databases up to 300% faster with
									our enterprise-grade SSD drives. Because solid state
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xl-12">
						<div class="d-flex gap-6">
							<div class="flex-shrink-0">
								<iconify-icon
									icon="carbon:server-dns"
									class="fs-40"
								></iconify-icon>
							</div>
							<div class="flex-grow-1">
								<h6 class="fs-20 mb-2">Proceed with the purchase</h6>
								<p class="mb-0">
									Our shared hosting servers use CageFS, a virtual
									filesystem that completely isolates each user's data
									and processes
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xl-12">
						<div class="d-flex gap-6">
							<div class="flex-shrink-0">
								<iconify-icon
									icon="solar:server-square-cloud-outline"
									class="fs-40"
								></iconify-icon>
							</div>
							<div class="flex-grow-1">
								<h6 class="fs-20 mb-2">Account Isolation</h6>
								<p class="mb-0">
									Our shared hosting servers use CageFS, a virtual
									filesystem that completely isolates each user's data
									and processes
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-7 text-center">
				<img
					src="{{root}}assets/img/about-img-28.png"
					alt="image"
					class="img-fluid"
				/>
			</div>
		</div>
	</div>
</div>
<!-- About End -->

<!-- Plan -->
<div class="section-space-bottom">
	<div class="section-space-md-bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
					<h3 class="mb-0 text-center">
						Hosting Plans for Every Website & Business
					</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6 col-xl-3">
				<div class="p-4 p-sm-8 p-md-6 bg-body rounded-3 shadow-lg">
					<div
						class="d-flex align-items-center justify-content-between gap-4 flex-wrap mb-8"
					>
						<div class="d-grid place-content-center w-12 h-12">
							<img
								src="{{root}}assets/img/icon-wp.png"
								alt="image"
								class="w-100 h-100 object-fit-contain"
							/>
						</div>
						<span class="badge bg-primary-subtle text-primary-emphasis">
							One-click install
						</span>
					</div>
					<h6 class="mb-1 fs-20">WordPress Hosting</h6>
					<p class="mb-8 fs-14">Everything you need to created</p>
					<div class="d-flex align-items-end gap-6">
						<span class="d-block fs-12">
							Starting at
							<span
								class="d-inline-block fw-bold text-decoration-line-through"
							>
								US$ 11.99
							</span>
						</span>
						<div
							class="price-tag price-tag--danger fs-12 fw-semibold p-1 rounded-end-1"
						>
							20% OFF
						</div>
					</div>
					<div class="d-flex align-items-center gap-2 mt-8">
						<span class="d-block fs-14 text-heading fw-medium"> USD </span>
						<h3 class="mb-0">2.49</h3>
						<span class="d-block fs-14 text-heading fw-medium"> /mo </span>
					</div>
					<p class="mb-8 fs-14">For 48-month term</p>
					<p class="mb-6 fs-14 fw-semibold text-primary">+2 month Free</p>
					<a
						href="{{root}}wp-hosting.html"
						class="btn btn-outline-primary fs-14 fw-semibold"
					>
						Explore WordPress
					</a>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div class="p-4 p-sm-8 p-md-6 bg-body rounded-3 shadow-lg">
					<div
						class="d-flex align-items-center justify-content-between gap-4 flex-wrap mb-8"
					>
						<div class="d-grid place-content-center w-12 h-12">
							<img
								src="{{root}}assets/img/icon-cloud-hosting.png"
								alt="image"
								class="w-100 h-100 object-fit-contain"
							/>
						</div>
						<span class="badge bg-primary-subtle text-primary-emphasis">
							instant scaling
						</span>
					</div>
					<h6 class="mb-1 fs-20">Cloud Hosting</h6>
					<p class="mb-8 fs-14">Everything you need to created</p>
					<div class="d-flex align-items-end gap-6">
						<span class="d-block fs-12">
							Starting at
							<span
								class="d-inline-block fw-bold text-decoration-line-through"
							>
								US$ 11.99
							</span>
						</span>
						<div
							class="price-tag price-tag--danger fs-12 fw-semibold p-1 rounded-end-1"
						>
							20% OFF
						</div>
					</div>
					<div class="d-flex align-items-center gap-2 mt-8">
						<span class="d-block fs-14 text-heading fw-medium"> USD </span>
						<h3 class="mb-0">2.49</h3>
						<span class="d-block fs-14 text-heading fw-medium"> /mo </span>
					</div>
					<p class="mb-8 fs-14">For 48-month term</p>
					<p class="mb-6 fs-14 fw-semibold text-primary">+2 month Free</p>
					<a
						href="{{root}}cloud-server-hosting.html"
						class="btn btn-outline-primary fs-14 fw-semibold"
					>
						Explore Cloud Hosting
					</a>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div class="p-4 p-sm-8 p-md-6 bg-body rounded-3 shadow-lg">
					<div
						class="d-flex align-items-center justify-content-between gap-4 flex-wrap mb-8"
					>
						<div class="d-grid place-content-center w-12 h-12">
							<img
								src="{{root}}assets/img/icon-game-hosting.png"
								alt="image"
								class="w-100 h-100 object-fit-contain"
							/>
						</div>
						<span class="badge bg-primary-subtle text-primary-emphasis">
							instant scaling
						</span>
					</div>
					<h6 class="mb-1 fs-20">Game Hosting</h6>
					<p class="mb-8 fs-14">Everything you need to created</p>
					<div class="d-flex align-items-end gap-6">
						<span class="d-block fs-12">
							Starting at
							<span
								class="d-inline-block fw-bold text-decoration-line-through"
							>
								US$ 11.99
							</span>
						</span>
						<div
							class="price-tag price-tag--danger fs-12 fw-semibold p-1 rounded-end-1"
						>
							20% OFF
						</div>
					</div>
					<div class="d-flex align-items-center gap-2 mt-8">
						<span class="d-block fs-14 text-heading fw-medium"> USD </span>
						<h3 class="mb-0">2.49</h3>
						<span class="d-block fs-14 text-heading fw-medium"> /mo </span>
					</div>
					<p class="mb-8 fs-14">For 48-month term</p>
					<p class="mb-6 fs-14 fw-semibold text-primary">+2 month Free</p>
					<a
						href="{{root}}web-hosting.html"
						class="btn btn-outline-primary fs-14 fw-semibold"
					>
						Explore Web Hosting
					</a>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div class="p-4 p-sm-8 p-md-6 bg-body rounded-3 shadow-lg">
					<div
						class="d-flex align-items-center justify-content-between gap-4 flex-wrap mb-8"
					>
						<div class="d-grid place-content-center w-12 h-12">
							<img
								src="{{root}}assets/img/icon-vps-hosting.png"
								alt="image"
								class="w-100 h-100 object-fit-contain"
							/>
						</div>
						<span class="badge bg-primary-subtle text-primary-emphasis">
							Lowest price
						</span>
					</div>
					<h6 class="mb-1 fs-20">VPS Hosting</h6>
					<p class="mb-8 fs-14">Everything you need to created</p>
					<div class="d-flex align-items-end gap-6">
						<span class="d-block fs-12">
							Starting at
							<span
								class="d-inline-block fw-bold text-decoration-line-through"
							>
								US$ 11.99
							</span>
						</span>
						<div
							class="price-tag price-tag--danger fs-12 fw-semibold p-1 rounded-end-1"
						>
							20% OFF
						</div>
					</div>
					<div class="d-flex align-items-center gap-2 mt-8">
						<span class="d-block fs-14 text-heading fw-medium"> USD </span>
						<h3 class="mb-0">2.49</h3>
						<span class="d-block fs-14 text-heading fw-medium"> /mo </span>
					</div>
					<p class="mb-8 fs-14">For 48-month term</p>
					<p class="mb-6 fs-14 fw-semibold text-primary">+2 month Free</p>
					<a
						href="{{root}}vps-hosting.html"
						class="btn btn-outline-primary fs-14 fw-semibold"
					>
						Explore VPS Hosting
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Plan End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a
									href="{{root}}contact.html"
									class="btn btn-dark-emphasis"
								>
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7.html" %} 
{% endblock %}
