{% extends "layouts/default-rtl.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set ltrLink = "website-management.html" %}
{% set breadcrumb = "Website Management" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive = "text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-11.html" %}
<!-- Banner End -->

<!-- Features -->
<div class="mt-n60 position-relative z-1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="bg-body section-space-md-y px-4 px-sm-6 px-md-8 px-lg-12 px-xl-15 rounded-4"
				>
					<div class="container">
						<div class="row g-4 align-items-center">
							<div class="col-lg-6 col-xl-5">
								<div class="row g-4">
									<div class="col-md-6 col-lg-12">
										<div class="d-flex gap-4">
											<div class="flex-shrink-0">
												<iconify-icon
													icon="solar:cloud-upload-bold-duotone"
													class="fs-40"
												></iconify-icon>
											</div>
											<div class="flex-grow-1">
												<h6 class="fs-20 mb-2">
													متجاوب مع الجوال
												</h6>
												<p class="mb-0">
													نحن نعلم أن معظمكم دائمًا في حالة
													تنقل، ولهذا السبب فإن منطقة عملائنا
													متجاوبة مع الأجهزة المحمولة
												</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-12">
										<div class="d-flex gap-4">
											<div class="flex-shrink-0">
												<iconify-icon
													icon="carbon:server-dns"
													class="fs-40"
												></iconify-icon>
											</div>
											<div class="flex-grow-1">
												<h6 class="fs-20 mb-2">
													دعم مدمج على مدار الساعة طوال أيام
													الأسبوع
												</h6>
												<p class="mb-0">
													تمتع بالوصول إلى ملفاتك وقواعد بياناتك
													أسرع بنسبة تصل إلى 300% مع محركات
													أقراص الحالة الصلبة SSD المصممة
													للمؤسسات. لأن محركات الأقراص ذات
													الحالة الصلبة
												</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-12">
										<div class="d-flex gap-4">
											<div class="flex-shrink-0">
												<iconify-icon
													icon="solar:server-square-cloud-outline"
													class="fs-40"
												></iconify-icon>
											</div>
											<div class="flex-grow-1">
												<h6 class="fs-20 mb-2">إدارة سهلة</h6>
												<p class="mb-0">
													تستخدم خوادم الاستضافة المشتركة لدينا
													نظام ملفات قفصي، وهو نظام ملفات
													افتراضي يعزل بيانات كل مستخدم وعملياته
													تمامًا
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-xl-7 text-center">
								<img
									src="{{root}}assets/img/about-img-28.png"
									alt="image"
									class="img-fluid"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Features End -->

<!-- Features -->
<div class="section-space-y">
	<div class="section-space-md-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<h3 class="mb-0">مضمن مجانًا في خطط استضافة الويب</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6 col-lg-4">
				<div class="p-4 p-sm-6 p-md-8 bg-body rounded-3 h-100">
					<div class="mb-6">
						<img
							src="{{root}}assets/img/icon-feature-35.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20 mb-2">توافر عالية</h6>
					<p class="mb-6">
						بدأ الأمر حتى استمتعت بالشعور تجاه المصمم الذي اخترته، كان الناس
						من حولي يتحدثون عن المزيد من النص الذي لفت انتباهي.
					</p>
					<a
						href="{{root}}features-rtl.html"
						class="btn btn-sm btn-link align-items-center link hover:bg-primary-subtle"
					>
						<span class="d-inline-block fw-medium flex-grow-1">
							اكتشف المزيد
						</span>
						<iconify-icon
							icon="solar:arrow-right-linear"
							class="align-middle fs-20 flex-shrink-0"
						></iconify-icon>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-4 p-sm-6 p-md-8 bg-body rounded-3 h-100">
					<div class="mb-6">
						<img
							src="{{root}}assets/img/icon-feature-36.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20 mb-2">تخزين الأداء</h6>
					<p class="mb-6">
						شبكة التخزين عالية الأداء لدينا، جنبًا إلى جنب مع مجموعة تخزين
						الفلاش الكاملة للمؤسسات، تجعل خوادمنا السحابية
					</p>
					<a
						href="{{root}}features-rtl.html"
						class="btn btn-sm btn-link align-items-center link hover:bg-primary-subtle"
					>
						<span class="d-inline-block fw-medium flex-grow-1">
							اكتشف المزيد
						</span>
						<iconify-icon
							icon="solar:arrow-right-linear"
							class="align-middle fs-20 flex-shrink-0"
						></iconify-icon>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-4 p-sm-6 p-md-8 bg-body rounded-3 h-100">
					<div class="mb-6">
						<img
							src="{{root}}assets/img/icon-feature-37.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20 mb-2">إدارة الحلول</h6>
					<p class="mb-6">
						إدارة مُصممة خصيصًا لتطبيقك. جميع خدمات استضافة خوادمنا السحابية
						تأتي مع دعم للبنية التحتية على مدار الساعة طوال أيام الأسبوع.
					</p>
					<a
						href="{{root}}features-rtl.html"
						class="btn btn-sm btn-link align-items-center link hover:bg-primary-subtle"
					>
						<span class="d-inline-block fw-medium flex-grow-1">
							اكتشف المزيد
						</span>
						<iconify-icon
							icon="solar:arrow-right-linear"
							class="align-middle fs-20 flex-shrink-0"
						></iconify-icon>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-4 p-sm-6 p-md-8 bg-body rounded-3 h-100">
					<div class="mb-6">
						<img
							src="{{root}}assets/img/icon-feature-38.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20 mb-2">جدار الحماية من الجيل التالي</h6>
					<p class="mb-6">
						بدأ الأمر حتى استمتعت بالشعور تجاه المصمم الذي اخترته، كان الناس
						من حولي يتحدثون عن المزيد من النص الذي لفت انتباهي.
					</p>
					<a
						href="{{root}}features-rtl.html"
						class="btn btn-sm btn-link align-items-center link hover:bg-primary-subtle"
					>
						<span class="d-inline-block fw-medium flex-grow-1">
							اكتشف المزيد
						</span>
						<iconify-icon
							icon="solar:arrow-right-linear"
							class="align-middle fs-20 flex-shrink-0"
						></iconify-icon>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-4 p-sm-6 p-md-8 bg-body rounded-3 h-100">
					<div class="mb-6">
						<img
							src="{{root}}assets/img/icon-feature-39.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20 mb-2">الوصول الكامل للجذور والقشرة</h6>
					<p class="mb-6">
						بدأ الأمر حتى استمتعت بالشعور تجاه المصمم الذي اخترته، كان الناس
						من حولي يتحدثون عن المزيد من النص الذي لفت انتباهي.
					</p>
					<a
						href="{{root}}features-rtl.html"
						class="btn btn-sm btn-link align-items-center link hover:bg-primary-subtle"
					>
						<span class="d-inline-block fw-medium flex-grow-1">
							اكتشف المزيد
						</span>
						<iconify-icon
							icon="solar:arrow-right-linear"
							class="align-middle fs-20 flex-shrink-0"
						></iconify-icon>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-4 p-sm-6 p-md-8 bg-body rounded-3 h-100">
					<div class="mb-6">
						<img
							src="{{root}}assets/img/icon-feature-40.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20 mb-2">ضمان التشغيل بنسبة 99.9%</h6>
					<p class="mb-6">
						شبكة التخزين عالية الأداء لدينا، جنبًا إلى جنب مع مجموعة تخزين
						الفلاش الكاملة للمؤسسات، تجعل خوادمنا السحابية
					</p>
					<a
						href="{{root}}features-rtl.html"
						class="btn btn-sm btn-link align-items-center link hover:bg-primary-subtle"
					>
						<span class="d-inline-block fw-medium flex-grow-1">
							اكتشف المزيد
						</span>
						<iconify-icon
							icon="solar:arrow-right-linear"
							class="align-middle fs-20 flex-shrink-0"
						></iconify-icon>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Features End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>احصل على نقل استضافة الويب مجانًا</h3>
							<p class="mb-8 max-text-15 mx-auto">
								سنتولى عملية نقل موقعك الإلكتروني من شركة استضافة الويب
								القديمة إلى منصتنا حتى تتمكن من التركيز على ما يهمك
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2-rtl.html"
									class="btn btn-secondary text-light"
								>
									ابدأ الآن
								</a>
								<a
									href="{{root}}contact-rtl.html"
									class="btn btn-dark-emphasis"
								>
									اتصل بنا
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7-rtl.html" %} 
{% endblock %}
