{% extends "layouts/default.html" %}
{% set dataTheme = "domain" %}
{% set bodyClass = "bg-light dark:bg-dark-subtle" %}
{% set navbar = true %} 
{% set navBtnColor = "fw-medium" %}
{% set primaryHeader = "primary-header--light primary-header--boxed primary-header--fixed top-md-3 primary-header-crossed:top-0" %}
{% set rtlLink = "website-management-rtl.html" %}
{% set breadcrumb = "Website Management" %}
{% set breadcrumbLink = "text-light hover:text-secondary" %}
{% set breadcrumbIcon = "text-light" %}
{% set breadcrumbActive = "text-light" %}
{% set logoLight = "logo-dark.png" %}
{% set logoDark = "logo-light.png" %}
<!-- Content Block -->
{% block content %}

<!-- Banner -->
{% include "partials/banner-11.html" %}
<!-- Banner End -->

<!-- Features -->
<div class="mt-n60 position-relative z-1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="bg-body section-space-md-y px-4 px-sm-6 px-md-8 px-lg-12 px-xl-15 rounded-4"
				>
					<div class="container">
						<div class="row g-4 align-items-center">
							<div class="col-lg-6 col-xl-5">
								<div class="row g-4">
									<div class="col-md-6 col-lg-12">
										<div class="d-flex gap-4">
											<div class="flex-shrink-0">
												<iconify-icon
													icon="solar:cloud-upload-bold-duotone"
													class="fs-40"
												></iconify-icon>
											</div>
											<div class="flex-grow-1">
												<h6 class="fs-20 mb-2">
													Mobile Responsive
												</h6>
												<p class="mb-0">
													We know that most of you are always on
													the go, and that is why our client
													area is responsive for mobile devices
												</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-12">
										<div class="d-flex gap-4">
											<div class="flex-shrink-0">
												<iconify-icon
													icon="carbon:server-dns"
													class="fs-40"
												></iconify-icon>
											</div>
											<div class="flex-grow-1">
												<h6 class="fs-20 mb-2">
													24/7 Support Built-in
												</h6>
												<p class="mb-0">
													Access your files and databases up to
													300% faster with our enterprise-grade
													SSD drives. Because solid-state
												</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-12">
										<div class="d-flex gap-4">
											<div class="flex-shrink-0">
												<iconify-icon
													icon="solar:server-square-cloud-outline"
													class="fs-40"
												></iconify-icon>
											</div>
											<div class="flex-grow-1">
												<h6 class="fs-20 mb-2">
													Easy Management
												</h6>
												<p class="mb-0">
													Our shared hosting servers use CageFS,
													a virtual filesystem that completely
													isolates each user's data and
													processes
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-xl-7 text-center">
								<img
									src="{{root}}assets/img/about-img-28.png"
									alt="image"
									class="img-fluid"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Features End -->

<!-- Features -->
<div class="section-space-y">
	<div class="section-space-md-bottom text-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<h3 class="mb-0">Included for Free in Web Hosting Plans</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row g-4">
			<div class="col-md-6 col-lg-4">
				<div class="p-4 p-sm-6 p-md-8 bg-body rounded-3 h-100">
					<div class="mb-6">
						<img
							src="{{root}}assets/img/icon-feature-35.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20 mb-2">High Availability</h6>
					<p class="mb-6">
						Started the until enjoying feels on designer what choose they
						people around were there rant more text he attention
					</p>
					<a
						href="{{root}}features.html"
						class="btn btn-sm btn-link align-items-center link hover:bg-primary-subtle"
					>
						<span class="d-inline-block fw-medium flex-grow-1">
							Explore More
						</span>
						<iconify-icon
							icon="solar:arrow-right-linear"
							class="align-middle fs-20 flex-shrink-0"
						></iconify-icon>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-4 p-sm-6 p-md-8 bg-body rounded-3 h-100">
					<div class="mb-6">
						<img
							src="{{root}}assets/img/icon-feature-36.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20 mb-2">Performance Storage</h6>
					<p class="mb-6">
						Our high-performance storage network, combined with enterprise,
						all-flash storage array, makes our cloud servers
					</p>
					<a
						href="{{root}}features.html"
						class="btn btn-sm btn-link align-items-center link hover:bg-primary-subtle"
					>
						<span class="d-inline-block fw-medium flex-grow-1">
							Explore More
						</span>
						<iconify-icon
							icon="solar:arrow-right-linear"
							class="align-middle fs-20 flex-shrink-0"
						></iconify-icon>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-4 p-sm-6 p-md-8 bg-body rounded-3 h-100">
					<div class="mb-6">
						<img
							src="{{root}}assets/img/icon-feature-37.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20 mb-2">Solution Management</h6>
					<p class="mb-6">
						Management tailored to your application. All our cloud server
						hosting comes with 24x7 infrastructure support
					</p>
					<a
						href="{{root}}features.html"
						class="btn btn-sm btn-link align-items-center link hover:bg-primary-subtle"
					>
						<span class="d-inline-block fw-medium flex-grow-1">
							Explore More
						</span>
						<iconify-icon
							icon="solar:arrow-right-linear"
							class="align-middle fs-20 flex-shrink-0"
						></iconify-icon>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-4 p-sm-6 p-md-8 bg-body rounded-3 h-100">
					<div class="mb-6">
						<img
							src="{{root}}assets/img/icon-feature-38.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20 mb-2">Next-Generation Firewall</h6>
					<p class="mb-6">
						Started the until enjoying feels on designer what choose they
						people around were there rant more text he attention
					</p>
					<a
						href="{{root}}features.html"
						class="btn btn-sm btn-link align-items-center link hover:bg-primary-subtle"
					>
						<span class="d-inline-block fw-medium flex-grow-1">
							Explore More
						</span>
						<iconify-icon
							icon="solar:arrow-right-linear"
							class="align-middle fs-20 flex-shrink-0"
						></iconify-icon>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-4 p-sm-6 p-md-8 bg-body rounded-3 h-100">
					<div class="mb-6">
						<img
							src="{{root}}assets/img/icon-feature-39.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20 mb-2">Full Root & Shell Access</h6>
					<p class="mb-6">
						Started the until enjoying feels on designer what choose they
						people around were there rant more text he attention
					</p>
					<a
						href="{{root}}features.html"
						class="btn btn-sm btn-link align-items-center link hover:bg-primary-subtle"
					>
						<span class="d-inline-block fw-medium flex-grow-1">
							Explore More
						</span>
						<iconify-icon
							icon="solar:arrow-right-linear"
							class="align-middle fs-20 flex-shrink-0"
						></iconify-icon>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="p-4 p-sm-6 p-md-8 bg-body rounded-3 h-100">
					<div class="mb-6">
						<img
							src="{{root}}assets/img/icon-feature-40.png"
							alt="image"
							class="img-fluid"
						/>
					</div>
					<h6 class="fs-20 mb-2">99.9% Uptime Guarantee</h6>
					<p class="mb-6">
						Our high-performance storage network, combined with enterprise,
						all-flash storage array, makes our cloud servers
					</p>
					<a
						href="{{root}}features.html"
						class="btn btn-sm btn-link align-items-center link hover:bg-primary-subtle"
					>
						<span class="d-inline-block fw-medium flex-grow-1">
							Explore More
						</span>
						<iconify-icon
							icon="solar:arrow-right-linear"
							class="align-middle fs-20 flex-shrink-0"
						></iconify-icon>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Features End -->

<!-- CTA  -->
<div class="cta-7">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-space-y px-4 px-sm-6 px-md-12 bg-body rounded-4 text-center position-relative z-1"
				>
					<div class="row justify-content-center">
						<div class="col-md-11">
							<h3>Get a free web host migration</h3>
							<p class="mb-8 max-text-15 mx-auto">
								We'll take care of the process of moving your website from
								your old web hosting company to our platform so you can
								focus on what matters
							</p>
							<div
								class="d-flex align-items-center justify-content-center gap-4 flex-wrap"
							>
								<a
									href="{{root}}sign-in-2.html"
									class="btn btn-secondary text-light"
								>
									Get Started now
								</a>
								<a
									href="{{root}}contact.html"
									class="btn btn-dark-emphasis"
								>
									Contact Us
								</a>
							</div>
						</div>
					</div>
					<img
						src="{{root}}assets/img/cta-img-16.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute start-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
					<img
						src="{{root}}assets/img/cta-img-17.png"
						alt="image"
						class="img-fluid d-none d-xl-block position-absolute end-0 top-50 translate-middle-y z-n1 pointer-none"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- CTA End -->

{% include "partials/footer-7.html" %} 
{% endblock %}
