.cta-7 {
    position: relative;
    isolation: isolate;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bs-secondary-text-emphasis);
        z-index: -1;
    }
}