.team-member-2-slider {
	position: relative;
	isolation: isolate;
	overflow: hidden;
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(
			270deg,
			var(--bs-tertiary-bg) 0%,
			rgba(241, 245, 249, 0) 21%,
			rgba(241, 245, 249, 0) 78%,
			var(--bs-tertiary-bg) 100%
		);
		z-index: 1;
	}
}
